[2016-07-19 12:57] belforte commented on #5263
or change to on of the existing ones !

[2016-07-19 16:25] mmascher commented on #5241
@jmarra13 or @belforte , do we have a way to test this? A dataset with blocks on different sites that we can blacklist?

[2016-07-20 07:44] jmarra13 commented on #5241
Is this enough for you @mmascher ? Seems that crab do something similar before submission, I mean it run a validation over a dataset(is it valid/invalid/production? Where data is hosted? and so on).

https://cmsweb.cern.ch/das/request?view=json&limit=150&instance=prod%2Fglobal&input=block+dataset%3D%2FSinglePhoton%2FRun2016B-PromptReco-v2%2FRECO+%7C+sort+block.replica.site

I took the same dataset

[2016-07-20 08:03] belforte commented on #5241
that could do. Summarizing that's dataset /SinglePhoton/Run2016B-PromptReco-v2/RECO
But is currently not completed nor at CERN nor at KIT[1], so am not sure there are some
blocks at T0 only (which is the use case to test)
[1]
https://cmsweb.cern.ch/das/request?input=site%20dataset%3D/SinglePhoton/Run2016B-PromptReco-v2/RECO&instance=prod/global&idx=0&limit=10

I tried a couple datasets yesterday,

[2016-07-20 14:21] mmascher commented on #5241
Thanks, that will do!

[2016-07-22 10:36] mmascher opened #5267 "Add the possibility to use egroups for localusers"
In would add a file called local-egroups.txt that contains a list of egroups od users authorized to access a particular site here:

[code]

Then I tested these few lines of code to retrieve the list of users from ldap (works on lxplus):

[code]

Have to test it in TW environment (probably by adding ldap as a dependency to the RPM). The code is slightly different than than the one used by sitedb: h

[2016-07-22 10:44] belforte commented on #5267
I am afraid CAF is a case where recursive egroups will be very useful
of course we can start with a text file listing egroups, but long term
it will help that we do not have to stay uptodate with CAF (re)organizations

[2016-07-22 13:34] belforte commented on #5263
Turns out this is documented already, but as 80453 (60xxxx are reserved for stageout).
So I am changing to the correct EC and am changing exception catching to print more details in case it happens again.

[2016-07-25 09:06] emaszs commented on #5250
We ran some more tests with Bruno and so far, the proxy mechanism somehow doesn't want to work for UCSD. We set up a proxy to translate the address of a single schedd (submit-6.t2.ucsd.edu) to the cmsweb-testbed.cern.ch domain.
UCSD webdir link:
http://submit-6.t2.ucsd.edu/CSstoragePath/65/uscms4868/160712_070045:jmsilva_crab_HG1607i-rc1-TFile_Analysis_LumiBased-L-T_O-T_P-T_IL-F-DOC-T
"Proxied" we

[2016-07-25 09:22] belforte commented on #5250
Marco indicated that UCSD schedd's can be accessed directly w/o the proxy (a couple comments above),
is that not an option here ?

[2016-07-25 09:24] emaszs commented on #5250
A proxy in this case is needed not to get around a firewall but to get past the cross-domain restrictions that exist in the browser. IMO, a proxy is the easiest way of doing that.

[2016-07-25 09:35] belforte commented on #5250
I do not think I really understand (my browser opens happily a webdir at UCSD). Anyhow you clearly
know better, so I defer. Sorry for the noise.

[2016-07-25 15:56] jmarra13 commented on #5250
The restriction which @emaszs is talking about is described here https://en.wikipedia.org/wiki/Same-origin_policy , basically javascript code only allow downloads from the same domain of the original web page.

[2016-07-25 18:48] belforte commented on #5250
I would personally be happy with a link to a text page instead
of a downloading into a javascript widget. But if you guys wants to keep it fancy.. up to you.

On 07/25/2016 05:56 PM, Jadir Marra da Silva wrote:

[2016-07-26 09:05] #5077 closed

[2016-07-26 16:33] belforte commented on #5252
after talking with @mmascher the idea is to change HTCondorLocator.schedd to add the weigth from the configuration to the one from the picker function (add = multiply, of course):
https://github.com/dmwm/CRABServer/blob/master/src/python/HTCondorLocator.py#L58

[2016-07-28 13:59] jmarra13 commented on #5262
I catch the same error today, Jul 28, when submitting jobs to validate a new schedd.

CRAB project directory:		/afs/cern.ch/work/j/jmsilva/schedValidation/validation/crab_vocms0121-mc-1469700404-52
Task name:			160728_100654:jmsilva_crab_vocms0121-mc-1469700404-52
Grid scheduler:			crab3@vocms0121.cern.ch
Task status:			SUBMITTED
Dashboard monitoring URL:	http://dashb-cms-job.cern.ch/dashboard/tem

[2016-07-28 17:11] belforte commented on #5248
it would help a lot if this line
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/RetryJob.py#L218
printed the vale of RSS used by the job from the classad ResidentSetSize

maybe I'll open and ad hoc Issue...

[2016-07-28 21:10] #5253 closed

[2016-07-29 10:54] belforte commented on #5248
In the end I decided it is better to always return jobExitCode same as appExitCode as in my previous comment https://github.com/dmwm/CRABServer/issues/5248#issuecomment-229408259 and am also adding printout of used RSS from classad

[2016-07-29 15:18] belforte opened #5271 "allow = sign in RX_SCRIPTARGS"
@mmascher
Any special reason why an equal sign `=` is not allowed in here ?
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/Regexps.py#L62

I wanted to submit with a extraJDL options specifying and env. variable via the JDL line
environment = "CRAB3_RUNTIME_DEBUG=1"
(see http://research.cs.wisc.edu/htcondor/manual/current/condor_submit.html )
but had to modify that regexp i

[2016-07-29 21:24] belforte commented on #5271
for sure in order to support an classad with an = sign like that, this line needs to be changed
https://github.com/dmwm/CRABServer/blob/3.3.1607.rc3/src/python/TaskWorker/Actions/DagmanSubmitter.py#L100

[2016-07-29 23:37] belforte commented on #5271
@mmascher
I have created the PR above #5272 which  has the two small changes needed to support
[code]
can you consider whether it could be accepted ?

[2016-07-30 00:04] belforte commented on #5271
hmm.. setting CRAB3_RUNTIME_DEBUG does not do what I wanted (avoid the sleep time), it makes the wrapper fail on the WN since it does not expand the tarball....
oh well...

[2016-08-01 22:07] belforte commented on #5271
bottom line, this PR does not allow me to control end-of-job sleep via crabConfig as I hoped, but it may still be good to make the extraJDL a bit more general. But since I can not be sure that nothing gets broken, I defer to @mmascher to decide whether to accept it

[2016-08-02 11:34] emaszs commented on #5250
@belforte There is nothing fancy going on with javascript when loading a file, also, the fix that we tried to implement was very basic, though it didn't work in the end.

I can modify the link to redirect straight to the text file instead of a tarball (which is the current behavior).

[2016-08-04 10:19] mmascher opened #5274 "About clearing /store/temp when upload of filetransfersdb to oracle fails"
Hi, I am opening this to keep track something we might want to discuss at some point when @belforte is back.

Assume:

1) Job runs at T2_X and does local stageout in /store/temp
2) postjobs fails to upload metadata to oracle
3) job gets retried

Then who is going to clear the file in /store/temp?

For the moment we are relying on the site to do that since the postjob is not going to do gfal-rm. I

[2016-08-04 21:52] belforte commented on #5274
every site is supposed to clean every file >2weeks old.
We surely can not rely on CRAB/ASO to delete all files all of the time,
it is simply impossible. Remote delete always has a non zero chance
of failing in spite of repeated attempts.

[2016-08-15 08:32] #5257 closed

[2016-08-15 13:08] #5263 closed

[2016-08-15 13:58] #5240 closed

[2016-08-15 14:00] #5241 closed

[2016-08-17 10:38] jmarra13 commented on #5241
Here is the test, I covered 3 cases:

1 - Dataset was not available at the whitelisted site:

CRAB project directory:		/afs/cern.ch/work/j/jmsilva/crabValidation/PartialDatasetTest/CMSSW_7_4_7/src/PartialDatasetTest-1/crab_PartialDatasetTest-1-Analysis_Partial_DS_OneSite-L-T_O-T_P-T_IL-F
Task name:			160817_092228:jmsilva_crab_PartialDatasetTest-1-Analysis_Partial_DS_OneSite-L-T_O-T_P-T_IL-F
Task

[2016-08-18 13:41] jmarra13 commented on #5241
Hi @mmascher, I catch this error on crabserver:

[18/Aug/2016:14:37:54]  RESTSQL:qOXNoZfdFkyj RELEASED cmsweb_analysis_preprod@devdb11 timeout=300 inuse=0 idle=2
[18/Aug/2016:14:38:02]  SERVER REST ERROR WMCore.REST.Error.InvalidParameter 9ceae5da41fdced9c3ae7e4279bda9cd (Invalid input parameter)
[18/Aug/2016:14:38:02]    Traceback (most recent call last):
[18/Aug/2016:14:38:02]      File "/data/s

[2016-08-23 13:51] dciangot opened #5284 "Publication for direct staged out files doesn't assign any asoworker"
Letting asoworker as 'null' for file uploaded in oracle after a direct stageout, doesn't allow aso to process them since the requirements are:
-- this doc assigned to this instace ('asoworker' parameter)
-- it is 'to be published'
-- publish state = 'New'

We need to decide somehow the aso instance to use for the publication when a direct stageout occurs.

[2016-08-29 11:16] matz-e opened #5285 "Running with two output files requires some magic parameters."
I'm ntuplizing with two output modules at the same time (different channels), and I got this error message at first:
[code]
Now that would be fine if `edmPluginHelp -p PoolOutputModule` would actually list what should go in there — or the CRAB documentation would.

Fixed by adding
[code]
to the output module definition. This was present in one of the examples on the CRAB twiki without any other me

[2016-08-30 09:20] belforte commented on #5271
closed since https://github.com/dmwm/CRABServer/pull/5272 was merged

[2016-08-30 09:20] #5271 closed

[2016-08-30 12:29] belforte commented on #5262
closed via https://github.com/dmwm/CRABServer/pull/5270

[2016-08-30 12:29] belforte commented on #5262
closed via #5270

[2016-09-28 06:35] belforte opened #5287 "add a job ClassAd with the IP of the user submission client"
In order to allow easy traceability from running jobs to origin.
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2567/2/1/1.html

Will require a change to client as well

[2016-09-28 06:38] belforte commented on #5287
Client issue:  https://github.com/dmwm/CRABClient/issues/4644

[2016-09-29 15:42] belforte commented on #5248
Done and tested. PR created. Will try to find out why that PR is not automatically referred to in here yet.

[2016-09-29 15:44] belforte commented on #5248
NO idea.. anyhow it is this PR:
https://github.com/dmwm/CRABServer/pull/5288

[2016-10-03 13:09] emaszs opened #5290 "Better protect the task process against unexpected crashes"
We've shortly discussed with @mmascher that we need to investigate what would happen to the task process in cases such as an HTCondor crash, the machine going down or the process simply receiving a sigkill and take whatever possible precautions to ensure that it keeps running.

[2016-10-05 06:34] belforte opened #5293 "force user to provide a site white list when using xrootd"
i.e. remove ignore_locality and replace with override_location a' la CRAB2 or make it mandatory to provide a site white list when using ignore_locality.
Maybe we want to force users to be more specific than T2\* in this case ?
This will need changes also on client side.

[2016-10-05 06:44] belforte commented on #5293
see extended discussion in
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2573/1/1.html
and following replies

[2016-10-05 06:46] belforte commented on #5293
corresponding client issue:
https://github.com/dmwm/CRABClient/issues/4646

[2016-10-05 14:09] ericvaandering commented on #5293
Seems to me one setting vs. two is better. So your proposal (I skimmed the HN) is to have override_location (I'd suggest force_location) instead and it obeys the same rules for data location that site whitelists do for processing locations?

[2016-10-07 16:09] belforte opened #5294 "accept job range --jobids ... in crab status --long"
status --long prints very nice info about jobs (mem, time, node, error, restarts... I would like to add disk) but it is sort of useless and only confusing to print for K's of jobs. Better let user pick a few example jobs, print them, dig on them. At least will help me in telling them what to do. I know job list is also on dashboard, but it is nice to see mem/time/disk e.g. which are the indicator

[2016-10-11 12:34] belforte opened #5295 "return stdout when job is removed becasue wall time is exceeded"
I thought we had a general feature now in HTCondor that stdout is returned every time the job is removed. So this should be covered, but it turns out it does no happen. Do not know if problem in in HTC or in PostJob (there is the dreaded message: job output has not been processed by postjob yet, even if postJob did run).
To be investigated and solved

[2016-10-11 14:50] belforte opened #5297 "crab status reports stale information for killed task"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2149/1.html

I thought this was fixed long ago...

[2016-10-12 11:05] belforte opened #5299 "client and job wrapper disagree whether files are EDM"
we have hit a case where client thinks thare are EDM output files and enable publication in DBS, but then job wrapper says files are no EDM and does not send the needed metadata.
It is possible that this is because the EDM files are written via DQMRootOutputModule not by PoolOutput

Pointers to details:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2151.html
https://cmsweb.cern.ch/cr

[2016-10-12 14:16] belforte opened #5300 "TaskWoker should wait before retrying to concat crabserver"
see
https://cms-logbook.cern.ch/elog/Analysis+Operations/1072

(assigning to Emilis for no particular good reason than load spreading)

[2016-10-12 15:41] belforte commented on #5300
maybe this is indeed too much aggressive:
[code]
from:
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/MasterWorker.py#L245-L248

[2016-10-12 16:21] #5300 closed

[2016-10-17 14:56] belforte opened #5304 "return a proper messge when task status is HOLDING"
I just got this [_] for a normal task which a bit later was happilly progressing, can we return a less scary text ?
[_]

[code]

[2016-10-20 10:32] emaszs commented on #5304
It seems like this happens when the task hasn't been assigned a schedd yet but the status has to return something. Not sure how this error message looked before, but I think it was always there, only hard to notice.

[2016-10-20 10:35] belforte commented on #5304
yes, it is hard to get it, tasks stay in HOLD for a very short time. Quite possibly I am the first one to notice.
surely it is low in priority :-)

[2016-10-21 08:12] emaszs commented on #4664
Marco ended up doing this, PR here: https://github.com/dmwm/CRABServer/pull/5276

[2016-10-21 08:20] emaszs commented on #4664
Although, it modifies the extraJdl parameter internally instead of using a database column which isn't the best, so maybe I shouldn't close this and implement it in a slightly cleaner way.

[2016-10-21 08:55] belforte commented on #4664
+1

[2016-10-25 09:20] belforte opened #5307 "fail task submission if can not upload webdir to server"
as discussed in the trhead below and to prevent problems like
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2208/2/5.html

[code]

[2016-10-25 10:06] #5287 closed

[2016-10-25 12:33] #4664 closed

[2016-10-26 14:56] belforte opened #5310 "bad dashbaord URL in CrabServer MOnitor"
in https://cmsweb.cern.ch/crabserver/ui/task/...
the Link to dashboard is wrongly constructed as e.g.
`http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=gsfs&table=161025_125446:gsfs_crab_AllQCDPhoton15_RAW$table=Mains&pattern=161025_125446:gsfs_crab_AllQCDPhoton15_RAW`
Note that `table` appear twice, clearly the 2nd win, so it still works

But would be much better to have the s

[2016-10-26 15:07] emaszs commented on #5310
Ah, good spot, I changed the url generation after the dashboard url was updated in the status but did so simply incorrectly.

[2016-10-26 15:14] belforte opened #5311 "add link to output dataset DAS in Server Monitor"
in the main tab  of pages like
https://cmsweb.cern.ch/crabserver/ui/task/161025_125446:gsfs_crab_AllQCDPhoton15_RAW
change Link to DAS to be actually two links, one to INPUT dataset (like now ) and one to OUTPUT dataset in DBS3 (when publication is enabled)

[2016-10-27 16:06] emaszs commented on #5311
@belforte Do you know if/when there can be more than one output dataset and if I should take that into  account? Marco said it's possible and foreseen but wasn't sure if it ever happens.

[2016-10-27 16:15] belforte commented on #5311
it will be such an extensive change (validation wise, if anaything) that we
can surely worry about changing the monitor page at that time.

Some piece of the code supports it, I think, e.g. in publication
area, but at the very least we need to change configuration file,
crab status and crab report.

Given the amount of work that it may be and the fact that
so far we could live w/o it, I think we w

[2016-11-02 09:39] emaszs opened #5314 "HG1611 Validation of 3.3.1611"
For this release I see two specific things that need to be tested:
- ignoreGlobalBlacklist has been refactored somewhat to have the flag in the DB. Check if it still works.
- Submitter IP should now be available in the task DB and as a classad. Check if it's present and correct.

[2016-11-02 09:53] emaszs commented on #5314
One thing I already ran into while trying to submit the validation tasks was invalid python syntax when using CMSSW_5_3_22, the culprit is this: https://github.com/dmwm/CRABClient/blob/master/src/python/CRABClient/Commands/resubmit2.py#L118. That's python 2.7 syntax that I put in and I guess for 5_3_22 we need 2.6 compatible syntax but the fix is rather trivial.

[2016-11-03 20:54] belforte opened #5315 "prevent users from running cmsRUn with more threads than there are cores"
See this thread:
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3269/3/1/1/1/1/1/1/1/1/2.html

[2016-11-03 21:01] ericvaandering commented on #5315
As @belforte says, the devil is in the details. Do you silently set the pset back to the CRAB value, refuse to proceed, set the crab value to the pset value and print a message, ...

As David Lange points out, with script exe its really hard to keep people from abusing things, but you can at least catch the simple cases.

[2016-11-03 21:59] belforte commented on #5315
thanks @ericvaandering
From the incident referred to in initial comment, I think the first thing is to protect against users who unknowingly recycle production psets which are now multithreaded, see comment from @dan131riley at
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3269/3/2.html

So I propose:

1. EDM folks point us to or make us a call to tell the number of threads requested in a p

[2016-11-04 00:59] hufnagel commented on #5315
How about going even simpler ? CRAB runtime *always* modifies the user provided config and overrides it with the requested number of cores (so 1 by default).

As for users just blindly asking for more cores. There is no way to prevent that. But user jobs can be inefficient for many reasons, not just because their code isn't very multi-threading efficient.

Unless we are willing to measure the job

[2016-11-04 08:37] davidlange6 commented on #5315
why be different from production (or at least my understanding of it)? The request specifies Ncores, and whatever is in the config gets overwritten by whats in the request.

[2016-11-10 14:29] todor-ivanov opened #5316 "Taskworker processes hang during shutdown"
Taskworker processes  hang  during shutdown. Backtrace follow:

==> proc.c3id_10.pid_2436.txt <==

2016-11-10 15:14:33,779:ERROR:Worker:Unexpected error in process worker!
Traceback (most recent call last):
  File "/data/srv/TaskManager/3.3.1611.rc1/slc6_amd64_gcc493/cms/crabtaskworker/3.3.1611.rc1/lib/python2.7/site-packages/TaskWorker/Worker.py", line 118, in processWorker
    processWorkerLoop(

[2016-11-14 16:47] ericvaandering commented on #4334
What's the state of this? Do we even care anymore with the premixing era? Premixing over AAA should be just fine.

[2016-11-15 11:27] belforte commented on #4334
Nothing was done, so it will be easy to remove it from the wish list. Indeed thing should not get worse than they are now in this area, even if switching large majority of users to premixing may take a while. I set to low priority (which effectively means it will never be done).

[2016-11-21 10:49] #4690 closed

[2016-11-21 10:49] #4691 closed

[2016-11-21 11:36] #5311 closed

[2016-11-21 11:38] #5310 closed

[2016-11-25 08:50] matz-e commented on #4695
Done with the merging of automatic splitting.

[2016-11-25 08:50] #4695 closed

[2016-11-25 08:51] matz-e commented on #4694
Done with the merging of automated splitting.

[2016-11-25 08:51] #4694 closed

[2016-11-25 08:51] matz-e commented on #4693
Done with the merging of automated splitting.

[2016-11-25 08:51] #4693 closed

[2016-11-25 08:51] matz-e commented on #4692
Done with the merging of automated splitting.

[2016-11-25 08:51] #4692 closed

[2016-11-25 17:29] belforte opened #5318 "PostJob deferring forever"
seems there's no limit to how much and hjow long a PJ can keep deferring itself.
This one e.g. has been doing it for a week.
[code]

surely there are good reasons why keeps failing, but some overall control that stop things after N tries, is needed.

e.g. I found another that was failing to get info due to expired proxy in the spool dir.

[2016-11-25 17:33] belforte commented on #5318
e.g.
[code]

[2016-11-26 09:48] mmascher commented on #5318
There is a timeout of one day for the postjob (configurable in the TW configuration). The one day is because we want to wait for the transfer to finish. BTW, was this a task submitted before or after Thursday (when we applied the patch)? Do you have the taskname?

I am more interested in knowing why the proxy expired and why the RenewRemoteProxy did not work.

[2016-11-26 13:23] belforte commented on #5318
One day is OK. But the PH in the example had been running for 7 days. I think in a case like this the code does not reach the place whiere it checks the day.
About the proxy, just a guess, but could it be that proxy renewal is not not on schedd's in drain i.e. not in listed in the configuration ?

[2016-11-28 17:05] belforte opened #5319 "remove checksum from direct stage out"
when trying to stage out directly to remote CE should not use checksu,m since not all sites support it and gfal is not capable to fall back graciously to not using it, so we get zilions of failed stageout (esp. at FNAL EOS) which create lots of other problems like last week.
See this thread for discussion
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3313.html

[2016-11-28 17:52] belforte commented on #5318
One day is OK. But the PH in the example had been running for 7 days. I think in a case like this the code does not reach the place whiere it checks the day.
About the proxy, just a guess, but could it be that proxy renewal is not not on schedd's in drain i.e. not in listed in the configuration ?

[2016-11-28 17:58] belforte commented on #5318
@mmascher has found why the one-day timeout was not obyed. It can happen when initial posting to Couch for ASo fails on the WN, then the PJ makes it but does nor correctly record the time it did, so the check for "one day for xfer" keeps finding the tale telling
[code]
and PJ goes on .. sort of forever (I guess until some other things kills the task, like forced disk cleanup)

This happens even if

[2016-11-29 09:59] belforte opened #5320 "port DAG boostrap to python 2.7"
I thought all of CRAB was python 2.7 compliant, even 3.0 ready.
But serendiptiously I found this while looking at a faile bootstrap:
[code]

[2016-11-29 10:02] belforte opened #5321 "add a check on input file list"
There are cases when a too long (?) input file list in crabConfig results in Oracle error. We should check that things can fit the DB column before trying to write so to return a proper error to the user.
I put the (?) because I am not fully certain of the diagnosis, but looks like that to me.
Here are details:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2332/1/1/1/1.html

[2016-11-29 14:05] #5318 closed

[2016-11-29 17:49] belforte opened #5323 "can't find tw log in crab monitor UI"
I am looking at this task
https://cmsweb.cern.ch/crabserver/ui/task/161122_112924:cpistone_crab_DoubleEG_Run2016B_23Sep2016v3_13TeV_MINIAOD
but when I click on task worker log I get
[code]
even if log is there in the expected place in task worker disk

belforte@vocms052/cpistone> ls -l /data/srv/TaskManager/logs/tasks/cpistone/161122_112924:cpistone_crab_DoubleEG_Run2016B_23Sep2016v3_13TeV_MINIAOD

[2016-11-30 10:04] mmascher commented on #5323
Files gets removed from the crabcache after a few days.

[2016-11-30 10:26] belforte commented on #5323
is tw log copied to file cache ???

[2016-11-30 11:37] belforte commented on #5323
@mmascher explained that a copy of tw log is uploaded to crabcache every time a command is completed (submit, resubmit, kill...) and deleted after a few days. Which explains why at times I find in crab monitor the tw log for a week old task, but this time I didn't.
Long term solution is the now "famous" one to get rid of this UFC etc., push all logs to some long term storage like EOS/HDFS... whate

[2016-11-30 11:37] #5323 closed

[2016-11-30 19:49] PerilousApricot commented on #5320
Hi Stefano,

Heh, the bootstrap got copied over from the WMA one. I originally put that
test in WMA because a lot of hosts only had python2.4 instead of python2.6.
I didn't intend for it to break the opposite way this many years later!

[2016-12-01 13:22] belforte commented on #5250
for other reasons we are giving up on having schedd's at UCSD.
Closing

[2016-12-01 13:22] #5250 closed

[2016-12-01 13:24] belforte opened #5324 "CRAB server fails on fake ASO report created by PostJob"
when PostJob creates a fact ASO report because CouchDB is not responding, it make CRAB server crash on crab status commands with this traceback
[code]

[2016-12-07 12:26] belforte opened #5327 "fix exit code 60311"
Many jobs now a days fail with 60311 which is listed as site failure.
But this seems sort of catch all for various errors that need to be better classified.
In paricular problem appears in connection with issue described in  #5156

Overall a good cleanup of cmscp.py is overdue

[2016-12-07 13:40] belforte commented on #5327
e.g. see this
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2389/1/3.html
cmscp stars with remote (direct) stageout.
If fails.
But exit code 60311 is assigned. And should not.
Then cmscp tries local (via ASO) stageout, which succeed, but the final exit code 0 is not sent to dashboard.
No good :-(
Since stdout does not stay forever on schedd, I will copy/pate relevant part in next com

[2016-12-07 13:41] belforte commented on #5327
stdout from the job reported about in previous comment
[code]

[2016-12-15 10:11] belforte opened #5332 "odd error from crab purge"
for a normal task, after
[code]
there is the strange error
[code]

but jobs have been running and surely schedd info is fine in DB see e.g.
https://cmsweb.cern.ch/crabserver/ui/task/161215_092808:belforte_crab_20161215_102759

here's full log

[code]

[2016-12-15 10:13] belforte commented on #5324
@mmascher IIRC you already have a fix for this. Did you also deploy it ? Can you please put the correct reference to the merged PR and close ?

[2016-12-16 12:35] belforte opened #5334 "misleading message about unknown PhEDEx node"
looks like CRAB prints `<site>  is not in the list of known CMS PhEDEx nodes`
even if the PhEXEx node exists but simply has no Processing Site Name configured

https://ggus.eu/index.php?mode=ticket_info&ticket_id=124848

[2017-01-01 20:37] belforte commented on #4681
This is still not clean. The stated goal was to keep a task for 30 dasy, then clean everything.
But this is not consistently done. Also we may want to reduce to 3 weeks and do not have a single point where to change this limit :-(
Let's list here all various actions that needs harmonizing:
1. crab resubmit is not allowd anymore after ?? days from initial submission
2. dagman is removed 30 days aft

[2017-01-09 16:39] belforte opened #5337 "make #cores and #threads consistent"
as discussed in CRAB meeting on Dec 20th 2016: CRAB should
- if user specified either numcores in crab config or numthreads in pset, verify that they are the same and if not refuse submission
- refuse submission unless numcores is one of: 1 (default), 4 or 8.
We have not defined what to do when scriptexe is used and there is no pset.py. Some users run scripts which benefit from multiple cores ther

[2017-01-10 09:42] #5314 closed

[2017-01-10 15:40] #5248 closed

[2017-01-11 13:52] belforte opened #5338 "remove dependency from AFS"
all of these can be removed
https://github.com/dmwm/CRABServer/blob/master/scripts/dag_bootstrap.sh#L85-L92

correct ?

[2017-01-12 08:53] belforte commented on #5338
basically we should remove that code now to make sure that things work even if AFS is not there.
Would be good to turn off AFS on a test schedd.  Maybe something Todor could do at any time.

[2017-01-17 16:22] #5320 closed

[2017-01-17 16:23] #5316 closed

[2017-01-17 16:58] belforte opened #5344 "add a weight per schedd in REST config"
in rest config, where we list available schedd's, allow for a float to be used as weigth, sematic should be:
 - 0: do not use this schedd
 - 1: use this schedd with the weigth from the schedd picker function
- w (any float): multiply this schedd wigth by w in the picker function, i,.e. use it w times more (less) than you would otherwise

[2017-01-17 17:03] belforte commented on #5344
pff... an issue for this existed already:
https://github.com/dmwm/CRABServer/issues/5252
will close that keeping the new one

[2017-01-17 17:03] belforte commented on #5252
now tracked in https://github.com/dmwm/CRABServer/issues/5344

[2017-01-17 17:03] #5252 closed

[2017-01-18 09:22] belforte opened #5346 "add Andrea Rizzi to UFC power users"
see:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/1319/2.html

need to modify crab server deployment configuration:
https://github.com/dmwm/deployment/blob/master/crabcache/config.py#L25

[2017-01-18 09:30] emaszs commented on #5346
PR created https://github.com/dmwm/deployment/pull/426

[2017-01-23 07:43] belforte opened #5351 "do not resubmit automatically jobs which ran out of disk space"
need to check in postjob
see:
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3376/1/2.html

pasted below:
[code]

[2017-01-23 07:46] belforte commented on #5351
and this is crab status --long
[code]

[2017-01-23 09:53] #5284 closed

[2017-01-23 10:46] belforte commented on #5351
:-( there were so many resubmits that I thought it was done by postjob. But I checked and postjob is OK, it is the user who typed crab resubmit 27 times !

[2017-01-23 10:46] #5351 closed

[2017-01-23 14:50] emaszs commented on #5332
I think I understand why it's failing to get the schedd address. [Here](https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTServerInfo.py#L64) we pass the task name to the function getScheddObjNew(). However, as the parameter name in the [definition](https://github.com/dmwm/CRABServer/blob/master/src/python/HTCondorLocator.py#L115) suggests, this function doesn't operate on

[2017-01-24 11:47] belforte opened #5353 "wrong errror message for newly submitted task"
doing crab status right after submission I got an ominous:
[code]
but repeating crab statuas a couple minutes later, it worked (task was submitted).

task pointer:
https://cmsweb.cern.ch/crabserver/ui/task/170124_113530:belforte_crab_20170124_123519

It seems a place where in the past one would get "waiting to be bootstrapped" which although unclear was t least not wrong.
for completeness, here's

[2017-01-25 10:26] emaszs opened #5354 "HG1702 validation of 3.3.1702"
In addition to the regular validation, there are a few other things to check:

- Keep an eye on the metric based schedd picker function, it is enabled in the pre-prod TW,
- Marco's patch for using local-groups to map users as local users of the site,
- Error summary generation in the postjob was modified, something to look out for as well.

Some minor things on the client:
- Check that the light p

[2017-01-27 09:47] emaszs commented on #5354
DBS3_CLIENT_ROOT is being set:
[code]
Also works for .csh using a somewhat different procedure - crab_pre.csh has to modified by hand to point to crab_pre.sh.

[2017-01-27 09:54] emaszs commented on #5354
Submission isn't allowed if the number of requested cores in crabConfig and pset is not the same.
[code]
Also tried other combinations, like cores set in config but not in pset or vice versa, cores set to a disallowed number like 2. Seems to behave correctly.

[2017-01-27 10:33] emaszs commented on #5354
The schedd picker is also behaving reasonably, I used this to grep the submission choices for yesterday's validation tasks, 111 tasks total:
`grep "Finished picking up scheduler. Sending schedd" logs/twlog.txt.2017-01-26 | grep -oP "\(.+?\)" | tr -d '()'`
[Plot](http://imgur.com/a/WU5LZ)

[2017-01-27 10:43] emaszs commented on #5354
Also worth noting is that there are some printouts for the schedd picker function in the main TW log, showing the free memory, jobs running, weights, etc.
[code]

[2017-01-27 11:18] belforte opened #5357 "add Idle dagmans and Running TaskProcesses to kibana monitoring"

[2017-01-27 12:21] emaszs commented on #5354
crab remake also works:
[code]

[2017-01-27 12:36] emaszs commented on #5354
I went through most of my submitted tasks checking `crab status --verboseErrors` to see if the new error_summary generation code in the PostJob works, couldn't find anything wrong.

[2017-01-30 10:45] belforte opened #5358 "is PURGED a task status ?"
I think no, but.. why ? How do we have FSM consistency w/o it ?
In particular: @mmascher  what happens if one tries to resubmit a purged task ? Do you know "by design" or do we have to try ?

[2017-01-30 13:47] emaszs commented on #5354
Small issue with CRABMon/Stefano's patch for CRABMon client link, PR created: https://github.com/dmwm/CRABServer/pull/5359.

[2017-01-30 16:41] belforte opened #5360 "allow to kill a task in SUBMITFAILED"
it is a prerequisite for being able to pure, and somehow turns the status into a more clear, definitive one, making it easier for user to know what's happened. Also in case of multiple kill of a series of failed jobs, avoid the need to handle some of them differently.
In the end.. KILL must always be allowed !

Ref: https://github.com/dmwm/CRABClient/issues/4667

[2017-01-30 17:40] belforte commented on #5360
I thought it was simply a matter of adding one `elif row.task_status == 'SUBMITFAILED'`
before this line
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/DataWorkflow.py#L596

But I realize that this would break resubmission, crab resubmit behave differently if status is 'SUBMITFAILED' than in all other statuses. In other statuses task was submitted to HTC at some point, so

[2017-01-31 09:39] belforte commented on #5360
well.. message is a bit cryptic, but correct. I'd go this way.

[code]

[2017-01-31 09:45] belforte commented on #5360
Conclusions. Task in SUBMITFAILED can not be killed because CRAB assumes that for KILLED tasks there is a dagman to resurrect somewhere.

[2017-01-31 09:45] #5360 closed

[2017-02-01 15:33] emaszs commented on #5324
Actually fixed already with https://github.com/dmwm/CRABServer/commit/05c4b027fdd743ecf4067f3d9ede9f6f65cf1f44

[2017-02-01 15:33] #5324 closed

[2017-02-01 16:51] belforte commented on #5358
I tried: resubmitting a purged tasks fails 'accidentally" when the dag bootstrap tries to download the sandbox.
But the command is accepted.
I am assigning to me as a thinking point, but do not see an important reason to do anyhting now, besides properly documenting the current FSM

[2017-02-01 16:57] belforte opened #5363 "site black list does not work on resubmit ?"
see this thread.
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2567.html
In that case at least, it did not work.
I verified that the black list is there in task worker log at resubmission time, but looking at classads of jobs started after than from their stdout, the DESIRED_SItes was not changed.
Expert investigation is needed, since I could not figure out the way in which the serve

[2017-02-02 09:27] belforte commented on #5357
at the same time I do this, I am moving scripts to scrips/Monitor directory instead of src/python/TaskManager/Actions/Recurring since the latter is for things to be run as recurring actions by the TaskManager itself, not for standalone scripts we run via crontab.

[2017-02-03 13:11] belforte opened #5364 "post job wrongly sets exit code 60321 in case of timeout"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2581/1/1/1/1/2/2.html

here's an example postjob log
[code]

[2017-02-03 15:04] belforte opened #5366 "align FJR JSON file with WMA schema"
Moving here the mail thread we had.
A useul reference:
https://github.com/dmwm/WMArchive/blob/master/src/python/WMArchive/Schemas/FWJRProduction.py

Also an example from CRAB:
 [crab_fjr.json.txt](https://github.com/dmwm/CRABServer/files/750779/crab_fjr.json.txt)

[code]

[2017-02-03 20:25] ericvaandering commented on #5366
@vkuznet has taken the first steps of replacing the dashboard with this info by pushing some WMAgent FWJRs to the CERN MONIT. This new infrastructure should be able to satisfy ~real time dashboard-like needs and data-mining needs as well. We should aim to be rid of Apmon sometime this year, I hope. (I'd like to be more ambitious than that)

[2017-02-05 21:54] belforte commented on #5357
have made a PR to fix this: https://github.com/dmwm/CRABServer/pull/5367

[2017-02-06 08:48] arizzi commented on #5363
anyone looking into it?
if you need example jobs please contact me.

[2017-02-06 15:39] belforte commented on #5366
@ericvaandering sure, that's nice. But in order to get rid of Apmon I think it is more urgent for us to have the feeding of HTC classAds to CERN MONIT, so we can replace current data feeding including job submissions, start etc. FJR's are only avaliable when jobs complete, and sometimes not even then. Or do you imagine that info to also proceed via FJR's , sort of like we create and feed to "Valen

[2017-02-06 15:56] vkuznet commented on #5366
Stefano,
there is no need to discuss what should be feed first or second. It does not
matter. We developed code how to do that.

The question here is how to make CRAB docs to be complaint with common schema.
I think you understand benefits of common schema which will allow apply
the same set of tools and make aggregation easy.

If HTC classAds can be complaint with schema it is even better, but it

[2017-02-06 16:05] belforte commented on #5366
yes, no question about "the question here". Docs should be made compliant.
BTW, what will be the mechanism to geed those FJR's to "whatever" ?
Will schedd's need to run something to push them, will something come read those ?
If there's going to be a small script which read and feeds the FJR's, maybe it can start by
reformatting the current ones. THat'd be faster then changing the format to begin

[2017-02-06 16:14] vkuznet commented on #5366
Stefano,
the mechanism is implemented as part of WMCore component. Such component
takes docs and send POST request to WMA server, that's it. If schedd relies
on WMCore everything is already done for it, it will need to call proper
component.

I'm CC'ing Seangchan and Alan (@ticoann, @amaltaro) to answer details about WMCore component
which push docs to WMArchive.

Valentin.

On  0, Stefano Belfort

[2017-02-06 16:23] belforte commented on #5366
so IIUC it is on us to implement something which calls this component "at the right time, from the right place, with the right credentials". I guess @mmascher can talk with @amaltaro. Next week I'll also be at CERN.
I will still like to understand the whole design though, including the role HTC class ads play, monitoring of transfers etc.

[2017-02-06 16:31] vkuznet commented on #5366
Stefano,
yes, you collect your docs and invoke WMCore call.

Which design are you talking about? WMArchive or CERN MONIT?

The former can be found here [1] and later was discussed during last C&O week,
but see all details here [2] with all relevant links to CERN MONIT
architecture.

1. https://github.com/dmwm/WMArchive/wiki/WMArchive-architecture
2. https://github.com/dmwm/WMArchive/wiki/MONIT-and

[2017-02-06 16:45] amaltaro commented on #5366
The schedd itself doesn't do anything, besides transferring back to the agent (in your case it would be TaskWorker, I think) the CMSSW FJR.

Then on the agent side, this component
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/ArchiveDataReporter/ArchiveDataPoller.py#L39

reads the docs available and post it to WMArchive server (in slices and not more than a fixed value per cycl

[2017-02-06 16:48] belforte commented on #5366
thanks Alan, we'd need to run that on the schedd, but that does not change things.

[2017-02-06 17:40] mmascher commented on #5363
Hi @arizzi I just created a PR that fixes this. I took the liberty of applying the fix to 170128_122107:arizzi_crab_VHBB_V25_002_TT_TuneCUETP8M2T4_13TeV-powheg-Py8__RunIISummer16MAv2-PUMoriond17_80r2as_2016heIV_v6-v1
the task mentioned in the hypernews @belforte forwarded to me (each task has its own copy of the code on the schedd).

If you want to do a resubmit of that task and check if the fix w

[2017-02-06 19:39] arizzi commented on #5363
@mmascher thanks, but meanwhile I resub from scratch that sample (because it was important) and it already finished.
On the other hand if you want me to make a test I can point to some other tasks.

[2017-02-07 10:45] belforte commented on #5366
@vkuznet about design, when you asked

I am talking about the overall plan on how to replace current CRAB monitoring functionality that we have via the old job dashboard, the FTS dashboard and their linking, gwmsmon and the kibana3 dashboards build so far for ASO and CRAB. A concrete work plan, not the simple "we'll do it using new CERN MONIT setup". I assume there will be phases, steps, developme

[2017-02-07 10:52] mmascher commented on #5363
Hi, yes, I think that would be good. If it is considered important I can also make a recipe to make users fix it by themselves once we are certain it works.

[2017-02-07 10:56] #5332 closed

[2017-02-07 10:57] #5346 closed

[2017-02-07 11:25] belforte commented on #5363
Only Andrea appeears to it atm. Other users will find it fixed in new release, right ? Or is it "in
tasks submitted with new release" ?

[2017-02-07 11:45] arizzi commented on #5363
well, I'm not sure I'm the only one having run with crab in past week... (I see 200k pending jobs) so perhaps it is of general use, or perhaps it is not because it is fixed and it is just cheaper to resubmit the whole thing

[2017-02-07 12:59] mmascher commented on #5363
AFAIK Emilis included the fix in the February release, so the fix will be "in tasks submitted with the new release" which should be deployed soon (if not already deployed).

[2017-02-07 13:33] emaszs commented on #5363
Yes, it was just deployed.

[2017-02-07 13:33] emaszs commented on #5363
Oops, accidentally pressed the reopen button.. closing again

[2017-02-07 13:33] #5363 closed

[2017-02-07 14:55] vkuznet commented on #5366
I'll leave it up to CRAB developers to decide, but in WMArchive we took a
gradual approach, i.e. we develop data streaming to CERN MONIT and still write
everything as is in WMArchive. Doing so we duplicate our aggregated info
into both sinks, but it allows us to experiment/develop CERN MONIT plots
while keeping existing ones from WMArchive infrastructure. You may do that as
well. Streaming data in

[2017-02-07 15:15] belforte commented on #5366
yes, I am assuming we do that as well. But when Eric suggests a definte timeline to get rid of ApMon
(which is a goald I agree on), I have to ask myself what's needed to get there !
CRAB monitoring is not based on the FJR's, sending those to "WMArchive" is good, but not an
immediate replacement for all functionalities we have.

On 02/07/2017 03:55 PM, Valentin Kuznetsov wrote:

[2017-02-07 16:27] belforte opened #5369 "allow some users to use high_priority accounting group"
TW should have one more configuration line where a list of user name (and/or e-groups) can be given. When a task from those users is processed, it will be set to use high-priority accounting group.
Possibly allow the user to select which tasks to set at high priority, but initial implementation can simply force all such tasks until user name is removed from config.
Also egroup support can be added

[2017-02-08 08:52] mmascher commented on #5369
First step is here https://github.com/dmwm/CRABServer/pull/5370

[2017-02-09 14:39] belforte opened #5372 "be more aggressice in cleaning TW scratch directory"
see
https://cms-logbook.cern.ch/elog/Analysis+Operations/1222

reduce from 3 to 2 days the age at which directory are removed in
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/Recurring/RemovetmpDir.pyreduce from 3 to 2 days the age at which directory are removed in
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/Recurring/RemovetmpDir.py

[2017-02-13 10:17] #5354 closed

[2017-02-13 10:20] emaszs commented on #5337
Fixed with https://github.com/dmwm/CRABClient/pull/4662

[2017-02-13 10:20] #5337 closed

[2017-02-13 10:36] #5357 closed

[2017-02-13 15:32] belforte opened #5376 "restore 5min sampling for kibana dashoard"
when I modified the crontab which generates data for kibana in #5357 , I changed the
frequency from 5 to 10 minutes to protect against two cron running at same time, since
the script got slower by having to condor_query all schedd's
https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py

I have since added a couple of calls to time in the script, to record how long it t

[2017-02-13 16:23] belforte opened #5377 "duplicated function in ServerUtilities"
Seems to me that getLock is defined twice with identical code in
https://github.com/dmwm/CRABServer/blob/master/src/python/ServerUtilities.py#L331-L335
and in
https://github.com/dmwm/CRABServer/blob/master/src/python/ServerUtilities.py#L441-L445

No idea why python does not complain, but I would think that there should
be only one definition.

Or do I simply do not understand something ?

[2017-02-13 17:09] emaszs commented on #5377
There definitely shouldn't be two definitions, but python simply overwrites the previous one with the next one, so it does no harm. I missed this when merging the autosplitting changes.

[2017-02-13 19:23] PerilousApricot commented on #5319
FWIW, FNAL claims their EOS supports checksums now

[2017-02-14 09:47] emaszs commented on #4715
Number 3. in  the list was done.  1. and 2. take serious work (like a new UFC) and design and we may never get to it. I changed the issue subject to reflect current scope.

[2017-02-14 09:53] belforte commented on #4826
in the end.. not worth the effort.

[2017-02-14 09:53] #4826 closed

[2017-02-14 09:57] emaszs commented on #4989
Let's say this was done.

[2017-02-14 09:57] #4989 closed

[2017-02-14 10:03] belforte commented on #5358
close and made ad hoc issue about documenting current FSM

[2017-02-14 10:04] belforte opened #5379 "document current Task FSM"
we only had the diagram Andres wrote last year before Marco changed it

[2017-02-14 10:06] belforte commented on #5358
will use https://github.com/dmwm/CRABServer/issues/5379
to track the issue

[2017-02-14 10:06] #5358 closed

[2017-02-14 10:11] belforte commented on #5338
@emaszs says he tested removing those references

[2017-02-14 10:11] belforte commented on #5338
also run a test task worker w/o AFS

[2017-02-14 10:13] belforte commented on #5338
need to assign to Todor
@ericvaandering can you add Todor to the proper team so we can assign to him ?
he already has a github account : @todor-ivanov

[2017-02-14 10:15] belforte commented on #4994
too old to debug now !

[2017-02-14 10:15] #4994 closed

[2017-02-14 10:17] emaszs commented on #5353
was there since long teim see #5003

[2017-02-14 10:18] belforte commented on #5003
now is a duplicate of #5323

[2017-02-14 10:18] #5003 closed

[2017-02-14 10:20] belforte commented on #5058
that's as it supposed to be

[2017-02-14 10:20] #5058 closed

[2017-02-14 10:24] belforte commented on #5114
luckily this is not resulting in actual problems, at least non often enough to appear on radar. let's postpone

[2017-02-14 10:25] belforte commented on #5117
improvements, if any, can only happen in new monitoring based on CERN MONIT... whenever it will happen

[2017-02-14 10:25] #5117 closed

[2017-02-14 10:28] belforte commented on #5115
This may be useful, and more relevant if we start being a lot resource limited and want to avoid users wasting CPU for failing jonbs.

[2017-02-14 10:29] belforte commented on #5115
@emaszs I assigned to you ince you are now sort of master of DAG's, but of course this is not first priority and if you do not think you want or can work on it we'll reconsider

[2017-02-14 10:30] belforte commented on #5144
was all done by @jmarra13 long ago

[2017-02-14 10:30] #5144 closed

[2017-02-14 10:33] belforte commented on #5159
maybe was done and only need closing ?

[2017-02-14 10:34] belforte commented on #5172
I think we simply want to make sure that this is documented and a proper error messge is printed

[2017-02-14 10:38] belforte commented on #5198
in the end, we do this via crontabs which do massive condor_qedit, works well enough for the time being. Hopefully ASO will not have those problems anymore once we go to Oracle

[2017-02-14 10:38] #5198 closed

[2017-02-14 10:39] belforte commented on #5208
hopefully status2 will be production soon and we can close at that point

[2017-02-14 10:41] belforte commented on #5210
I stand by my old conclusion. There is no way to fix this in CRAB, other then calling 8028 fatal (i.e. if we decide that xrootd infrastructure is reliable enough that when it fails we have to wait tomorrow (i.e. user  resubmission)

[2017-02-14 10:53] belforte commented on #5179
this is part of the wide problem
"make user run longer jobs".
currently we hope it will be solved by automatic splitting. Let's see if we really can offer that to users, in case we clearly will need to invest a lot on these kind of feedbacks and we will see then what's the best way to catch users attention.

[2017-02-14 10:53] #5179 closed

[2017-02-14 11:02] belforte commented on #5315
I think we did all that we possibly can:
- set a default ncores if it was missing
- force ncores to be 2,4 or 8
- force ncore in crab config to be the same and numthreads in cmssw pset
anything else is basically "users run thier script and do whatever forking they like and who knows if they do it sensibly", the best  defense there is something in the pilot.

[2017-02-14 11:02] #5315 closed

[2017-02-14 11:05] belforte commented on #5285
sorry, I do not undertstand, I just too thick.
@matz-e can you turn this from into something more specific that we can assign to someone and possibly do, or provide a PR ?

[2017-02-14 11:07] emaszs commented on #5159
Typo doesn't exist anymore.

[2017-02-14 11:07] #5159 closed

[2017-02-14 11:10] emaszs commented on #5267
Done with https://github.com/dmwm/CRABServer/issues/5267

[2017-02-14 11:10] #5267 closed

[2017-02-14 11:15] belforte commented on #5258
since we decided to omly run schedd's at CERN, we'll see about this if and when we put one off-site again

[2017-02-14 11:15] #5258 closed

[2017-02-14 11:17] #5210 closed

[2017-02-14 11:24] belforte commented on #5146
this is relevant text from that old thread:
[code]

[2017-02-14 11:24] belforte commented on #5294
make this part of status2 ? Or is it there alrady. @emaszs what do you think ?

[2017-02-14 11:25] belforte commented on #5294
@emaszs says it can be easily made. So assigning to him

[2017-02-14 11:29] belforte commented on #5214
I am not sure this happens anymore after Marco reworked the FSM.
Let's see...  after we review the FSM documentation.

[2017-02-14 11:30] belforte commented on #5379
see also #5214

[2017-02-14 11:33] belforte commented on #5232
basically this means:
put a useful message in here:
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L189

so that one can e.g. try to reproduce interactively and help phedex people to solve.

[2017-02-14 11:40] belforte commented on #5192
sounds like when one has free times can look at some of thjose TODO's and make sure they can be removed, as likely they can. For sure not a burning issue.

[2017-02-14 11:42] belforte commented on #5147
the new task status is something we do w/o need to have this issue open

[2017-02-14 11:42] #5147 closed

[2017-02-14 11:43] belforte commented on #5243
So this is about checkwrite test never completing, which we do not see anymore...
Not sure we can do anything about it.

[2017-02-14 11:44] belforte commented on #5255
@mmascher is this till an issue to look at ?

[2017-02-14 11:47] emaszs commented on #5243
I think it still is, I occasionally see checkwrite taking a long time, adding a timeout shouldn't hurt.

[2017-02-14 11:48] belforte commented on #5245
I suspect we will review this when it comes to reporting to kibana4. And possibly/hopefully this will be done by HTCondort. Let's close until then

[2017-02-14 11:48] #5245 closed

[2017-02-14 11:51] emaszs commented on #5255
Working thread link: https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/1841.html

[2017-02-14 11:53] belforte commented on #5187
realistically, we'll never run CRAB on CMS@HOME

[2017-02-14 11:53] #5187 closed

[2017-02-14 11:56] belforte commented on #5033
we keep it like it is and tell user to run recovery tasks.
In the end the main use case for kill is to make sure that processing has stopped before preparing a recovery task.

[2017-02-14 11:56] #5033 closed

[2017-02-14 11:58] belforte commented on #5084
I think this was one. @emaszs please check when you get a chance
sort of "grep unl.edu" should do

[2017-02-14 12:06] belforte commented on #5158
somehow the only solution is to make it more clear what crab tasks prints.
In the end there is no way around the fact that task status is an overloaded concept.
There's status from TaskWorker perspective (which goes in DB) and never changes once TW is done.
And there's task status from DAG/user perspective that progresses while jobs are run, output transferred etc.

In a way we should make it more

[2017-02-14 12:10] belforte commented on #5177
@mmascher I do not recall the discussion and suspect we better close this. Do you remember enough to say it is worth to keep it open ?

[2017-02-14 12:12] belforte commented on #5274
Seems we forgot to close. The previous comment clearly says "we can't do anything"

[2017-02-14 12:12] #5274 closed

[2017-02-14 12:16] matz-e commented on #5285
I could come up with a PR/something on a post Moriond timescale.

[2017-02-14 12:21] belforte commented on #5319
I still think that the right way is to be careful in FTS (as per the issue that @PerilousApricot just opend in ASO) but when we come to needing a fallback, just maximize the chance of success.
The problem is not FNAL. Is that we do not have a clear requirement on sites nor a procedure in Ops to verify that all sites comply to the requirement and that this is working etc.

[2017-02-14 12:21] #5319 closed

[2017-02-14 12:32] belforte commented on #4598
the exit code is now correct and PostJob and message to the user prints how much was RSS when job was killed.

[2017-02-14 12:32] #4598 closed

[2017-02-14 12:36] belforte commented on #4553
@mmascher can you open a WMCore issue so we close this ? I  am not even sure how relevant it is

[2017-02-14 12:39] belforte commented on #5297
let's review once status2 is in production

[2017-02-14 12:44] belforte commented on #5197
Let's imagine that before Summery @dciangot and @emaszs have figured out whether to do this or now and what the design will be

[2017-02-14 12:51] belforte commented on #3977
realistically.. willl not do. We already support CERN BOX, should rather document that.

[2017-02-14 12:51] #3977 closed

[2017-02-14 12:53] belforte commented on #4278
realistically... we'll never do anything. In the end we are now used to exit code 139 !

[2017-02-14 12:53] #4278 closed

[2017-02-14 13:45] ericvaandering commented on #5338
should be done once he accepts the invitation to join us.

[2017-02-14 16:09] PerilousApricot commented on #5319
@belforte The most recent PhEDEx release (which was required to be installed in December) uses checksumming universally. It might not be a written down ops requirement, but functionally it is there

[2017-02-14 18:16] belforte commented on #5319
hmmm....  sorry @PerilousApricot but I just do not want to have something to chase site by site. We'll ask FTS to use it, which is likely the same as PhEDEx does. But the rest I want to keep very simple. We have already more problems and more new stuff to do then we can really handle

[2017-02-14 19:28] PerilousApricot commented on #5319
@belforte I'm not sure I understand the distinction. If FTS is using it, then it has to work, right? In what case would it work with FTS, but then not if you used it manually?

[2017-02-14 19:40] PerilousApricot commented on #5319
Or put another way, FTS itself uses gfal-X underneath the hood to move files.

[2017-02-15 09:54] belforte commented on #5319
yes @PerilousApricot , I understand that. But I am still not feeling comfortable and do not have the time in this days to investigate down to tiny details to be sure. So am sticking with the simplest and safest fallback.
We have plenty of obscure issues to deal with anyhow.
Do you really expect this to be a problem ? I would be happy to say: you change it back to enable checksum but if any problem

[2017-02-15 09:58] belforte commented on #5338
@todor-ivanov a quick way could also be:
when you have a good day in front of you, grab ITB TaskWorker and schedd, stop afsd service,  unmount afs.. and make sure they still work , restart etc.

[2017-02-15 10:31] todor-ivanov commented on #5338
Hi Stefano,
That is exactly what I am doing this morning now.
As far the Tw has no dependency on /afs
even before the restart

~#lsof |grep  afs

didn't show any file opened from afs. Nevertheless I had it restarted  without the relevant service.
And now I am preparing  a schedd the same way and will make a test submission afterwards.

I will keep you in touch.

Regards,
Todor
____________________

[2017-02-15 10:49] #5377 closed

[2017-02-15 15:46] belforte commented on #4681
with reference to previous list https://github.com/dmwm/CRABServer/issues/4681#issuecomment-269918519
1. was done my Marco: resubmit not allowed after 3 weeks from initital submission
2. @todor-ivanov working on 2. 3. 4
  plan is to hold DAGMAN after 30 days but keep it in queue so that we see what happened and
   we can query condor for canceled DAG's to find directories to purge and then set Lea

[2017-02-15 16:50] PerilousApricot commented on #5319
@belforte If you don't think that sites can do checksums via gfal, then you shouldn't enable it for ASO either -- ASO ends up using gfal at the bottom.

At the scales we work at, yes, files get mangled in flight. That's why PhEDEx made it mandatory. You're not PhEDEx, of course, so you can choose to do what you want. I'm trying to point out that disabling checksums via GFAL while simultaneously en

[2017-02-15 17:13] belforte commented on #5041
not relevant anymore

[2017-02-15 17:13] #5041 closed

[2017-02-15 17:14] belforte commented on #4933
solved since long

[2017-02-15 17:14] belforte commented on #4930
solved since long

[2017-02-15 17:14] #4930 closed

[2017-02-15 17:14] belforte commented on #4743
whatever it was, we are happy with what we have

[2017-02-15 17:14] #4743 closed

[2017-02-15 17:15] belforte commented on #4556
not relevant any more

[2017-02-15 17:15] #4556 closed

[2017-02-15 17:16] belforte commented on #4542
there is a better message now, telling that files could not be retrieved from server.

[2017-02-15 17:16] #4542 closed

[2017-02-15 17:16] belforte commented on #4484
long solved

[2017-02-15 17:16] #4484 closed

[2017-02-15 17:17] #4455 closed

[2017-02-15 17:18] belforte commented on #4438
@dciangot can you confirm that ASO takes publication DBS URL form CRAB DB and not from local config ?

[2017-02-15 17:20] belforte commented on #4304
seems not a problem anymore,let's try to ignore and see what happens

[2017-02-15 17:20] #4304 closed

[2017-02-15 17:22] belforte commented on #4328
this is now tracked as:
https://github.com/dmwm/CRABServer/issues/5026

[2017-02-15 17:22] #4328 closed

[2017-02-15 17:26] belforte commented on #4535
seems users do not scream for this, but keeping it open as permanent documentation in case we need to come back to this

[2017-02-15 17:27] belforte commented on #4859
not relevant anymore, we'll see about this when we finalize reporting to new CERN MONIT

[2017-02-15 17:27] #4859 closed

[2017-02-15 17:27] #4741 closed

[2017-02-15 17:28] belforte commented on #4520
no. we do not make this configurable.

[2017-02-15 17:28] #4520 closed

[2017-02-15 17:29] belforte commented on #4521
I think in the end we keep what we have, dashboard-wise

[2017-02-15 17:29] #4521 closed

[2017-02-15 17:31] belforte commented on #4399
too told to read.. really. If later on comes out that we do something wrong, e.g. when porting to MONIT, we'll fix it then. But let's assume what we do currently is OK

[2017-02-15 17:31] #4399 closed

[2017-02-15 17:32] belforte commented on #4400
not relevant any more

[2017-02-15 17:32] #4400 closed

[2017-02-15 17:33] belforte commented on #4361
we agree that it would be useful, simply has not become vital yet. Keeping it open as documentation in case we get to it

[2017-02-15 17:36] belforte commented on #4611
clearly we live happily w/o it.

[2017-02-15 17:36] #4611 closed

[2017-02-15 17:36] belforte commented on #4378
not relevant anymore

[2017-02-15 17:36] #4378 closed

[2017-02-15 17:36] dciangot commented on #4438
At the moment it still take the URL from the local config.
https://github.com/dmwm/AsyncStageout/blob/master/src/python/AsyncStageOut/PublisherWorker.py#L170

[2017-02-15 17:39] belforte commented on #4224
sounds we'll never do, but keeping it up as documentation in case we get to this

[2017-02-15 17:41] belforte commented on #4438
OK. so we move to an ASO issue

[2017-02-15 17:43] belforte commented on #4296
whatever it was.. let's live with it

[2017-02-15 17:43] #4296 closed

[2017-02-15 17:43] dciangot commented on #4438
Issue created

[2017-02-15 17:43] belforte commented on #4346
this was fixed

[2017-02-15 17:43] #4346 closed

[2017-02-15 17:44] #4438 closed

[2017-02-15 17:45] belforte commented on #4489
this seems not exist anymore, possibley since task SM was reworked

[2017-02-15 17:45] #4489 closed

[2017-02-15 17:46] belforte commented on #4262
let's assume by now we did all that we could, at least on such a broad heading.

[2017-02-15 17:46] #4262 closed

[2017-02-15 17:51] belforte commented on #5304
let's keep as it is for now,

[2017-02-15 17:51] #5304 closed

[2017-02-15 17:54] belforte commented on #5116
@mmascher one year later.. shall we say priority is low enough to close and ignore, or still worth putting a quick fix ?

[2017-02-15 17:54] #5116 closed

[2017-02-15 17:57] belforte commented on #4762
tw logas are OK now.

[2017-02-15 17:57] #4762 closed

[2017-02-15 17:58] belforte commented on #4772
fjr's are now handled vi task process. Optimzing that is ongoing effort anyhow.

[2017-02-15 17:58] #4772 closed

[2017-02-15 17:59] belforte commented on #4898
I guess we have to decide first if to move publication to task process, that will make this easy

[2017-02-15 17:59] #4898 closed

[2017-02-15 18:01] belforte commented on #5191
overridden by #5293

[2017-02-15 18:01] #5191 closed

[2017-02-15 18:02] belforte commented on #5170
this is made obsolete by task process

[2017-02-15 18:02] #5170 closed

[2017-02-15 18:02] belforte commented on #5132
I think it was done. In any case we are happy with the current level of checking

[2017-02-15 18:02] #5132 closed

[2017-02-15 18:04] belforte commented on #5025
not relevant any more

[2017-02-15 18:04] #5025 closed

[2017-02-15 18:06] belforte commented on #4273
@mmascher can you help me to figure out if there's really something to do here ?

[2017-02-15 18:09] belforte commented on #4922
all in all it is not too difficult to submit a dummy pset.

[2017-02-15 18:09] #4922 closed

[2017-02-15 18:12] belforte commented on #4539
in ASO on Oracle era, metadta will only be uploaded from postjob

[2017-02-15 18:12] #4539 closed

[2017-02-15 18:13] belforte commented on #5071
long done.

[2017-02-15 18:13] #5071 closed

[2017-02-15 18:14] belforte commented on #5020
will remove Apmon from CRAB this year anyhow as we move to CERN MONIT

[2017-02-15 18:14] #5020 closed

[2017-02-15 18:14] belforte commented on #5099
done

[2017-02-15 18:14] #5099 closed

[2017-02-15 18:15] belforte commented on #4964
I think was solved. We will worry if and when problems surface again

[2017-02-15 18:15] #4964 closed

[2017-02-15 18:17] belforte commented on #4760
we run the good HTCondor now.
let's check it works , remove useless code, and close.

[2017-02-15 18:18] belforte commented on #5156
I need to figure out exactly if this is still needed, then do it ASAP.

[2017-02-15 18:20] belforte commented on #4766
seems we did not hit a problem in this area in years. Let's close

[2017-02-15 18:20] #4766 closed

[2017-02-15 18:38] belforte commented on #4681
leaving for me @belforte to verify number 6. i. e. myproxy credential need to be good for 1 month.
Have to decide what to do for users who wants to submit now and worry about renewing certificate next week.
We can certainly do the cleanup after 30 days anyhow and let things fail as proper when proxy expires. Only a matter of properly warning.

[2017-02-15 19:11] belforte commented on #4681
What about task process ? @emaszs do we need to define and/or implement something ?

[2017-02-15 19:13] belforte commented on #5208
@emaszs can you confirm that this will be no problem with status2/taskprocess ?

[2017-02-16 09:16] belforte opened #5383 "crab kill of a job must set ASO/Oracle xfer status to KILL not KILLED"
Marco, Diego and Stefano had a long discussion yesterday on the topic "how to deal with current problem that we can have races among multiple jobs issueing multiple FTS xfer requests for same LFN".
Conclusion so far, as I remember, is:
- PostJob in ASO/Oracle era will NOT request a new transfer if one is already active for same LFN
-  - this means that if a job was resubmitted "accidentally" (like

[2017-02-16 09:23] emaszs commented on #5208
It shouldn't be, we'll only send the last retry errors to the client instead of all of them.

[2017-02-16 09:39] emaszs commented on #4681
At the moment, task process exits after the dag enters a final state (so no more changes to the status are expected). It doesn't really matter for how long the task runs.

[2017-02-16 10:38] #5372 closed

[2017-02-16 10:38] #5376 closed

[2017-02-16 17:19] PerilousApricot commented on #5156
@belforte we still really want this. It's much better for our storage element and network to write from the worker nodes direct to the storage instead of going all the way through SRM (which is the whole reason we have a local storage plugin in the first place...)

[2017-02-16 17:44] belforte commented on #5156
Undrestood. Yes it is a shame that it is not used. OK. let's hope I can get to it next week

[2017-02-16 23:03] todor-ivanov commented on #5338
Hi Stefano,

The test  is done now.
I unmounted afs on the itb taskworker and on one of the schedd connected to the itb pool, stopped puppet, automount, afs  services, restarted and then submitted a task and it started  perfectly well. We just have to remember to switch it back on once the task finishes.
The schedd  in question is vocms0115.
The itb tw is vocms0118.

About these few lines in the d

[2017-02-16 23:08] belforte commented on #5338
thanks Todor, but we should simply remove those lines, not point to CVMFS
Didn't you already prove that those are not needed ?

[2017-02-17 10:25] emaszs commented on #5338
I did run a test without the references to afs and it should be good to go. Will test once more during validation of course.

[2017-02-17 12:36] belforte opened #5388 "do not transfer userlogs for failed jobs"
we must stop movin userlogs with ASO
nobody needs them, nobody really knows what they are, but very many users have this enabled in their configuration w/o even knowing it.
The few thousand lines of CMSSW stdout/err that we retrieve via the schedd have to suffice. If someone needs event-level info, they should learn how to write a proper file.

What happens now is that zilion of jobs crash soon or

[2017-02-17 12:39] belforte opened #5389 "CRAB not honoring maxjobruntime on resubmit"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2568/3/2/1/1.html

relevant text pasted below:
[code]

[2017-02-19 08:00] belforte commented on #5388
we should also make crab getlog pull files form schedd, not from T2
and if logs are gone after a week, so be it.

[2017-02-19 20:18] belforte opened #5390 "catch all exceptions in script which feeds kibana"
make sure lock file is always deleted

[2017-02-19 20:42] belforte commented on #5390
actually cron died with
[code]
which is due to wrong type returned in the except clause
https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py#L184
and
https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py#L189

[2017-02-20 09:35] #5390 closed

[2017-02-20 15:29] PerilousApricot commented on #5388
Preventing the logs disappearing is the reason many people transfer them,
for the trigger report. There will be a lot of unhappy users if the logs
just evaporate a week :/
--
It's dark in this basement.

[2017-02-20 15:43] emaszs commented on #5290
We've discussed this with @mmascher once again, we believe the process should not be in trouble in the case of a schedd crash, be it the daemon or the machine, condor would restart the process without
any issue.

We're not entirely sure of how to handle a kill, kill -9 or condor rm. On one hand, it should never happen. If it did, as there is no signal handling at the moment, the process would exit

[2017-02-21 08:38] belforte commented on #5290
Explicit condor_rm or kill (-9) could only be result of
conscious operator action. So I would not worry too much, people
will have to remember to cleanup.
But e.g. a sudden machine poweroff could also result in stale lock files.
No need to test, trust Murphy: since it is not impossible, it will happen.
So I'd start with:  What is the purpose of this lock file ?
what happens if process starts and f

[2017-02-21 10:23] mmascher commented on #5290
More than a lockfile is a file that dag_bootstrap_startup uses to know if the task process is running. But the task process itself does not check this file, it creates it when it starts and it deletes it when it ends. In case of sudden machine poweroff condor will restart the task process who will resume its activity.

[2017-02-21 10:45] mmascher commented on #5290
Yes, we can ask condor, we were trying to save some queries.

[2017-02-21 10:55] belforte commented on #5290
so IIUC dag_bootstrap will condor_submit the taskprocess, unless it was done already,
if you ask condor you will solve the case where taskprocess was condor_rm'ed
I think condor will restart it after a kill (-9), but would be interesting to check

when will dag_bootstrap be executed ? at each resubmit ? and in case does it know if it was
submitted or resubmitted ?

[2017-02-22 09:46] emaszs opened #5395 "HG1703 validation of 3.3.1703"
Besides the regular validation, there's a few specific things to focus on:

- Test the new publication API with status2, will use general validation tasks. Some minor refactoring to another publication API was also done for this, so errors might show up in places that rely on publication information like resubmit.
- See if the other commands based on status2 still behave as expected.

[2017-02-22 14:06] mmascher opened #5396 "Adding Transfer monitor to crabserver ui"
Diego already has a prototype that can be integrated here: https://cmsweb.cern.ch/crabserver/ui

[2017-02-22 17:20] mmascher commented on #5389
Already fixed in https://github.com/dmwm/CRABServer/issues/5363 but the task was an old one.

[2017-02-23 11:16] belforte opened #5400 "kibana feeding script fails on collector communication exception"
this applies to
https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py

crontab reported message below  and did not remove script
[code]

[2017-02-23 13:04] #5215 closed

[2017-02-24 07:57] belforte opened #5404 "use child collector in monitoring script"
from:  https://cms-logbook.cern.ch/elog/Analysis+Operations/1265
[code]

[2017-02-24 09:26] mmascher commented on #5404
The other thing we have been asked is to use a projection when querying the collector, see https://github.com/dmwm/CRABServer/commit/7bb427349271ba7022dba0da3499888641a73535

Maybe it is worth using HTCondorLocator in the script? This way we will have to change the code only in one place in the future.

[2017-02-24 09:37] belforte commented on #5404
I will look into using HTCondorLocator,
but do not understand the protection thing. What is the point exactly there ? GIve a list of needed classAds rather than "everything" ? That list may be different, and there's one already in the script at query time.

[2017-02-24 09:56] mmascher commented on #5404
It is when you get the classads for building the schedd object, like: https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py#L178

The version of the python binding we are using on the TW (that comes from the comp builds) is a bit old and `locate` returns the whole list of classads (newer `locate` versions apply the right projection). So, we are forced to use `query` an

[2017-02-24 10:29] belforte commented on #5404
but in your code you added the list of classAds to a coll.query, not coll.locate.
The coll.query in the script already has the list
https://github.com/dmwm/CRABServer/blob/master/scripts/Monitor/GenerateXMLForTW.py#L81

I have not written this code, so I have no idea of the difference between the two, but if the message is
"use coll.query instead of coll.locate", then I sort of understand.
The cro

[2017-02-24 10:31] belforte commented on #5404
I mean.. we should have proper, uptodate, python bindings in our repo

[2017-02-24 10:33] mmascher commented on #5404
Yeah, that's for sure. But until this happen my message was: use HTCondorLocator to get the schedd object so that we will only fix one place when the new bindings lands.

[2017-02-24 14:10] #5400 closed

[2017-02-24 14:10] #5404 closed

[2017-02-25 10:47] belforte opened #5409 "use HTCondorLocale inside monitoring script"
As @mmascher says:
let's have only one place where we need to change code as HTCondor python bindings (or our understanding of how to use them) evolves

[2017-02-25 13:28] belforte opened #5410 "when jobs run into timeout, the CMSSW stdout/err is not printed"
example
[code]

[2017-02-25 13:29] belforte commented on #5410
that was jobs 105 in this task
http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=oglez&refresh=0&table=Jobs&p=5&records=25&activemenu=2&status=&site=&tid=170222_205626%3Aoglez_crab_ogjob_2017_02_22_215616_electron_data2016g_3feb2017_v1_80VMINI

[2017-03-06 21:33] belforte opened #5418 "TW goes into infinite loop while doing splitting"
see:
https://cms-logbook.cern.ch/elog/Analysis+Operations/1281

I verified that a task on that dataset with split by File puts the TW into an infinite loop.
Interestingly one cant' even use strace to tell what's going on, it prints nothing, even waiting hours, while CPU usage keeps increasing.

This basically kills one worker slave every time it happens, so we need to find out what's going on.

[2017-03-07 09:04] emaszs commented on #5418
I think there's a bug here https://github.com/dmwm/WMCore/blob/1.1.0_crab/src/python/WMCore/JobSplitting/FileBased.py#L64 which causes the splitting to be slow for datasets with a lot of files. The list here gets sorted after every new lfn addition, which doesn't really make sense to me and is very slow for ~160k files. I didn't run it for the complete dataset but it took around 15 minutes to get

[2017-03-07 11:02] belforte commented on #5418
Code does indeed look like a typo in indentation. Since you seem to have at hand a way to run this sort of interactively, maybe you can also test the fix ?

[2017-03-07 11:24] emaszs commented on #5418
I've tested it and the problematic dataset was processed in a reasonable time. I think this can go into the new taskworker being deployed tomorrow.

[2017-03-07 12:05] mmascher commented on #5418
FYI Other splitting algorithms have a similar piece of code and have the right (fixed) indentation

[2017-03-08 14:29] #5321 closed

[2017-03-09 09:37] juztas commented on #4933
not solved. See [1] and 450 jobs, and also you can check with this command: `condor_q -const 'CRAB_ReqName isnt null && TaskType =!= "ROOT" && DESIRED_Sites =?= ""' -g `
[code]

[2017-03-10 15:28] belforte commented on #5418
@emaszs did you fix this then ? Can you close, in case ?

[2017-03-10 15:33] belforte opened #5423 "malformed URL for webdir in crabserver UI"
in the crabserver monitor UI like e.g. `https://cmsweb.cern.ch/crabserver/ui/task/170224_082043%3Agminiell_crab_DoubleMuon_Run2016E-23Sep2016-v1_part5_1`
The webdir is pointed to with URL's  like
[code]
I found out that this is not likee by cmsweb redirection rules (at least IIUC) so that when using this from Italy my browser is pointed to a direct URL in e.g. vocm0119 which is firewalled.
Things

[2017-03-10 15:50] belforte opened #5424 "make sure TaskProcess updates cached status before exiting"
as discussed on the phone this morning by Emilis, Marco, Stefano:
in `task_proc_wrapper.sh` make sure that the caching script is called one last time before exiting at
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper.sh#L53

[2017-03-10 16:00] emaszs commented on #5418
Yes, this should be fixed now with https://github.com/dmwm/WMCore/pull/7695

[2017-03-10 16:00] #5418 closed

[2017-03-10 16:03] belforte opened #5425 "Task Process should track status for tasks in HOLD"
as discussed on the phone this morning by Emilis, Marco, Stefano:
the task process should run not only when dag_boostrap status is Run (2) or Idle (1).
But also for 24h after status has become Hold (5) in order to catch the status update for jobs which were running at the time crab kill was issued and my only stop a while later.
Note: crab kill makes the TW queue a `condor_rm` for all jobs in the

[2017-03-10 16:08] belforte commented on #5418
ah.. right, I forgot that the fix is in WMCore.
is this in the WMCore branch which we deploy now ?

[2017-03-10 16:13] emaszs commented on #5418
Yes, prod Task Worker is using the WMCore tag which has the fix.

[2017-03-10 17:03] belforte opened #5426 "avoid submtting tasks with null output files"
It came out that it is possible for users to specify a CMSSW output file with no name, and in this case CRAB submission fails with a very cryptic error:
[code]
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2647/3/1/1/1.html
for an example.

We need to immedaitely catch the null file name when parsing pset.py and throw an error message there.

[2017-03-15 09:02] #5344 closed

[2017-03-15 12:52] emaszs commented on #5369
So are we expecting this to be used by more than a few users in the near future and I should add e-group support?

[2017-03-15 12:58] belforte commented on #5369
Yes. Mostly because e-group membership can be changed asynchronously (by others !) freeing us from editing TW configuration and restarting it every time. I.e. e-group membership should be checked at task submission time, not cached in memory at TW start time.

[2017-03-15 13:05] emaszs commented on #5369
I don't think we have an e-group for this yet? I can make one, or maybe you should, @belforte, to have you as the owner? Or I'll just add the e-group to be used as a setting in the TW config, let me know what you think.

[2017-03-15 13:07] belforte commented on #5369
ideally TW config could provide a list of e-groups instead of a list of users

[2017-03-15 13:09] belforte commented on #5369
but in practice a single e-group should do, but it needs to support other egroup as members and expand all such branches, @mmascher already did this for the CAF local users, IIUC. So code should be reusable.

[2017-03-15 14:11] aperezca commented on #5369
Note that such e-group should be a very special one, which is managed directly by CMS Computing L1s, so that they can directly add and remove people "who deserve this special treatment". That was the agreement, or at least how I understood it. So perhaps it would be interesting to ask them directly how they want to proceed.

[2017-03-15 14:23] emaszs commented on #5369
@belforte Slight miscommunication I believe, the local user mapping through e-groups feature doesn't do recursion/nested e-groups. I really don't think we need it in this case either. Furthermore, I'm not entirely sure how to implement that - ldap can probably do it for us but at the moment I wouldn't know where to begin looking. Recursively bruteforcing each element in the list of e-group members

[2017-03-15 16:11] belforte commented on #5369
@emaszs no problem, let's start with a single e-group.

[2017-03-16 08:18] belforte opened #5432 "Be able to use new DBS APi with #event/lumi"
Make sure CRAB runs as now with no issues when DBS API's are changed.
From Eric meeting notes in a mail with subject "Re: Desire to expand the DBS schema for events/lumi" :
[code]
I guess we'll need a DBS version with the new API's for a real test.

[2017-03-16 09:44] belforte opened #5433 "add #events/lumi in internal FJR object"
when running a CMSSW version which put in the XML FJR the output number of events in each lumi, must propagate this information in the internal FJR (JSON?  pickle?) object which is returned to the server

[2017-03-16 09:46] belforte opened #5434 "add #events/Lumi to FileMetadata"
when number of events in each lumi is avaiulable, it should be propagated to File Metadata

[2017-03-16 09:55] belforte opened #5435 "insert #lumi/event information in DBS when publishing user dataset"
this is really for ASO. But to make things easier to track I open it here as well:
when information about number of events in each lumi in each output file is available, it should be inserted in DBS when publishing output data

[2017-03-16 10:03] belforte opened #5436 "use #events/lumi information in splitting"
When DBS provides information on number of events in each lumi in each file, use that instead of the current crude estimate (#events in file / @lumis in file) in the event-aware split by lumi.

[2017-03-16 11:47] emaszs commented on #5142
Could someone clarify what problem we're trying to solve here, or if there even is such a problem anymore? To check if the PostJob is somehow hung on some part of the code is an interesting problem, but not something that has a clear solution I don't think.

[2017-03-16 12:18] belforte commented on #5142
the problem is exactly to detect situations where postJobs get hung.
It is certainly true that this did not happen in recent times. But it is part of a good tool to have this king of self-diagnosing capability to lessen the need for someone to check things periodically.
It is surely not an urgent topic given that current PostJobs run nicely (other then things like bad CEPH volumes which we notice

[2017-03-16 15:58] ericvaandering commented on #5432
What I was more worried about is that FWJR parsing doesn't break when new data starts showing up from CMSSW. But I've verified it doesn't cause problems in WMCore and you are using the WMCore part, you are good to go.

Verifiying that we can use the API is great. @yuyiguo  will ensure this, of course.

[2017-03-16 15:59] emaszs commented on #5423
Huh, interesting, had no idea. Bruno added the slash [1], with this redirection should behave as expected without any changes needed from us. We'll test this during validation just in case.

The fix is currently applied to one of the testbed frontends, vocms0135. Another frontend has the old behavior, vocms0134. [2]

[1]
https://github.com/dmwm/deployment/commit/0ac6b93e5e31a0a6561394aa7df328871b7

[2017-03-16 16:06] belforte commented on #5432
ah.. I had not realized that risk exist, thank Eric.
Thanks also to Yuyi.

[2017-03-16 16:11] mmascher commented on #5423
If it is any help I discussed something similar in the past with Diego:  https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1360.html

[2017-03-16 16:18] emaszs commented on #5423
Ah, crap.. thanks @mmascher, this fix doesn't work for files AFAICT. Guess I'll add the slash in crabmon.

[2017-03-16 16:27] belforte opened #5438 "move UFC FILE_SIZE_LIMIT to ServerUtilities.py"
so that it can be used also in client to check user sandbox size before attempting submission, see
https://github.com/dmwm/CRABClient/issues/4683

[2017-03-17 12:45] #5438 closed

[2017-03-17 15:19] belforte commented on #5208
I think we can close now that status2 is deployed.

[2017-03-17 15:19] #5208 closed

[2017-03-20 10:16] #5396 closed

[2017-03-20 10:17] #5423 closed

[2017-03-20 14:03] emaszs commented on #5338
To summarize, no more references to AFS in production code (it was obsolete anyhow), @todor-ivanov also ran a test by unmounting afs from a Task Worker and a schedd. Closing.

[2017-03-20 14:03] #5338 closed

[2017-03-20 14:41] belforte opened #5442 "publish DQMIO files"
those are EDM and listed in FJR. Why are they not published now ?
See
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2729/1/3/2/1.html

[2017-03-20 14:44] belforte commented on #5013
DBSDataDiscovery does not talk to PhEDEx directly.
Location is looked up via `listFileBlockLocation` in WMCore/Services/DBS but that already is limited to blocks `complete` in PhEDEx:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/DBS/DBS3Reader.py#L641

[2017-03-20 15:17] #5307 closed

[2017-03-20 15:17] #5085 closed

[2017-03-20 15:18] #5425 closed

[2017-03-20 15:33] #4760 closed

[2017-03-20 16:25] belforte commented on #5013
I suspect the initial discussion was based on wrong information.
PhEDEx has the concept of complete blocks, and they are skipped.
DBS has the concept of open blocks, but those have always been processed.

I.e. nothing to do.

[2017-03-20 16:25] #5013 closed

[2017-03-20 16:29] belforte commented on #5366
Of course we will not do this by last release.
I am moving to April, but the milestone here is really for @mmascher to open one or two ad hoc issues about the work to be done with some time estimate.

[2017-03-20 17:31] belforte commented on #5299
this just happened again. We should fix it. If not for April deployment, for May at latest.
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2729.html

[2017-03-20 20:34] belforte commented on #5442
this was due to problem already indicated in  #5299

[2017-03-20 20:34] #5442 closed

[2017-03-21 08:16] belforte opened #5443 "avoid depending on WMCore/WorkQueue"
in
 https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/DBSDataDiscovery.py#L77

see
https://hypernews.cern.ch/HyperNews/CMS/get/wmDevelopment/780/1/1/1.html
pasted below:
[code]

[2017-03-21 10:11] #5424 closed

[2017-03-21 10:15] #5443 closed

[2017-03-21 13:45] belforte commented on #5364
Offending line:
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L2082

I will set 60324 instead and define it as a new error code.

[2017-03-21 16:11] belforte commented on #5364
Actually we had 60317 for this, which was commented out because not used, let's put it back
[code]
in
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMExceptions.py

[2017-03-21 16:58] belforte commented on #5364
NOPE !!!
PostJob is likely blameless.
The assignement of the exit code 60321 in case of timeout happens here
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMExceptions.py#L260-L272

I need to think more carefully before changing things

[2017-03-21 17:03] belforte commented on #5364
orginal sin seems to have put in that WMCore file, in the list of gfal error messages, an ASO specific thing
https://github.com/dmwm/WMCore/blame/master/src/python/WMCore/WMExceptions.py#L260
clearly "aso" string should never appear in WMCore :-(

Not clear to me yet how to rework this in a direct way w/o spending inordinate amount of time on it.

[2017-03-21 17:09] belforte commented on #5364
I will have to postpone this.

[2017-03-21 18:11] belforte commented on #5410
initial assumption after some code readin is that I can simply add `tail -100 cmsRun-stdout.log` in here
https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.sh#L12-L28
will not bother to call in the stdout trimming and clipping... just try to tell what it was doing when it was signaled.

[2017-03-21 18:21] belforte commented on #5295
But at times I clearly got the stdout after job killed due to timeout.
So I guess this is "unreproducible".
Or at least will reopen once I have a clear documentation.

[2017-03-21 18:21] #5295 closed

[2017-03-22 14:33] matz-e opened #5447 "Automatic splitting breaks due to invalid Condor submission files"
[code]

Code at fault identified, will try to fix ASAP.

[2017-03-22 14:35] matz-e commented on #5447
To note, I'm not sure how this passed through testing?  I just revived my dev VM from the dead, and my code that I used to test with is the same that seems to have triggered this.

[2017-03-23 05:45] PerilousApricot commented on #5447
CI testing is best testing :)

[2017-03-23 08:29] matz-e commented on #5447
Well, still need to hook up a test for it, though. This is the same code that I used to produce the plots for CHEP, that's what's throwing me off…

[2017-03-23 10:19] emaszs opened #5448 "Undefined var when global_blacklist ignored and blocks in banned sites"
Noticed this error in the latest submission failures:
[code]
I think this is because of the new automatic splitting code. When the global_blacklist is ignored and there are some blocks present only at blacklisted sites, this doesn't get initialized. I didn't try to reproduce it yet, the fix should be simple however.

[1]
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/

[2017-03-23 10:39] emaszs opened #5449 "HG1704 validation"
Some specific things to check this month:
- DagmanHoldReason should be present in the new 'taskads' api (and status2) if a task failed in the bootstrapping step, like uploading the webdir,
- My jobs should be assigned a high prio accounting group if the correct egroup is added to the highprio egroup list in the TW config,
- Verify that the proxy renewal works after this change [1], though there's

[2017-03-23 10:42] emaszs commented on #5449
Should also check that the status2 --long --jobids feature works.

[2017-03-24 10:53] emaszs commented on #5449
- I see the hold reason show up correctly, however I've only now realized that the printout in status2 needs to be formatted more like it is in the old status, now it's just plain text without colors so it's easy to miss at a quick glance.
- Egroup feature seems to work, I see `AccountingGroup = "highprio.erupeika"` with the egroup set in the TW config and `AccountingGroup = "analysis.erupeika"` w

[2017-03-24 13:20] #5448 closed

[2017-03-24 13:29] #5395 closed

[2017-03-24 13:29] emaszs commented on #5449
status2 --long --jobids works on various validation tasks.

[2017-03-28 17:39] belforte commented on #5388
first step could be to avoid moving around logs for failed jobs which lasted only 30sec.
Then we should maybe poll users ? On replacing full log with the shortened (4k lines !) version that goes to schedd as well, and make sure we zip them.
@PerilousApricot I see, but .. can't/shouldn't cmsRun provide the triggerreport information in a compact way ?

[2017-03-29 08:46] dciangot opened #5453 "Drop files with publish = 0 in statistics query (RESTFiletransfers)"

[2017-03-30 12:06] emaszs commented on #5369
Should be fixed with https://github.com/dmwm/CRABServer/pull/5437

[2017-03-30 12:06] #5369 closed

[2017-03-30 12:08] emaszs commented on #5294
Should be fixed with https://github.com/dmwm/CRABClient/pull/4681

[2017-03-30 12:08] #5294 closed

[2017-03-30 12:17] emaszs commented on #5142
To summarize, while this would be nice to have, my view is that this is something hard to achieve and not worth the effort knowing that the PostJobs don't seem to die randomly.

[2017-03-30 12:17] #5142 closed

[2017-04-03 07:26] belforte opened #5458 "use string as state name for ASO Oracle"
Why are states defined as numbers in Oracle in here ?
https://github.com/dmwm/CRABServer/blob/master/src/python/ServerUtilities.py#L59-L78

Oracle will create numerical hashes and indexes as needed anyhow, much I believe we
can use string directly so that the output of DB queries (e.g. like in DB information dump in Crab Server Monitor UI) is immediately readable.

Maybe this can be fixed at same

[2017-04-03 08:13] emaszs commented on #5449
Hm, it does appear that there's something wrong with publication on oracle. For task `170329_142638:erupeika_crab_331704rc4-1-Skimming_dataset_lumi_based-L-T_O-T_P-T_IL-F` in preprod, crab status shows publication as running for completed outputs ( `1: "ACQUIRED"` in transferDB IIUC ). However, on DAS I see 89 files already published, the rest seem to be missing.

[2017-04-03 08:24] emaszs commented on #5449
Ah, the files are probably missing because I deleted them during publication, still have to confirm this.

[2017-04-03 10:18] emaszs opened #5459 "Insufficient privileges when getting publication status from oracle DB during resubmission"
Not yet sure under what circumstances this happens, resubmission seems to work for me currently. Will keep trying to reproduce.

https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2762.html

From cmsweb crabserver log:
[code]

[2017-04-03 11:34] mmascher commented on #5459
Last time I saw this was because we were using a server.get instead of a server.post. @dciangot , do you remember?

[2017-04-03 11:38] emaszs commented on #5459
We've already had a quick chat about this and @dciangot mentioned this, but if this https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L933 line is failing, does it matter what HTTP request it was called from initially? Seems to me like this wouldn't be related.

[2017-04-03 12:03] emaszs commented on #5459
Although the publicationStatus method is part of a GET API, whereas a resubmit request is a POST [1]. Is it the fact that it's exposed as a GET causing the problem? Furthermore, why am I able to resubmit my own tasks ( with publication ) successfully, at least on pre-prod?

[1]
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTUserWorkflow.py#L692

[2017-04-03 12:05] mmascher commented on #5459
This is called by a POST according to those logs (probably a resubmit?) which in turn call the status. All the POST uses the writer account on CMSWEB, and I suspect the writer account is not authorized to do SELECT for the FILETRANSFER table..

[2017-04-03 12:08] emaszs commented on #5459
Ohhh... so this is above CRAB and @dciangot was right :)

[2017-04-04 14:10] emaszs commented on #5449
In the end this was a problem in ASO and was fixed.

[2017-04-04 14:10] #5449 closed

[2017-04-04 14:16] emaszs commented on #5459
Marco granted the SELECT permission to the writer account, I believe this is fixed now. Though I was not able to reproduce the problem because of the problems on ASO at the time (publication backlog), now I did a `--force` resubmission on a task that had some finished publications and it worked. That should've hit the query for the publication status on oracle which was previously failing.

[2017-04-04 14:16] #5459 closed

[2017-04-04 14:17] belforte commented on #5449
can you say which problem ?

[2017-04-04 14:30] emaszs commented on #5449
Ah, I was referring to my previous message in the github issue, this was the problem of publication status showing as 'running' but not actually ever finishing.

[2017-04-04 15:17] mmascher commented on #5255
I talked to emilis who was looking for work about this :)

[2017-04-04 15:37] belforte commented on #5449
Exactly. But AFAIK there was no change in ASO, i.e. no problem was fixed. Publiashed has stopped de to an unreproducible issue, Diego has put some try/except so that it would not stop again next time IIUC, but the particular problem (ASO trying to migrate dataset None) was simply gone.

[2017-04-04 15:47] emaszs commented on #5449
I see, after a quick chat with Diego yesterday and after seeing in the hypernews that users' files were being published I assumed this was solved, guess I misunderstood.

[2017-04-04 15:55] belforte commented on #5449
I only want to male sure I understand what was changed, if anything.

[2017-04-05 07:50] belforte commented on #5255
OK. So I guess it was never fixed. I have changed label and cleared the March mileston which was about answering the question, not fixing the code. @emaszs you can set a new milestone as soon as you have an idea of how much work is implied here.

[2017-04-06 15:36] belforte commented on #5410
I need to reproduce the problem.

[2017-04-07 08:03] belforte commented on #5410
When I run test jobs, things work as  expected an desired.
THe only explanation for the problem which started this is that the job was somehow stuck in CMSSW initialization and when killed because of running out of time there was no stdout to print.

I am closing as INVALID.

[2017-04-07 08:03] #5410 closed

[2017-04-10 13:15] belforte opened #5464 "dulicated code ?"
checkTaskLifetime(submissionTime)
is defined twice:
in ./src/python/CRABInterface/DataWorkflow.py and in ./src/python/ServerUtilities.py

is that intentional ?

[2017-04-10 13:45] emaszs commented on #5464
Certainly not intentional or necessary, I'll fix this.

[2017-04-10 14:02] mmascher commented on #5464
probably something went wrong with a merge

[2017-04-11 15:23] emaszs commented on #5433
I ran some tasks with the new CMSSW_9_1_0_pre2 version and a new WMCore version which had the code to parse the new style of FJRs , this is the postjob log for one job [1]. On line starting with
`Thu, 06 Apr 2017 10:08:01 CEST(+0000):DEBUG:PostJob Output file info for output.root: {u'runs': {u'1': {u'666892': 50, ...` you see the dictionary with lumis as keys and event counts as values. This infor

[2017-04-11 16:41] belforte commented on #4681
Update: I wilk keep editing this as I fill the dots...
current understanding is:
1. task lifetime is set to 30 days [1]
2. crab resubmit is only allowed if at least 7 days are left in the lifetime [2]
3. dagman is removed from condor queue 40 days after initial submissions  [3]
4. spool directory is cleaned ...  [4]
5. web directory is cleaned ... [5]
6. individual jobs are held/removed ... [6]
7.

[2017-04-12 15:42] #5464 closed

[2017-04-13 11:13] emaszs opened #5467 "HG1705 validation"
There are very few commits this month so I'll stick to general validation. However, there are other external things happening which I'll have to pay extra attention to:
 - python 2.7.13 with UCS-4 unicode support and compile optimizations will be used for the validation phase, and if successful, will be used in production starting from May. So far I've built and quickly tested the taskworker. It w

[2017-04-13 11:19] emaszs commented on #5467
So far I've deployed 3.3.1705.rc2 TaskWorker on pre-prod, deployed 3.3.1705.rc1 pre-prod client and asked for CRABServer 3.3.1705.rc1 to be deployed on cmsweb-testbed next week. So aside from the new client commands, everything should be ready for testing on tuesday if anyone will want to submit a few tasks.

[2017-04-13 15:37] emaszs commented on #5467
Hmm, only on my private vm so far, but looks like `crab kill --jobids` doesn't work. The constraint expression generated by our code to match specific jobs doesn't work, something to do with strings/possibly unicode.

DagmanKiller tries to use this constraint to kill two of my jobs (I just used condor_history for debugging):
`condor_history -const 'CRAB_ReqName =?= "170413_151532:erupeika_crab_fil

[2017-04-13 15:44] emaszs commented on #5467
Looks to be the same on preprod.

[2017-04-13 15:47] emaszs commented on #5255
So I think I managed to come up with a hack for fixing this after a whole lot of digging (was interesting), which is https://github.com/emaszs/WMCore/commit/251bbec495d328e3e4f14b0edca3a07ca241e312. The problem here is pretty simple - crab report needs the lumimask information to be in this `self.currentJob['mask']` field. If it isn't, report doesn't know what was processed and so it cannot genera

[2017-04-14 06:45] belforte commented on #5255
After re-reading the original problem report, I suspect we've bee a bit sidetracked.
THe problem could have better been stated as
"provide a way to create a recovery task when using FileBased splitting"

And I presume that this will be fulfilled by crab report using the recipe that Marco gave to the user:
[code]
crab client already has those lumists internally, no need to read from disk.
So that a

[2017-04-14 07:14] belforte commented on #5255
In other words, I believe that this issue is about adding point 3. above.

[2017-04-14 07:26] belforte commented on #5467
I am a bit lost, sorry. Is this something that works in current production but is now broken w/o us changing anything ?

[2017-04-14 08:18] emaszs commented on #5467
Hm.. might be broken on production also, crap. And yet resubmit --jobids works..

[2017-04-14 08:37] belforte commented on #5467
does resubmit --jobids work also in preprod/your VM i.e. with new python ?

[2017-04-14 09:23] emaszs commented on #5467
Didn't check, not sure. Getting on a plane

[2017-04-14 15:28] belforte opened #5469 "cmscp.py wrongly sets 60318 when remote stageout fails"
See attached job stdout :

after failure of local stageout, direct stageout to remote site failed with
[code]
which should set .e.g. exit code 60316 or 60324
[job_out.10.1.txt](https://github.com/dmwm/CRABServer/files/922330/job_out.10.1.txt)

[2017-04-19 23:35] belforte opened #5471 "mail thread on job auto-tuning"
with reference to
https://github.com/dmwm/CRABServer/wiki/AUTO-TUNING-of-jobs-time-limit

this issue is only a placeholder to host the printout of the mail thread on that, for documentation

[AutoTuningMails.pdf](https://github.com/dmwm/CRABServer/files/938902/AutoTuningMails.pdf)

[2017-04-19 23:51] #5471 closed

[2017-04-24 10:16] emaszs opened #5472 "Fix crab kill --jobids"
I mentioned one problem with it here, https://github.com/dmwm/CRABServer/issues/5467#issuecomment-293931843, that was easy to fix at least temporarily by converting the ints into strings. However, I'm slightly confused now, the DAG seems to restart the jobs that are removed with crab kill --jobids regardless, (which seemingly does condor_rm for spefic jobids and that is to be expected), how was th

[2017-04-25 09:28] emaszs commented on #5244
Still happening, noticed one task today stuck for over an hour while restarting the TW
[code]

[2017-04-25 13:18] belforte commented on #5244
Did this worker complete, even if in one hour, or did you have to kill it ?
I am not sure that we have anything in place anymore which monitors that TW workerks are running

[2017-04-25 13:29] emaszs commented on #5244
I had to kill it.

[2017-04-26 09:14] emaszs commented on #5467
I believe the new DBS works for us. I modified the URLs in ClientUtilities.py to use the testbed instance, submitted a task using a new CMSSW version which has the events per lumi info, published the output (without the events per lumi info) and successfully ran a new task on the published output (task name `170425_140144:erupeika_crab_published_mc_analysis_new_cmss1` on preprod). Yuyi also mentio

[2017-04-27 12:44] emaszs opened #5474 "Old status API fails for autosplitting task and breaks CRABMon"
This is an API on which CRABMon depends and apparently it doesn't work with autosplitting, which is to be expected. Might have to make a lightweight API for crabmon to get around this.

[code]

[2017-04-27 12:44] emaszs commented on #5474
End result is that the Main tab is not displayed in the CRABMon page.

[2017-04-28 21:06] belforte commented on #4933
the same happens if user resubmits putting in white list a site which does not have the input dataset.
DESIRED_Sites will be undefined and jobs will not run (They will stay idle all the time).
See:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2829.html

[2017-05-04 13:22] emaszs commented on #5472
The current situation is that the killed job does not have a job report. RetryJob looks for an exit code, doesn't find it and says it's a recoverable error[1], therefore the killed job gets resubmitted automatically. If we were to say that a missing job report is an unrecoverable error (return 2 instead of 1 [1]), it would fix the `kill --jobids` command but I'm not sure what other implications th

[2017-05-04 13:31] belforte commented on #5472
there may be a way to find out that job was killed intentionally
w/o making assumptoins based on lack of job report (which may indeed
be recoverable). I will have a look.

[2017-05-04 13:32] belforte commented on #5472
but I wonder what may have changed in last months here. This sounds like it should have never worked

[2017-05-10 07:07] belforte opened #5482 "TaskWoker uses too much memory"
we now hit frequently the problem that one TaskManager worker uses sevel GB of RSS on some task , which is not freed by python (sort of a feature) leading to TW host hitting RAM limit, starting swap, wokers hanging, tasks not submitted with errors like `OSError:  Cannot allocate memory `[1] etc.

We have been discussing this for a while [2]. THis issue is supposed to hold and track a concrete acti

[2017-05-12 14:17] dciangot opened #5487 "New crab status fails to report timed out jobs as failed"
This contribute to have "fake" publication failures, as in this case: https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2876/1/1/1/1.html

And more over those jobs cannot resubmitted since they are in state "transferring" forever.

[2017-05-12 14:49] emaszs commented on #5487
Task process exited early, we probably want to increase the wait time to 48 hours or something (it's 24 hours now), will have to check later. For the moment I reran the caching script and status should be up to date.

[code]

[2017-05-12 21:33] belforte opened #5488 "avoid processing blocks with too may lumis"
everytime we find a block with more than 100K lumis [1]
CRAB should stop splitting and fail the submission immediately.

THis is to protect from TW getting out of memory and/or time on malformed datasets

[1] why 100k ?  see this thread
https://hypernews.cern.ch/HyperNews/CMS/get/dmDevelopment/2022/1/1/1/1/1/1/2.html

[2017-05-15 14:03] mmascher commented on #5488
Working on this.

[2017-05-15 14:44] belforte opened #5490 "refuse to publish user-generated files with more lumis than events"
in order to avoid putting in DBS datasets that we can not handle later.
when user do PrivateMC tasks, i.e. produce new datasets, rather than process existing datasets.
we must protect against millions of empty lumis (which they managed to put in in the past).
Safest, simplestthing seems to detect this condition in the job wrapper and turn off publishing flag for those files. LIke done currenty for

[2017-05-15 14:52] mmascher commented on #5488
I could not find a DBS API that return the number of lumis per block (or even per file). For example
`listBlocks` returns:

[code]

while `listFileArray` returns:

[code]

I think we need to count the lumis file by file "on the flight" and stop if they reach a number greater than 100k.

[2017-05-15 15:03] belforte commented on #5488
dbs.listFileSummaries(block_name=block)

[2017-05-15 15:06] belforte commented on #5488
example (with the block you indicated):
[code]

[2017-05-15 15:14] belforte commented on #5488
now of course, I have no idea is the WMCore wrapper around DBS exposes all of the API's or only what was needed by WMA.

[2017-05-15 15:20] mmascher commented on #5488
Maybe I am simply using an old version of the DBS client APIs:

[code]

[2017-05-15 15:24] belforte commented on #5488
?? I am using what comes with source crab.sh (production)
Ah.. please stick to what I wrote, not what I said (wrongly) earlier !!
need to use listFileSummaries, not listBlockSummaries

On 15/05/17 17:20, Marco Mascheroni wrote:

[2017-05-15 16:10] mmascher commented on #5488
Yeah I was using listBlockSummaries, my bad. It's already wrapped by WMCore (through `getDBSSummaryInfo`).

[2017-05-16 21:47] belforte commented on #4681
There is a problem with DAG's. Somehow at times they stay running wrongly assuming  that one node is still not done. e.g.
https://cms-logbook.cern.ch/elog/Analysis+Operations/1441
Which points out the fact that in the list above we do not have a step where we stop the DAG, and wait before cleaning up.

I think we should put a periodicHold expression after TASKLIFETIME from submission.

@mmascher @

[2017-05-16 22:11] belforte commented on #4681
P.S. I have seen other times this thing where a task waits for a node which is actually done, but never documented in the details that I did now.
I confess not having the sgtrength to collect all logs and make a problem report to condor devs.

[2017-05-17 07:50] belforte commented on #4681
We keep saying that we hold the dagman, but we only issue condor_hold to the job which runs the dagman process, IIUC. I am notsure what exacly happens to the DAG when tha job is held/released.

[2017-05-17 12:21] belforte commented on #5299
the way the client identifies the EDM files is here
https://github.com/dmwm/CRABClient/blob/master/src/python/CRABClient/JobType/Analysis.py#L111-L124

[2017-05-17 12:49] belforte commented on #5299
while on wrapper side the check is here
https://github.com/dmwm/CRABServer/blob/master/scripts/cmscp.py#L546-L573

[2017-05-18 07:42] belforte commented on #4681
Details of the investigation on the "DAG still running after 39 days" are here:
https://cms-logbook.cern.ch/elog/Analysis+Operations/1452

Conclusion so far is that we do no know why the DAG thinks that one node is running while is not. I guess something not properly handled in crab kill/resubmit sequence. But I propose to live with that.
OTOH we need to make sure that new disk cleanup script (whi

[2017-05-18 08:26] belforte commented on #4681
TIme to write a new "final" plan, I guess:

1. we define TASKLIFETIME (30 days currently)
2. CRAB_TaskSubmitTime (TST) is set by TW in DagmanSubmitter.py and put in a classAd
3. at TST+TASKLIFETIME - 7days we stop accepting crab resubmit
4. at TST+TASKLIFETIME - 2 days all idle jobs in schedd are removed by ???? (PeriodicRemove ?)
5. at TST+TASKLIFETIME DAG is put on Hold via PeriodicHold, TaskPro

[2017-05-18 08:35] belforte commented on #4681
@mmascher @emaszs can you please review the plan above and we converge at next meeting ? Here's a direct link:
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451

[2017-05-18 08:40] belforte commented on #4681
hmm.. wouid it help that we defind an absolute time (secs from Epoch) as CRAB_TaskEndTime and put that in a classAd ? May make all periodic* and diskcleanup etc. code easier to read

[2017-05-18 11:34] belforte commented on #5299
the wrapper seems the one at fault, since at least for DQMIO which is EDM format, client is happy but wrapper is not

[2017-05-18 13:11] belforte commented on #4681
hmm.. wouid it help that we defind an absolute time (secs from Epoch) as CRAB_TaskEndTime and put that in a classAd ? May make all periodic* and diskcleanup etc. code easier to read

[2017-05-18 13:16] belforte commented on #5472
@dciangot and myself dissected a bit the crab kill flow in order to understand how to kill transfers in ASO in the proper way. As a side discovery, we think that the problem with `crab kill --jobids` may be in this line which is the only thing which makes the action different from what done in case of `crab kill` w/o arguments
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Ac

[2017-05-18 13:24] belforte commented on #5472
@dciangot suggest that the second `&&` in that line should rather be a `||` (OR, not AND !)

[2017-05-18 16:01] belforte commented on #5299
I do not really understand how the wrapper is supposed to do this check, but it seems fragile to rely on output module class.
I believe we should rely on the list prepared by the client.

[2017-05-18 16:26] belforte commented on #5299
EUREKA!!!!!!!!!
this check in the wrapper is part of the "inject to ASO from WN" which we do not do anymore since ASO has moved to Oracle.
The problem should now be gone!

[2017-05-18 16:59] belforte commented on #5299
argfh... the same code has been moved here:
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L528-L530
and here
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L601-L605

[2017-05-18 17:32] belforte commented on #5299
so we should modify postjob to rely on what was defined by the client and put in the DB as
[code]

[2017-05-18 17:43] belforte commented on #5299
see also
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L1431
i.e.
[code]

[2017-05-22 08:21] #5488 closed

[2017-05-22 08:59] emaszs commented on #5472
@belforte This is only a constraint expression for which jobs to kill, I doubt it has anything to do with the real issue. I reported that this expression is broken in the first issue comment [1], however it's broken for a different reason than you and @dciangot found and it's easy to fix. IMO the constrain in no way affects what happens to the jobs **after** they are removed with a condor_rm, whic

[2017-05-22 16:10] belforte commented on #5472
OK. So the constrain expression does not select any job now and this is likely due to at least TWO problems, the need to add quotes around jobids that you spotted and the && which Diego spotted, since parent_ID is only available when using automatic splitting.
Then we still have to investigate what happens when jobs are removed.
I will follow up on that.

[2017-05-23 08:23] emaszs commented on #5472
@belforte I'm certain that the parent_ID is not causing issues in the current constraint expression, it's only the quotes around the job ids. I think the parent_id is simply the job id if automatic splitting is not enabled, in which case it works just fine once you fix the quotes.

Anyhow, I've spent a significant amount of time debugging this and checking diffs between commits in the last year or

[2017-05-23 08:39] belforte commented on #5472
@emaszs OK. Indeed looking at currently running jobs ` CRAB_ParentId` is set and the same as `CRAB_Id`
I would have sweared that we had seen  ` CRAB_ParentId`  to be missing, but clearly we must have been confused.
Let's not rush to do anything here. We also had a discussion about a related topic last friday with Diego, Marco and myself and we find more and more that individual job kill+resubmit i

[2017-05-24 15:29] belforte commented on #5447
@matz-e I would have thought this to be be fatal and therefore that you put in a fix by now, since things work.  In case, can you add a reference to the PR and close this ?

[2017-05-24 15:44] emaszs commented on #5474
Had not looked at this at all, still an issue.

[2017-05-24 15:46] emaszs commented on #5487
We said during the last meeting that keeping this at 24 hours is fine, if it happens again I'll investigate, it's not entirely clear to me where the problem is and putting it to 48 hours seems too random to me.

[2017-05-24 15:52] belforte commented on #5487
I believe this will be solved by step 5. in latest proposal on "getting task life time under control":
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451

I am still waiting for @emaszs and @mmascher (at least) to review that proposal. If we agree, we can then close this issue and rather open new ones for the needed changes to submission expressions.

[2017-05-26 15:24] belforte commented on #5472
I took advantage of yesterday's mega kill to look at the effect of resubmit and indeed at least some killed (condor_rm'ed) jobs had the postjob complain about exited with error and resubmitting [*]
I am sure it is easy to solve. But the big questions remain:
1. what do we want to happen ?
2. what does it mean "crab kill" and/or "crab kill --jobid ..." ?
3. is there a use case for crab hold instead

[2017-05-26 15:32] belforte commented on #5472
and of course the `RemoveReason = "via condor_rm (by user condor)"` is present also in the file that the PJ says it parses `/data/srv/glidecondor/condor_local/job_history/history.7842060.0`

[2017-05-26 15:44] belforte commented on #5472
in the end it seems that the PostJob code (e.g. in here
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L1510-L1520
) fails to detect this case as described in the condor manual the code refers to
http://research.cs.wisc.edu/htcondor/manual/v8.2/2_10DAGMan_Applications.html

[code]
and somehow manages to plow on as if the job succeeded...

[2017-05-28 20:38] matz-e commented on #5447
Fixed with #5468. This was only triggered for automatic splitting, and had been deployed on preprod early.

[2017-05-28 20:38] #5447 closed

[2017-05-29 14:49] emaszs commented on #4681
I have a few comments, though I'm also probably forgetting some details discussed in the past.

4. What's the reason behind this point? 2 days seems kind of random and meaningless though I'm sure there's a use for it.
6. Currently TP stops after the dag's `EnteredCurrentState` (final) becomes 1 day old. Since ASO timeouts take a day (plus whatever time the postjob needs to run), I guess it is fore

[2017-05-30 13:14] belforte commented on #4681
about point 4., the idea was to prevent jobs from starting close to the `TaskEndTime` since they would be killed resulting in wasted resources and possibly more complex recovery. So I picked 2 days as the longest time we allow jobs to run. But did not take into account the ASO times. OTOH most jobs do not run that long. So 2 days seems a reasonably good time to have a very high chance that everyth

[2017-05-31 08:19] dciangot opened #5498 "failed transfers with 'no failure reason available'"
Debugging this (https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2926/1.html) I found a weird postJob (1) that I think can be the reason for the problem above, since on aso side I see this failed transfer (2) not followed by any pj and finishing after the last pj of the task ended reporting the transfer as succeeded(3).

So my impression here is that the postjob (1) tries to upload a ne

[2017-05-31 09:41] dciangot commented on #5498
I'm afraid that some synchronization problem is present in the postjob logic.

Here what I have understood so far:
-- on job resubmission, if the previous transfer failed, the postjob upload a new document on the transfer table with status new
-- if the upload succeeds start to check_transfers() (1)
-- so immediately  after the upload check for the transfer statuses (2). Here I still have to under

[2017-05-31 12:24] belforte commented on #5498
better to upload the postjob log (seems short) before the schedd cleans things

[2017-05-31 12:35] mmascher commented on #5498
I discussed this with Diego.

It seems there is a race candition and a check that we use to determine if we need to use or not the transfer status cachefile is not working (i.e.: another postjob updates the cache timestamp after we set the timestamp of the current upload, and before we check if we can safely use the cache).

We came to the conclusion that the PostJob should be deferred immediately

[2017-05-31 13:05] belforte commented on #5498
seems a fragile solution to me. If you have a race, simply waiting will make things more rare, but not solve.
Are you saying that the PJ updates oracle, then updates che cache, then reads the cache back but another process overwrote it in the meanwhile with a stale information ?
If that's the case, sounds like you need a robust lock.

[2017-05-31 13:19] emaszs commented on #5432
Fairly certain we have this covered already

[2017-05-31 13:19] #5432 closed

[2017-05-31 13:22] emaszs commented on #5433
Don't think this needs to stay open either

[2017-05-31 13:22] #5433 closed

[2017-05-31 13:31] mmascher commented on #5498
In principle yes, but in this case the race condition is caused by the fact that the timestamp of the current upload is "younger" than the timestamp cache timestamp, which in turn happened before the oracle upload. By rerunning the postjob we will get a fresh "current upload timestamp" and the check will work.

[2017-05-31 13:37] belforte commented on #5498
Locking machinery is already there. IMHO the problme is that writing to Oracle bypasses the cache. Instead PJ should lock the cache, write to oracle, update the cache, release the lock. In other workds, PJ should not udpate Oracle while another PJ has the lock on the cache. I understand that deferring the PJ will make it use the status 5 min later at which point the cache is expired and a fresh re

[2017-05-31 13:39] mmascher commented on #5498
Yeah, we can also lock the cachefile while updating oracle (even if we do not actually modify the file). It makes sense to me.

[2017-05-31 13:49] belforte commented on #5498
yes, there's no point in checking xfer status one second after asking for the xfer. Unless we do not trust Oracle call exit code !
But now that we know that we have a potential race, let's make it rock solid :-)
I believe we have to modify the cache file before releasing the lock.  But I also think that I have not fully understood how those timestamps are used. So I may be making comments which do

[2017-05-31 14:34] mmascher commented on #5498
On Wed, May 31, 2017 at 3:49 PM, Stefano Belforte <notifications@github.com>
wrote:

Ok good, so I guess the change can go in then.

Yeah, the code is a mess now, we should just rewrite the postjob getting
rid of couch code and all the code that assumes an injection is done from
the WN (including those timestamps). And maybe move the responsability of
creating the cache to the task process..

We a

[2017-05-31 14:43] belforte commented on #5498
but you also do
  with getLock('get_transfers_statuses'):

but I agree that we can't spend days on this now. It would be great if at some
point someone has a week to rewrite the PJ as you indicated and clean things.

On 05/31/2017 04:34 PM, Marco Mascheroni wrote:

[2017-05-31 14:53] belforte commented on #5498
a comment I wrote a couple hours ago and was in github limbo:
one line I do not understand in that PJ log:
[code]
AFAIK nothing is uploaded from WN anymore. Is this a leftover from Couch era ?

[2017-05-31 14:55] belforte commented on #5498
from The Zen of Python [1]
  If the implementation is hard to explain, it's a bad idea.
  If the implementation is easy to explain, it may be a good idea.

[1]
http://legacy.python.org/dev/peps/pep-0020/

[2017-05-31 15:00] mmascher commented on #5498
On Wed, May 31, 2017 at 4:43 PM, Stefano Belforte <notifications@github.com>
wrote:

ops, I missed that, I added a lock.

[2017-05-31 15:04] mmascher commented on #5498
Filemetadata were not involved at all when we developed ASO&Oracle, but I
do agree we should upload them in the PJ.

On Wed, May 31, 2017 at 4:53 PM, Stefano Belforte <notifications@github.com>
wrote:

[2017-05-31 15:12] belforte commented on #5498
ok about filemetadata, thanks for clarifying. About the lock... i fear I am confusing you. But there's not much point in having that lock if we do not update the cache. Concurrent writes (to different DB rows hopefully) are handled in Oracle. Anyhow. this was a rare problem, more rare now. Let's not add fix upon fix but in case streamlie the whole PJ.

[2017-05-31 15:49] #5498 closed

[2017-06-01 08:41] #5467 closed

[2017-06-01 08:48] emaszs opened #5503 "HG1706 validation"
Mainly bugfixes this month again, the ones that could cause the most problems are these I think:
- Task process wrapper fix for running another condor_q before really exiting (also some refactoring done), will check for any issues in validation tasks.
- CRABClient status api improvements/fixes. Other commands also depend on this.

No new wmcore this version this month so all in all not expecting m

[2017-06-04 13:57] belforte opened #5504 "catch early illegal Output LFN's"
e.g. when there is a double slash in the path.
Need to validate using lexicon as soon as possible in the flow.
See
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/2933/1/4.html

Realated issue: #4588

[2017-06-05 05:59] PerilousApricot commented on #5504
I spent some time digging through DBS' code when I saw the user's report, and I'm confused about what the error was. This is the underlying error that DBS is throwing:

https://github.com/dmwm/DBS/blob/34efdec694c31c5084abb2ebf3358f134a96ea23/Server/Python/src/dbs/utils/DBSInputValidation.py#L27

[code]

Perhaps I'm misreading the regex, but it doesn't look like double slashes are prohibited.

[2017-06-05 12:05] belforte commented on #5504
I tried reply by mail, which seems to have failed. So am pasting my reply below.
Also adding a note: DBS is more liberal in accepting LFN's to look up then in LFN's to write,
since old LFN's from DBS2 era have to still be accessible, while there was a conscious effort to limit
chaos in DBS3.

I passed through WMCore's lexicon the file name with and w/o the double slash,
only the latter passed. I d

[2017-06-07 14:50] belforte commented on #5504
the way to check is:
[code]
but  Lexicon.lfn checks against a series of regexp and only fails if all gave errors, so there' s no solid way to say what the problem is, it would be enough for one regexp to be OK.

[2017-06-08 13:52] belforte commented on #4681
In Crab meeting on May 30th , see https://indico.cern.ch/event/640918/note/
se decided to change point 4 to:
4. at TST+TASKLIFETIME  all  jobs in schedd are removed by PeriodicRemove

i.e. we allow max. possible time for things to run and when Lifetime expires, stop everything.

[2017-06-08 14:10] belforte opened #5505 "add CRAB_TaskLifetimeDays and CRAB_TaskEndTime classAds"
see
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302339768
https://indico.cern.ch/event/640918/note/

CRAB_TaskLifetimeDays is a number of days indicating how long task has to live
CRAB_TaskEndTime  is when everything will stop in seconds from Epoch
i.e. CRAB_TaskEndTime = CRAB_TaskSubmitTime + CRAB_TaskLifetimeDa

[2017-06-08 14:22] belforte opened #5506 "use new classAds CRAB_TaskLifetimeDays and CRAB_TaskEndTime forTask control"
instead of current expressions for Tasks (jobs in Scheduler universe):
[code]
PeriodicRemove should be at  CRAB_TaskEndTime  and LeaveJobInQueue can be set to True, task bootstrap job will be removed by cleanup script.

[2017-06-08 14:37] belforte opened #5507 "remove grid jobs at CRAB_TaskEndTime"
see
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-307109907

 in the PeriodicRemove for jobs in Vanilla universe need to add that at CRAB_TaskEndTime it is removed unconditionally

affected code:

https://github.com/dmwm/CRABServer/blob/55cf1a64b69f8211c0d337000f80fb98ae096c8c/src/python/TaskWorker/Actions/DagmanCreator.py#L158
and of course also in periodicRemoveReason

[2017-06-08 14:38] belforte commented on #5506
reference:
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451

[2017-06-08 14:44] belforte opened #5508 "put dag_bootstrap (Task) in HOLD, not remove, at CRAB_TaskEndTime"
see point 5. here
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451

current task have instead
[code]

[2017-06-08 14:47] belforte opened #5509 "Make sure that Task Process runs for 1 day after CRAB_TaskEndTime"
see https://github.com/dmwm/CRABServer/issues/4681#issuecomment-307109907
and https://indico.cern.ch/event/640918/note/

[2017-06-08 14:52] belforte opened #5510 "use new classAd CRAB_TaskEndTime to decide when to clean schedd directories"
see
https://github.com/dmwm/CRABServer/issues/4681#issuecomment-302336451

of course have to wait until all tasks have this defined

[2017-06-08 15:42] belforte opened #5511 "when killing a task, kill all ongoing transfers"
see
https://indico.cern.ch/event/640918/note/

In My 30 CRAB meeting we decided:
 when TW kills task at TaskKill time it will change all ongoing xfer status to KILL

THis is really about wrapping up things faster when a running task is killed by a user, potentially to allow a crab resubmit. But when a task reaches end of life it is not needed, everything wraps up within a day.
See more in the minu

[2017-06-08 15:49] belforte commented on #5472
In CRAB Meeting on MAy 30 we decided to deprecate crab kill --jobId
see:
https://indico.cern.ch/event/640918/note/

[2017-06-08 15:49] #5472 closed

[2017-06-08 15:50] belforte opened #5512 "deprecate crab kill --jobId"
see May 30 meetiung minutes
https://indico.cern.ch/event/640918/note/
and with reference to
https://github.com/dmwm/CRABServer/issues/5472

need to fix documentation (if any) and make client/server refuse the option and/or print proper messages

[2017-06-08 15:51] belforte commented on #4681
will keep this open as a master ticket to track that all the sub-issues just opened are done

[2017-06-08 15:59] belforte commented on #5511
stefano does not know how to do this. assign to Marco only

[2017-06-09 17:23] belforte opened #5513 "implement proper handshake between PostJob and ASO"
with reference to minutes of May 30 meeting
https://indico.cern.ch/event/640918/
in particular point `1. workflows kill/resubmit`
and to @dciangot diagrams:
https://github.com/dmwm/CRABServer/wiki/CRAB-Recovery-after-kill-design
https://github.com/dmwm/CRABServer/wiki/Kill-and-resubmission-workflow-discussion

the communication protocol between PostJob and ASO should be:
1 PJ writes a new entry in

[2017-06-09 17:24] belforte commented on #5513
@dciangot please review. In particular IIUC no chance is needed on ASO side, only PostJob fixes

[2017-06-09 17:39] belforte commented on #5482
this was addressed by:
1 using jmalloc
2 refusing to process blocks with more than 100k lumis

will add proper references to PR's before closing

[2017-06-09 17:42] belforte opened #5514 "do not time-tune automatically splitted tasks"
they hopefully have time request to condor already set "at best"
so nee to set a classAd that allows the JobRouter algorithm to identify those tasks and skip them

[2017-06-09 17:52] belforte commented on #5435
@belforte and @mmascher discussed this with @ericvaandering during CRAB meeting on June 6 and agreed that it is important to do this now.
@emaszs @dciangot can you get this done by July release ?

[2017-06-09 17:54] belforte commented on #5434
@belforte and @mmascher discussed this with @ericvaandering during CRAB meeting on June 6 and agreed that it is important to do this now.
@emaszs @dciangot can you get this done by July release ?

this is hopefully trivial since it simply means the dictionary we put in metadata has one key more, but need to to verify of course, and may have the impact of making metadata larger, failures more likel

[2017-06-12 11:02] belforte commented on #5453
@dciangot is this part of https://github.com/dmwm/CRABServer/issues/5513 ?
can you take care ? Or should @mmascher be the one to do the code change ?

[2017-06-12 12:16] emaszs commented on #5435
@belforte I think July is reasonable. At least for the PostJob/CRABServer part of uploading metadata, I have some code which should work (in theory), while also being backwards compatible with old PostJobs. Need to test it still.

[2017-06-12 12:40] belforte commented on #5435
good. My main concern is exploding metadata size. Once the modified dictionary is propagated I expect publication in DBS to be straightforward

[2017-06-13 13:43] dciangot commented on #5513
Yes, that's all good. The only change needed with this solution is on PJ

[2017-06-13 13:44] dciangot commented on #5453
I can do that and @mmascher can review afterward I suppose.

[2017-06-13 14:03] belforte commented on #5512
@emaszs I will fix documentatoin, can you change the client ?

[2017-06-16 14:56] belforte opened #5517 "compress job stdout files (job_out.*.*.txt) in webdir"
job stdout linger along until we declare the task end of life and remove the web directory, tipycally 38 days after intial submission. See

Only a small fraction of those files is ever used (to check on issues) and yet they use the major part of disk space on /home/grid. Tipycal file size is from 50 to 300KB (now that we do not print tarball content anymore). But large tasks with several resubmiss

[2017-06-16 15:04] belforte commented on #5517
I anybody has ideas on how to solve the drawbacks listed above (esp. 2.) so that we can instead to ahead an do this "now", please add your wisdom here

[2017-06-16 21:33] belforte opened #5518 "reduce disk usage by prejob logs"
see analysis of space usage in spool director in
https://cms-logbook.cern.ch/elog/Analysis+Operations/1494

should at least zip the previous prejob log whenever a job is started again.
but I see prejob logs in the 1MB range, times 10K jobs in a task, times many resubmissions... this can be a problem. Maybe make them less verbose as well ?

[2017-06-16 21:33] belforte commented on #5518
delete the prejob log in the postjob ?

[2017-06-16 21:40] belforte commented on #5518
It is odd that the first prejob ilog is small, but for resubmissions, logs get huge,
is the extra information really useful ?
see this example from a task which has 100GB of prejob_log on spool dir
[code]

[2017-06-16 21:50] belforte commented on #5518
at least in that case, gzipping saves a factor ~5
[code]

[2017-06-16 21:52] belforte commented on #5518
proposal:
1. postJob zips the prejob log
2. when there's resubmission, the previous prejob logs are deleted

[2017-06-16 21:52] belforte commented on #5518
@mmascher what do you think ? other ideas ?

[2017-06-16 22:00] belforte commented on #5518
this line is likely a killer with large tasks:
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PreJob.py#L195

[2017-06-19 08:38] belforte commented on #5518
For the time being a made a PR to remove the list of current directory from the prejob log. Spool directory for large tasks is easily above 100k files !
https://github.com/dmwm/CRABServer/pull/5519
I suspect removing/zipping prejob logs after that will gain little quota, and while I hate to have 150k files in one directory, I do not see a simple way to remove all that junk..

[2017-06-19 08:39] belforte commented on #5518
closed via https://github.com/dmwm/CRABServer/pull/5519

[2017-06-19 08:39] #5518 closed

[2017-06-19 12:25] belforte commented on #5504
the line that should validate the LFN is
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTUserWorkflow.py#L347

[2017-06-19 15:57] belforte commented on #5504
not really. that line is only some preliminary sanity check, a more proper test could be done in here
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTUserWorkflow.py#L63-L78
but that only has the LFN_BASE to look at. A check there would not catch bad stuff from e.g. the output file name in cmsRun.
I'd rather do the check later inside the TW when the output PFN is prepar

[2017-06-19 16:34] belforte commented on #5504
hmm.. looks like LFN path and file name are only combined in cmscp.py. Too late.
https://github.com/dmwm/CRABServer/blob/master/scripts/cmscp.py#L1679

[2017-06-19 17:51] belforte commented on #5504
so I think I will add a check in the TW (easier to debug and change than REST) using the DB params for out lfn dir and out file name. Assuming that what CRAB adds for has, directory number, datasetname etc. is allright. I.e. only check what user specified. This could go into DagmanCreator
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/DagmanCreator.py

[2017-06-20 09:37] belforte opened #5521 "put symbolic links from spooldir to webdir and viceversa"
to help when debugging things one has to move back and forth between spool and web directories.
e.g.
[code]

[2017-06-20 17:09] belforte opened #5523 "remove dependency from httplib2"
makes like easier. since we do not use it

[2017-06-21 08:18] #5523 closed

[2017-06-21 08:20] #5521 closed

[2017-06-21 10:35] belforte commented on #5026
this is in the end a duplicate of #5140
We will make it clear in the documentation that this is mostly a debugging tool, or a way to do local submission, but it is not a way to complete a running task.

[2017-06-21 10:35] #5026 closed

[2017-06-21 12:17] dciangot opened #5526 "postjob never able to retrieve transfer failure reason"
Every time there is a failure for a transfers the postjob looks like this (*) showing failure reason: 'Failure reason unavailable.'

It is most probably due to a bug in the query GetTaskStatusForTransfers_sql that is not returning the transfer failure reason.

(*)
https://cmsweb.cern.ch/scheddmon/059/cms1299/170621_110351:dciangot_crab_asotest3dev4/postjob.116.0.txt

[2017-06-23 07:16] belforte opened #5527 "do not ship libcurl to the WN's"
we do not need it anymore since we do not write to the DB from the WN
And in any case it is a fragile dependency in view of having to run on multiple architectures (SL6/7 e.g.)
If we need any binary, should rely on what is in CVMFS

[2017-06-23 07:29] belforte opened #5528 "properly manage libcurl dependency in TW and schedd's"
currently e.g. the schedd's rely on libcurl to be send from the TW via the runtime tarball
https://github.com/dmwm/CRABServer/blob/master/bin/htcondor_make_runtime.sh#L38-L52

This is fragile, since we rely on a frozen libcurl.so put in the github repository long ago
https://github.com/dmwm/CRABServer/tree/master/lib

Should instead use the one from COMP environment,  so that it is also compatible

[2017-06-26 09:24] belforte commented on #5526
the bad thing here is that PostJob consider all transfer failures recoverable and resubmits the job. I have seen a couple of days ago a task where the user had no permission to write at the destination site.. several tasks, thousands of jobs :-(
Can you put this close to the top of your  priority list ?

[2017-06-26 16:28] belforte commented on #5299
indeed when executing inject_to_aso I can do this in the Pdb:
[code]

[2017-06-26 16:44] belforte commented on #5299
and in spite of  coment above on May 18 ttps://github.com/dmwm/CRABServer/issues/5299#issuecomment-302487326 I'd rather not use classAds since they may change for other reasons w/o the person who chance them worrying about postJob, DB variables are more robust. By the way, current classAds are indeed differently named
[code]

[2017-06-27 16:40] belforte commented on #5299
maybe cleanest way is to add typet EDM/TFILE/FAKE to `self.output_files_info` and pass it to `ASO_JOB` rather than parsing FJR a second time inside `inject_to_aso` like current code does :-(

[2017-06-28 08:24] #5504 closed

[2017-06-28 11:08] #5503 closed

[2017-06-28 11:15] emaszs opened #5531 "HG1707 validation"
Extra things to check that I know about so far:
- Events per lumi. Try both old and new postjobs, and also try two CMSSW versions which produce or don't produce events per lumi information. See if correct information makes it to DBS.
- Check that the old client works with the new server. Since we're removing the *old commands from the July CRABClient, need to have a backup client as well.

[2017-06-28 12:24] emaszs commented on #5531
Looks like removing httplib2 (https://github.com/dmwm/CRABServer/commit/db077fe2c6c868126e72bc9cf8eff01642ce4aa8) breaks compatibility with couch because [1]. Wasn't checking for this specifically but my VM had the couch url specified in the config and so the couch code was executed. I'm pretty sure it's possible to use pycurl instead of httplib2 in the CMSCouch service that WMCore provides, we pu

[2017-06-28 12:27] belforte commented on #4933
And it is particularly nasty if in the end the user select a site which generally has the dataset, but simply was missing for a few of the original jobs, like dataset copy was not full at some sites). See:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/3008/1/1/1/2/2.html

[2017-06-28 12:40] emaszs commented on #5512
`crab kill --jobids` will be disabled on the client with https://github.com/dmwm/CRABClient/commit/bc460d37f3dc07e6df182340feefb3c64b3d919a, I'll also get rid of `--jobids` code in the server.

[2017-06-28 13:33] belforte commented on #5512
I could not find a place where usage of `crab kill --jobid` was documented in the pages pointed to from https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCrab. So I think this is all done now.

[2017-06-28 13:54] belforte commented on #5299
after a chat with @dciangot I got convinced that it is healthy to take this chance to redefine args. for `ASOServerJob` and simplify its code

[2017-06-28 14:27] belforte commented on #5512
I added some "documentation" for the crab kill command (there was none) which hopefully makes it clear what and why of this:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/CRAB3Commands#crab_kill

[2017-06-29 16:17] belforte commented on #4933
looks like the site list is defined in here. We could fail if there's nothing left:
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PreJob.py#L447

[2017-07-01 13:20] belforte opened #5533 "task process does not report failing site for some jobs"
in this case jobs were killed by HTCondor due to exceeding number of shadow starts, ultimately due to glexec problems at the site.
The odd thing is that crab status --long lists site as unknown, while the condor log has some information, here's one entry[1]. Why did cra status not list Bristol as the failing site ?

for reference this is for the clusterid reported in postjob.6.2.txt from
https://c

[2017-07-03 11:44] emaszs commented on #5533
AFAICT, in the htcondor event that @belforte posted, JOBGLIDEIN_CMSSite is undefined, because GLIDEIN_CMSSite is undefined at this time so there's not much else to report. I don't know why JOBGLIDEIN_CMSSite doesn't evaluate to "Unknown" and instead shows the whole expression, I think that's unrelated. Diego Davilla mentioned he sees these unevaluated expressions quite often in the logs. I'm not t

[2017-07-03 14:36] belforte commented on #5533
The job never started to run due to glexec errors at Bristol. Which prevented the shadow from starting.
This may explain why not all classads that we find for running jobs have been filled.
But I think that in a case like this it would be better to use MATCH_EXP_JOBGLIDEIN_CMSSite . I believe it should be the same as  GLIDEIN_CMSSite unless something goes horribly wrong, do you see cases where the

[2017-07-03 14:41] belforte commented on #5533
Lookingmore, those odd names like dice.priv may be internal multicore VM's at Bristol, since potjob has
[code]
In any case it is better that we understand and document those classAds like
`GLIDEIN_CMSSite`, `JOBGLIDEIN_CMSSite`, `MATCH_EXP_JOBGLIDEIN_CMSSite` etc.
hopefully those are already in factory or gWms documentation

[2017-07-03 15:06] emaszs commented on #5533
From what I know, `GLIDEIN_CMSSite` comes from the glidein.
`JOBGLIDEIN_CMSSite` is defined by us [1], uses `GLIDEIN_CMSSite`. I think it's the same as in WMAgent [2], though I should check with Alan.
`MATCH_EXP_JOBGLIDEIN_CMSSite` I don't really have a clue, neither did Diego. And I do see this being different from `JOBGLIDEIN_CMSSite` in some cases at least, for example [3].

[1] https://github.

[2017-07-03 15:10] belforte commented on #5533
@mmascher maybe you know (or know how to find out) the exact meaning of those classAds so we know when to use GLIDEIN_CMSSite when  MATCH_EXP_JOBGLIDEIN_CMSSite  etc. ?

[2017-07-03 15:38] belforte commented on #5533
@emaszs I see. We need to understand what the MATCH_* classAd are.
the job you pointed to `8217205` seems to have started to run at CIEMAT, failed with a shadow exception, was restarted at FNAL where it completed OK.
maybe we can generalize that to explain MATCH_EXP_JOBGLIDEIN_CMSSite vs JOBGLIDEIN_CMSSite, but I'd like to hear from some gWms expert/developer what the expected behavior is.

[2017-07-03 15:40] belforte commented on #5533
Still... I agree that this is a rare situation and we may say.. let's ignore. But otherwise in a case like this where the only site name is the MATCH_.... I would report that and try to set an exit code which indicates the removal reason (too many shadow restarts). Of course users will not know what shadow restart mean, but it will be useful to us.

[2017-07-03 15:50] belforte commented on #5533
or maybe keep it simple and only have an exit code for `periodic remove evaluated to True` and then one checks postjob log to figure out which part of the expression was true.

[2017-07-04 09:30] emaszs commented on #5509
I'm not sure if something needs to be changed here. If the DAG is put on hold because it had reached `CRAB_TaskEndTime`, the task process will wait for at least a day before exiting. It won't exit exactly at `CRAB_TaskEndTime + 1 day`, but it should be close, because every 5 minutes it will be checking if the task has been in hold status for a day. So I guess it should not run for longer than  `CR

[2017-07-04 09:36] belforte commented on #5509
the idea was to make sure that it is 1 day, not 2 or more. 5min of course do not matter. If you are sure it is 1 day, close. Thanks

[2017-07-04 10:04] emaszs commented on #5527
I assume this is as simple as removing it from our TW runtime tarballs, for example here [1]?

[1] https://github.com/dmwm/CRABServer/blob/32d43b0b5c9caf8c834a35d301423b4d6a8b397d/bin/htcondor_make_runtime.sh#L47

[2017-07-04 10:09] belforte commented on #5527
hope so, i.e. there's nothing else which checks for it, adds it, use it.. whatever

[2017-07-04 10:42] todor-ivanov commented on #5528
I will try to do it, but need more information. For the moment the picture related to the COMP environment is a little bit blurred to me.

[2017-07-04 12:36] emaszs commented on #5528
So looking slightly deeper, I think it's fine to move the library to wherever we deem convenient and I agree that it's not needed on the WNs. However, the libcurl we're currently using is compiled with openssl (as per comment from [1]). The libcurl that's present on the schedd by default does not it seems [2]. And this does break the communication with CRABServer from what I can tell [3] , so I th

[2017-07-04 12:42] belforte commented on #5528
it is an old problem that libcurl in linux 5/6 does not have SSL. I do not know if moving to SL7 will solve.
But a proper libcurl is in the CMSSW distribution, and there shold be one in COMP as well.
I suggest to start looking at how WMA manages this. We may have to keep the libcurl from GIT in the runtime tarball sent by TW to schedd's for use in the Post/Pre jobs, TP etc.  but would be good not

[2017-07-04 14:55] #5513 closed

[2017-07-04 14:56] #5505 closed

[2017-07-04 14:56] #5506 closed

[2017-07-04 14:56] #5507 closed

[2017-07-04 16:23] belforte commented on #4933
I have a fix to PreJob to skip grid submission, so at least we do not have idle-forever jobs.
The trick now is to properly catch it in the postJob, currently such jobs have exit code -1 and message is like:
[code]
while dashbaord only reports the first failed submission. But this perfecting of the message can wait

[2017-07-04 16:26] belforte commented on #4933
will open another issue about improving the PostJob to better catch this, which is not trivial

[2017-07-04 20:39] belforte commented on #4933
closed via https://github.com/dmwm/CRABServer/pull/5537

[2017-07-04 20:39] #4933 closed

[2017-07-04 20:42] belforte opened #5538 "postJob should properlu report when PreJob failed"
when PreJob fails and job is not submitted to grid, postJob should report so.
This will help also for  #4933
See also comment by Andres at this line
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L1532
[code]
I really do not see any good reason to continue with PJ execution and report odd errors due to the lack of job report etc.

[2017-07-04 21:01] belforte commented on #5538
Need to be aware of the fact that DAGMAN may be restarted before postJob runs, triggering a new preJobs, see comments here
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/PostJob.py#L1519-L1526

[2017-07-04 21:31] belforte commented on #5538
that comment seems wrong to me. Comparing with
http://research.cs.wisc.edu/htcondor/manual/v8.2/2_10DAGMan_Applications.html#SECTION003102000000000000000
which says
[code]
i.e. $RETURN is -1004 in any case in which PreJob exited with a non zero exit code, whether intentionally or due to a crash. OTOH we do not currently pass $PRE_SCRIPT_RETURN to the PostJob, so can not differentiate behavior base

[2017-07-04 21:34] belforte commented on #5538
@mmascher any thought or advice before I modify the code there ?
I am hesitant to add another argument to PostJon in RunJobs.dag though, a bit too deep a change for my taste

[2017-07-04 21:38] belforte commented on #5538
I am now leaning toward:
if DAG is restarted after grid job completed, but before PostJob ran, simply ignore this old job and submit a new one. Seems safer and simpler than the current implementation which tries to reuse the job output.
In a way "a job is not done until the postJob completed".
This will require some change to the PreJob though....

[2017-07-05 08:22] #5509 closed

[2017-07-05 11:18] emaszs commented on #5531
Unfortunately the new pre-prod crabserver is broken at the moment [1]. Should not be a hard fix.

[1]
[code]

[2017-07-05 11:52] emaszs commented on #5531
Oops, I meant that the pre-prod task worker is broken, not crabserver. https://github.com/dmwm/CRABServer/pull/5539 will solve it.

[2017-07-05 14:49] belforte opened #5540 "always make a new transfer when job is re-run"
whenever a PostJob is executed again, if a transfer was already ongoing for the same LFN, the PostJob should kill it and submit a new one. Only if the kill to FTS command returns with the message that the ongoing transfer has successfully completed in the meanwhile, should the PostJob skip a new FTS request.
This will help to make sure that DAG nodes are idempotent, i.e. can always be resarted w/o

[2017-07-05 14:53] belforte commented on #5538
Discussed this with @mmascher and @dciangot
we agree to move toward:
 when DAG node is restarted. scratch all past things and do everything new. Do not try to reuse intermediate results from DAG nodes which did not complete (i.e. PostJob did not end properly). The new issue #5540 will make sure that when a job is run again on some WN we do not have any possible previously submitted transfer sitll

[2017-07-05 15:03] belforte commented on #5538
So the action items here are:
1. preJob is always executed and always tries to submit a new job, regardless of retry counts
2. if preJob fails or finds that submission is not possible (e.g. DESIRED_Sites list is empty), postJob will find `$RETURN macro = -1004` and will log a proper error, possibly picking text from PreJob log.

as a corollary of 1. above we may look into whether simplify or elimi

[2017-07-06 08:40] emaszs commented on #5531
Looks like our cmscp.py script is also using httplib2 (because it uses the Requests service from WMCore) and is somewhat broken by the change [1] [2]. PostJob does upload the metadata successfully afterwards though, but having something fail by default is not ideal.

[1] job_out log
[code]
[2] https://cmsweb-testbed.cern.ch/scheddmon/0107/cms1425/170705_123751:erupeika_crab_331707rc4-2-UseSecondar

[2017-07-07 08:42] emaszs commented on #5531
The cmscp.py httplib2 issue is fixed with https://github.com/dmwm/CRABServer/pull/5541. I don't see anything else wrong with the validation tasks.

[2017-07-10 10:20] belforte commented on #5508
@mmascher any update ? Did you maybe did this already w/o reference to this issue ?

[2017-07-10 10:20] belforte commented on #5511
@mmascher any update ? Did you maybe did this already w/o reference to this issue ?

[2017-07-12 02:12] belforte opened #5543 "LFN chek with Lexicon should not be done if publication is disabled"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/3050/1/1.html

[2017-07-12 02:14] belforte commented on #5543
problem is that in #5583 I assumed tm_publication to be a True/False boolean, instead it is a  string which has value `T` or `F`
I thought I tested that the if worked, but maybe I didn't   :-(

[2017-07-12 08:30] #5543 closed

[2017-07-14 13:58] todor-ivanov opened #5547 "Different method for setting the +AccountingGroup calssAd."
After the upgrade to condor 8.6.3 the Site Support Team noticed that Hammer Cloud jobs were failing. Here is the ticket with the results from the investigation on that [1]. As a summary there are different methods for setting the string for the +AccountingGroup classAd both in and outside condor. In CRAB the method with creating the string before passing it to condor is used [2] (which is the old

[2017-07-17 10:50] emaszs commented on #5474
This is a bit annoying to fix since we've decided to get rid of the server-side status. I think we have to compromise somehow to keep the same functionality in CRABMon. In order to display the job list in the Main CRABMon page, I need to get it somehow, but this information is only available in the status_cache file.

So far I see two options here - we either parse the status_cache file in the bro

[2017-07-18 08:27] belforte opened #5548 "improve twiki about SiteDB for CRAB"
add some clear stuff about making sure that .globus and browser use the same certificate

[2017-07-18 09:04] belforte commented on #5474
[Emilis, sorry for any spam, I sent by mail twice but those did not make it to github, so am pasting on the web UI]
I think the Main page is useful (at least to me) and if anything we can
review the DB fields shown there to avoid the need to "always" go
to the full DB view.
So restoring it even w/o the status, will be a good step forward.

About the condensed status summary, maybe we could create

[2017-07-20 12:16] #5531 closed

[2017-07-20 12:16] #5547 closed

[2017-07-20 12:17] emaszs commented on #5531
Fixed with https://github.com/dmwm/CRABServer/pull/5549

[2017-07-20 12:17] emaszs commented on #5547
Fixed with https://github.com/dmwm/CRABServer/pull/5549

[2017-07-20 12:37] emaszs commented on #5508
Yes, @mmascher did this, https://github.com/dmwm/CRABServer/commit/fccc08c00b3f437c49da9b0720348a6e6572b87c#diff-4ebe5cee1489f0300479a5b30ec336f5R485. Closing.

[2017-07-20 12:37] #5508 closed

[2017-07-20 12:42] emaszs commented on #5482
1. jemalloc was added to the TaskWorker with https://github.com/cms-sw/cmsdist/commit/d332bce425857839e51220fc18eddc02ba0c1180
2. a check on the input block size was added here https://github.com/dmwm/CRABServer/commit/f8e11d13ea91964ba5db92da94f8ae45d9498cbe
Closing

[2017-07-20 12:42] #5482 closed

[2017-07-20 15:28] todor-ivanov commented on #5514
I hope we are not touching the automatically splitted jobs now: [1]. The classad used for that  is CRAB_SplitAlgo =!= "Automatic"

[1]
https://cms-logbook.cern.ch/elog/Analysis+Operations/1588

[2017-07-26 09:24] belforte commented on #5299
more references
the way the client identified EDM output is actually via this
https://github.com/dmwm/CRABClient/blame/master/src/python/CRABClient/JobType/CMSSWConfig.py#L176-L188
which was put by Marco https://github.com/dmwm/CRABClient/issues/4265
following Chris advice on Sept 5, 2014:
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/87/1/1/1/1/1/1/1/1/2/1/1/2/1/1/2.html
which is pa

[2017-07-26 09:29] belforte commented on #5299
and as Chris wirte in https://github.com/dmwm/CRABClient/issues/4265#issuecomment-55742334
[code]

[2017-07-26 13:04] belforte commented on #5299
hmm...
the check in the wrapper, referred to in https://github.com/dmwm/CRABServer/issues/5299#issuecomment-302079596
is part of  a bunch of code which was recently removed, so executing it was apparently totally un-necessary ?
The removal was part of the cleanup of courchDb related code:
https://github.com/dmwm/CRABServer/pull/5541

[2017-07-26 13:08] belforte commented on #5299
OK. I was getting a bit confused. The "altentarive way to check for EDM'ess" which we need to cleanup is now in the PostJob. see: https://github.com/dmwm/CRABServer/issues/5299#issuecomment-302471053

[2017-07-28 10:19] mmascher opened #5550 "Add index creation to create database scripts"
This has been added to the prod db and has to be reflected in the code: `create index tm_worker_state on filetransfersdb(tm_aso_worker, tm_transfer_state)`

[2017-08-01 16:37] belforte opened #5552 "reduce minimum enforced wall clock time to 1min"
@mmascher I thought you did this already, but I found this
https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L47
and this
https://github.com/dmwm/CRABServer/blob/master/scripts/gWMS-CMSRunAnalysis.sh#L29-L31

Maybe you never did ? Or am I confused.
I believe that we should not sleep is job was OK and if there was an error should reduce from 20 to 10min.

While the sleep afte

[2017-08-01 16:42] belforte opened #5553 "fix python3 compatibility issues"
as per
https://cmssdt.cern.ch/jenkins/view/All/job/DMWM-CRABServer-PR-Test/8/artifact/artifacts/PullRequestReport.html#pyfuture
pasted below as I am not sure of persistence of above link
[code]

[2017-08-03 08:40] #5550 closed

[2017-08-03 10:06] #5553 closed

[2017-08-03 14:30] belforte commented on #5299
I believe I have fixed this. But need a DQMIO file to be sure. Maybe we just deploy it and wait ...
My test is OK with a config. which produces EDM files. But can't check all the way to publication on my private server.

[2017-08-03 16:05] belforte commented on #5113
periodic remove kills at 20GB now, which is is safely below the minimum that CMS requires.
I think that's enough.
https://github.com/dmwm/CRABServer/commit/cb1e579464fed8e87c2944dc30174802743dc078

[2017-08-03 16:05] #5113 closed

[2017-08-03 16:20] belforte commented on #5158
I think the only sensible solution is to make it clear the above difference. We can add a line in the crab tasks output. Will change this to an issue in the client.

[2017-08-03 16:22] #5158 closed

[2017-08-03 16:24] belforte commented on #5146
seems to affect only very rare use cases. And it is not very clear what the issue is. Let's postpone.

[2017-08-04 16:06] todor-ivanov commented on #5510
now testing in production. See the commit in SubmissionInfrastructurScripts bellow:

https://gitlab.cern.ch/CMSSI/SubmissionInfrastructureScripts/commit/772b8aa961b0c7a7099023800a5743476acbbd25

[2017-08-06 12:49] emaszs commented on #5552
There is no penalty currently because https://github.com/dmwm/CRABServer/blob/master/scripts/gWMS-CMSRunAnalysis.sh#L32. I thought this behavior was by design as there were some talks about removing(?) it previously, though now I see it's a line mistakenly left for autosplitting debugging. Should I set it to be 10 minutes?

[2017-08-06 15:19] belforte commented on #5552
See my previous comment for the rational.
Sleep time should be:
- 0 if job was successful
- 10 (or 5) min if job failed
I am currently a bit puzzled about when those lines are relevant, this a shell function named (unappropriately I guess) `finish` which is apparently only executed if `trap` is called.
I think that earlier I thought this to mean "when there is an external signal", but now I see th

[2017-08-09 10:54] aabdelal commented on #5364
sorry for inconvenience, I have this error "Ended TaskManagerBootstrap with code 4" in my PrivateMC job. My Job log looks fine and the root output file is already in temp directory but transferring failed.
here you can find the postjob log
https://cmsweb.cern.ch/scheddmon/0106/cms1634/170807_112326:aabdelal_crab_GEN_LongLived/postjob.1.2.txt
any help will be appreciated.

[2017-08-17 20:52] belforte commented on #5293
Back to this old issue. Yes, as you wrote @ericvaandering . I am fine with force_location, let's not reuse CRAB2 lingo :-)

[2017-08-18 01:24] vlimant opened #5565 "workflow api subresource=data timing-out"
Some of our analysis tools are failing because this call

https://cmsweb.cern.ch/crabserver/prod/workflow/?workflow=170815_051556:sixie_crab_prod_Run2RazorNtuplerV3p15_ToCERN_Data_Rereco2016_v5_78e00cf22d4f23cd7fee6369028a9ec8_v2&subresource=data&limit=-1

which used to work for some other tasks, is now timing-out. How can I make this call to function ? Is there a way I can set limit=10&offset=0,

[2017-08-18 09:16] belforte commented on #5565
Seems a question for computingTools forum, not a GIT issue. I.e. there's no indication that a code change is needed.  AFAIU you are basically re-implementing the CRAB Client. That's not advised of course, buut if you want.. feel free. In this case you may want to look at existing implementation in order to figure out how to do things, and be aware that it is not a public API, things may change w/o

[2017-08-18 12:29] vlimant commented on #5565
@belforte I will take a look at the crab api.
I redirected my question to computing tools.

Regardless, it will end up making a call to that url above if I want to get the lfn for each of the output. How do we get this without timing-out ?

I hardly think that having a timing-out API is not a GH issue, and I'd like to know what is causing it to time out for what looks like a trivial call.

[2017-08-18 17:11] belforte commented on #5293
I forgot.. the bad thing in a new setting is that it needs a change in the DB schema and all DB accessing function. Why each possible configuration parameter is a DB column, beats me, but that's they way things have been coded. And I do not want reuse ignoreLocality with a different semantic.

Ideally one could write the code so that the list of DB column is only in one place. Than this would not

[2017-08-22 16:57] mmascher opened #5566 "Update WMCore version to make local stageout work again at CERN"
https://cmsweb.cern.ch/scheddmon/0121/cms596/170818_070053:oglez_crab_og08_18_090049_SingleElectron_2017B_Prompt_v1_MINIAOD/job_out.190.1.txt

It seems like when there is a stageout error cmscp is exiting with: TypeError: 'NoneType' object has no attribute '__getitem__'
We need to fix this.

Also, something weird is going on with the xrdcp plugin that is giving: `xrdcp: Invalid option, '--wma-disa

[2017-09-06 20:47] emaszs opened #5570 "HG1709 validation"
I ran the old validation task set today on pre-prod [1] and so far I see a lot of tasks where postjobs are failing in the automatic splitting method `saveAutomaticSplittingData()` which looks for some information from the job report. Looks like the PostJobs cannot find these two keys:
- `self.job_report['steps']['cmsRun']['input']['source']` [2]
- `self.job_report['steps']['cmsRun']['performance']

[2017-09-07 06:24] matz-e commented on #5570
Are these all PrivateMC? I'll have a look.

[2017-09-07 06:25] emaszs commented on #5570
Indeed they are... That would certainly explain the different job report.

[2017-09-07 06:27] matz-e commented on #5570
OK, this should be a one-line change. Should I post a PR now or after testing? That may take until lunch.

[2017-09-07 06:31] emaszs commented on #5570
Yeah please make a PR, I'll redeploy and submit again.

[2017-09-07 06:37] matz-e commented on #5570
Is this running on preprod? If you could merge #5570 and #5569, that would be great. The last one is needed for the automatic splitting since I split the DAGs to be independent, and the ROOT DAG is not the single point that needs to be monitored/killed anymore.

[2017-09-07 06:38] matz-e commented on #5570
I'll test automatic splitting at the same time. I assume that there should be a deployment test for that, too, at some point.

[2017-09-07 06:46] emaszs commented on #5570
It is on preprod, yes.

Sure, I'll merge the PRs, I'll write here when the preprod instance is ready.

[2017-09-07 06:47] matz-e commented on #5570
OK, thanks!

[2017-09-07 08:34] dciangot commented on #5570
I'm finding the following error in the Publisher of preprod ASO(*).
Any idea?

/build/srv-logs/vocms0131/crabserver/crabserver-20170907.log:[07/Sep/2017:10:04:39]  SERVER DATABASE ERROR 500/403 Execution error __builtins__.UnboundLocalError 6b15e0d1656e5bb8742133f6de42ff23 [instance: preprod] (local variable 'taskStatusCode' referenced before assignment); last statement: SELECT tm_taskname, panda_

[2017-09-07 08:49] emaszs commented on #5570
What the hell.. Ok not sure about the publication errors but I broke the preprod taskworker somewhere else - all jobs fail with 50513[1] and I'm not sure why yet... I have to go to the dentist soon and I'll be back during the evening, maybe @mmascher can check if he's around, sorry.

[1]
https://cmsweb-testbed.cern.ch/scheddmon/0119/cms1425/170907_082403:erupeika_crab_september_rc5_test1/job_out.1

[2017-09-07 09:55] belforte opened #5572 "when tweakPset fails, print full stdout/err"
current job log only has the exit code, which is not enough. E.g.:
[code]

[2017-09-07 13:53] emaszs commented on #5570
Silly me, I was using the wrong wmcore version in the RPM. Pre-prod should be good to go, I'll make a PR to update the taskworker specfile in cmsdist.

[2017-09-07 13:56] emaszs commented on #5570
Though the publication errors will still likely happen. I'll submit the validation tasks again, @dciangot let us know if you see that same problem again please.

[2017-09-07 14:02] dciangot commented on #5570
yes, I still see the same errors...
https://cmsweb-testbed.cern.ch/crabserver/preprod/workflow?workflow=<taskname> looks broken

[2017-09-07 14:27] emaszs commented on #5570
Ah, the API is failing on a month-old task, it's missing a key in the return dict from condor_q I think, I'll check to confirm. It works fine for recent tasks though. [1]

[1] https://cmsweb-testbed.cern.ch/crabserver/preprod/workflow?workflow=170907_140855:erupeika_crab_331709rc5-2-UseSecondary-L-T_O-T_P-T_IL-F

[2017-09-07 18:10] emaszs commented on #5570
Publication is failing for my latest tasks but it's probably because of another error [1]. The `publish` param looks to be `None` and so the DB complains about getting chars instead of a number, any ideas?

from vocms0131/crabserver/crabserver
[code]

[2017-09-08 11:03] emaszs commented on #5570
So umm, the release is next Tuesday and Lina is asking if we're ready. We certainly aren't in this state. @mmascher thoughts?

[2017-09-11 13:43] mmascher commented on #5570
About the last error (the database one), there is an issue with a recent change Matthias and I made for the automatic splitting, namely the usual change of job id from numbers to chars. I will provide a fix today, but at this point I think we should stick with what we have in prod. I checked the commit history of the REST and I don't see anything we are in a hurry to put in production there. If th

[2017-09-11 13:46] belforte commented on #5570
+1

[2017-09-11 13:57] mmascher commented on #5570
Actually, checking a bit more this was already fixed, meaning the SQL to fix the DB is available (https://github.com/dmwm/CRABServer/blob/master/etc/updateOracle.sql#L101) but it was not applied to the preprod DB. I am applying it now (the update takes is taking some time).

Still, let's not rush things and deplooy something we did not test till the end.

[2017-09-13 11:49] vlimant commented on #5565
https://cmsweb.cern.ch/crabserver/prod/workflow/?workflow=170815_051556:sixie_crab_prod_Run2RazorNtuplerV3p15_ToCERN_Data_Rereco2016_v5_78e00cf22d4f23cd7fee6369028a9ec8_v2&subresource=data&jobids=1-500 does not seem to function

[2017-09-13 11:51] vlimant commented on #5565
I still think that https://cmsweb.cern.ch/crabserver/prod/workflow/?workflow=170815_051556:sixie_crab_prod_Run2RazorNtuplerV3p15_ToCERN_Data_Rereco2016_v5_78e00cf22d4f23cd7fee6369028a9ec8_v2&subresource=data&limit=-1 should not timeout, what is wrong internally that it does ?

[2017-09-13 12:12] belforte commented on #5565
this works:
[code]

[2017-09-13 12:12] #5565 closed

[2017-09-13 12:27] belforte commented on #5565
even if it took almost 4 minutes for 500 jobids, doing less jobs at a time may help, given that data is retrieved via cmsweb which has a 5min limit on fronted connections IIRC
[code]

[2017-09-13 12:33] vlimant commented on #5565
can the timing out restapi be totally deprecated ?

[2017-09-13 13:20] belforte commented on #5565
I wish I knew. The person who did the work left abruptly two weeks ago.
One would need to check if it is used in any other place in CRAB than crab status.

On 13/09/17 14:33, vlimant wrote:

[2017-09-13 15:28] belforte opened #5573 "Reduce sleep time for short jobs"
We should reduce the padding time in Job Wrapper.
Originallt we had two motivation for the 20min enforced minimum time:
1. avoid black holes
2. charge users some CPU i.e. HTCondor share if they fill the system with buggy, failing jobs
But in the end 2. is not working and for 1. a shorter time is good enough, esp. with the increasingly extensive validation that the pilots do.
At the same time those

[2017-09-13 15:56] belforte commented on #5573
this is pretty much the same as
https://github.com/dmwm/CRABServer/issues/5552

i'll close this and add in there the "plan".

[2017-09-13 15:56] #5573 closed

[2017-09-13 15:59] belforte commented on #5552
update. The PLAN is:
Originally we had two motivation for the 20min enforced minimum time:

    avoid black holes
    charge users some CPU i.e. HTCondor share if they fill the system with buggy, failing jobs
    But in the end 2. is not working and for 1. a shorter time is good enough, esp. with the increasingly extensive validation that the pilots do.
    At the same time those sleeping jobs are

[2017-09-13 16:13] belforte commented on #5552
Indeed as @emaszs pointed out in https://github.com/dmwm/CRABServer/issues/5552#issuecomment-320504993
currently good jobs only add 1 sec of sleep time, even if the stdout is a bit "alarming":
[code]
I will change so that things are more clear.

[2017-09-13 16:17] belforte commented on #5552
failing jobs have instead
[code]
which indeed comes from the lines indicated initially:
https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L47

[2017-09-13 18:13] belforte commented on #5552
At times jobs can fail and still have no sleep time added.
When the failure is early enough in the wrapper flow that `CMSRunAnalysis.py` is not started. E.g.
[code]

[2017-09-14 10:09] belforte commented on #5552
With reference to attached, hopefully self-explanatory, plots.

we currently have:
1- a small fraction of CRAB jobs which fail and exit within seconds
2- a large number (~50%) of failed CRAB jobs which are forced to sleep up to 20min
3- good jobs which are getting shorter and shorter, running a few min most of times
4- a small mistery to be understood

1. was not expected, but is understood, anyho

[2017-09-14 10:10] belforte commented on #5552
So I changed this issue's title to say "reduce to 1minute"

[2017-09-15 15:20] belforte commented on #5293
check implemented on the client.
https://github.com/dmwm/CRABClient/issues/4646
nothing to be done on the server

[2017-09-15 15:20] #5293 closed

[2017-09-15 15:23] belforte commented on #5388
will not transfer log for failed jobs. Period.

[2017-09-17 17:30] #5512 closed

[2017-09-17 17:31] belforte commented on #5435
@dciangot can you comment if this was done ? I think so, but want to be sure.

[2017-09-17 17:32] belforte commented on #5434
@dciangot I think we can close, right ?

[2017-09-17 17:33] belforte commented on #5453
@dciangot what's the status here ?

[2017-09-17 17:43] belforte opened #5575 "get rid early of stuck jobs"
Brian pointed out that many jobs that get killed when reaching the maximum wall time (typically at 20h) are actually fully stucks and use no CPU during that time, impacting our CPU/WallClock ratio.
So we want to find and kill those early.
Initial proposal is

Modify PeriodicRemove to kill jobs with WallTime > 2h and CPUTime < 10min
And make sure that PostJobs does not retry those.

This is urgent

[2017-09-17 17:44] belforte commented on #5575
as documentation, here's Brian's mail
[code]

and this is the attached image
![pastedgraphic-3](https://user-images.githubusercontent.com/1837785/30523369-8a17f148-9be0-11e7-9193-da7f579895ad.png)

[2017-09-17 17:45] belforte commented on #5575
and see below CPU efficiency for jobs in that peak at 20 hours.
They are really STUCK BIG TIME !!!
![screenshot from 2017-09-15 18-10-18](https://user-images.githubusercontent.com/1837785/30523388-ca0f136c-9be0-11e7-8f23-57ca01cadd3b.png)

[2017-09-17 17:47] belforte commented on #5575
in order to test the effect of the fix, here's the URL of the query to use to reproduce Brian's plot. Will want to do for a time range 'after the fix':
https://goo.gl/CDPGws
full link:
https://es-cms.cern.ch/app/kibana?#/visualize/create?type=histogram&indexPattern=%5Bcms-%5DYYYY-MM-DD&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(filters:!(),linked:

[2017-09-18 09:08] dciangot commented on #5435
yes, done

[2017-09-18 09:09] dciangot commented on #5434
yes

[2017-09-18 09:49] #5435 closed

[2017-09-18 09:49] #5434 closed

[2017-09-18 10:59] belforte commented on #5487
this was done, see #4681

[2017-09-18 10:59] #5487 closed

[2017-09-21 21:01] belforte commented on #5566
the error with the xrdcp plugin that is giving: xrdcp: Invalid option, '--wma-disablewriterecovery' is rather harmful since it makes CERN always fail local stageout. I hope that WMA jobs do not fail same way. So why is CRAB affected ? Maybe we are not using correct /altest WMCore or not using correctly ? See
https://github.com/dmwm/WMCore/commit/447080bf0bd4ce8a6d1665a85ca9431b776300b3
maybe worth

[2017-09-25 15:50] #5552 closed

[2017-09-27 11:42] amaltaro commented on #5566
@mmascher @belforte would you still have the logs for the "cmscp" error? BTW, are you calling cmscp the posix cp stage out? Otherwise I don't know which plugin is that.

For the --wma-* option, Dirk updated the CERN site-local-config and we updated the WMCore code (as you found out) to reflect those changes. So the stage out command behaviour is slightly different now (well, for at least a couple

[2017-09-29 08:55] belforte commented on #5566
thanks @amaltaro . Sorry I did not notice you posting until now.
Here's a recent log [1], as usual the stageout part is not that easy to read (we already had a thread with @ticoann about improving WMCore in that area). In a way the plan always was 'to stage out locally to site in exactly the same way as production does' exactly to make things easier.
Now I hope you can sort out things with @mmasch

[2017-09-29 09:50] belforte commented on #5566
anyhow I hope everybody agrees that if Dirk changes something and that breaks CRAB stageout, w/o CRAB code having changed, it is not a CRAB problem !
I leave to @ericvaandering and JR to find the way to avoid this kind of things to happen again

[2017-09-29 11:36] belforte commented on #5510
@todor-ivanov confiremed that this is now done and in production

[2017-09-29 11:36] #5510 closed

[2017-09-29 11:43] belforte commented on #4353
I believe we will not do this, since:
1. ASO/FTS now groups small files so there's an optimization that we'd loose
2. transfers are usually pretty quick anyhow and will happen even faster once we do those in the PostJob
3. we still have the danger of too many jobs producing too many files at same time and possibly DDOS'sing a remote T2

and mostly, we do not have any real problem to solve here. Ca

[2017-09-29 11:43] #4353 closed

[2017-09-29 11:43] belforte commented on #4361
not relevant any more  in the era of TaskProcess and automaticSplitting with 3 subdags

[2017-09-29 11:43] #4361 closed

[2017-09-29 11:44] belforte commented on #4681
all sub-issues have been done. We can finally close on this!

[2017-09-29 11:44] #4681 closed

[2017-09-29 11:47] belforte commented on #4460
this is now an expert-only feature and clearly labelled as such in the documentation  and with a warning printed [1] to users who want to use it. In that case they'll figure out.
[1] https://github.com/dmwm/CRABClient/issues/4719

[2017-09-29 11:47] #4460 closed

[2017-09-29 11:48] belforte commented on #4953
will come as we insert ASO into the PostJob

[2017-09-29 11:48] #4953 closed

[2017-09-29 11:51] belforte commented on #5379
@mmascher maybe you can take the chance of adding the "WaitForTape" status as an excuse do draw a new, uptodate, diagram ?

[2017-10-04 13:20] amaltaro opened #5578 "Update schema for WMArchive documents"
Marco, Stefano, we would like to update the document schema on the WMArchive server side and for that we need to update the clients posting documents to it.

Can you please make sure the documents posted by CRAB have the following changes:
* send only selected parameters to WMArchive from performance data.
* use int for NumberOfThreads and NumberOfStreams

You may have a look at this PR Seangchan

[2017-10-04 13:25] ericvaandering commented on #5578
This is somewhat urgent because right now CRAB and WMAgent are providing the data in the wrong format and we can't update WMArchive to begin storing this data until all the data sources are providing the *right* format. WMAgent is going to address this by a patch, I'm hoping CRAB can do the same.

[2017-10-04 13:32] ticoann commented on #5578
@mmascher, @belforte, Just to make sure this reaches to you guys.

[2017-10-04 14:31] belforte commented on #5578
only @mmascher knows.
If in dire need i (or you) can try to find the code and decode it.. but if he can get to this he can surley be faster.

[2017-10-04 14:38] ticoann commented on #5578
It looks like it uses WMCore code.

https://github.com/dmwm/CRABServer/blob/cc4e32b967f070110246188a3fc7e071e786ffc3/src/python/TaskWorker/Actions/PostJob.py#L90

I can create new crab branch patch, if that is what it needs be done.
Otherwise current master contains this patch.

[2017-10-04 14:45] belforte commented on #5578
thanks @ticoann , yes it calls createArchiverDoc in
https://github.com/dmwm/CRABServer/blob/cc4e32b967f070110246188a3fc7e071e786ffc3/src/python/TaskWorker/Actions/PostJob.py#L2753
so it is a matter of updating WMcore branch in CRAB and create new TaskWorker rpm which is a procedure I do not know myself (and wish we could get rid of)

[2017-10-04 15:06] mmascher commented on #5578
I can create a new WMCore for CRAB3 that cherrypicks https://github.com/dmwm/WMCore/pull/8209/commits/81c7b4890f6d965b278ee5c1e0f7f105f69ad249

Should be enough right?

When do we need to deploy this, I guess we need to synchronize a little bit.

[2017-10-04 15:12] ticoann commented on #5578
Hi Marco, Actually, you have to cherrypick this first
https://github.com/dmwm/WMCore/pull/8195/commits/bfc38dca781e019c538dd3e8c4dc85a39adf95b3
then
https://github.com/dmwm/WMCore/commit/81c7b4890f6d965b278ee5c1e0f7f105f69ad249

When it is ready I will create a new tag for crab. Thanks a lot.
For deployment,
After we deploy everything crab and agents. we probably wait a day to previous docs goes i

[2017-10-04 19:08] ericvaandering commented on #5578
You don't need to wait before deploying a new CRAB, though. However, after you have done it, only then can WMArchive step forward.

[2017-10-05 13:38] mmascher commented on #5578
I made the PR here https://github.com/dmwm/WMCore/pull/8234 for the crab WMCore branch

However, I think I'll need to patch the uploader script as well. Documents are created by postjobs, and the postjob code of the tasks already in the schedd won't be updated. And the lifetime of a postjob is 30 days..

I can force a default value (0?) for all the docs for the new keys (*) in the uploader script

[2017-10-05 14:23] ticoann commented on #5578
I think you can force to default value. I think the data won't be consistent or correct for a while anyway until a fresh new workflows start to generate. What do you think? @ericvaandering, @vkuznet

[2017-10-05 15:06] ericvaandering commented on #5578
I'm a bit confused @mmascher . Can you use the uploader script to get around the 30 day lifetime by making sure these new values are either ints or not present? Both of those are fine, the problem is when they are strings.

[2017-10-05 15:27] mmascher commented on #5578
Ok @ericvaandering , I just checked the schedd. If it works I can make NumberOfThreads and NumberOfStreams integers since they are present in the reports, and ignore TotalInitTime and TotalInitCPU that are not there.

[2017-10-05 15:30] ericvaandering commented on #5578
That would be great. So a temporary hack that eventually gets removed as the WMCore code provides the right format.

[2017-10-05 16:05] mmascher commented on #5578
FWI I also found TotalInitCPU and TotalInitTime , so I will update all the 4 params

[2017-10-05 16:35] mmascher commented on #5578
@todor-ivanov I put the hacked uploader in data/srv/SubmissionInfrastructureScripts/WMArchiveUploaderNew.py on 0198.

As far as I understand we can already deploy it on all schedd, righ @ericvaandering ?

[2017-10-05 16:51] ericvaandering commented on #5578
Correct

[2017-10-06 10:41] todor-ivanov commented on #5578
Done!
The new uploader is in all the schedds now.

[2017-10-06 14:00] belforte commented on #5299
my old branch had got out of sync with master.  I started from scratch from upstream/master and edited `PostJob.py` to put the needed changes.
This was tested with nanoAOD and works.

[2017-10-11 15:01] belforte opened #5580 "select proper OpSys for SL7 architecture"
currently CRAB jobs land on SL6 nodes even if user submitted on an SL7 release of CMSRUN.
Of course they fail.
See  [1]
where the relevant bit is that job wrapper reports this classAd
` == JOB AD: DESIRED_OpSysMajorVers = "5,6"`

Currently the OpSys request is done in here and for SL7 indeed it falls back to requestin  5+6
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Action

[2017-10-11 15:15] belforte commented on #5580
discussion with SI in this thread
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/3741.html

[2017-10-12 13:18] belforte commented on #5580
SI says that DESIRED_OpSysMajorVers is obsolete and we should be using `REQUIRED_OS`
but I find this code which is apparently setting it
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/DagmanCreator.py#L504-L509

while the classAd list from the job wrapper does not show it [1].  Digging...
[1]
from
https://cmsweb.cern.ch/scheddmon/0197/cms701/171009_123325:alcaraz_crab

[2017-10-12 15:22] belforte commented on #5580
looking at that same job, in schedd spool directory Job.submit file has
`REQUIRED_OS="rhel7"`
mistery deepens

[2017-10-12 15:37] belforte commented on #5580
Simply that REQUIRED_OS is a custom classAd, not an HTC internal one, so it needs the =+= in front to work:
=+REQUIRED_OS="rhel7"=
as Diego D. just confirmed.
I will run a test and then make a PR

[2017-10-19 08:50] AndresTanasijczuk commented on #5262
The issue is still not fixed. See for example this job log file: https://cmsweb.cern.ch/scheddmon/0121/cms1515/171011_143656:amagitte_crab_Run2016G_SingleMuon/job_out.2.7.txt

Possible fixes:

1) You could change https://github.com/dmwm/CRABServer/blob/3.3.1710.rc2/scripts/cmscp.py#L435 to
[code]
to initialize it to an empty dictionary.
2) You could change https://github.com/dmwm/CRABServer/blob/3

[2017-10-19 08:57] belforte commented on #5262
Thanks @AndresTanasijczuk   . On my list.

[2017-10-20 13:59] belforte opened #5585 "task_process stops after 24h"
the new verrsion of the task process wrapper that was deployed in last upgrade
has some logic flaw and TP exits after 24h even if task is still running.
I suspect the problem is in this code from @matz-e
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper.sh#L7-L31
even if it looks OK when reading (but I get a bit lost in the logic, too terse for me).

I am trying

[2017-10-20 15:21] belforte commented on #5585
I got convinced that the problem is that the updated value of variable `NOT_DONE` from
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper.sh#L27
is not propagated outside the `whlie read ; do; done` loop
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper.sh#L25-L29
I tested to assign and even export a variable in there, and it i

[2017-10-20 15:22] belforte commented on #5585
by the way.. was any automatic splitting task tested so far for >> 1 day ?

[2017-10-20 19:55] belforte commented on #5585
proof of the above. Effectively the while do loop is a suprocess which can't export env. var to the caller
see how $UU and $a are defined in there, but not propagated outside
[code]

[2017-10-20 20:42] jmarra13 commented on #5585
this small example solve your issue. The second while loop have you answer.

#!/bin/bash

teste=$(echo -ne '1\n2\n3\n4\n5')
res=1
echo $teste | while read n;do
  res=$((res+1))
done
echo $res

while read n;do
  res=$((res+1))
done <<< "$teste"
echo $res

On Fri, Oct 20, 2017 at 1:21 PM, Stefano Belforte <notifications@github.com>
wrote:

--
Jadir Marra da Silva<jadir@ncc.unesp.br>
Nucleo de Comput

[2017-10-21 08:24] belforte commented on #5585
thanks !

[2017-10-21 08:42] belforte commented on #5585
indeed this small change works. Still this script is too much exoteric for my taste. But let's do the quick first, then worry about code which can be understood and maintained even by me.
Thanks again @jmarra13

[2017-10-21 12:38] matz-e commented on #5585
Yes, it was tested for >24h. That was the whole point of these changes, that the TP would stop for automatic splitting when a task took more than 24h. With shorter tasks, no problems showed up, but longer running automatic splitting tasks stopped working. I tested that the changes worked with automatic splitting.

[2017-10-21 12:42] matz-e commented on #5585
OK, I see @jmarra13's comment now. Should have been more careful…

[2017-10-23 15:39] belforte opened #5588 "crab status fails to find stageout failure reason"
see this HN [1]. crab status says that reason can not be found, but via crab monitor trasnfer tab
I can navigate to FTS page and log and find the proper error message at e.g. https://fts434.cern.ch:8449/var/log/fts3/transfers/2017-10-21/cms-gridftp.rcac.purdue.edu__eoscmsftp.cern.ch/2017-10-21-2242__cms-gridftp.rcac.purdue.edu__eoscmsftp.cern.ch__1820593772__dec2a284-b6b0-11e7-9739-02163e018fe3

[

[2017-10-23 16:10] belforte commented on #5585
closed via https://github.com/dmwm/CRABServer/pull/5586

[2017-10-23 16:10] #5585 closed

[2017-10-23 16:44] belforte commented on #5580
damn.. Attilio just ran a task on preprod which has this patch now, and jobs were sent with
[code]
while being SL6 jobs, landed on S7 and fail big time.
Indeed I had only tested that SL7 jobs were handled properly.

[2017-10-23 16:55] belforte commented on #5580
amazing, but true, the  mistake in the original commit from @bbockelm
https://github.com/bbockelm/CRABServer/blob/8248115c7eb44bbe3352390bbdd8239b62734071/src/python/TaskWorker/Actions/DagmanCreator.py#L470-L475

there's an `if` where `else if` was needed.
bad for us not having tested :-(  thanks Brian for the change to reaffirm not to blindly trust anything.

lines to patch are now
https://github

[2017-10-23 17:10] belforte commented on #5580
for the record, the PR which brought in the bad code is: https://github.com/dmwm/CRABServer/pull/5460

[2017-10-23 17:14] bbockelm commented on #5580
Good catch!

Indeed, it looks as straightforward as replacing `if` with `else if`

[2017-10-23 18:35] AndresTanasijczuk commented on #5262
Hi @belforte,

Sorry, I was not precise in the suggestion you implemented. Just defining stageout_info as an empty dictionary is not enough. You also need to change https://github.com/dmwm/CRABServer/blob/3.3.1710.rc2/scripts/cmscp.py#L435 to
[code]
Because ```stageout_info['StageOutReport']``` will raise a KeyError exception if the key 'StageOutInfo' is not in the stageout_info dictionary, while

[2017-10-23 18:38] AndresTanasijczuk commented on #5262
I mean, 'StageOutReport' key, not 'StageOutInfo'.

[2017-10-23 18:58] belforte commented on #5262
thanks @AndresTanasijczuk . Sorry for my sloppy reading of the code :-(

[2017-10-23 19:00] belforte commented on #5262
@mmascher there already 2 commits which I pushed in tag 3.3.1710.rc2.patch1 which need changing. What is the best way forward ? Shall  we patch that or roll back and create new fixes for old master branch ?

[2017-10-24 07:30] dciangot commented on #5588
Just for record, the failure reason is also in the filetransferdb as well(*).
So indeed looks like either pj or status cache issue, most probably the former.

tm_transfer_failure_reason: "TRANSFER 70 TRANSFER  globus_ftp_client: the server responded with an error 500 Command failed."

[2017-10-24 07:32] dciangot commented on #5588
The fact that is truncated like that in the db, is not clear as well.. maybe an oracle column limit (?).

[2017-10-24 08:07] belforte commented on #5588
a column limit is likely. So two things:
1. the error summary should report at least ` globus_ftp_client: the server responded with an error 500 Command failed` instead of `Failure reason unavailable.`
2. much better to repor the actual reason `No space left on device`

[2017-10-24 15:09] mmascher commented on #5588
for the moment this should do it, I fixed the fact that the last transfer error was always 'Failure reason unavailable.' and reported the truncated message in the db. I also added a link to the fts page for the full logs

[2017-10-24 15:30] belforte commented on #5588
+1

[2017-10-24 17:53] mmascher commented on #5588
There are two options for getting the real error to the user. One is to change the db column to CLOB and upload the full message (db will be offline). The code has to change accordingly of course, CLOB requires an additional read() when you get them from the DB.

The other solution is to parse the full log in ASO and grep the real reason of the error. We can have somewhere a lisf of (regexp, "erro

[2017-10-24 19:42] belforte commented on #5588
can we put in the DB the URL to the log instead of the full text ?
Is is short enough ?
+1 for the expert system which parses the log and prints a nice message,
that will be a nice project for next summer student(s)

[2017-10-25 10:02] mmascher commented on #5588
In the DB we have the fts job id, the URL can easily be built from it, I don't see a value in putting the whole URL there.

[2017-10-25 10:03] belforte commented on #5588
then don't put anything else

[2017-10-25 10:49] mmascher commented on #5588
It makes sense if we think the truncated message is useless.

[2017-10-26 13:17] #5299 closed

[2017-10-26 13:18] mmascher opened #5595 "Change way PJ determines if a file is a TFile"
This current fix https://github.com/dmwm/CRABServer/pull/5579 uses a pkl file adding a dependency on the PJ. Is there a better way to do it?

[2017-10-26 13:26] #5588 closed

[2017-10-26 14:15] belforte commented on #5595
IIRC we discussed this before that fix and agreed on it as some short term solution. The way information is passed to the PJ should be improved, but it makes sense that PJ can access info from task database (which is what is needed here).

[2017-10-27 08:42] belforte commented on #5383
@mmascher @dciangot maybe this was done ? If so can you put a reference to the PR and close ?

[2017-10-27 08:44] belforte commented on #5366
@mmascher I suspect this can be closed, maybe with a short explanation of how you solved the WMArchive thing in the end (IIRC a single FJR )

[2017-10-27 08:58] belforte commented on #5197
We have decided not to do this due to memory issue. WIll keep a central Publisher. See e.g.
https://indico.cern.ch/event/651680/note/

[2017-10-27 08:58] #5197 closed

[2017-10-27 09:03] belforte commented on #5115
generally speaking a  =crab hold|release [--transfers]= command makes sense.
But it will have to wait until either the need escalates, or we have a person who can spend time on this, or both !

[2017-10-27 09:08] belforte commented on #5528
@todor-ivanov remember to check this in the context of moving to SL7, if problem goes away, we close.

[2017-10-27 09:12] belforte commented on #5533
this is rare enough, and we are short in manpower enough, that we can image never to address it.

[2017-10-27 09:16] belforte commented on #5255
assigned to me to review. Since I am really confused at why1. 2. 3. 4. are not possible.

[2017-10-27 09:18] belforte commented on #5297
looks like status2 solved the problem. If there are new trouble reports, we'll open issues as needed.

[2017-10-27 09:18] #5297 closed

[2017-10-27 09:21] belforte commented on #5580
@mmascher AFAIU this is fixded in production. can you add a reference to final PR and close ?

[2017-10-27 09:22] belforte commented on #5578
@mmascher @amaltaro can this be closed ?

[2017-10-27 09:22] belforte commented on #5570
1709 is long out and closed

[2017-10-27 09:22] #5570 closed

[2017-10-27 09:25] belforte commented on #5566
@mmascher do we still have a problem with WMCore / CRAB being misaligned here ? I.e. are we using a good WMCore tag now ?

[2017-10-27 09:29] todor-ivanov commented on #5528
For the current situation I think  we already distributed the correct version of libcurl but Yes I will check for this in SLC7 and hopefully will nt have this problem there. Thanks for noticing.

[2017-10-27 09:33] belforte commented on #5528
the point is that I do not want CRAB TaskWorker to distribute its own version of licurl, whether correct or not.

[2017-10-27 11:05] amaltaro commented on #5578
I think it can, though Valentin has other metrics that he would like to have populated.
https://github.com/dmwm/WMCore/issues/8279

[2017-10-27 12:10] belforte commented on #5578
OK. Let's open one ad hoc issue then

[2017-10-27 12:10] #5578 closed

[2017-10-27 12:16] belforte opened #5597 "add more metrics to WMArchive"
see:
https://github.com/dmwm/WMCore/issues/8279
maye it will happen automatically as soon as those are in FJR (via CMSSW ?) maybe not ?

[2017-10-30 21:48] belforte opened #5599 "protect TW against VM kill"
there's been cases of TW worker progress killed because it ran out of Virtual Memory, see
https://cms-logbook.cern.ch/elog/Analysis+Operations/1734

initial hypothesis is that this was due to user having set in the configuration `events_per_job = -1`

[2017-10-30 22:58] belforte commented on #5599
indeed, I submitted the CRAB tutorial [1] example setting in cra config:
[code]

and got in my TW `/var/log/messages`:
[code]
[1]
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookCRAB3Tutorial#2_CMSSW_configuration_file_to_ge
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookCRAB3Tutorial#3_CRAB_configuration_file_to_gen

[2017-10-30 23:03] belforte commented on #5599
root cause is that this loop never completes if `EventsPerJob` is less than zero:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/EventBased.py#L148-L183

We can suggest that WMCore developers put a protection there. But let's put a check in CRAB client anyhow. I do not think it is worth to patch TaskWorker to put in another check.

[2017-10-30 23:13] belforte commented on #5599
close now, since for CRAB we solve via a check in the client

[2017-10-31 13:35] belforte commented on #5599
maybe worth to add a sanity check in CRAB SERVER Splitter.py as well. Checks in the client are good, but one never knows. See also the discussion in  https://github.com/dmwm/WMCore/issues/8289

[2017-11-03 20:17] belforte opened #5600 "nAOD are not published"
looks like  #5299      was not enough.
Post job does not disable publication anymore, but somehow it was not enabled in DB
e.g. for this task (submitted to preprod)
171103_173638:belforte_crab_20171103_183608
https://cmsweb-testbed.cern.ch/crabserver/ui/task/171103_173638%3Abelforte_crab_20171103_183608

PostJob has
[code]
Note the :
 `('outdatasetname', '/FakeDataset/fakefile-FakePublish-5b6a581e

[2017-11-06 13:53] belforte opened #5601 "TaskProcess never ends"
TaskProcess is not stopping when DAG is over.
This has lead each schedd to saturate and no new TP can be started which is very bad of course. See picture.
![screenshot from 2017-11-06 11-38-32](https://user-images.githubusercontent.com/1837785/32444248-3a6b0542-c302-11e7-9578-eb4333a4bc8c.png)

[2017-11-06 13:57] belforte commented on #5601
AFAICT the problem is that the TP wrapper checks for DAG to be running using a query[1]  which includes TP iself in the list, so it lists two jobs, not one, confusing its own input processing [2]
resulting in [3]

[1]
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper.sh#L41
[2]
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/task_proc_wrapper

[2017-11-06 14:10] belforte commented on #5601
i.e. the problem is that this line
[code]
returns
[code]
therefore in line [1]
[code]
we end with `$ENTERED_CUR_STATUS` = `11509078246 9923174 2 1509035621` which creates the syntax error, but would not work in any case.

In other words $DAG_INFO as constructed is a single line with two jobs info. One way is of course to modifty it to query only the DAG (`TaskType=ROOT`) but I need to see how this

[2017-11-06 16:02] #5262 closed

[2017-11-07 13:43] belforte opened #5603 "files from same tasks are published in different datasets"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/3334/1/2/1.html

is not due to resubmissions
job 10 for that task was OK but e.g. 3969 indicates a different has in the output dataset destination in the postjob :-(