[2021-05-26 13:24] belforte commented on #6611
moved cancel of transfers to a different issue #6614
so can close this

[2021-05-26 13:24] #6611 closed

[2021-05-26 14:53] belforte opened #6615 "add more configuration parameter tests"
see status tracking in
https://docs.google.com/spreadsheets/d/1xYeXGCzfpo_PhnsRkI9EPf5z4ZOlj2v1_REvwNuew7w/edit?usp=sharing

in particular I need to at least validate latest client for:

- [x] check how activity is propagated and improve the test- this was a bug in TW !

add:
- [x] inputDBS
- [x] useParent
- [x] secondaryInputDataset
- [x] lumiMask
- [x] runRange
- [x] outLFNDirBase
   - [x] add c

[2021-05-26 22:13] belforte opened #6616 "Publisher should not call it ERROR when a file has been already published"
every now and then we get a bunch of publication failures because files are already in target dataset.
Maybe sometimes the publication worked but final bookkeeping failed and Publisher tried again.
Since this "file already present in target dataset" is not a real error, would be better not to flag it as such and avoid wasting time to investigate every few weeks.
e.g. these were al due to same caus

[2021-05-26 22:32] belforte opened #6617 "TW does not set the value for CMS_TaskType ad to be reported to monit"
bad indent for the `return` statement here
https://github.com/dmwm/CRABServer/blob/fa8c82c4c16950c0e0d6b62174071ee43f1a68ec/src/python/TaskWorker/Actions/DagmanCreator.py#L406-L414

[2021-05-26 22:36] #6615 closed

[2021-05-26 22:40] #6617 closed

[2021-05-27 15:04] belforte commented on #6616
looking at one such failures:
[code]

[2021-05-27 15:25] belforte commented on #6616
mistery.
I could not find signs of publication being retried in the code nor the logs. And indeed in the trasnfersdb table
those files are marked with Publication FAILED e.g.
![Screenshot from 2021-05-27 17-22-33](https://user-images.githubusercontent.com/1837785/119853073-25d48a00-bf10-11eb-979c-6bd8732162ac.png)

But files are in DBS.
Looks a bit like if CMSWEB has returned the 502 Proxy Error,

[2021-05-27 15:25] belforte commented on #6616
Question:
 what to do ?

[2021-05-28 15:48] juztas opened #6624 "CRABServer GUI Main Tab broken"
All links (MONIT, Webdir, DAS Input) are broken. Error from browser below. Browser used is Firefox.
![image](https://user-images.githubusercontent.com/646582/120009578-f87bf080-bf90-11eb-8f30-995973329e55.png)

Error:
[code]

[2021-05-31 06:26] belforte commented on #6616
unsurprisisngly the DBS error 502 comes  from
[code]
i.e.
https://github.com/dmwm/CRABServer/blob/5a84a0002e6e341e3486e24bc9b51762d3ab4b69/src/python/Publisher/TaskPublish.py#L822-L855

[2021-05-31 06:30] belforte commented on #6616
dbsClinet.DbsApi does not have retry capability
https://github.com/dmwm/DBS/blob/14df8bbe8ee8f874fe423399b18afef911fe78c7/Client/src/python/dbs/apis/dbsClient.py#L140
Maybe I can start by adding some retry on my side

[2021-05-31 06:32] belforte commented on #6616
And in vie of the possibility that HTTP error is "fake" I should check for files to be present in target dataset already before retrying.

[2021-05-31 07:55] belforte opened #6625 "MyProxyLogon fails to report expired myproxy credential"
last commit https://github.com/dmwm/CRABServer/commit/feb2275beb1306f4bd36466357e037329ae99e00 broke the logic of try/error and made code go ahead and fail at line
https://github.com/dmwm/CRABServer/blob/5a84a0002e6e341e3486e24bc9b51762d3ab4b69/src/python/TaskWorker/Actions/MyProxyLogon.py#L85
generating a spurious error message, even if the cause was failure to get credential from myproxy [1]
The

[2021-05-31 11:33] #6625 closed

[2021-05-31 17:42] belforte commented on #6441
It is not true that there are no transfers in KILLED.
Currentlyly the REST query[1] returns
[code]

So it is still possible that the reason was #6572 and some misunderstanding of how FTS works, let's see once we drop ol partitions.

[1]
https://github.com/dmwm/CRABServer/blob/083cffdcb098a4f876199e388ca817729415d71e/src/script/Monitor/aso_metrics_ora.py#L24-L32

[2021-06-01 10:25] belforte commented on #6609
https://github.com/dmwm/CRABServer/commit/fa8c82c4c16950c0e0d6b62174071ee43f1a68ec was not good. When something fails with a fata error the final exception is not raised and code exits with a confusing
[code]
from
https://github.com/dmwm/CRABServer/blob/083cffdcb098a4f876199e388ca817729415d71e/src/python/RESTInteractions.py#L176

[2021-06-03 07:25] #6609 closed

[2021-06-04 09:46] belforte opened #6629 "Improve chek on user-provided LFN"
in spite of #6590 and #6601 we still have cases where users manage to ask CRAB to build LFN's which are too long to fit in the DataBase (there is a 500 char maximum for LFN in DBS).
@ddaina just spotted this case
[code]
which shows up as a lot of HTPP errors (code 400) in our monitoring
![Screenshot from 2021-06-04 11-32-00](https://user-images.githubusercontent.com/1837785/120780518-807d6f80-c528

[2021-06-04 11:23] belforte commented on #6629
still in same PJ  I noticed these two classAds:
                     **CRAB_OutLFNDir**    /store/user/lportale/HHNtuples_res/RadionToHHTo2b2tau_narrow_METtriggers_2018/MC_rad18_METtrigger_fixed_03Jun2021/7_GluGluToRadionToHHTo2B2Tau_M-900_narrow_TuneCP5_PSWeights_13TeV-madgraph-pythia8__RunIIAutumn18MiniAOD-102X_upgrade2018_realistic_v15-v1/GluGluToRadionToHHTo2B2Tau_M-900_narrow_TuneCP5_PSWeight

[2021-06-04 12:14] belforte commented on #6629
also, that check is only enabled in case of Publication
https://github.com/dmwm/CRABServer/blob/56feb9f8b6e8e6d6bec0d28b9c71a08fa414e386/src/python/TaskWorker/Actions/DagmanCreator.py#L570-L572
but `outtmplfn` is uploaded in any case since PostJob always uploads the metadata

https://github.com/dmwm/CRABServer/blob/56feb9f8b6e8e6d6bec0d28b9c71a08fa414e386/src/python/TaskWorker/Actions/PostJob.py#L

[2021-06-04 12:16] belforte commented on #6629
yes, the problem was this:
https://github.com/dmwm/CRABServer/blob/56feb9f8b6e8e6d6bec0d28b9c71a08fa414e386/src/python/TaskWorker/Actions/DagmanCreator.py#L569-L572
simply we need to make that check all of the times and use the longest directory name i.e. `temp_dest`

[2021-06-04 12:53] #6629 closed

[2021-06-07 07:21] belforte commented on #6616
I keep wasting time checking publication errors about files which are already in target dataset, really need to do something about this.

[2021-06-07 09:19] belforte commented on #6624
looks like this is due to the fact that `tm_output_dataset` returned by queries to crabserver DB is a bytestring instead of unicode, e.g. from https://cmsweb-test1.cern.ch/crabserver/ui/task/210530_102306%3Abelforte_crab_20210530_122256/dbver/preprod
[code]

[2021-06-07 09:25] belforte commented on #6624
so far I see only another DB column with same problem : `tm_edm_outfiles`

[2021-06-07 09:45] belforte commented on #6624
hmm...
maybe this line
https://github.com/dmwm/CRABServer/blob/805191a1c1b284ef51fbd1702e6ccd47a368d3ce/src/python/CRABInterface/RESTTask.py#L339
skipped being fixed
https://github.com/dmwm/CRABServer/commit/f940c38fe9088c1a6f2047026dabb996ef6a1e80#diff-320d836812da8a5cd643fb20b7a8acde728bd696829f51de0e4aebd9b140a379

I guess I should test removing `str()` from there

[2021-06-07 12:46] belforte commented on #6624
@sharmaprajesh confirmed that this is a problem in writing to the DB
[code]

[2021-06-07 13:33] belforte commented on #6624
with ref. to
https://github.com/dmwm/CRABServer/blob/805191a1c1b284ef51fbd1702e6ccd47a368d3ce/src/python/CRABInterface/RESTTask.py#L338-341
the wrapping `str()` needs to stay, since I need to pass a string variable, not a list, to the oracle api below
indeed in there any existing value in the DB is passed correctly as string in Line 338, the problems come from `kwargs['outputdatasets']` which is a

[2021-06-07 13:49] belforte commented on #6624
indeed it seems a use case like I had with site b/w list where it was needed to validate the REST argument as a list of unicode strings:
https://github.com/dmwm/CRABServer/blob/805191a1c1b284ef51fbd1702e6ccd47a368d3ce/src/python/CRABInterface/RESTUserWorkflow.py#L351-L354

[2021-06-07 14:46] belforte commented on #6624
Clearly list of lumis are done properly now, but it is also true that those are massaged extensively before insertion in Oracle, in
https://github.com/dmwm/CRABServer/blob/805191a1c1b284ef51fbd1702e6ccd47a368d3ce/src/python/CRABInterface/DataFileMetadata.py#L62

So better to go one thing at a time.
For `outputdataset` the change to `validate_ustrlist` appears safe. I will test a bit more though.

[2021-06-07 14:54] belforte commented on #6624
Validating to `ustrlist` has odd effects if I pass a list to the REST as argument:
[code]
results in this in the DB
[code]

[2021-06-07 16:23] belforte commented on #6624
OK. So it looks like getting proper data format from DB has been always a problem, the CRAB code is scattered with calls to   [literal_eval](https://docs.python.org/2.7/library/ast.html?highlight=literal_eval#ast.literal_eval)  apparently exactly to deal with things like converting
`u"[b'+CRAB_USE_NEW_PUBLISHER=True']"` to `['+CRAB_USE_NEW_PUBLISHER=True']`
https://github.com/dmwm/CRABServer/blob/

[2021-06-07 19:19] belforte commented on #6624
cmsweb-test2 is now running with this fix. Will test.

[2021-06-08 10:12] #6624 closed

[2021-06-10 06:49] belforte opened #6636 "improve message if upload to S3 fails"
atm if upload fails (I tested with a wrong policy string) we get this message

DEBUG 2021-06-10 06:42:24.840 UTC: 	 Uploading archive /afs/cern.ch/work/b/belforte/CRAB3/TC3/LOCAL/crab_20210610_084222/inputs/a3efeb79-754a-49f1-8f1d-987c95f84f2ddefault.tgz (16 KB) to the CRAB cache. Using URI https://cmsweb-prod.cern.ch:8443/crabcache
DEBUG 2021-06-10 06:42:25.120 UTC: 	 Tarball upload to S3 failed:

[2021-06-10 07:09] belforte commented on #6636
argh.. there is a `,` in place of a `%` in
https://github.com/dmwm/CRABServer/blob/32f5c52778e702d64df23787e6865a97f48d2073/src/python/ServerUtilities.py#L744

[2021-06-10 07:12] belforte commented on #6636
same mistake also in
https://github.com/dmwm/CRABServer/blob/32f5c52778e702d64df23787e6865a97f48d2073/src/python/ServerUtilities.py#L856

[2021-06-10 07:34] #6636 closed

[2021-06-10 09:21] belforte opened #6638 "improve tm_cache_url for S3"
**PROBLEM**
currently when using S3 as cache, we write in the TASK DB `tm_cache_url` column a string like
[code]
which comes from the REST external JSON config
https://gitlab.cern.ch/crab3/CRAB3ServerConfig/blob/master/cmsweb-rest-config.json#L53

basically the format is:
[code]
where the "S3" string is used to switch code from old to new cache access methods via lines like
https://github.com/dmwm

[2021-06-10 09:23] belforte commented on #6638
@sharmaprajesh FYI , please check that I correctly captured the output of our chat
@ddaina this does not affect code of yours directly, but your opinion is always welcome too

[2021-06-10 09:31] belforte commented on #6638
IIUC this does not require any code change other than in the UI.
So I will change the REST config for test2 now and send a test task.

[2021-06-10 10:08] belforte commented on #6638
while doing the change in https://gitlab.cern.ch/crab3/CRAB3ServerConfig/blob/master/cmsweb-rest-config.json#L53  I found one sub-optimal thing:
 the json list configurations by "mode", not by "host". So it is not "elegant" to have `cmsweb-test2.cern.ch` in as "node agnostic" thing like the "mode". But all in all is not different from what we were doing before, when inserting the specific crabcach

[2021-06-10 10:11] belforte commented on #6638
I overlooked that current RESTTask.py picks the S3 server endpoint from the config string
https://github.com/dmwm/CRABServer/blob/72413a538fc48d3af1396d4439d3eb850a5f8d2e/src/python/CRABInterface/RESTCache.py#L98-L101

I see at least 2 solutions:
1. change format to have both S3 server host name and CRABRest host name
2. hardcode `s3.cern.ch` in  RESTTask.py

[2021-06-10 10:45] belforte commented on #6638
In order to please CRAB REST argument validation, I had to put `https://` in front of `cacheSSL`/`tm_cache_url`:
[code]
@sharmaprajesh can you accomodate this ?
You can use this task to test:
https://cmsweb-test1.cern.ch/crabserver/ui/task/210610_103855%3Abelforte_crab_20210610_123847

[2021-06-10 11:40] belforte commented on #6638
closed via https://github.com/dmwm/CRABServer/pull/6639

[2021-06-10 11:41] #6638 closed

[2021-06-10 14:44] belforte opened #6640 "make jobs work with Py3 CMSSW"
pasting here a mail exchange with Shahzad.
This is needed regardless of CRABServer/TW etc. running in py3. Maybe as "simple" as
move from current WMCore tag 1.4.6.crab1 to more recent one.. and hope that there are no new
issues with py2/3 comaptibility changes !

For convenience, the [link](https://github.com/dmwm/WMCore/commit/2bfe9b7c7e06bf76370e89e4ea23c768f03a0efc ) to the commit which Shahzad

[2021-06-10 14:52] belforte commented on #6640
Also this very clarifying comment by David Lange:
[code]

[2021-06-11 16:14] belforte opened #6642 "make ServerUtilities py2/3 compatible"
since it needs to be used also by CRABClient

so far  issues I found are
* `urllib.encode` and `urllib.quote`
* `basestring`

[2021-06-11 16:24] #6460 closed

[2021-06-11 16:41] #6642 closed

[2021-06-13 12:33] belforte opened #6645 "improve test of blacklist"
currently it uses blacklist to force jobs to run at FNAL, but even with requesting only 1h of time it can take many hours before it runs (12h lat time) so Jenkins times out.
Ideally should simply check that job is pending in the queue with the proper DESIRED_Sites ad, but there's no crab command to do this.
I do not want to make the Jenkins testt code too much complex nor depend on functionalities

[2021-06-13 13:20] belforte opened #6646 "fix timeout handling in execute_command"
I imported this from WMCore/Credential/Proxy.py
https://github.com/dmwm/CRABServer/blob/33abddad037a8c93d749f2594bb0abd97affae37/src/python/ServerUtilities.py#L313
But need to modify as per https://github.com/dmwm/CRABClient/issues/5026

[2021-06-13 13:23] belforte opened #6647 "point DBS Migration debugging scripts to cmsweb-prod"
there is no DBS migration server on cmsweb.prod.cern anymore, need to change to `cmsweb-prod`
https://github.com/dmwm/CRABServer/blob/33abddad037a8c93d749f2594bb0abd97affae37/scripts/Utils/FindFailedMigrations.py#L67
https://github.com/dmwm/CRABServer/blob/33abddad037a8c93d749f2594bb0abd97affae37/scripts/Utils/RemoveFailedMigration.py#L19
https://github.com/dmwm/CRABServer/blob/33abddad037a8c93d74

[2021-06-13 13:26] #6647 closed

[2021-06-14 09:17] belforte commented on #6506
this was done.

[2021-06-14 09:17] #6506 closed

[2021-06-15 09:57] belforte opened #6649 "make S3 upload/download work in CMSSW_7* on SL6"
I am told that we need to keep supporting CMSSW_7* on SL6 since it is needed for pre-legacy MC.
But the curl version in there is too old to work with s3.cern.ch

See: https://github.com/cms-sw/cmssw/issues/34122

So in ServerUtilities.py we need to to detect if we are running with the old scram arch  `slc6_amd64_gcc481` and in that case source the latest curl setup
[code]
something like (pseudocod

[2021-06-15 11:33] belforte commented on #6649
actually
https://github.com/dmwm/CRABServer/blob/93a970025273194213d7b13d37fc351ba96d95a4/src/python/ServerUtilities.py#L832
uses `wget` instead of `curl` and so needs no change.
only https://github.com/dmwm/CRABServer/blob/93a970025273194213d7b13d37fc351ba96d95a4/src/python/ServerUtilities.py#L782 is affected

[2021-06-15 11:35] belforte opened #6650 "make ServerUtilities and RESTInteractions compatible with old python in CMSSW_7_*"
that releases runs python 2.7, but does not have some dependencies commonly used for porting to python3 like
`past` or `http.client`

besides of course #6649

[2021-06-15 12:10] #6650 closed

[2021-06-15 12:10] #6649 closed

[2021-06-15 13:36] belforte commented on #6640
the relevant WMCore fix is in WCore 1.4.9 which @ddaina is now testing. If all OK we will try again with
CMSSW_12_0_0_pre2_PYTHON3  (a release which defaults to python2 but has python3 in it)
and then with a Py3 workflow from CMSSW_11_3_0_pre2_PY3 (a release where python=python3).

[2021-06-15 14:49] ddaina opened #6653 "make CRAB jobs work with WMCore 1.4.9 tag"
CRAB job submissions with WMCore 1.4.9. tag fails with following error:
[code]

[2021-06-15 14:54] belforte commented on #6653
error above comes from task 210615_104636:cmsbot_crab_20210615_124631
link to job stdout
https://cmsweb.cern.ch:8443/scheddmon/059/cms283/210615_104636:cmsbot_crab_20210615_124631/job_out.1.0.txt

SPOOL_DIR on vocms059: /home/grid/cms283/210615_104636:cmsbot_crab_20210615_124631/SPOOL_DIR

directory PSetTweaks/ is present and properly filled on the SPOOL_DIR, and indeed on the schedd:
[code]

[2021-06-15 16:23] belforte commented on #6653
error comes from here
https://github.com/dmwm/CRABServer/blob/0812a64278494a34edd6804b14e24e07070e13ef/scripts/CMSRunAnalysis.py#L667-L675
and thus it is likely that a change in `scram` to make it use CMSSW env. instead of WMCore env. made `WMCore.zip` (which contains `PSetTweaks/` ) disappear from the path
I guess we'll need to talk with @khurtado
Hopefully there is either an alterative to `scram

[2021-06-15 16:25] belforte commented on #6653
the `scram` object is initialized in
https://github.com/dmwm/CRABServer/blob/0812a64278494a34edd6804b14e24e07070e13ef/scripts/CMSRunAnalysis.py#L922-L928

[2021-06-15 20:22] belforte commented on #6653
@khurtado @amaltaro can you summarize the changes that we need to do to use https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Tools/Scram.py  ? This looks too complex to figure out by me reading the code. Or should we simply use a different way to call [makeTweak](https://github.com/dmwm/WMCore/blob/c6ae3db3c7113eaad55888db91362bcf48ec66a5/src/python/PSetTweaks/WMTweak.py#L290

[2021-06-16 07:50] #6588 closed

[2021-06-16 07:54] amaltaro commented on #6653
@belforte I noticed your job PYTHONPATH does not contain the worker node's scratch area in it, only the zip absolute path in it:
[code]

Perhaps this would explain the:
[code]
?

I just had a look at one production job log, and here's how PYTHONPATH is defined:
[code]

[2021-06-16 09:23] belforte commented on #6653
thanks @amaltaro
I am not sure of the respective role of `/srv` vs `srv/job`, willl look.
But the point is that everything works with WMCore 1.4.6. Something has changed from that to 1.4.9. Having the WMCore.zip in $PYTHONPATH should indeed be enough.  Debugging these scripts is never pleasant, esp. if if means running grid jobs with added printouts... I was hoping that a high-level description of

[2021-06-16 09:28] belforte opened #6656 "Publication fails with HTTP Error 413: Request Entity Too Large"
investigating failed publication I have hit this
[code]
I suspect that publication actually failed and last line is a bug in `DebugFailedBlockPublication.py`

[2021-06-16 09:35] belforte commented on #6653
AFAICT in my case `WMCore.zip` is located in `/srv/` and therefore the `$PYTHONPATH` is OK
I believe that the problem comes when `scram` prepares the environment for running WMCore/RunTime, somehow it does it in a way different from what it was doing before, since it was changed to separate WMCore and CMSSW envs.

[code]

[2021-06-16 09:53] belforte opened #6657 "avoid to rely on bash filename expansion in Jenkins tests"
Somehow file name expansion works on lxplus, but not inside the containers we use for Jenkins jobs.

Actually it appears work when a filename containgin `*` is passed to
https://github.com/dmwm/CRABServer/blob/538a0309c76c7e79d5af38e36457ca7615f11bc1/test/testUtils.py#L48-L55
things work,
but when it is passed to
https://github.com/dmwm/CRABServer/blob/538a0309c76c7e79d5af38e36457ca7615f11bc1/test

[2021-06-16 10:02] amaltaro commented on #6653
There has been some changes on how the environment is dealt with when doing CMSSW/Scram operations. Perhaps @khurtado could enlighten us here.

Regarding the documentation, Kenyi wrote this WMCore wiki: https://github.com/dmwm/WMCore/wiki/List-of-PSet-tweaks-applied-by-WMAgent-during-job-runtime

[2021-06-16 10:06] belforte commented on #6657
we currently have no understanding of why this happens.
But as "blind mitigation" I will modiry tests so not to rely on using a `*` in the tarball name passed to `tar tf`

[2021-06-16 10:09] belforte commented on #6653
thanks @amaltaro and @khurtado . Let me read and try again :-)

[2021-06-16 12:02] belforte commented on #6657
I have prepared https://github.com/belforte/CRABServer/commit/4a7279309908863c53cf708c980127f704304afd which should work around the problem.
@ddaina is looking into more understanding and possibly a solution from the container-vs-lxplus point of view.
Let's see what we converge on.

[2021-06-16 12:02] belforte commented on #6657
I have prepared https://github.com/belforte/CRABServer/commit/4a7279309908863c53cf708c980127f704304afd which should work around the problem.
@ddaina is looking into more understanding and possibly a solution from the container-vs-lxplus point of view.
Let's see what we converge on.

[2021-06-16 12:41] belforte opened #6659 "list CMSSW releases and archs that we need to support"
Looking at what CMSSW releases users are running in CRAB in last mont [1]
I think we can make a list of all releases to test like below.  Picking for each major release
only the latest one, changes inside each release series are (mostly) only CMSSW internals
and will not affect dependencies which we rely on.

**NOTE** list to be reviewed/refined in light of https://cmssdt.cern.ch/SDT/cgi-bin/Relea

[2021-06-16 13:11] belforte commented on #6653
alas  https://github.com/dmwm/WMCore/wiki/List-of-PSet-tweaks-applied-by-WMAgent-during-job-runtime is a detailed descrition of the status "as of last year", i.e. the thing which works. But says nothing about what was changed. I am still in the dark as to why `from PSetTweaks.WMTweak import makeTweak` fails for me with new WMCore. Would it  be worth to check e.g. WMCore 1.4.7 or 1.4.8 to better lo

[2021-06-16 13:44] khurtado commented on #6653
Hello,

The scram environment gets rid of WMCore paths because it was creating conflicts in the WMCore(python2) + cmssw(python3) case.

The new changes basically require any pre/script depending on WMCore ([SetupCMSSWPSet](https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py) for WMAgent, or it seems [TweakPSet](https://github.com/dmwm/CRABServer/blob/08

[2021-06-16 14:51] #6657 closed

[2021-06-16 15:15] belforte commented on #6656
yeah.. bug in DebugFailedBlockPublication.py confirmed
this code needs a `return` after catching the exception.
https://github.com/dmwm/CRABServer/blob/748cfb0d363348fe05951350e5e870842f986776/scripts/Utils/DebugFailedBlockPublication.py#L97-L103

[2021-06-16 15:25] belforte commented on #6656
and the actual error
[code]
is very likely due to the size of the block (260MB !!)
[code]

[2021-06-16 15:32] belforte commented on #6653
thanks @khurtado . Sorry was busy with other stuff. Will try to make sure that I unederstand what you wrote and do proper changes to CRAB code, which of course does not use WMAgent prescript. I will let you know if I get lost.

[2021-06-16 15:37] belforte commented on #6656
Interestingly, I changed the scritp to use `cmsweb-prod` instead of `cmsweb` and error  changed to
[code]
I suspect that the `Request Entity Too Large` come from a limit in K8s. LIkely since Imran icreased the limit because it was not enough for CrabCache, maybe he set to 200MB...
So we may be back to old story that it is not possible to publish blocks which are too large.

[2021-06-16 15:43] belforte commented on #6656
that block has only 24 files ...

[2021-06-16 15:54] belforte commented on #6656
It is a bit odd that until now I found block publication failed with HTTP 502, but then running DebugFailedBlockPublication.py it was always reporting the files as published already.

[2021-06-16 15:55] belforte commented on #6656
maybe it depens on how busy DBS is ?

[2021-06-16 21:14] belforte commented on #6656
I see little alternative to the long-delayed effort to rewrite publication code so that in case of DBS error breaks the block in two and tries again ... iteratively.

[2021-06-17 08:14] ddaina opened #6662 "add 'crab kill' command test to clientValidation tests"
add `crab kill` command test to `clientValidation` jenkins tests:

- [ ] prepare long running task (longer than 20min.) for submission and store it in https://github.com/dmwm/CRABServer/tree/master/test/clientValidationTasks

- [ ]   add `kill` command test to https://github.com/dmwm/CRABServer/blob/master/test/container/testingScripts/clientValidation.sh

[2021-06-17 08:26] ddaina opened #6663 "kill submitted tasks after unsuccessful jenkins submissions"
currently Jenkins job https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_ExecuteTests/ works in the following way: it can submit tasks for 3 types of testing:

1. Client_Validation_Suite
2. Task_Submission_Status_Tracking
3. Client_Configuration_Validation

user who triggered the job can start any possible combination of testings. If at least one task submission failed (for instance, user started

[2021-06-17 12:00] belforte opened #6664 "make Publisher stop.sh "safe""
it should check that PublisherMaster is in the wait time between cycles, wait if not, and onlly stop when it is Idle.
Currentlly Publisher duty cycle is low, so this will be OK.
Will only worry when needed about something a' la TW where a STOP message is put in the PublisherMaster queue and acted upon automatically.

[2021-06-17 21:18] belforte opened #6666 "trigger tape_recall also for dataset partially on disk"
after discussing with  Nick Smith ( @nsmith- ), we agreed to enhance current tape recall
functionality in CRAB to also take care of datasets partially on disk .

Plan:
1. have a list of allowed data tiers in TW config (so we can start with e.t. MINIAOD* or similar, and only allow RAW or RECO if/when needed)
2. if dataset is not fully on disk, CRAB will treat it like nothing on disk. Make a Rucio r

[2021-06-18 09:52] #6664 closed

[2021-06-18 10:36] belforte opened #6667 "make crabserver UI properly refresh status"
since UI runs jquery inside the browser
https://github.com/dmwm/CRABServer/blob/master/src/script/task_info.js
 even forcing releoad of the page with bache bypassing only force re-load of the jquery script itself, but values loaded from e.g. tables in the CRAB DB stay stuck with the status of intiial load until browser cache on disk is cleared, which may require days !

A proper solution would be

[2021-06-18 18:28] nsmith- commented on #6666
I believe we can safely start with `*AOD*` as allowed data tiers

[2021-06-21 10:06] ddaina commented on #6663
@belforte let's say someone started 3 types of testing, i.e. `Client_Validation_Suite, Task_Submission_Status_Tracking, Client_Configuration_Validation `.

Task successfully were submitted for `Task_Submission_Status_Tracking` and `Client_Validation_Suite`, but in the middle of task submission for `Client_Configuration_Validation`, one task submission failed.

In this situation, should `taskSubmis

[2021-06-21 12:51] #6646 closed

[2021-06-21 13:08] belforte commented on #6663
it depends how closely tied those 3 tests are. If they are clearly separated in all steps, it is OK to kill only one. If you have single script which does many things I would not make it more complex with lots of if conditions and abort the whole flow. All in all we expect such submissions to be extremely rare, bugs aside. Can surely review if become common and we find out that we need to re-kick

[2021-06-21 13:23] belforte commented on #6667
first test of this showed that accepting additional `_` argument is tricky, simply adding
[code]
in the `vadlidate` method REST*.py API's works if the `_=timestamp` is there, but it is not, still passes a `_=None` to the actual API code making them fail with messages like
[code]

More care is needed.

[2021-06-22 06:55] belforte commented on #6441
on Hold waiting to see if problem is solved. I.e. number of files in NEW should go down as we drop old partitions and do not increase anymore

[2021-06-22 07:03] belforte commented on #6656
i modified https://github.com/dmwm/CRABServer/blob/master/scripts/Utils/DebugFailedBlockPublication.py to split that failing block in two, but it kept failing. Simply changed from immediate error (http body too large ?) to failing after 5min (likely could not transfer al stuff withing FE timeout). Also the code is tricky and hard to test properly.

So I am falling back to:
- [ ] record for every p

[2021-06-22 07:04] belforte commented on #6656
better have  an ad hoc issue for that and close this since the origin of the  HTTP Error 413: Request Entity Too Large is well understood

[2021-06-22 07:04] #6656 closed

[2021-06-22 07:06] belforte opened #6670 "detect too-large blocks before inserting in DBS and reduce them"
see #6656

Modifty https://github.com/dmwm/CRABServer/blob/master/src/python/Publisher/TaskPublish.py to:

- [x] record for every publication block size, time, status and size of intitial file list (which has the lumi info and is the largest component of the block)
- [x] see if I can figure out a threshold for size
- [x] compute file-list size in TaskPublish before inserting into DBS and if too la

[2021-06-22 07:09] belforte commented on #6670
it is a good time to also take care of #6616
Goal is to get rid of "fake" Publication error reports in grafana to avoid wasting time in investigating.

[2021-06-22 16:09] belforte opened #6671 "fix status query via HTCondor"
when task fails to bootstrap (webdir not found in DB), crab status falls back to asking
CRAB REST to check dagman bootstrap jobs status (usually HOLD) and hold reason via a call
`/workflow?subresource=taskads&workflow=<taskname>`
which is handled in
https://github.com/dmwm/CRABServer/blob/a4ebe0b79fcfe94e96c65caf8f8bb7d1279d8e53/src/python/CRABInterface/HTCondorDataWorkflow.py#L45-L71

But it turn

[2021-06-22 16:10] #6671 closed

[2021-06-22 20:29] belforte commented on #6670
recording code added in my branch https://github.com/belforte/CRABServer/tree/record-publication-size-and-time-for-6670
now under test in preprod via `./start.sh -g`

[2021-06-23 12:21] belforte commented on #6616
after looking at things in detail, there is no automatic retry of publication.
But users can do `crab resubmit --publication` which will reset all files with publication status = FAILED to NEW via
https://github.com/dmwm/CRABServer/blob/b358815cc010711829d8c6d12269cd3a6b37af9e/src/python/CRABInterface/DataWorkflow.py#L269
and
https://github.com/dmwm/CRABServer/blob/b358815cc010711829d8c6d12269cd3a

[2021-06-23 12:23] belforte commented on #6582
duplicate of #6616

[2021-06-23 12:23] #6582 closed

[2021-06-23 12:52] belforte commented on #6616
this publication retry thing is a bloody mess.
There is an ad-hoc API in
https://github.com/dmwm/CRABServer/blob/b358815cc010711829d8c6d12269cd3a6b37af9e/src/python/CRABInterface/RESTFileTransfers.py#L218-L236
but the `binds` settings in there do not match what actually used in the SQL
https://github.com/dmwm/CRABServer/blob/b358815cc010711829d8c6d12269cd3a6b37af9e/src/python/Databases/FileTransfe

[2021-06-23 13:28] belforte commented on #6616
I think that the only viable option is to let user do retries via `crab resubmit --publications` so that
1. it is only done when needed (in many cases users do not bother to disable publication, but ignore it)
2. there is a natural limit to frequency of issuing in and overall number of retries
3. if retries keep failing, users will notice us

and work along lines of #6670 to reduce the risk of "pe

[2021-06-23 13:28] #6616 closed

[2021-06-23 14:03] belforte opened #6674 "add docker system prune -af to CRAB PR Jenkins test"
see
https://cms-dmwm.slack.com/archives/C04KWAXHU/p1624450270060000

[2021-06-23 15:43] belforte commented on #6653
Hi @khurtado , I finally got to try this, but atm I simply do not find getTypeHelper as attribute of my WMStep.
Can you say how I should modify these lines ?
https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py#L684-L694
If I call `cmssw.step.getTypeHelper()` after that, I get
[code]

should it help, here's the description of my `cmssw.step` ob

[2021-06-23 15:48] belforte commented on #6653
and these are my imports
[code]

[2021-06-23 20:22] belforte commented on #6653
Hi @khurtado @amaltaro
in any case , I tried to understand a bit the code in https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py and I thing that getting the output module list is not relevant. The goal here is simply to have WMCore RunTime to Tweak the input part of the PSet, somehow the "old way" had the need to re-create output modules in t

[2021-06-23 20:30] belforte opened #6675 "make status_cache.txt a PKL file"
ref: https://github.com/dmwm/CRABClient/issues/5032

investigate if this is possible, of find a solution in client with existing format
changes must be done in
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/cache_status_jel.py
and
https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/AdjustSites.py#L238-L245

[2021-06-24 09:56] belforte commented on #6675
first problem:
cluster and proc returned here by condor
https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/task_process/cache_status_jel.py#L91
have the format
[code]
but `8774325L` and such fail to be handled by `json.dump()`

[2021-06-24 10:44] belforte commented on #6675
so will switch from JSON to pickle !

[2021-06-24 15:51] belforte opened #6676 "make it possible again use have output files which do not end with .root"
this functionality is very much needed by users, but went lost with
https://github.com/dmwm/CRABServer/commit/805191a1c1b284ef51fbd1702e6ccd47a368d3ce
while addressing
https://github.com/dmwm/CRABServer/issues/6629

for some reason which I do not clearly remember I had to use strict LFN validation instead of allowing anything that could eventually match the more loose
https://github.com/dmwm/CRABS

[2021-06-24 16:02] belforte commented on #6675
Now I need to modify client in order to accept either old or new format for `cache_status.txt`

[2021-06-24 21:12] belforte commented on #6676
a possible fix to TaskWorker for  this is now in my branch https://github.com/belforte/CRABServer/tree/allow-again-free-format-output-files-fix-6676
and currently running in crab-preprod-tw01

[2021-06-25 08:11] belforte commented on #6676
things look good, making a PR

[2021-06-25 11:26] belforte opened #6678 "Jenkins checkStatus project should verify publication"
currently (hope I got the right pointer to code)
https://github.com/dmwm/CRABServer/blob/master/test/container/testingScripts/statusTracking.py
only checks that jobs were completed to declare success.
Should (optionally?) extend to check that publication was also successful.

It would also be good to allow more retries for this project since at times those tasks take long to run.

[2021-06-25 11:30] #6676 closed

[2021-06-25 12:09] belforte commented on #6678
Side note: when we run Jenkins tests, tests are created via `python CRABServer/test/makeTests.py`. Which CRABServer version is used in that case ? Jenkins parameter page does not have a box for it:
https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_ExecuteTests/build?delay=0sec

sort of "how do we test, and then deploy, a new version of the tests ?"

[2021-06-25 12:15] belforte commented on #6675
- [ ] need to check how this change will affect the UI. Can not use pickle in there. Maybe make an additional simple summary file for displaying in there and the full picke with all details for crab status ?

[2021-06-25 15:40] belforte commented on #6675
have something that works for client status.
Problem now is to properly define the transition path.
Need to update client before we can update TW, but this is quite a change push in w/o extended testing.
Maybe make two status_cache files with both formats ?
Will allow TW and client to be updated (and bug-fixed) independently.

I keep thinking.

[2021-06-25 21:27] belforte commented on #6675
I am going for the two-files solution. Clean, simple and flexible. One day we will need to cleanup, as usual.

[2021-06-25 21:51] belforte commented on #6675
https://github.com/belforte/CRABServer/commit/872887179c86330e88dd9b28abd4bc4f9473c3fd sort of works. But it is too cured, parses twice the condor log, I do not want to risk problems with that.
Should separate the parsing part and only duplicate the persisting on file.

Need a bit more time.

[2021-06-26 19:55] #6675 closed

[2021-06-29 06:45] ddaina commented on #6678
if Jenkins tests are started using `prod` or `preprod` `CRABClient_version`, then `CRABServer/test/makeTests.py` is taken from the HEAD. If `GH` is used as `CRABClient_version` and `CRABServer_tag` is set, then provided [tag](https://github.com/dmwm/CRABServer/blob/master/test/container/testingScripts/setupCRABClient.sh#L30) will be used for generating tests.

I think this is not good, because ide

[2021-06-29 07:12] belforte commented on #6438
time to work on this. moving to TOP

[2021-06-29 07:13] belforte commented on #6666
WIll do this next after #6438

[2021-06-29 07:20] belforte commented on #6461
untarring stuff inside jscript UI looks too much tricky and complex. Better take a big breatch and restructure handling of debugfile tarball by uploading individual files into the S3 task directory and then pull them individually as needed via the PSU trick.

Note that due to SameOriginPolicy in jquery/ajax etc. (which @sharmaprajesh and @belforte tried to work around but in the end requires chang

[2021-06-29 07:23] belforte commented on #6670
on Hold, waiting for more Publication errors to appear and check diagnostic information for them in the new file `/data/srv/Publisher/logs/STATS.txt`

[2021-06-29 07:45] belforte commented on #6678
thanks for the explanation. I think we should stay with current behavior that `CRABServer/test` files are picked form the HEAD every time Jenkins runs. We need  a policy/procedure for rebuilding the container there, other than "Daina does it when she says it needed", but it is not urgent. Bottom line is that [this](https://github.com/dmwm/CRABServer/pull/6677/commits/c7a9260f323e92e3eef513ccbc54de

[2021-06-29 07:54] belforte commented on #6670
here are publication lasting more than 100 sec in last days, unsurprisingly same user/task(s) as last errors, but initial side of request (filestructSize)does not look very telling, sigh
[code]

[2021-06-29 08:02] belforte commented on #6670
looking better, `filestructSize` appears a very bad metric, for 1MB intitial structure the publication time ranges from immediate to 35 seconds
[code]

[2021-06-29 08:04] belforte commented on #6670
I need to find a better indicator.
So am removing the OnHold flag. and wiill try to find out what makes e.g. blockSize to be much bigger than initial size. Maybe simply look at number of lumis ? It is possible that some blowing up just comes from different ways of listing them on FJR vs. DBS blockdump format.

[2021-06-29 09:11] belforte opened #6680 "make it possible to pick CMSSW release/arch for Jenkins test from a list"
in https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_ExecuteTests/build?delay=0sec
there should be a box to say if to pick CMSSW release from a free-text field (so we enter whatever we want)
or to pick it from a list  of pre-defined ones to test as per https://github.com/dmwm/CRABServer/issues/6659
We also need to set the scram arch in a similar way i.e. the CHOICE list should have a list of rele

[2021-06-29 09:12] belforte commented on #6659
list was done and looks good. We need to start using it.
so I opened an ad-hoc issue https://github.com/dmwm/CRABServer/issues/6680

[2021-06-29 09:16] belforte commented on #6678
Indeed I verified that Jenkins test which I just submittted is using the new code for outputFiles
https://cmsweb.cern.ch:8443/scheddmon/0137/cms283/210629_090116:cmsbot_crab_outputFiles/debug/crabConfig.py.
Can "close" this digression.

[2021-06-29 09:34] belforte opened #6681 "complete list of Client Configuration tests"
finalize the ConfigurationValidation test by adding the tests listed in
https://docs.google.com/spreadsheets/d/1xYeXGCzfpo_PhnsRkI9EPf5z4ZOlj2v1_REvwNuew7w/edit#gid=0
and initially marked as "can wait"
i.e. these configuration parameters:
- [ ] pyCfgParams
- [ ]  allowNonValidInputDataset
- [ ] publishWithGroupName
- [ ] voGroup
- [ ] **voRole**

The first priority is voRole since HC uses it, we m

[2021-06-29 11:26] belforte commented on #6345
Is very important to track single transfers, not only full jobs status, in FTS to avoid resubmitting and re-transferring 100 files where only 1 failed !
See also https://cern.service-now.com/service-portal?id=ticket&table=incident&n=INC2838434

[2021-06-29 12:23] belforte commented on #6670
added #lumis to stats via https://github.com/belforte/CRABServer/commit/957a3b7a883069cb505e2b52083f508abc44cad7 but lumi list in the initial structure (i.e. `dbsFiles` list) is already in same format as it will be in `blockDump` so I still do not see how block can get bigger. Old input json files are not saved, so can't reproduce cases like this
[code]
maybe simply a rounding effect ?
Let's see w

[2021-06-29 13:12] belforte commented on #6681
unsurprisingly, first attempt to include voRole in the test failed. Error is in retrieving credential from myproxy. Note that this was working when I submitted with my DN. So I will have to investigate details.

full log below [1]
[code]

[2021-06-29 13:35] belforte commented on #6681
OK. I had forgotten to add Shahzad (i.e. cmsbod) to users authorized for production role in VOMS. Trying again.

[2021-06-29 14:11] belforte commented on #6681
voRole test works now.

[2021-06-29 16:07] belforte commented on #6438
in the initial HN thread I incorrectly assumed that lumimask is applied first and therefore users could skip such bad files in that way. But in reality lumimask is only applied in the Splitter step.
The submission is instead stopped in the DBSDataDiscovery step by
https://github.com/dmwm/CRABServer/blob/92be0c88ac214f283ca6260562d7be3a7e2548be/src/python/TaskWorker/Actions/DataDiscovery.py#L55-L59

[2021-06-29 19:55] belforte commented on #6666
example in https://cmsweb.cern.ch/crabserver/ui/task/210617_134032%3Ashilpi_crab_SinglePhotonRun2017F09Aug2019UL2017v1AOD
which uses as input `/SinglePhoton/Run2017F-09Aug2019_UL2017-v1/AOD` (DAS pointer:
https://cmsweb.cern.ch/das/request?instance=prod/global&input=site+dataset%3D%2FSinglePhoton%2FRun2017F-09Aug2019_UL2017-v1%2FAOD )

[2021-06-29 20:15] belforte commented on #6666
commit https://github.com/belforte/CRABServer/commit/ff0dd9af95cc3de4016b7d351a15fb07756e92dd always triggers a tape recall. Now need to add a filter on data tier.

[2021-06-29 21:05] belforte commented on #6438
above commit https://github.com/belforte/CRABServer/commit/3652ddd727d47490f39c934e33250df83bf53a6f implements 1. and it is now included in https://github.com/dmwm/CRABServer/pull/6684

[2021-06-29 21:19] belforte opened #6685 "make a version of S3 utils in ServerUtiliies based on gocurl"
could start with:
* if `gocurl` is in the $PATH, use that in place of curl

that will allow to test easily in client.

We will decide later if we want to use it in place of current `curl/wget` also on TW and schedd

@ddaina if you want to work on this, fine with me, just change the Assignee. But it would be nice to give a feedback to Valentin very soon.

[2021-06-29 21:27] belforte commented on #6640
On Hold waiting for WMCore developers help, see: https://github.com/dmwm/CRABServer/issues/6653

[2021-06-29 21:28] belforte commented on #6653
on hold waiting for WMCore developers help

[2021-06-29 21:31] belforte commented on #6204
this is now well covered by a few other more detailed issues. No need to have it around as a "cover".

[2021-06-29 21:31] #6204 closed

[2021-06-30 06:06] ckoraka commented on #6438
@belforte thank you very much for following up on this issue! What I would have liked to happen is somehow simply skip the files with missing parent , so from the three solutions you propose I would would say [1] indeed best describes this, though I fully agree with your point [3], that files with no parent should not be valid the first place.

[2021-06-30 09:17] ddaina commented on #6685
as agreed during CRAB meeting, I will test `gocurl` to upload file to `s3` using `presignedURL`. I'll report results here by tomorrow morning.

[2021-06-30 09:24] belforte commented on #6438
thanks @ckoraka . I got convinced that this is the best solution, in the end is the same output that one would get if those files were marked INVALID in DBS.

[2021-06-30 09:45] belforte commented on #6670
since new code is in, these are the case where publication time was >10 seconds
[code]
at first sight a cut at 10K lumis per block looks appealing

[2021-06-30 09:52] belforte commented on #6670
OTOH there are lines like this
[code]
where 670K lumis were digested w/o a problem. Somehow there's something special and harmful in publication from tasks like `210624_184927:ktaeun_crab_MC_generation_B0ToKD_ToKPiPi_MuFilter_TuneCP5_13TeV-pythia8-evtgen_24Jun2021` which I still do not pin point.

[2021-06-30 11:46] belforte commented on #6666
filter added via https://github.com/dmwm/CRABServer/pull/6684/commits/8266f0df6e37c902ec3460540b982550844ce64c
and list of allowed tiers added to TaskWorkerConfig.py via https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocmsglidein/-/commit/a6c03874bfb2dc1b959d20772f88fd20c0807d63

[2021-06-30 11:56] #6438 closed

[2021-06-30 11:58] belforte commented on #6666
solved via https://github.com/dmwm/CRABServer/pull/6684

[2021-06-30 11:58] #6666 closed

[2021-06-30 17:34] khurtado commented on #6653
@belforte

Without considering the output modules part, what needs to change is mainly, this line:
https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py#L714

that would need to call [runtime.preScripts](https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py#L711) instead, like this:
https://gi

[2021-06-30 17:36] belforte commented on #6653
thanks @khurtado I'll give this a try tomorrow

[2021-06-30 21:18] ddaina commented on #6685
@belforte,

I've looked into the `s3` `upload` using `presignedURL`. Long story short - `gocurl` works and file was uploaded successfully.

For testing purpose, I submitted one crab task and then from the task log file took command that was executed to upload file to `s3`. Here is the command:
[code]
and this curl command maps to this `gocurl` command:
[code]

I removed from the command `AWSAccess

[2021-06-30 21:42] ddaina commented on #6685
@belforte,

I've looked into the `s3` `upload` using `presignedURL`.

For testing purpose, I submitted one crab task and then from the task log file took command that was executed to upload file to `s3` (before testing I delete associated file from `s3`). Here is the `curl` command:
[code]
then I mapped this curl command into this `gocurl` command:
[code]

However, current go curl code did not wor

[2021-07-01 06:25] belforte commented on #6685
thanks @ddaina . I do not understand what this line exactly means
[code]
but I think this should be reported to Valentin and let him figure the way he likes best to deal with it, including the odd error message.
OTOH could you check that the upload worked ? I.e. the file in the container was changed ?
Our PreSignedUrl's are valid for 60min (incidentally this means that it is safe to copy/paste hem

[2021-07-01 06:28] belforte commented on #6685
even better. We can use directly boto3 to generate ad-hoc PSU which write in a test bucket and hand Valenting also an URL to list content since he does not have OpenStack keys for CRAB project. I think I have core ready in my test notebook.

[2021-07-01 07:01] ddaina commented on #6685
It simply splits line into 2 parts using first found `=` operator.

agree.

yes, upload worked fine.

[2021-07-01 08:29] ddaina commented on #6685
FYI @vkuznet. Upload to `s3` using `gocurl` worked with a slight modification to this line https://github.com/vkuznet/gocurl/blob/ce93c98d345351fb31e1663121bc569d4ae0977b/main.go#L107 . Detailed explanation can be seen in the comment above: https://github.com/dmwm/CRABServer/issues/6685#issuecomment-871746489

[2021-07-01 09:40] belforte commented on #6685
@vkuznet for your testing convenience I have prepared a couple of S3 PresignedUrl's which are valid for 1 year. You can reuse them freely and every time the existing file will be overwritten.
I put those here in `curl` format (for my convenience !). I can generate more if you like. You can change the input file name after the `@` but not the filename (`key`) on S3 side.
[code]
[code]
There are two

[2021-07-01 09:59] belforte opened #6686 "fix wrong usage of `lstrip` in RESTCache"
this code
https://github.com/dmwm/CRABServer/blob/1230090d09b07868e846a38e9799c23320743158/src/python/CRABInterface/RESTCache.py#L221
is simply wrong.
Since lstrip argument is not a substring, but a set of characters to be removed !
https://docs.python.org/2.7/library/stdtypes.html?highlight=lstrip#str.lstrip

So that line can result in extra chars to be removed after the `/` in sort of random way

[2021-07-01 10:22] #6686 closed

[2021-07-01 10:32] belforte commented on #6685
I fixed the problem with `lstrip` and am building a new tag with it. In the meanwhile I switched cmsweb-test2 to run code from GH master so that it works properly now:
[code]

[2021-07-01 16:07] belforte commented on #6653
Sorry @khurtado I have been changing so many things lately in my dev. environment that could not get back yet the one needed for testing this. Will keep trying in next days.

[2021-07-01 16:32] belforte commented on #6345
better to re-write THE PLAN as
* should check individual file status when job is in ACTIVE, in addition to when it is in  final state (FINISHED, FINISHEDDIRTY, CANCELED, FAILED) so that if some trasnfers in a job are stuck/slow, we still properly handle the files which completed.

References:
* https://fts3-docs.web.cern.ch/fts3-docs/docs/state_machine.html
* https://cern.service-now.com/service-p

[2021-07-01 16:36] khurtado commented on #6653
@belforte No problem! Please, keep me posted.

[2021-07-01 16:36] belforte commented on #6345
when running larger tasks with more xfers in each FTS job e.g.
https://cmsweb-test2.cern.ch/crabserver/ui/task/210701_143947%3Acmsbot_crab_20210701_163940
I find that a lot of transfers fail to find the source file

INFO    Thu, 01 Jul 2021 16:58:54 +0200; Getting source file size
ERR     Thu, 01 Jul 2021 16:59:00 +0200; Non recoverable error: [2] globus_ftp_client: the server responded with an er

[2021-07-01 17:46] vkuznet commented on #6685
I fixed the code you pointed out and now it is committed. I put new executable to /afs/cern.ch/user/v/valya/public/gocurl too. But, when I run it I get some error coming from your crabserver, see
[code]

Please try `gocurl` from your end since I think I lack of some access rights to upload the file.

[2021-07-01 21:07] belforte commented on #6685
thanks Valentin !
If I try, I get exactly same result. And indeed file on S3 is not replaced.
`curl` works, `gocurl` does not.
for odd that it sounds, it seems something different in the way curl and gocurl talk to the remote host.
I see that you are in vacation now, we can surely get back to this in August !

[2021-07-01 21:35] belforte commented on #6685
from looking at gocurl -v 2 and comparing with curl --trace I suspect that the problem is "file=@/tmp/vk.test", somehow it does not really send the data.
I wonder if in here
[code]
the message `error <nil>` comes from the gocurl executable, not from the s3.cern.ch server

[2021-07-02 07:05] belforte opened #6689 "check effect of WMCore REST changes for PY3 (adapt crab branch 1.4.6.crab1 ? replace it ?)"
see https://github.com/dmwm/WMCore/pull/10601

[2021-07-02 11:40] belforte commented on #6345
I found a likely explanation and will test a fix:  https://github.com/dmwm/CRABServer/pull/6688/commits/c8ab6ca9c4df9dac926c7e68c11b62fc65a7b2f4

[2021-07-02 13:49] belforte commented on #6345
that commit https://github.com/dmwm/CRABServer/commit/13f15063107655c8d54ffc5fab906c4b119e8061 is not sufficient, now individual transfers are tracked but FTS jobids are removed from the list of jobs to track too soon. Need to clarify things in
https://github.com/dmwm/CRABServer/blob/e02a4371dbe2c385781d1fa302220dc8ed1fcb57/scripts/task_process/FTS_Transfers.py#L516-L532

[2021-07-02 14:13] belforte commented on #6653
more info, the log has this before the exception
[code]
the reference it `/usr/bin/python` does not sound great, it is possibly due to the fact that I am running all of this locally with pdb (can't debug via grid jobs !). But it does not like the error above may be due to one python or another.

[2021-07-02 14:17] khurtado commented on #6653
Hopefully it is due to the interactive environment. Can you load COMP python and see if you get the same error?

[code]

[2021-07-02 14:17] belforte commented on #6653
anyhow it is pretty clear that https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py has not called https://github.com/dmwm/WMCore/blob/ec888c374d727f5ec3614d4e5e707373fb9e2cff/src/python/WMCore/WMRuntime/SandboxCreator.py before the invokeCommand which fails.
@khurtado on your side

BTW, if you want to give it a try yourself, here are instructi

[2021-07-02 14:18] belforte commented on #6653
Sure. I will load COMP env. I was taking a shortcut to run CMSRunAnalyisis.py directly via `python` but I can also use the full script which exactly replicates what happens on the WN

[2021-07-02 14:24] belforte commented on #6653
got same error[2], but it was running sl6 version of python[1] ,not sl7. Intriguing....

[1]

==== Python discovery STARTING ====
Job requires OS: , thus setting ScramArch to: slc6_amd64_gcc493
WMAgent bootstrap: COMP Python path is: /cvmfs/cms.cern.ch/COMP/slc6_amd64_gcc493/external
WMAgent bootstrap: latest python release is: 2.7.13
WMAgent bootstrap: found python2 at..
/cvmfs/cms.cern.ch/COMP/s

[2021-07-02 14:29] belforte commented on #6653
I set `export REQUIRED_OS=rhel7` before running the script, so it uses `/cvmfs/cms.cern.ch/COMP/slc7_amd64_gcc630/external/python/2.7.13-comp/bin/python -m WMCore.WMRuntime.ScriptInvoke WMTaskSpace.cmsRun SetupCMSSWPset` but got same error

[2021-07-02 14:34] belforte commented on #6653
anyhow it is pretty clear to me CRAB wrapper ( https://github.com/dmwm/CRABServer/blob/9691a148f36244f52fc1b02ff23784e08ffa5594/scripts/CMSRunAnalysis.py ) has not called the WMCore SandboxCreator ( https://github.com/dmwm/WMCore/blob/ec888c374d727f5ec3614d4e5e707373fb9e2cff/src/python/WMCore/WMRuntime/SandboxCreator.py ) before the invokeCommand which fails. What should be in that sandbox ?

[2021-07-02 15:17] belforte commented on #6653
hmmm..
maybe I misunderstood @khurtado 's instruction

https://github.com/dmwm/WMCore/blob/1.4.9/src/python/WMCore/WMSpec/Steps/Executors/CMSSW.py#L85-L86

and I just tried to do
[code]
while I should have done something to instead call the old `TweakPSset.py` but I have no idea how to pass arguments to it in that way, and still, the preScript will try to call it via invokeCommand which will need

[2021-07-02 15:26] khurtado commented on #6653
@belforte To try the twiki guide,  since I don't have a spool directory, can I steal yours from `/afs/cern.ch/work/b/belforte/CRAB3/TC3/PY3/crab_20210701_180826` ? (not sure if `cp` is enough for that)

With WMAgent, WMSandbox is a directory with the jobpackage and WMWorkload, plus the job steps.
E.g.:

[code]

W.r.t the changes, I would change the following lines: https://github.com/dmwm/CRABServ

[2021-07-02 15:35] belforte commented on #6653
thank @khurtado
in a word: YES !

that said, being Friday 5:30pm and tomorrow I go hiking in the mountains.. I'll do next tests on Sunday (rains is forecasted then :-)  ).

As to piggy backing on my crabjobs, sure. I copied the whole directory to my public AFS, you should be able to `cp -r`it from there :
[code]
beware that CMSRunAnalysis.py in there has been modified to do the various tests.

[2021-07-02 15:42] belforte commented on #6345
current code is basically written to mark status of file transfers just once, when job is over, and at the same time remove job from list of fts jobs to watch.
It needs a good rewriting to change it to go through jobs multiple times while they are ACTIVE and mark files as job progresses. Which is possibly not so much important in FTS Reuse=True times, other than the fact that jobs can get stuck du

[2021-07-02 19:57] belforte commented on #6653
hmm...
as feare simply replacing `SetupCMSSWPset` with `TweakPSet.py` still fails because the WMSandbox is not there and therefore the WMRuntTime fails. That error happens before the specific script, be that5 SetupCMSSWPser.py or TweakPSet.py is executed.

I suspect I'd have better luck by trying to execute `TweakPSet.py` indepenently. A naive test [1] fails, but maybe there's just some env. to se

[2021-07-02 20:42] belforte commented on #6653
i played a bit with inserting simple
[code]
which of course would not massge input spec as needed, but to get a sense of whether this is viable.
Alas the execution step fails with
[code]
i.e. at this line
[code]
which results in
[code]
indicating an unhealthy mix of CMSSW and WMRuntime envs.
By the way this unpacking is not needed since CRAB has already unpacked the tarball at this point.
And noti

[2021-07-03 17:23] vkuznet commented on #6685
@belforte , the `error <nil>` means there is no error (I just print it in case if I'll do see the error).

Meanwhile, I made some additional changes and it would be nice if you'll try it out since I get the same access defined from both `curl` and `gocurl` clients. I think my credentials are expired. Could you please give it a shot. I updated both github tree and put new executable to `/afs/cern.c

[2021-07-04 15:41] belforte commented on #6685
thanks @vkuznet . I still have no idea why you get an error with `curl`, it works finely for me and we are using it currently to upload flles everytime someone issues a crab submit !. You can certainly try a crab submit yourself and then look in crab.log for details.
Anyhow, when I try the latest gcurl I get exactly same behavior as before, ony difference is that if I use -v 2 the full input file

[2021-07-04 15:47] belforte commented on #6685
Maybe s3.cern.ch is particularly picky about some details of http post protocol. I wil look for a case where se use POST with CRAB so the call goes via cmsweb, and and can start testng that. We do not use forms in CRAB, but ,, it is not so important to solve this right away. It may be easier if you get your own S3 container and further debug with CERN S3 support.

[2021-07-04 15:58] belforte commented on #6685
this thing is very insersting an very promising for use, but my first priority still is to make CRAB workflows run in python3

[2021-07-05 08:32] ddaina commented on #6685
@belforte  @vkuznet ,

This command works with go curl.
[code]
Reason why it did not work for you:

1. somehow when you were trying to upload via `curl`, you had this policy in the command:
[code]
while when you were trying to upload via `gocurl` policy become (they are different):
[code]
and this policy which was used with `gocurl` was originally meant to be used to upload `"key=valentin/testfile

[2021-07-05 09:20] belforte commented on #6685
I see, bottom lines:
1. Valentic's code is perfect as usual, thanks !
2. Daina is a genius ! THANKS !!!
3. Stefano is an old dump ass :-)
4. Amazon people be damned in ethernal for creating those stupid string which minimally differ from each other

I have some paperword to do, then will kneel, pour ashed over my head, and verify all of this.

[2021-07-05 09:48] belforte commented on #6685
quick testing from my self indicates that this message about Kye not specified
[code]
appears sort of at random about once every 3 times (by simply repeating seame gocurl) command, regardell of the space before `myTest` in the header.

[2021-07-05 09:49] belforte commented on #6685
OTOH, uploading same file repeadetely is not use case we have :-). It mau be a feature of S3 protocol tha tha key (i.e. object path in the bucket) is momentarely invalidated while it is bening uploaded.

[2021-07-06 10:00] belforte commented on #6464
was done by @sharmaprajesh for all schedd's.

[2021-07-06 10:00] #6464 closed

[2021-07-06 15:25] #6345 closed

[2021-07-06 15:54] belforte commented on #6653
I asked @davidlange6 about `edm_pset_tweak.py`
and here's the answer
[code]

[2021-07-09 10:03] belforte opened #6690 "TW stop.sh does not detect properly completed processes"
keeps waiting claiming processes are still running, but those are defunct

[code]

[2021-07-09 10:15] belforte opened #6691 "Put a protection against MC task asking for too many jobs"
see this e-log thread
https://cms-logbook.cern.ch/elog/Analysis+Operations/3522

most relevant text:
[code]

[2021-07-12 10:55] belforte commented on #6674
@ddaina do I understand correctly from your reporting last wednesday that this is done ?

[2021-07-12 11:32] ddaina commented on #6674
last week I reported that docker images older than 1month from CRAB TW machines are deleted: https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocmsglidein/-/commit/3fc38455c568a11867f1c22e96ef79ca8b0b3b8c

but problem described in this issue is solved as well.

[2021-07-12 11:32] #6674 closed

[2021-07-12 16:45] belforte opened #6692 "bug in ConfigurationValidation test"
Looks like the way this is used in the *check tests
https://github.com/dmwm/CRABServer/blob/109b0f98aa41acbce128c53561cea53685da2e85/test/testUtils.py#L48
is wrong, e.g. in a test which ran today [1],  `useParent` check failed in
https://github.com/dmwm/CRABServer/blob/109b0f98aa41acbce128c53561cea53685da2e85/test/makeTests.py#L320
even if task completed all OK. Looks that the problem is that job

[2021-07-12 20:35] belforte commented on #6692
this line
https://github.com/dmwm/CRABServer/blob/109b0f98aa41acbce128c53561cea53685da2e85/test/makeTests.py#L320
should be
[code]
etc.

[2021-07-14 09:30] belforte opened #6693 "TapeRecallStatus recurring action fails with UnboundLocalError"
from e.g.
`/data/srv/TaskManager/logs/tasks/recurring/TapeRecallStatus_210714-0816.log`
the procedure starts working on the list of tasks but in the middle crashes on an error and some tasks are not checked.

[code]

[2021-07-14 09:32] belforte commented on #6693
example task "letft unchecked" likely because of this:
https://cmsweb.cern.ch/crabserver/ui/task/210711_084818%3Adwalter_crab_TnPPairTrees_UL_2017C_V13

Rucio has staged out all files since July 11, but task is still in TAPERECALL and this task name does not appear in taperecall logs.

[2021-07-14 10:09] belforte commented on #6693
problem happens in
https://github.com/dmwm/CRABServer/blob/109b0f98aa41acbce128c53561cea53685da2e85/src/python/TaskWorker/Actions/Recurring/TapeRecallStatus.py#L128-L132
and is due to the fact that when crabCache is S3, the call to myproxy to grab the user credential is not done
https://github.com/dmwm/CRABServer/blob/109b0f98aa41acbce128c53561cea53685da2e85/src/python/TaskWorker/Actions/Recurring

[2021-07-14 10:31] belforte commented on #6693
hacked a fix in production, should be unstuck now:
[code]

[2021-07-14 11:52] #6693 closed

[2021-07-14 12:46] belforte commented on #6653
update on things I tried in last week, from meeting minutes:

   Stefano tried a few things (directly run old CRAB/../TweakPSet, do w/o WMCore, try to use pieces
      of WMCore/src/python/*Tweaks* w/o WMCore/Runtime..) nothing worked "easily", some understangind
     of new WMCore runtime is needed or adding a utility to "fixUp" crab task PSet.pkl to add
     missing attributes like process.sourc

[2021-07-14 13:25] belforte commented on #6670
I keept finding indication that time to insert a block (and hence chance of failure) is not predictable
based on block size and number of lumis alone. Surely the presence of parents matters, but possibly also exactly what those parents look like.

I further suspect that when http calls timeout at 5min, it is possible that the full block was delivered to DBS server anyhow, and IIRC what @yuyiguo to

[2021-07-14 17:53] #6691 closed

[2021-07-14 17:58] belforte commented on #6441
partition dropping did not really help. See https://cms-logbook.cern.ch/elog/Analysis+Operations/3520
![Screenshot_from_2021-07-06_17-55-54 png](https://user-images.githubusercontent.com/1837785/125670093-5bbb72f5-7c51-42e2-9314-60d155abf078.png)

[2021-07-14 18:00] belforte commented on #6441
OTOH, that was done on July 6 and looking at last month
![Screenshot from 2021-07-14 20-00-17](https://user-images.githubusercontent.com/1837785/125670352-22e6d88d-2c1b-45a7-9b44-3d3307e2b12e.png)

[2021-07-14 19:10] belforte commented on #6667
could this help ?
https://www.tutorialrepublic.com/faq/how-to-refresh-a-page-with-jquery.php

[2021-07-15 14:26] belforte commented on #6441
On JUly 6 FTS Reuse was rolled back https://cms-logbook.cern.ch/elog/Analysis+Operations/3519
after having been enabled on all schedd's gradually from Jun 6 (one schedd) to June 23 (all of them).

On July 7 FTS people deleted 200K stuck transfers for ASO.

[2021-07-15 14:34] belforte commented on #6603
after review, I stand by what written earlier:
 there is nothing that can be done to improve current ASO via schedd script machinery.

Subtle issues with transfers when using Rucio.. will be addressed when we discover them, in RUcio case the output are added to RUcio container by the task_process and PostJob will have nothing to do. The only danger is that a job is resubmitted even if its output i

[2021-07-15 14:35] belforte commented on #6603
keeping open "sort of as a pro-memoria". On hold and low priority.

[2021-07-15 14:49] #6343 closed

[2021-07-15 15:25] belforte commented on #6441
looking at picture from beginning of the year and the fact that FTS jobs were not properly handled in ASO until end of May ( https://github.com/dmwm/CRABServer/pull/6612 ),  I think that it will be better to wait until September when migration to Oracle 19 will allow May and June partitions to be deleted.
It is quite possible that current code does not leak files.  Let's see.
![Screenshot from 202

[2021-07-15 19:31] #6692 closed

[2021-07-15 19:58] belforte commented on #6409
also in
https://github.com/dmwm/CRABServer/blob/7a6099a682bf819e10940586960b6775e28d84ca/src/python/ServerUtilities.py#L45

[2021-07-16 08:43] belforte commented on #6409
closed via https://github.com/dmwm/CRABServer/pull/6700

[2021-07-16 08:43] #6409 closed

[2021-07-16 08:59] belforte commented on #5819
time to close this. Moving to TOP so I keep it at top of the queue

[2021-07-16 13:24] ddaina commented on #6680
#6701 now allows to set SCRAM_ARCHITECTURE manually (and jenkins was updated with the change), so half of the issue is solved. what is left - make jenkins allow to pick different combinations that are mentioned in #6659.

[2021-07-16 13:30] #6680 closed

[2021-07-28 09:11] ddaina opened #6702 "add --deep flag for list_dataset_replicas call"
from https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/6102.html thread:

[code]

correction from Eric:
[code]

[2021-07-28 10:41] ddaina commented on #6702
this has been fixed in `210701patch` branch (current production release `v3.210701patch1` is built from `210701patch` branch). I have created new release `v3.210701patch2` and will put it in preprod once jenkins finish building image.

I will start running jenkins tests afterwards

[2021-08-09 11:36] belforte opened #6706 "insert a delay before moving tak from QUEUED to UPLOADED"
as reported by Lukaz Kita[1]  some time is needed for tarball to be usable after
it is uploaded to crabcache. Best solution seems on server side to make sure that
tarball can be downloaded from S3 before moving task status to UPLOADED

[1]
[code]

[2021-08-09 11:45] belforte commented on #6706
lines to modify
https://github.com/dmwm/CRABServer/blob/7b603f66e994fb90782fa9dc534acbf5764aca56/src/python/TaskWorker/Actions/DryRunUploader.py#L46-L61

[2021-08-11 20:22] belforte opened #6708 "make sure that DB connections are returned to pool"
see this from @vkuznet
https://its.cern.ch/jira/browse/CMSKUBERNETES-80?focusedCommentId=3937813&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-3937813

pasting here relevant part:

you need to modify your DB calls (modifynocheck and other methods) to release connection back to the pool. If I understand code correctly the modifynocheck method calls this `cherrypy.req

[2021-08-11 20:30] #6706 closed

[2021-08-12 14:28] belforte commented on #6653
Hi @khurtado . I am back and done with urgent operational things. Time to get back to this and make a work plan.

[2021-08-13 09:28] belforte opened #6709 "improve message about too many lumis in one block"
[code]

[2021-08-13 10:46] belforte commented on #6653
as promised in chat with @khurtado  I will recap the issue and explain what I think is a good strategy forward which I just figured out thanks to David Lange.

CRAB jobs wrapper in
https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py
basically does two steps:
1. tweak user PSet.py in order to put in the info specific for this job in the task (file, run/lumi/ev, random seed, max

[2021-08-13 11:17] klannon commented on #6653
This sounds like a great plan to me. Feel free to ask @khurtado if you’re having any trouble figuring out `edm_pset_tweak` since he has plenty of experience. Also, I can attest that @davidlange6 and @smuzaffar have been extremely helpful fixing bugs and adding needed features (and getting the updates deployed very quickly) so I wouldn’t hesitate to ask them for help either.

[2021-08-13 11:57] belforte commented on #6653
thanks for exteremly quick feedback Kevin !  Surely if @khurtada has examples they would be useful. But the main point was/is that whenever a needed parameter was missing, WMA adds it via various "FixUp" methods which I would rather not try to make work for CRAB now. I am reasonably optimistic at the moment. Let's see.

[2021-08-13 14:53] belforte opened #6710 "replace call to TweakPSet.py with edm_pset_tweak.py"
this will address #6653
since TweakPSet.py mixes WMCore and CMSSW environmnents while edm_pset_tweak.py is pure CMSSW and release independent and can be executed via `scram(command)`
Ref: https://github.com/cms-sw/cmssw-wm-tools
and for adding new parameters: https://github.com/cms-sw/cmssw-wm-tools/commit/37310de364f323a2e9a482bedf34a94f20cd7239

[2021-08-13 17:07] khurtado commented on #6653
@belforte This sounds good to me as well! If you need to pickle the PSet to use edm_pset_tweak, you can use [edm_pset_pickler.py](https://github.com/cms-sw/cmssw-wm-tools/blob/master/bin/edm_pset_pickler.py), which should create a pickle file compatible with py2 and py3.

Some notes:
We use the PSetTweak class to create a tweak object and then export it as a json. This class doesn't depend on WMCo

[2021-08-14 08:50] belforte commented on #6653
thanks @khurtado . I think I had noticed the presence of
https://github.com/dmwm/WMCore/blob/81656c734ea0d79eba7c1cda15cd59e1ce8a3f27/src/python/PSetTweaks/PSetTweak.py#L160
in my previous browsing around in July. But either I did not understand how to use it or `applyPsetTweak` has more dependencies which I could not resolve (like new WMCore sandbox).
Quite likely I got confused by so many simila

[2021-08-16 11:29] #6690 closed

[2021-08-16 15:05] khurtado commented on #6653
@belforte I was suggesting to reuse PSetTweaks and just take the logic from applyPSetTweaks / fixupProcess from [SetupCMSSWPset](https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py) as examples of how we use it with edm_pset_tweak.py, since I think you mentioned you would rather not have the CRAB preScript depend on the WMCore preScript.
If you would ra

[2021-08-16 15:32] belforte commented on #6653
Thanks @khurtado . I fully agree. I simply think that trying to make WMCore preScript work in  CRAB wrapper is too much effort for too little gain.
I am slowly finding may way now. I mostly need to identify a good way to split new code in new files vs. adding to existing ones. I am currently leaning toward rewriting https://github.com/dmwm/CRABServer/blob/master/scripts/TweakPSet.py removing WMCor

[2021-08-17 09:29] belforte commented on #6559
at the same time look into pre-defining in git config the global name and e-mail so that `git stash` works

[2021-08-17 09:30] belforte commented on #6502
maybe done now ?

[2021-08-17 09:32] belforte commented on #6047
sort of done... to review

[2021-08-17 09:34] belforte commented on #6276
possibley all done here. @ddaina please review and put a final comment before closing, with pointers to PR if relevant

[2021-08-17 09:36] belforte commented on #6587
I think it is not happening any more. Let's keep it open for a while just in case, if we have no reason to come back to this in next months, we'll close.

[2021-08-17 09:41] belforte commented on #6685
apparetenly about 1/3 of the times it fails also at first attempt.
Needs to be better characterized and reported to Valenting with a way to reproduce it.

OTOH we do no particularly care to use gocurl for S3, as long as curl/wget from operating system work with it (it requires not special authentication, relies only on keys passed on via the pre-signed URL's).

But it may be good to replace the cu

[2021-08-17 12:54] #6502 closed

[2021-08-17 13:18] #6702 closed

[2021-08-17 14:23] belforte opened #6713 "report number of jobs created in case of dryrun"
moving to CRABServer this CRABClient issue, since a solution server-side may be easier
https://github.com/dmwm/CRABClient/issues/5065

see https://github.com/dmwm/CRABClient/issues/5064#issuecomment-900282373

One possibility may be to use uploadMessage from server to add a message to the task
with the number of jobs created by splitter. But I do no know if that's available in any
place. Both Spli

[2021-08-17 15:26] belforte commented on #6713
it turns out that DryRunUploader already creates a splitter summary and put it in the sanbdox used by the client for dryrun
https://github.com/dmwm/CRABServer/blob/007712b97d67693fd3bf6d6b81e1c408a62ce44a/src/python/TaskWorker/Actions/DryRunUploader.py#L38-L45
so client can print that :-)

[2021-08-17 15:55] belforte opened #6714 "vorole test submission fails in Jenkins"
from log ( e.g. https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_ExecuteTests/349/console )
[code]

[2021-08-17 15:57] belforte commented on #6714
odd, since I think we tested this. Maybe because I asked for prod client ? To be investigated.

[2021-08-17 17:16] belforte commented on #6714
indeed i submitted with dev client and worked. Versions are:

belforte@lxplus741/local> crab-prod --version
CRAB client v3.210610
belforte@lxplus741/local> crab-dev --version
CRAB client v3.210714
belforte@lxplus741/local>

[2021-08-17 17:16] #6714 closed

[2021-08-17 19:59] belforte commented on #6713
I had misunderstood. There is nothing needed on server side.
It is only a matter of what submit command should report when called via the python API
https://github.com/dmwm/CRABClient/issues/5066

[2021-08-17 19:59] #6713 closed

[2021-08-18 12:11] #6559 closed

[2021-08-20 08:51] belforte opened #6718 "add a test for primary voms group"
make sure to
- [x]  add a test for  configuration parameter `config.User.vogroup` to https://github.com/dmwm/CRABServer/blob/master/test/makeTests.py e.g.
``` config.User.voGroup = 'dcms' ```
- [ ] and make sure that the primary group is correctly propagated down the chain up to FTS delegation
since some sites rely on it for proper authorization. Which may not be so easy in Jenkins tests

See deta

[2021-08-20 09:51] belforte opened #6720 "enable again vorole test for prod client"
as soon as current crab-dev is moved to prod, enable again vorole test since
there will be no question asked interactively anymore
ref: https://github.com/dmwm/CRABServer/pull/6719

[2021-08-21 15:59] belforte commented on #6653
small progress.
I have managed to simplify a bit CMSRunaAnalysis.py removing already a bunch of
lines related to `WMCore.WMSpec.Steps`
and have a version where TweakPSet.py is called in only one place with understood current working directory (the same where the job starts) and environment.
This test version in in branch [test_new_CMSRunAnalysis](https://github.com/dmwm/CRABServer/tree/test_new_CM

[2021-08-24 07:22] belforte opened #6727 "test v3.210819 (preprod) and v3.210823 (test2)"
trying to keep track of testing via Jenkins on latest releases, in particular 210823 where I modified the JobWrapper

crab-preprod-tw01 with **v3.210819** on instance **preprod**:

client | CMSSW | arch | test | result
--------|-------------|-------|-------|--------
prod | CMSSW_10_6_12 | slc7_amd64_gcc700 | client Validation | ok
prod | CMSSW_10_6_12 | slc7_amd64_gcc700 | client Configuration | o

[2021-08-24 07:46] belforte opened #6728 "v3.210823 validation"
this is the first attempt to run with modified job wrapper as per https://github.com/dmwm/CRABServer/pull/6726

- [x] when cmsRun fails, log shows
[code]
even if scrptExe was not used. E.g. https://cmsweb.cern.ch:8443/scheddmon/059/cms283/210823_202125:cmsbot_crab_20210823_222119/job_out.212.0.txt
  * OK, this is trivial, when making cmsRun and scriptExe use same code, this slipped in: https://git

[2021-08-24 08:25] belforte commented on #6728
overall this is not trivial.
in the old CMSRunAnalysis.py there was no exception raised if cmsRun fails, but it is all handled by
https://github.com/dmwm/CRABServer/blob/8d46215fec2ab90a08564cb69e4d857aad478123/scripts/CMSRunAnalysis.py#L738-L741
while when I decided to use same code as for scriptExe (besided the trivial mistake in name indicated above) I use
https://github.com/dmwm/CRABServer/blo

[2021-08-24 12:06] belforte commented on #6728
I think that the best way out is to change the code to separate the case where `Scram` returns a non 0 exit code from the one where it raises exception.

[2021-08-24 13:24] belforte commented on #6728
all in all in current version the only difference between using scriptExe or not is in these two lines:
https://github.com/dmwm/CRABServer/blob/b28897ebc9b5ed49280b5882ca029cea2ead91f8/scripts/CMSRunAnalysis.py#L620
https://github.com/dmwm/CRABServer/blob/b28897ebc9b5ed49280b5882ca029cea2ead91f8/scripts/CMSRunAnalysis.py#L638
and we clearly tell users in https://twiki.cern.ch/twiki/bin/view/CMSPub

[2021-08-24 20:56] belforte commented on #6728
rewrote things so that cmsRun and scripExe are handled by a single piece of code which simply gets a different command line.
Cleaned up and documented a bit error reporting and made sure that CMSRunAnalysis.py exit with the exit code form the FJR if it is available.
Now testing with Jenkins again on test2 instance

[2021-08-25 06:54] belforte commented on #6727
crab-dev-tw01  with #6728 fixed in GH on instance **test2** via `start.sh -g`:

client | CMSSW | arch | test | result
--------|-------------|-------|-------|--------
prod | CMSSW_10_6_12 | slc7_amd64_gcc700 | client Validation | tbd
prod | CMSSW_10_6_12 | slc7_amd64_gcc700 | client Configuration | tbd
prod | CMSSW_10_6_12 | slc7_amd64_gcc700 | status tracking  | tbd
 dev | CMSSW_10_6_12 | slc7_amd

[2021-08-25 08:12] #6728 closed

[2021-08-25 08:50] belforte commented on #6653
After a few bug fixes, summary of status (see above comment):
as a stepping stone I refactored CRAB job wrapper `CMSRunAnalysis.py` to:
 * remove dependency from wmcore/wmspec
 * unify the way cmsRun and scriptExe are run
 * execute TweakPSet.py inside Scram() so to be ready for new WMCore where Scram() env. does not contain WMCore environment

the above is now in https://github.com/dmwm/CRABServe

[2021-08-25 11:25] #6727 closed

[2021-08-26 12:12] belforte opened #6732 "performace reports missing in job_report.json in v3.210824"
after changes to CMSRunAnalysis.py for new WMCore, it turns out that the performance report in the  `job_fjr.*.json` files is empty. This make automatic splitting impossible, but may be useful also in other cases.
In general I need to validate the new FJR content. At least the list of processed lumis !!

[2021-08-26 17:13] belforte opened #6734 "finalize new TweakPset.py: lfn starts with("MCFakeFile"):"
[code]

[2021-08-26 17:14] belforte opened #6735 "finalize new TweakPSet.py: seeding"
[code]

[2021-08-26 17:15] belforte opened #6736 "finalize new TweakPSet.py: lheInputFiles"
[code]

[2021-08-26 17:22] belforte opened #6737 "validate new TweakPSet.py on CMSSW_10 (or 11) i.e. python2"
should do at least the following checks:
- [x] all Jenkins
- [x] make sure that crab report returns correct results (input dataset is fully processed, no repetition etc.)
  * tested on [1K-jobs HammerCloud](https://github.com/dmwm/CRABServer/blob/master/test/statusTrackingTasks/HC-1kj.py) split-by-Lumi, got identical processedLumis.json
  * tests completed checking .../results/processedLumis.json

[2021-08-27 16:03] belforte opened #6739 "take care or status NEW in Jenkins config. tests"
when e.g. submitting to test TW the full jenkins suite, TW work (1 slave!) takes a while,
so by the time the first check run, some tasks are still in
Status on the CRAB server:	NEW on command SUBMIT
which is not handled in the current code and makes the test to be
reported as failed
https://github.com/dmwm/CRABServer/blob/3f63696b6d33f4110a8225540204c8d22515389f/test/testUtils.py#L25-L32

tests ar

[2021-08-27 16:58] belforte opened #6740 "in new TweakPSet make sure to remove maxEvents"
see
https://github.com/dmwm/CRABServer/issues/6732#issuecomment-907338269

and of course only remove it where OK (e.g. in processing by lumi or file) but make sure it is properly applied where it matters like in MC

[2021-08-27 20:27] #6732 closed, assigned to belforte

[2021-08-28 08:21] belforte commented on #6740
the input args to tweak are in the input_args.json file in the task's SPOOL_DIR which is available as `InputArgs.txt` in the `local` subdir created by `crab preparelocal`

example for a MC task with old code:
[code]
so when using MC plugin (the only case where we support split by event) the splitter passes
[code]
AFAICT those end up in the PSet.pkl after tweaking as
[code]
given that the input cra

[2021-08-28 08:45] belforte opened #6742 "when cmsRun fails job wrapper reports error about pset hash instead of cmsRun exit code"
after changing code, jobs which fail to read input file (exit code 8021) and therefore do not produce any output, report instead  `80453 - Unable to determine pset hash from output file (CRAB3). ` which is of course true but much less informative.
Somehow in changing the wrapper I lost the part which gives precedence to the exit code from cmsRun.

[2021-08-28 08:50] belforte commented on #6734
this is solved in v3.210827p1
will open new issues if/as needed

[2021-08-28 08:50] #6734 closed

[2021-08-28 09:04] belforte opened #6743 "automatic splitting still does not look "the same as before""
From Jenkins tests:
after adding performance report to FJR. predag now works and reports
[code]
but previous code was creating only one main job !

to be followed up. But not urgent as long as things work.

[2021-08-28 09:18] belforte commented on #6743
It also appears that tail jobs are submitted even if main jobs completed OK.

Maybe leave automatic splitting for a second approximation after everything else works

[2021-08-28 09:20] belforte commented on #6743
subdag_1 log has
[code]
so it looks like FJR still does not have the needed information.

[2021-08-28 09:28] belforte commented on #6743
could maybe be due maxEvent having slipped in ? The 12 main jobs processed 10 events each !

will try automatic splitting again after #6740 is fixed.

[2021-08-28 09:34] belforte commented on #6740
looks like the code I need to import is https://github.com/dmwm/WMCore/blob/c2fa70af3b4c5285d50e6a8bf48636232f738340/src/python/WMCore/DataStructs/Mask.py#L74
i.e.
[code]

[2021-08-28 12:27] #6740 closed

[2021-08-28 12:53] belforte commented on #6743
hopefully solved via the fix to #6740 in https://github.com/dmwm/CRABServer/pull/6744

[2021-08-28 13:12] belforte commented on #6742
looks like CMSRunaAnalyis.py used to exit when cmsRun failed, while now it goes on and tries to add edmHash etc. Most likely because I tried to make order in all that exception raising vs. sys.exit mix.
More care and comparison needed.

[2021-08-28 15:08] #6743 closed

[2021-08-28 16:39] belforte commented on #6742
indeed the old CMSRunAnalysis.py, when CMSSW stack fails gets a WMException raised in
https://github.com/dmwm/CRABServer/blob/9e62f46335b7257a563fa449d0f431941c622d52/scripts/CMSRunAnalysis.py#L942
so falls to
https://github.com/dmwm/CRABServer/blob/9e62f46335b7257a563fa449d0f431941c622d52/scripts/CMSRunAnalysis.py#L947-L950
prints message and logCMSSW and raises it again falling to
https://github

[2021-08-28 16:51] belforte commented on #6742
I much prefer in new code to keep my implementation where `executeCMSSWStack(options, scr) `
(now renamed `executeUserApplication(cmd, scr)` since it handles au-pair cmsRun and scriptExe does not
raise unless a real exceptional event occurs, but returns an exit code which is not 0 to indicate failure.

https://github.com/dmwm/CRABServer/blob/7d22b1c446ddb1dfb27e28b66d6f611eab5c0a68/scripts/CMSRunA

[2021-08-28 20:59] belforte commented on #6742
first try:  only add checksum ad psetHash if cmsRun exit code was 0, leave everything else unchanged

[2021-08-28 21:13] belforte commented on #6742
pff..
I can't reproduce the original problem.
It appears that if cmsRun did not produce any output these lines do not rise any exception
https://github.com/dmwm/CRABServer/blob/7d22b1c446ddb1dfb27e28b66d6f611eab5c0a68/scripts/CMSRunAnalysis.py#L887-L889

putting issue  OnHold until I see this again and can reproduce it.
Still it looks more neat to avoid to try adding checksum and psetHash if there

[2021-08-30 16:37] belforte commented on #6670
problem suddenly escalated during weekend.
There are a few odd tasks with tens of thousands of files which constantly timeout when writing to DBS/phys03
See story in:
https://cms-logbook.cern.ch/elog/GlideInWMS/7766

Put temporary kludge in production TW hacking code in the container.
Will also push to current production branch based on https://github.com/dmwm/CRABServer/tree/py2only
I have done t

[2021-08-30 16:45] belforte commented on #6670
I have made PR's with the above hot fix to both py2only and master branches https://github.com/dmwm/CRABServer/pull/6745 https://github.com/dmwm/CRABServer/pull/6746
And added list of users to skip to PublisherConfig.py template in puppet: https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocmsglidein/-/commit/0b437ab8e5c9c461f5f9a27d3f4c05ce44d72d68

[2021-08-30 17:04] #6742 closed

[2021-08-30 21:38] belforte commented on #6640
Back to this now that CRAB job wrapper works with new WMCore.
Testing with CMSSW_12_0_0_pre6 and latest crab-dev plus the patch for python3 https://github.com/dmwm/CRABClient/pull/5073

At first attempt, I still get
[code]
this because I forgot to change this to make Scram to start in a clean env
https://github.com/dmwm/CRABServer/blob/cfeec5e3e1541f65c909b2431d6a0bdf43215d7b/scripts/CMSRunAnalysi

[2021-08-30 21:42] belforte commented on #6640
Scam fixes. Now cmsRun runs !
I get this error, likely a  problem with my very old Pset
[code]

[2021-08-30 21:50] belforte commented on #6640
No. Same PSet runs interactively.
Investigatin.

[2021-08-30 21:56] belforte commented on #6640
interactively it works but prints
[code]
I guess that in non-interactive mode they replaced that msg with a failure.
I got that msg since years, but so far it was working.
Time to update.

[2021-08-30 22:46] belforte commented on #6670
the above PR is now in tag py2only.2 and deployed in preprod

[2021-08-30 22:47] belforte commented on #6640
I failed to create an analyzer from workbook instructions and asked for expert help: https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3932.html

[2021-08-31 00:23] makortel commented on #6640
No, the behavior should be the same (i.e. the warning message) regardless of interactive vs. non-interactive.

You should not have, since this warning was added in 12_0_0_pre5. Eventually (around 13_0_X) it will become an exception though.

The easiest explanation for `Unable to find plugin 'DemoAnalyzer' in category 'CMS EDM Framework Module'. Please check spelling of name.`  that I can think of

[2021-08-31 13:20] belforte commented on #6640
thanks @makortel
I think the "how to make an EDM analyzer that works for CMSSW_12" is addressed in your reply in HN

For sake of speed I have now switched to a bare minimal PSet where I do no add anything to the release
[code]
which works interactively. Using it now to test CRAB wrapper.

[2021-08-31 13:30] makortel commented on #6640
Looks good. Do you still need a disk dataset that you asked in https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3932/1/1.html? (I'd have to dig, the IB tests use a special cache that may or may not work for this test)

[2021-08-31 13:42] belforte commented on #6640
thanks Matti. So far I am reading from this dataset which appears to work:
/eos/cms/store/mc/HC/GenericTTbar/AODSIM/CMSSW_9_2_6_91X_mcRun1_realistic_v2-v2
but since it was created in CMSSW_9 it may be that less trivial tests will fail, that's all.
So far it works in CMSSW_10 and 11, but AFAIU there is no guaranteed that future releases will always work on old data.
I think that best will be to ask

[2021-08-31 14:08] belforte commented on #6640
got a first CRAB job to run with CMSSW_12_0_0_pre6
https://cmsweb-test2.cern.ch/crabserver/ui/task/210831_134818%3Abelforte_crab_20210831_154720

n.b. job ran twice, the initial one failed to read data remotely (site problem) but exited with 50115 instead of 8028. To be followed up, but not critical.

[2021-08-31 14:11] belforte commented on #6640
the TaskWorker version that works is in https://github.com/dmwm/CRABServer/releases/tag/v3.210831pre1

[2021-08-31 14:35] belforte commented on #6640
I will now look at the problem indicated in https://github.com/dmwm/CRABServer/issues/6640#issuecomment-909272990 :
- [ ] wrapper fails to properly report CMSSW exit code

[2021-08-31 15:12] belforte commented on #6640
well... runs but reports wrong exit code surely is different from "does not work".
So I am closing this and will open ad hoc issues on specific problems as we find them

[2021-08-31 15:12] #6640 closed

[2021-08-31 15:52] belforte commented on #6640
I will open a WMCore issue later, but let me take note here of the source of the FJR parsing problem,
opening the file with `vi` it is pretty clear that there is an illegal character in line 16, column 315
![Screenshot from 2021-08-31 17-48-12](https://user-images.githubusercontent.com/1837785/131534814-e8bc3f7c-6a8b-47b3-95b5-a1061dba73ca.png)
And running the parser manually the excectoin is also

[2021-08-31 16:03] makortel commented on #6640
I'd say xrootd, because the character is part of a status string they give to us.

[2021-08-31 16:15] belforte commented on #6640
Yeah.. . That's too easy. Let's look for a good guy now !
If we wait for an xroot fix to properly report errors....eons.
Someone at some point has to sanitize those message.
@amaltaro @khurtado what's your take ?

[2021-08-31 16:19] klannon commented on #6640
@belforte:  If there is a problem with XRootD output, do [please file an issue](https://github.com/xrootd/xrootd/issues) with them, even if you are not confident they will fix quickly.  I happen to know right now that they're working on the v5 release series pretty actively, so there's always a chance.  If you can mention me in the issue, that would help me keep track and push for the fix to be in

[2021-08-31 17:01] belforte commented on #6640
@klannon I'll do my best

[2021-09-01 12:36] belforte commented on #6640
xrtood issue opend: https://github.com/xrootd/xrootd/issues/1501

[2021-09-01 12:59] belforte commented on #6640
and WMcore issue too: https://github.com/dmwm/WMCore/issues/10782

I will remove my patch https://github.com/dmwm/CRABServer/pull/6751 once WMCore stops failing on this.

[2021-09-01 13:01] belforte opened #6753 "remove hack for FJR sanitization"
see https://github.com/dmwm/CRABServer/issues/6640#issuecomment-910259207

on hold until either cmsRun (unlikely) or WMCore ( https://github.com/dmwm/WMCore/issues/10782 ) have a protection

[2021-09-03 16:33] belforte opened #6755 "pass $X509_USER_PROXY to CMSSW application"
see this thread
https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3933.html

bottom line
[code]

[2021-09-03 21:12] belforte commented on #6755
fixed via https://github.com/dmwm/CRABServer/pull/6756
and now in tag v3.210903

[2021-09-03 21:12] #6755 closed

[2021-09-03 21:14] belforte commented on #6736
I suspect that CRAB never set this in the past. Need to run an LHE workflow to test.

[2021-09-03 21:29] belforte opened #6757 "improve clintValidation.sh"
current test is not strict enough.
It does not wait for the 10-job task to complete, so if when it runs there is no output ready all getoutput test commands returns OK with "no output to retrieve" and we did not spot the bug https://github.com/dmwm/CRABClient/issues/5077 until by change the jobs ran faster (or Jenkins was delayed) and the test find the failure.
There may be other similar cases.
We

[2021-09-06 08:17] ddaina commented on #6757
I see 3 ways we could go here:

1. Update jenkins configuration to run X minutes after initial task submission. Currently X is 20min. However, even if we update this value to be greater, that still does not ensure that jobs will be done running by then.
1. Improve task submitted to finish running faster. However, this option still has the same problem as in previous bullet point.
1. Update jenkins

[2021-09-06 12:05] belforte commented on #6757
We need to go for 3. and be careful not to invalidate correct checks, as you wrote. I.e. make this more similar to (integrate in ? ) configuraiton validation or check status.
Maybe take a bit breath and think whether to restructure test architecture based on the submit - wait - verify process and have a single framework which runs those steps while the initial parameters configuration only decides

[2021-09-08 15:45] belforte opened #6758 "speed up Jenkins tests validation"
oftern jobs run OK but output xfer takes a long time.
Many tests e.g in tests/makeTests.py (configValidation) do not require the output root file, only the stdout from the running job.
Could change to execute test sooner, or better yet remove output xfer for those.

[2021-09-08 19:48] belforte commented on #6736
i created an LHE job with crab-prod following the tutorial
https://twiki.cern.ch/twiki/bin/view/CMSPublic/CRAB3AdvancedTutorial#Exercise_5_LHE
and indeed the final, tweaked Pset contains
[code]

[2021-09-09 07:29] belforte commented on #6736
submittes same taskt to preprod (new code) as
https://cmsweb-testbed.cern.ch/crabserver/ui/task/210909_072304%3Abelforte_crab_20210909_092248
the previous task on prod was
https://cmsweb.cern.ch/crabserver/ui/task/210908_172611%3Abelforte_crab_20210908_192529

[2021-09-09 08:12] belforte commented on #6736
indeed latest TweakPSet dos not add the lazy download.  The tutorial example also fails with latest Pythia but that's irrelevant. Let's say that I do not know  how really people use this (the tutorial example relies on copying the input file to worker node via gsiftp, and has an ASCII LHE file, while recent production uses LHE files in EDM format which are accessed via xrootd). So I will simply fo

[2021-09-09 11:44] belforte commented on #6720
On Hold unttil crab-prod client is updated from py2only to master branch

[2021-09-09 12:38] belforte opened #6759 "make new job wrapper run with older CMSSW"
code in v3.210903 works in CMSSW_12, 11, 10 but not in CMSSW_9 or eallier since
it uses https://github.com/dmwm/WMCore/blob/bb573b442a53717057c169b05ae4fae98f31063b/src/python/PSetTweaks/PSetTweak.py which has `import future` etc.

See:
https://cms-dmwm.slack.com/archives/C04KWAXHU/p1631189064045500

[2021-09-09 12:39] belforte commented on #6737
By the way, current code fails badly in CMSSW_9 or earlier
https://cms-dmwm.slack.com/archives/C04KWAXHU/p1631189064045500
moved to new issue #6759

[2021-09-09 15:41] #6736 closed

[2021-09-09 15:54] belforte commented on #6735
as done for #6736 I will compare Pset.pkl after tweaking for same task with old and new wrapper

[2021-09-09 16:31] belforte commented on #6735
comparing Pset for identity is not possible sine seeds are (of course) different, anyhow I looked for what appears to indicate how sees are set, i.e. look sfor strings `rnd`, `random`, and `determ(inistic)` in all cases:
[code]
and comparing the output of that grep for the two wrapper I find only the following diffrences which I believe are related to CMSSW version:
[code]

[2021-09-09 16:42] belforte commented on #6735
So it looks like there is nothing to do here.

stilll, I suspect that I have not understood this part yet
https://github.com/dmwm/CRABServer/blob/f12dd389fcab250a8d67f167b300b1f012e49ee3/scripts/TweakPSet.py#L286-L291

I guess I need to test with making a call to `cmssw_handle_random_seeds.py`
just I do not know yet what to pass as `--seding` arg which looks required but only relevant if equal to

[2021-09-10 07:39] belforte opened #6761 "improve FTS_transfers.py"
since it will be a while before most users switch to Rucio for stageout,
we need to fix a few outstanding problems in current code:

- [x] stop using threads. There is no evidence that it helps and makes debugging complex.
      Done. Threads were removed as part of https://github.com/dmwm/CRABServer/pull/6792
- [x] break down state updated in crab db (POST to `filetransfer` API) to do only a limi

[2021-09-10 18:18] belforte opened #6762 "fix TW logging"
- [ ] when a worker executes TapeRecallStatus recurring action, somehow is left with logging level set to python default (INFO) instead of the usual default that we set via `start.sh` (DEBUG).
This explains why at times I find task logs w/o the info I am looking for.
Somehow the fact that TapeRecallStatus instantiates a new MasterWorker
https://github.com/dmwm/CRABServer/blob/f12dd389fcab250a8d67f

[2021-09-10 18:38] #6762 closed

[2021-09-11 13:10] belforte commented on #6064
adding this ref for the time we will start really commissioning Rucio in CRAB and review all this mess
https://github.com/dmwm/CMSRucio/issues/159#issuecomment-917190558

[2021-09-11 13:11] belforte commented on #6041
adding this ref for the time we will start really commissioning Rucio in CRAB and review all this mess
dmwm/CMSRucio#159 (comment)

[2021-09-13 13:41] belforte commented on #6735
adding a call to `cmssw_handle_random_seeds.py` made absolutely no difference in the final PSet (other then initialSeed value being different of course). Anyhow, let's keep it.

[2021-09-13 13:42] #6735 closed

[2021-09-13 13:43] #6737 closed

[2021-09-13 13:54] belforte commented on #6759
pasting here from the above-mentioned thread in slack

13:40
stefanobelforte stupid technical question (for @khurtado or @david.lange maybe ?) when I do the PSet tweakin in the WorkerNode using WMCore/src/python/PSetTweaks and edm_pset_tweak.py & C., which environment should be used ? WMCore or CMSSW ? I.e. do I use subprocess.popen or scram() ? I have been using scram()  (i.e.CMSSW) so far, which

[2021-09-13 15:06] belforte opened #6767 "add switch to TW to disable (re)submit for Oracle migration"
As discussed in last CRAB Meeting
https://indico.cern.ch/event/1030313/

We would like to refuse new submissions, not simply queue them in status NEW.
Because we do not want users to submit for 2 days while Oracle is migrated
and then start TW with thousands of tasks in NEW.

Will let user do crab kill and crab status, but not trigger new actions.
so that schedd's can drain a bit until we turn off

[2021-09-13 20:48] #6767 closed

[2021-09-14 11:47] belforte commented on #6761
i have again the timeouts from preprod crabserver from xfer status updating. Surely must be a problem with preprod since test2 never fails. But this is annoying and getting urgent, especially if we expect more users to use preprod for CMSSW_121

[2021-09-14 15:05] belforte commented on #6761
the timeout problem is trickier than I thought.
It comes from here
https://github.com/dmwm/CRABServer/blob/4695bde648812f698ad6b8fc6e8f8b2aece80b19/scripts/task_process/FTS_Transfers.py#L450-L452
where the list of Ids can be 200 files and that's when preprod times out.

Since prod and dev DB instances do not time out, there is surely something wrong with transfersbd table in preprod (too big ? no

[2021-09-14 16:28] belforte commented on #6761
I do not have an easy way out here.
In my failing task I have hacked FTS_transfers.py to do 20 files at a time instead of 200, not there is no crabserver timeout anymore, but still things are amazingly slow.
I suspect FILETRANSFERSDB table in preprod is too big (6.5M rows) and have written to Kate for help.

We are offering preprod to users now and can't have it so slow, no matter what.
So will wa

[2021-09-14 19:46] belforte commented on #6761
filetransfersdb table in preprod has 6.5M rows from old tests in 2016/7 [2] with no tm_creation_time value[1].
Not clear if this was the cause of the slow down. But I have asked Kate to remove them.

[1]
[code]

[2]
[code]

[2021-09-16 12:24] belforte commented on #6761
the above problem of 6M rows in FILETRANSFERSDB was odd and annoying
(and solved in https://cms-logbook.cern.ch/elog/Analysis+Operations/3551 )
but was not the cause of the slowdown.

slow queries where due to Oracle doing full table scan because of old problem with variable format.
From Kate:
[code]

solved by reverting back crabserver in preprod to old tag as used in production.
I.e. building wi

[2021-09-16 14:47] belforte opened #6771 "Publisher fails on some tasks when listing parents"
following up on https://cms-logbook.cern.ch/elog/Analysis+Operations/3550
I find that some tasks are not progressing becasue TaskPublish fails in a new way:
[code]

[2021-09-16 15:01] belforte commented on #6771
The DBS error
[code]
complains about parent file
[code]
The `_` sign at right is odd an unusual, I do not know if illegal though, since file names are like that in the input DBS dataset
https://cmsweb.cern.ch/das/request?instance=prod/phys03&input=file+dataset%3D%2FEmbeddingRun2017E%2FElMuFinalState-inputDoubleMu_94X_miniAOD-v2%2FUSER

This is task `210914_075558:pellicci_crab_ElMu_NANOAOD_2017E_9

[2021-09-16 15:04] belforte commented on #6771
indeed DBS does not like the '_' at the end
[code]

[2021-09-16 15:49] belforte commented on #6771
Looks like I can make TaskPublish run changing
https://github.com/dmwm/CRABServer/blob/4695bde648812f698ad6b8fc6e8f8b2aece80b19/src/python/Publisher/TaskPublish.py#L727
to
[code]

[2021-09-17 08:05] belforte commented on #6771
the above fix is now deployed and works, but it would be better to make it less generic.
E.g. ignore error and go on in case of the now known `Invalid Input Data /store/use...: Not Match Required Format` but keep treating other exceptions as fatal and abort there so that they will be investigated like it happened now.

[2021-09-17 08:20] belforte opened #6774 "tune skipping of failed parent file lookup in Publisher"
see https://github.com/dmwm/CRABServer/issues/6771#issuecomment-921594581
 ignore error and go on in case of the now known `Invalid Input Data /store/use...: Not Match Required Format` but keep treating other exceptions as fatal and abort there so that they will be investigated like it happened now.

see also discussion in https://github.com/dmwm/DBS/issues/656

[2021-09-17 08:21] #6771 closed

[2021-09-17 08:31] belforte opened #6775 "some TW actions take very long at times. Improve code ?"
Sometimes DBS DataDiscovery or Splitter run for hours.
While rare, there is no clear understanding of why nor control of things when it happens. So we are exposed to problems in case of changing usage patterns.
Recent example with DBDataDiscovery was 5+ hours to associate files with corresponding secondary dataset parents in this task
`210916_135021:sbaradia_crab_EmulatedTagAndProbe_DYToLL_M-50_11

[2021-09-17 09:29] mmascher commented on #6775
I checked the logs of the task, this is the good old secondary dataset matching:

https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/DBSDataDiscovery.py#L435-L442

I even found an old issue where this was reported: https://github.com/dmwm/CRABServer/issues/5244

[2021-09-17 09:40] mmascher commented on #6775
Original Ticket and PR:
https://github.com/dmwm/CRABServer/issues/4861
https://github.com/dmwm/CRABServer/pull/4934
Matthias is says the algorithm is N^2, but  that does not include this line `lumis & secinfos['lumiobj']`.

[2021-09-17 09:46] belforte commented on #6775
thanks @mmascher

[2021-09-17 10:13] belforte opened #6776 "remove obsolete crabcache code"
- [x] remove crabcache proper in `src/python/UserFileCache/`
- [x] remove "old cache uploda/download" code
- [x] reduce verbosity of S3 upload/download logging in TW log
- [x] find all other places where crabcache vs. S3 is referred to and remove old code
- [x] do the same on CRAB Client - see https://github.com/dmwm/CRABClient/issues/5113
- [x] get rid of unused dashboards in grafana
- [x] clean

[2021-09-17 10:54] belforte opened #6777 "cleanup/clarify/validate version matrix"
as we deal with Oracle11 to 19 migration and py2 vs py3 vs CMSSW_12 etc. I find it vital to keep track of the matrix of which version is good for what and what it deployed where.

Proper view may take time to finalize. Here's a start, @mapellidario @ddaina please help

* table by of `branch/tag` by CRAB instance as of Friday Sep 17

\ |prod | preprod| test2
--|--|--|--
REST | frozen/v3.210701 (*)

[2021-09-17 11:20] mmascher commented on #6775
IIUC the implementation of the `&` in `lumis & secinfos['lumiobj']` is here:

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/DataStructs/LumiList.py#L184-L212

It contains three nested `for` loops. Considering these are nested inside two other for loops I can see how and why things can get pretty bad.

I think things can be improved considering `&` is trying to build the common runLu

[2021-09-17 12:27] belforte commented on #6775
yeah.. I am quite confident that a leaner algorithm can be identified. But so fare this is quite rare.
I am a bit more puzzled by Splitter taking long time but it is possible that it will not happen anymore after #6691

[2021-09-17 15:03] belforte commented on #6777
during test found that when disabling RESUBMIT, task was left in status HOLDING.
See above comment. Tracked to typo in commit. Fixed in master and py2only branches and made new tags.

Deployment matrix will be now

\ |prod | preprod| test2
--|--|--|--
REST | frozen/v3.210701 (*) | frozen/v3.210701 (*) | master/v3.210916
TW | py2only/py2only.3 | master/v3.210917 | py2only/py2only.6
PUB | master/v3.

[2021-09-17 19:55] belforte commented on #6777
deployment matrix after all tests, updates, movements

\ |prod | preprod| test2
 --|---|---|---
**REST** | frozen/v3.210701 (*) | frozen/v3.210701 (*) | master/v3.210917
on | cmsweb.cern.ch | cmsweb-testbed.cern.ch | cmsweb-test[1,2].cern.ch
 | | |
**TW**| py2only/py2only.6 | master/v3.210917 |  master/v3.210917
on | crab-prod-tw01 | crab-prod-tw02 | crab-dev-tw01
 | | |
**PUB** | master/v3.210917

[2021-09-20 06:56] belforte commented on #6759
Plan is clear:
 * make TwakPSet.py a part of CMSRunAnalysis.py which runs in COMP env, so can keep using WMCore/PsetTweaks
 * in there prepare a script with all needed calls to edm*py utilities and then execute them with Scram()

[2021-09-20 15:34] belforte opened #6778 "myproxy credential fallback does not work in TW"
current code in
https://github.com/dmwm/CRABServer/blob/290e5c2e4452a25a2f0161519587653c758fdace/src/python/TaskWorker/Actions/MyProxyLogon.py#L73-L83
does not work as expected if case the first credential (`username_CRAB`) fails to provide a good proxy.

The problem is that
https://github.com/dmwm/CRABServer/blob/290e5c2e4452a25a2f0161519587653c758fdace/src/python/TaskWorker/Actions/MyProxyLogon.

[2021-09-20 15:35] belforte commented on #6778
this was discovered on HammerCloud, but happens also to others. Here is a normal user on crab preprod instance (where they use crab-dev to submit CMSSW_12 workflows):
[code]

[2021-09-20 15:36] belforte commented on #6778
I guess it is time to go back to single credential name in TW !!!

[2021-09-20 19:21] belforte commented on #6778
one step at a time. Start by making sure that credential used in TW is valid for a few days. WIll remove `username_CRAB` once client stops creating it.

[2021-09-20 19:41] #6778 closed

[2021-09-20 21:12] belforte commented on #6777
deployment matrix after fix for #6778

\ |prod | preprod| test2
 --|---|---|---
**REST** | frozen/v3.210701 (*) | frozen/v3.210701 (*) | master/v3.210917
on | cmsweb.cern.ch | cmsweb-testbed.cern.ch | cmsweb-test[1,2].cern.ch
 | | |
**TW**| py2only/py2only.7 | master/v3.210920 |  master/v3.210920
on | crab-prod-tw01 | crab-prod-tw02 | crab-dev-tw01
 | | |
**PUB** | master/v3.210920 | master/v3.210

[2021-09-21 09:47] belforte opened #6781 "Shutdown-Startup sequence for Oracle update"
date | time (CERN time) | who|  action | effect on users
 --- | --- | --- | --- | ---
 Monday Sep 27 | evening | CRAB Ops | change TW config to reject SUBMIT and RESUBMIT [1]|  crab submit will fail, crab resubmit will be ignored, all other crab commands will work.  Running tasks and jobs will not be affected.
Tuesday Sep 28 | afternoon | CRAB Ops | list all running dagman's [2] and condor_hold th

[2021-09-21 12:11] belforte commented on #6781
* ACTIONS *
* [1] edit https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocmsglidein/-/blob/master/code/templates/crab/crabtaskworker/TaskWorkerConfig.py.erb#L112
* [2]  as root on each schedd [*]:
   * `condor_q -con 'jobuniverse==7&&jobstatus==2' -af clusterid > Running_DAGs`
* [3] `for dag in ``cat Running_DAGs``; do condor_hold $dag; done`
   * check that there is no more running job in universe

[2021-09-21 20:48] belforte commented on #6781
- [ ] next step: write a small script to automate steps [2] [3] and [8]. Doing by hand 15 times is likely to result in mistakes and problems

[2021-09-24 20:16] #6759 closed

[2021-09-27 09:57] belforte commented on #6781
detaild action list with actors: https://docs.google.com/spreadsheets/d/16DQbQ2731twAZH_AmvSqkCK_tAzaRo0kpvoApppaxOs/edit?usp=sharing

[2021-09-27 13:42] belforte commented on #6659
better pointer to grafana:
https://monit-grafana.cern.ch/d/Y08Xu0oGz/cms-job-monitoring-es-agg-data-official-bars?editPanel=51&viewPanel=51&orgId=11&refresh=15m&var-group_by=CMSSWReleaseSeries&var-Tier=All&var-CMS_WMTool=All&var-CMS_SubmissionTool=CRAB&var-CMS_CampaignType=All&var-Site=All&var-Type=All&var-CMS_JobType=All&var-CMSPrimaryDataTier=All&var-binning=1d&from=now-6M&to=now-1h

from there

[2021-09-27 14:05] belforte opened #6783 "Document how to use CRAB on CMSSW_7_x"
problems:
1. needs to use CMSSW_CC6 container
2. but that container does not have myproxy

* needs to be in an SL6 container
* needs to use a shell window in SL7 to issue crab createmyproxy  at least once/week
* need to create a valid proxy in the SL6 contariner
[code]
* needs to use all crab command inside the container as
[code]

possible imporovement:
depending on usage/demand, make crab client

[2021-09-27 16:18] belforte opened #6784 "when rejecting submit command fill the tm_task_failure field as well"
so that the submission failure will be picked up e.g. by
https://cmsweb.cern.ch/crabserver/prod/task?subresource=lastfailures&minutes=60
for this should modify
https://github.com/dmwm/CRABServer/blob/a7a7aca20b6edd1fdcf18477e5acfb3002c8adb6/src/python/TaskWorker/MasterWorker.py#L295
allowing to pass a string with the failure message which can be used in this line
https://github.com/dmwm/CRABServer

[2021-09-27 16:37] belforte commented on #6783
done in
https://twiki.cern.ch/twiki/bin/view/CMSPublic/CRAB3FAQ#I_need_to_use_a_old_CMSSW_releas

[2021-09-27 16:37] #6783 closed

[2021-09-27 17:14] belforte opened #6785 "use more templates for CI (Jenkins)"
need to expand template usage so that we can adapt Jenkins tests to multiple CMSSW releases

ideally starting from a CMSSW version the template should automatically pick:
- scram arch
- input dataset
- OS to use for submission
the CMSSW version should be an env. var. so that in case we can further finely tune in the code like now when we stil vorole check for prod client.

list of CMSSW_version/sc

[2021-09-29 09:39] belforte opened #6786 "fix 2h latency problem in TW internals dashboard"
maybe Ceyhun knows how ?

[2021-09-29 20:20] belforte commented on #6781
Oracel updated, CRAB restarted, all fine. Keep this as documentation of the procedure should we need to shutdown CRAB for an extended time again.

[2021-09-29 20:20] #6781 closed

[2021-09-29 20:22] belforte opened #6787 "make sure that all data sent to DBS are validated via Lexicon"
see https://github.com/dmwm/WMCore/issues/10844

[2021-09-29 20:23] belforte commented on #6787
it is not critical, if data are not correct they will be rejected by DBS go implementation, but it is surely better to catch and fix before sending data and having calls fail

[2021-09-29 21:04] belforte opened #6788 "adapt to new DBS output format"
see https://github.com/dmwm/WMCore/issues/10841#issuecomment-930541279

[2021-09-29 21:12] belforte opened #6789 "maximize use of WebDav in FTS-ASO"
WebDav and Gridftp can;t talk to each other.
ASO FTS_Transfer.py should make an effort to use dav whenever source/target support it.
We want to have i in use wherever possible by end of 2021

FYI @nsmith-  @bbockelm

[2021-09-30 07:37] ddaina commented on #6685
@belforte, @vkuznet ,

Back to this odd problem `1 out of 3 times gocurl attempt to upload file to S3 fails`.

As I understood from various pieces of S3 documentation, file or content always has to be the last field in the form submitted. That being said, both `curl`, e.g. [1], and `gocurl` fails when `-F "file=@filename"` is not the last field in the form submitted and both uploads file successfu

[2021-09-30 09:41] belforte commented on #6777
hopefully we are out of frenetic version changing/deploying for a while. Closing

[2021-09-30 09:41] #6777 closed

[2021-09-30 09:53] belforte commented on #6685
for @vkuznet convenience I have created a GH issue in gocurl repository pointing to the above description

[2021-09-30 12:06] belforte commented on #6301
We are now running Oracle19 in all DB instances.
So this is really about migrating to Cx_oracle 19 in py3 context.
Renaming and assigning to Dario.

[2021-09-30 12:10] belforte commented on #6301
references:
https://github.com/dmwm/WMCore/issues/10414
https://github.com/dmwm/WMCore/issues/10415

[2021-09-30 12:19] amaltaro commented on #6301
FYI.: Erik tested the new oracle client (py3-cx-oracle that now depends on oracle19 instead of oracle.spec) and apparently there are only 9 new failures. I believe further feedback will be provided today in:
https://github.com/dmwm/WMCore/issues/10416

but bottom line is, it seems to be "pretty" compatible with client v11.

[2021-09-30 19:46] belforte commented on #6789
great hint from Nick:
[code]

[2021-09-30 20:33] belforte commented on #6789
I tested the above with a few site pairs with non-davs sites (Pisa e.g.) and looks just fine.
So will put this in FTS_transfers and see how it goes.
Here's a link to how to monitor used protocol in FTS (thanks Nick again):
https://monit-grafana.cern.ch/d/mtQFDScGk/cms-fts-metrics?orgId=11&refresh=5m&var-vo=cms&var-group_by=protocol&var-src_rse=All&var-dst_rse=All&var-fts_server=All&var-activity=AS

[2021-09-30 20:37] belforte commented on #6789
example of running Nick's code:
[code]
gives
[code]

[2021-09-30 20:44] belforte commented on #6789
about stageout check, which is mostly about not submitting if your disk is already full or you indicated the wrong site, I will simply try WebDAV first, and fall back to another protocol if that's not available. FYI @bbockelm @nsmith-

[2021-09-30 21:48] belforte commented on #6789
seems right time to get rid of current code which looks up lfn2pfn for each file making zilions of calls to Rucio !
There's no way anymore that a site can split a user storage space across different PFN paths ! (and l think never was, but ... I did not write this to begin with).
https://github.com/dmwm/CRABServer/blob/6d339619b91413a0d1631882bbe7740b4519e961/scripts/task_process/FTS_Transfers.py#L

[2021-10-01 08:05] ddaina opened #6791 "/root/cleanTW.sh tries to delete non existing files"
[code]

[2021-10-01 08:47] belforte commented on #6791
mutliple scripts running at same time ? this keeps happening every now and then...

[2021-10-01 12:10] belforte commented on #6659
after a chat with @ddaina , we have converged on this plan
1. turn the table at the top into a file in e.g. https://github.com/dmwm/CRABServer/tree/master/test (or gitlab ?)
2. we will maintain that list of <= 10 CMSSW releases to test, one for each major series (CMSSW_7 is special)
3. we will not test CRAB with multiple archs per release, i.e. only use one arch per release
4. we have no good idea

[2021-10-01 12:44] belforte commented on #6785
had a chat with @ddaina , here's some summary, which goes a bit beyond "templates":
1. Jenkins build-witth-parameter page will offer a pulldown menu with a predefinel list of CMSSW releases
2. each release will be associated (hardcoded) with  a scramarch and inputdataset, see #6659
3. release, arch, dataset, crab instance, client version will all be env. var. in the eventual test script that will

[2021-10-02 20:02] #6789 closed

[2021-10-04 08:07] belforte opened #6793 "FTS_transfers issues multiple delete requests for same file"
current code [1] checks xfer status of individual files while FTS job is running. It is good to mark xfers as done
as soon as they are, but currently the same file will appear "OK" every next time the FTS job is looked at and a new
delete request will be issues. This could cause problems if FTS job runs long, xfer for a file failed and job was resubmitted at same site, there's a race condition wit

[2021-10-04 11:53] belforte commented on #6793
hmm.... looking at things, I see fundamental problems here, which may explain problems we had in the past and that make it very difficult for me to imagine a good solution.

* FTS_transfers runs and updates file transfer status in Oracle every 5 min.
* PostJobs run "whenever it happens" each of them repeating every 30min since job ends
* Each PostJob queries Oracle for status of all xfers and upda

[2021-10-04 12:09] belforte opened #6795 "maxEvents is not correctly propagated in PSET by the wrapper"
from https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/6175/1/1/1/1/1/1/1/1.html

https://cmsweb.cern.ch:8443/scheddmon/0144/cms1038/211004_103055:melu_crab_WJet_pt100to250_MG265_1/job_out.1.0.txt
does indeed show a problem.
quoting from it:
--lastEvent=3000
== JOB AD: CRAB_AlgoArgs = "{"splitOnRun": false, "events_per_job": {"halt_job_on_file_boundaries": false, "events_per_lumi": 100,

[2021-10-04 12:13] belforte commented on #6795
PSet after the tweak has
[code]

[2021-10-04 12:43] belforte commented on #6795
maybe something is wrong here
https://github.com/dmwm/CRABServer/blob/614f6148c261cd6215b13a7cd6f7cddde47b633c/scripts/TweakPSet.py#L177-L179

[2021-10-04 13:05] belforte commented on #6795
looking with `preparelocal` the final PSet has
[code]
even if it also has
[code]
and `PSetTweak.json` has
[code]

[2021-10-04 13:27] belforte commented on #6795
while running with `preparelocal` the "old" job
I find the same externalLHEProducer config. in the original PsetDUmp.py
but the PSet.pkl after the tweak has
[code]
so "something" was changing the config for externalLHEProducer whcih is not done anymore.

I have not found a reference ot LHEProducer in old nor new WMCore or CRAB.
WIll need to run the old tweak with pdb.

[2021-10-04 13:47] belforte commented on #6795
I think that the new TweakPset.py needs to call `cmssw_handle_nEvents.py` like in
https://github.com/dmwm/WMCore/blob/85d6d423f0a85fdedf78b65ca8b7b81af9263789/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L448-L465

[2021-10-04 14:04] belforte commented on #6795
@khurtado @davidlange6 can you quickly think of something else which I may have overlooked and need to call instead ?
So far I am using:

edm_pset_tweak.py
cmssw_enable_lazy_download.py
cmssw_handle_random_seeds.py
cmssw_handle_nEvents.py

[2021-10-04 14:05] #6795 closed

[2021-10-04 14:27] davidlange6 commented on #6795
sorry, is the context that your last commit did not fix the problem discussed here?

[2021-10-04 14:30] belforte commented on #6795
no I think that last commit worked. But am worried that I may still be missing some needed tweak.

[2021-10-04 14:35] belforte commented on #6795
I mean something that is only important/needed in some use case which I have not tested. I had verified plaint Pythia generation, but not with LHE input. Do not know all things which may be out there :-)

[2021-10-04 14:48] davidlange6 commented on #6795
Not that I would know:) - but perhaps best if you knew and then crosscheck starting from what tweaks were applied before to crab jobs?

[2021-10-04 14:56] belforte commented on #6795
like if that were ever documented ! well at least now it looks like I know where
to put my hands if issues arise, sort of the best one can hope for

On 04/10/2021 16:48, David Lange wrote:

[2021-10-04 15:11] belforte commented on #6793
somehow the cleanest thing is to keep a list of files in the job and only update status remove source for files which just completed, striking them from the list. I fear that current code also writes "OK" or "FAIL" for every file every 5 min !
indeed
![Screenshot from 2021-10-04 17-10-57](https://user-images.githubusercontent.com/1837785/135876795-144822c6-8792-430c-822b-d18c70de6619.png)

[2021-10-05 14:21] #6793 closed

[2021-10-05 14:27] belforte commented on #6793
I see that this is creating lots of problems at least in tasks currently running in preprod (CMSSW_12).
So have created a new tag with it and will deploy on crab-prod-tw02 ASAP.
FYI @mapellidario @ddaina

[2021-10-05 22:46] belforte opened #6798 "new ASO code for webDav fails when transferlog is true"
this code
https://github.com/dmwm/CRABServer/blob/a293cc5ce9eddfd4b258ab90dbe8de974b08a471/scripts/task_process/FTS_Transfers.py#L371-L384
only works when `toTrans[0][0]` has a format like
[code]
but if user has `transferLog=True` the first element in `toTrans` has a LFN like
[code]
not the `/log` before the file name. So current code ends up in making PFNs like
[code]
which do not exist

Will fix

[2021-10-05 22:59] belforte commented on #6798
@ddaina @mapellidario I am not sure what's the best way to extract prefix here, and will gladly take suggestions
I will be offline first half of tomorrow morning (family stuff).

[2021-10-06 08:48] belforte commented on #6798
Jenkins test of transferLog did not fail since the job ran at CERN and so used direct stageout instead of ASO machinery. Back to.. we can't test every possible use case

[2021-10-06 12:29] #6798 closed, assigned to belforte

[2021-10-06 12:43] belforte opened #6800 "do not duplicate FTS jobids to track in FTS_transfers"
looking e.g. at this log fragment [1]  I think that may comment in
https://github.com/dmwm/CRABServer/blob/a78b2408f9f3db905f2659a752c2c7c12aeb9963/scripts/task_process/FTS_Transfers.py#L548
was correct and all the comments in here should be applied
https://github.com/dmwm/CRABServer/blob/a78b2408f9f3db905f2659a752c2c7c12aeb9963/scripts/task_process/FTS_Transfers.py#L548-L557

yet this is not fixi

[2021-10-07 13:56] belforte opened #6801 "make sure job wrapper defines $HOME"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/6185/2/1.html
pasting here relevant text
[code]

[code]

and Dan's suggestion for how to fix:
[code]

[2021-10-07 15:23] #6801 closed

[2021-10-07 15:51] belforte opened #6803 "make it possible to use python3 for DAGMAN's in scheds"
initial steps:

- change `python` to `python3` in dag*startup.sh
- change `AdjustSite.py` to do `from http.client import HTTPException`
- yum install python36-future
- yum install python36-pycurl
-

[2021-10-07 20:37] belforte commented on #6803
I can likely find a working environemnt with setting up e.g. CMSSW_12_x, but of course there is no htcondor there...

[2021-10-07 21:13] belforte commented on #6803
all of this becasue apparently py3 has become more picky than python2 and does not like that we swap backend exaclty to bring in openssl authentication in addition to the uselss (for us) nss
[code]

I was hoping not to need to bug you and  Shazad on this, we nee such simple pythons here :-(

if we need a sofisticated env,.. why not what WMA uses ? all in all it runs on "same schedds" as CRAB stuff

[2021-10-08 13:52] belforte commented on #6801
It is not enough to define $HOME in the main wrapper, need to be done also (or instead) in the CMSSW environment where the user application is run, which now uses a clean env where only $X509_USER_PROXY is carried over
https://github.com/dmwm/CRABServer/blob/d950ef1919c0ed5372481dcd7bcbff7e3b7f60cd/scripts/CMSRunAnalysis.py#L795-L808

[2021-10-08 18:40] belforte opened #6805 "use WebDAV endpoints in stageout check and deal with case it is missing"

[2021-10-10 20:25] vkuznet commented on #6685
@ddaina I applied a change to gocurl, please try out master head (see commit https://github.com/vkuznet/gocurl/commit/cecac925c721f499975307faae37b5b852d7b69b)

[2021-10-11 07:47] ddaina commented on #6785
from now on,  once user selects `CMSSW_release` value from a predefined list in `CRABServer_ExecuteTests` test, `inputDataset` and `SCRAM_ARCH` will be set automatically. Configuration map is stored currently in my fork of [CRABServer](https://github.com/ddaina/CRABServer/commit/f37e372a9304709d3b5217047ce84735cd045bb4) repo, will push to official repo later with other changes

[2021-10-12 16:25] belforte commented on #6805
Isn't this volume the amount of stageout that we do with gsiftp ~now ? i.e. once last big T2's and FNALLPC has moved ?
Then wqe can measure in ~December/January

I am wondering if we can fine tune more.
When a job runs at executionSite, it knows if storageSite is davs capable ? Can it know what executionSite is capable of, w/o making queries to Rucio from grid jobs  (e.g. some classAd) ? If it cou

[2021-10-13 15:43] belforte commented on #6805
thanks Stephan ! All good than.

[2021-10-18 13:18] belforte opened #6808 "use wedav endpoint if available in TW stageout check"

[2021-10-18 13:24] belforte opened #6809 "Make cmscp.py force direct stageout if running site and storage site have no compatible WAN TPC protocols"

[2021-10-19 12:08] ddaina opened #6811 "Close this issue: testing GH API"
testing GH API

[2021-10-19 12:10] ddaina commented on #6811
testing GH API v1

[2021-10-19 14:50] #6811 closed

[2021-10-19 16:03] stlammel commented on #6805
@belforte  Yes, do complain to your Site Support team!
I'll take a look at the two sites and get things corrected. SAM tests still allow fallback to the old config, thus us not having realized this. I ask Hector/Pau to check all sites.
Thanks for your message!
- Stephan

[2021-10-19 20:00] stlammel commented on #6805
There are 11 sites with missing storage.json, they have been notified.   - Stephan

[2021-10-19 20:50] belforte commented on #6805
thanks @stlammel and Hector/Pau.
ls  $SITECONFIG_PATH also checked ? I think that current approach based on JOB_CMSSite is reasonably solid atm, and looking in cvmfs only sites where we do not run jobs do not have the storage.json.
But I suspect it may not properly take subsites into account. So I guess I should switch to that once deployment is complete for sites we may actually run jobs at.

[2021-10-19 21:39] #6808 closed, assigned to belforte

[2021-10-19 21:39] #6809 closed, assigned to belforte

[2021-10-19 21:40] #6805 closed, assigned to belforte

[2021-10-20 21:20] belforte commented on #6803
I made that work on my SL7 VM where I already had pip.
And of course I want to do this as root and make it available to every user, in spite of pip telling me all of the times
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

H

[2021-10-21 19:18] stlammel commented on #6805
@belforte Hallo Stefano,
we are down to three sites. While changing the SAM test, i was reminded that not all
sites will have a storage.json. Storage-less sites will not have a file. For them, the TFC
for the stage-out needs to be taken from the site referenced in site-local-config.xml.
I wanted to make sure you realize this "feature".
Thanks,
- Stephan

[2021-10-21 21:54] belforte commented on #6803
only now I understood that I do not need to build pycurl on every node, just do it once, and bring it around.
So in the end things are as simple as
* log as `root` on a bare newly built SL7 VM
* install `cvmfs`
* build pycurl with current python3/pip3... everything default (details below), yields a `pycurl.cpython-36m-x86_64-linux-gnu.so` file for pycurl-7.44.1
* go to any sched as `root`, put tha

[2021-10-22 14:40] belforte opened #6813 "make code for sched py3compatible"
I am not sure it is worth to move "code for scheds" independently from other code, since it carries with it also a large part of TW. Have started to talk to @mapellidario about doing basic things in a unified way.
Anyhow there also things which required more ad hoc code changes and in any case I need a place where to track my todo list in order to use python3 in sched.

[2021-10-22 15:06] belforte opened #6814 "remove calls to old MonAlisa based dashboard"
time to clean up.. they fail to do anything since years and now conflict with py3 syntax

[2021-10-23 20:45] belforte opened #6815 "improve message for malmormed dataset names"
a user submitted without the initial '/' in the input dataset name in the config and got this
[code]

[2021-10-23 20:48] #6815 closed, assigned to belforte

[2021-10-25 17:17] #6814 closed, assigned to belforte

[2021-10-27 15:23] KatyEllis opened #6819 "#1 Jenkins test"
I am a test from Jenkins

[2021-10-27 15:23] #6819 closed, assigned to nobody

[2021-10-27 21:30] belforte opened #6820 "use PKL version of status_cache in PreDag"
when I introduced the new pickle format for status_cache file in https://github.com/dmwm/CRABServer/issues/6675#
I did not notice that this file is also used in PreDag.py

Now when running PreDag in python3, it fails on the `literal_eval`
https://github.com/dmwm/CRABServer/blob/23707a194a1df38cd8cda928c21b6723001a95ea/src/python/TaskWorker/Actions/PreDAG.py#L72-L76
when parsing lines like this one

[2021-10-28 08:12] cmsdmwmbot opened #6821 "[ignore] testing cmsdmwmbot"
please ignore and close me

[2021-10-28 08:29] #6821 closed, assigned to nobody

[2021-10-28 10:55] belforte opened #6822 "take gocurl from CVMFS"
similarly with https://github.com/dmwm/CRABClient/issues/5099
should now use `cvmfs/cms.cern.ch/cmsmon/gocurl` as location for the gocurl executable

[2021-10-28 11:35] #6822 closed, assigned to belforte

[2021-10-28 13:49] mapellidario opened #6827 "src/python/Databases should support py3"
src/python/CRABInterface imports from src/pythhon/Databases, so in order to make the CRAB REST server suport we need to make the latter py3-compatible

[2021-10-28 16:14] #6803 closed, assigned to belforte

[2021-10-28 17:19] mapellidario opened #6830 "src/python/CRABInterface should support py3"
src/python/CRABInterface should run in py3

Status quo:

- [x] crabserver REST interface run from dmwm/python3 branch
- [x] CMSKubernetes: use https://github.com/dmwm/CMSKubernetes/pull/867
- [x] cmsdist: use https://github.com/cms-sw/cmsdist/pull/7452

known problems and missing changes
- [x] https://cmsweb-test1.cern.ch/crabserver/ui returns 404. missing index.html file. Note from Stefano: this

[2021-10-28 17:47] mapellidario opened #6832 "Stress test CRAB REST server - investigate http 503 errors"
Related to #6708

In order to better understand how to address #6708, we need to replicate these errors in a controlled environment.

The idea is to hit `test1`, `test2` or `testbed` cluster with production-like heavy http calls.

Steps:
- [x] use tcpflow to get a sample of production-like http calls (run tcpflow into a k8s container while submitting and running a task)
- [x] replicate a GET call

[2021-10-29 09:44] #6820 closed, assigned to belforte

[2021-10-29 11:14] mapellidario opened #6834 "Remove CouchDB code from REST"
In the spirit of cleaning up the CRABInterface code during its migration to py3, we should remove CouchDB-related code from it.

This will have the advantage that while we test the py3-related changes, we will also test these cleanup changes, hopefully with no overhead.

[2021-10-29 12:41] belforte opened #6837 "get out of the way MYSQL code"
there never was a CRAB3 which really works on MySQL and many changes over the years have been done only in the Oracle version of SQL files.
Yet.. future is uncertain and I will move the old code in a directory where it does not confuse searches with grep etc. than fully remove it, in case it comes useful one day.

[2021-10-29 12:56] #6837 closed, assigned to belforte

[2021-10-29 13:34] belforte opened #6839 "python3 branch fails to build after cleanup"
somehow build still looks for code which I removed:
from https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_BuildOnRelease/234/consoleText
[code]

[2021-10-29 16:11] #6839 closed, assigned to belforte

[2021-10-29 18:31] belforte commented on #6813
I resubmitted my test and got same error as Jenkins. At least there's consistency !
OTOH
1. the local DagmanCreator.py in the spool dire of the tasks which fails/succed are identical as far as hashlib calls
2. the task which succeedes still had
[code]
3. the tasks which fail now have
[code]

so at the very least I was wrong in https://github.com/dmwm/CRABServer/pull/6841 and since there's no argui

[2021-10-29 20:20] belforte commented on #6813
things are hopefully fixed in https://github.com/dmwm/CRABServer/pull/6843

[2021-10-29 20:36] belforte opened #6844 "stop using asoConfig in REST Config"
the external config file
https://gitlab.cern.ch/crab3/CRAB3ServerConfig/blob/master/cmsweb-rest-config.json
still has references like
[code]
or
[code]
which are not needed, since ASO always talk with `transfersdb` via the same REST Host used for all CRABServer calls.

Need to

- [x] properly cleanup PostJob,py

and then can remove the code which deals with the asoConfig in
- [x] ./python/CRABInter

[2021-10-29 20:37] belforte opened #6845 "remove all code referencing CouchDB"
after having done the "EASY" part as per #6834 I am left with:

[code]
let's tackle one by one:
- [x] ./python/ServerUtilities.py
easy, only contains `isCouchDBURL` will do once is not used anymore
- [x] ./python/TaskWorker/Actions/DagmanResubmitter.py
I need to understand this, it looks like resubmit publication goes via couch !!!???? FIrst priority !
- [x] ./python/TaskWorker/Actions/PostJob.py

[2021-10-29 20:37] #6834 closed

[2021-10-29 21:12] belforte commented on #6845
resubmission code in
https://github.com/dmwm/CRABServer/blob/8dcb7a5d4bc0ed4af0fd39ec9f7cc69a1d15f7cc/src/python/TaskWorker/Actions/DagmanResubmitter.py#L196
is actually not used anymore.
Resubmission of publication is taken care of in the REST via
https://github.com/dmwm/CRABServer/blob/8dcb7a5d4bc0ed4af0fd39ec9f7cc69a1d15f7cc/src/python/CRABInterface/DataWorkflow.py#L641
before removing code it

[2021-10-29 21:25] belforte commented on #6845
indeed that `task['resubmit_publication']` is added to `task` dictionary in
https://github.com/dmwm/CRABServer/blob/e5bff47294d5e90de66edfe6701b2aa1b5019c33/src/python/CRABInterface/DataWorkflow.py#L375
which is obsolete since years, having been replaced by
https://github.com/dmwm/CRABServer/blob/e5bff47294d5e90de66edfe6701b2aa1b5019c33/src/python/CRABInterface/DataWorkflow.py#L255
but was never c

[2021-10-29 21:38] belforte commented on #6813
I tagged a new version https://github.com/dmwm/CRABServer/releases/tag/py3.211029pre4 with that last change and deployed it on crab-dev-tw01
Automatic splitting now works w/o any error in `predag.0.txt` log
For final confirmation I am re-running Jenkins as well

[2021-10-29 21:59] belforte commented on #6845
can be closed once https://github.com/dmwm/CRABServer/pull/6848 is merged

[2021-10-29 22:40] belforte commented on #6844
in doing this I assume that previous PostJob cleanup was done, i.e. it must be applied on the branch where https://github.com/dmwm/CRABServer/pull/6848 was merged

[2021-10-29 22:46] belforte commented on #6844
cleanup is more extensive than initially thought.
https://github.com/dmwm/CRABServer/blob/cef2ad9982a75f3201f8a75c50c4b47f2d236196/src/python/CRABInterface/RESTUserWorkflow.py#L226
turns the params from REST JSON config `asourl` and `asodb` into DB entries which are refernces in a lot of places
[code]

[2021-10-29 22:48] belforte commented on #6844
Anyhow this is an old relic to get rid of, but just a few lines here and there and should have no impact on porting code to python3.

[2021-10-29 22:54] belforte commented on #6844
work in progress in my branch
https://github.com/belforte/CRABServer/tree/remove-asoConfig
will get again to this later next week

[2021-10-29 23:00] belforte commented on #6813
jenkins test was good this time
https://cmsweb-test2.cern.ch/crabserver/ui/task/211029_214226%3Acmsbot_crab_20211029_234224

back to waiting for

I.e. sched-specific code is OK for python3 now. Other than
- [ ] RUCIO_Transfers.py and its dependencies (to do) (should better be done at same time as, or after, Diego  revise the code)
- [ ] FTS_Transfers.py and its dependencies (waiting for FTS py3 cl

[2021-10-30 12:05] #6845 closed

[2021-11-03 08:23] belforte opened #6849 "task stuck with acquired publication"
![Screenshot from 2021-11-03 09-21-59](https://user-images.githubusercontent.com/1837785/140028258-d4c097d1-2e4b-48e4-96aa-6bca426138f3.png)

[2021-11-03 08:25] belforte commented on #6849
is there since July !!
From master log:
[code]

[2021-11-03 17:20] mapellidario commented on #6830
We have found a new problem with #6831: `tm_edm_outfiles': [b'minbias.root']` fails to be serialized, log from crabserver at [1]

fyi @belforte

[1]:

[code]

[2021-11-03 20:47] belforte commented on #6830
the Jenkins test suite "configurationValidation" will take care of testing those empty lists (at least most of them, some like `tm_*_outfiles` depend on details of the user pset and we do not have tests for them yet. Could certainly add though. But I expect that when we fix a couple of those we will have the recipe for all, so making Jenkins tests more complete should not be a prerequisite.

[2021-11-04 08:47] belforte commented on #6844
progress. Now all TW parts are cleaned and worth testing before finalizing cleanup of REST and Database code:
[code]
and variables in `asoConfig` dictionary in REST JSON config are only referenced in comments
[code]

[2021-11-04 20:38] belforte commented on #6830
current code, including the unsolved issue above, is captured in tag [py3.211103](https://github.com/dmwm/CRABServer/releases/tag/py3.211103)

[2021-11-04 20:58] belforte commented on #6830
the problem [above](https://github.com/dmwm/CRABServer/issues/6830#issuecomment-959751781) with `[b'...']` comes from this line
https://github.com/dmwm/CRABServer/blob/8dcb7a5d4bc0ed4af0fd39ec9f7cc69a1d15f7cc/src/python/CRABInterface/RESTWorkerWorkflow.py#L123
where the content in `current` is an Oracle ListOfBytes `<cx_Oracle.LOB object at 0x7fd2c0380540>
` and the output of `current.read()` is e

[2021-11-04 20:59] belforte commented on #6830
another problem spotted looking at crabserver rest log, in a call from Publisher:
[code]

[2021-11-04 23:46] belforte commented on #6830
somehow consolidation into py3.211104 tag failed. After I managed to deploy to cmsweb-test1 I see
[code]
Somehow we now pass `{'tw_name': b'crab-dev-tw01', 'get_status': b'HOLDING', 'limit': 2}` ad bind varaibles in the SQL, when the correct format should have been `{'tw_name': 'crab-dev-tw01', 'get_status': 'HOLDING', 'limit': 2}`

[2021-11-05 09:22] belforte commented on #6830
dev DB is unfortunately unusable by a TW until we have another workaround. Since TW fails in retrieving the list of tasks to work on.

[2021-11-05 10:51] belforte commented on #6830
*RESET*

cmsweb-test1 is running with python.
I clearly used the old spec file, not the one modified by Dario :-(

[code]

let's defer to next week when Dario is back.

[2021-11-07 18:20] belforte commented on #6830
Only firm point:

The TaskWorker build with current code in python3 branch does not communicate with old REST, fails with this cmsweb-test2 log

So. backward compatibilty is not trivial and we need to be careful about the plam
for swtiching one component at a time.

At tirst sight I can't test tnew TW code in pytho3 brjanch unledd there's a working REST.

[code]

[2021-11-08 15:55] belforte commented on #6776
Best that I could find, CRABServer repository is now free of any reference to old crabcache

[2021-11-08 21:08] belforte opened #6851 "test new DBS Client v 4.0.0"
from Valentin:
[code]

[2021-11-10 16:28] belforte commented on #6849
looking at log I find also a recent stuck task
[code]
oddily does not show up in Grafana
![Screenshot from 2021-11-10 17-27-51](https://user-images.githubusercontent.com/1837785/141152686-783dc204-311e-4847-8cdc-b13cdee3d931.png)

[2021-11-10 17:01] belforte commented on #6849
**210707_233010:cmantill_crab_STs-channel4fleptonDecaysTuneCP513TeV-mcatnlo-pythia8RunIISummer19UL17MiniAOD-106X** has two failed migrations since "ever"
somehow we did not notice, since it is intentional not to retry migrations but ask Yuyi to check why they failed first. This ones being so old... I will delete them and let Publisher try again.

[2021-11-10 17:35] belforte commented on #6849
**211104_082711:lathomas_crab_etmhfskim4nov2021** on this TaskPublish script fails because it does try to remove failed publication (and exactly the one from 2019 in comment above) . Log ends with
[code]
and crashes at that point with
[code]
I need @yuyiguo  help here to get rid of failed migration id 2738375,

[2021-11-10 17:42] belforte commented on #6849
Anyhow, in the end there is no bug in the code. Only we did not notice failed migrations and failed to act in time.

[2021-11-10 17:48] belforte commented on #6851
I ran a small test "by hand" but this requires python3 so we can do more extensive tests only after we move TaskWorker and then Publisher to python3.
Until then, if one wants to test by hand in standalone mode, can follow the instructions in the DBSClient wiki in GH. But also I have done the needed thing on the crab-prod-tw01 VM (not in the container!) and one can simply run there.

[2021-11-10 17:49] belforte commented on #6851
On HOLD until we have a TW which runs with python3, then will look into adding the new DBS Client.

[2021-11-10 17:54] belforte opened #6853 "update Publisher Utils scripts"
https://github.com/dmwm/CRABServer/blob/master/scripts/Utils/FindFailedMigrations.py
and
https://github.com/dmwm/CRABServer/blob/master/scripts/Utils/RemoveFailedMigration.py
should be updated to be like https://github.com/dmwm/CRABServer/blob/master/scripts/Utils/DebugFailedBlockPublication.py so that it is possible to run them simply from inside the container.

At that point also these instructi

[2021-11-10 20:12] yuyiguo commented on #6849
@belforte
Which DBS has 2738375 that needs to be removed?

[2021-11-10 21:33] belforte commented on #6849
Yuyi all CRAB migrations are from prod/global to prod/phys03. So I presume prod/global is the answer.  Anyhow here's result from querying migration status
[code]

[2021-11-10 21:50] yuyiguo commented on #6849
@belforte It is gone.

[2021-11-10 21:59] belforte commented on #6849
thanks, alas it looks like there may be bunch of those, since now things fail on 2738384

2021-11-10 22:54:25,226:INFO: Result of migration request: {'migration_details': {'migration_status': 9, 'create_by': 'service@vocms0105.cern.ch', 'migration_url': 'https://cmsweb.cern.ch/dbs/prod/global/DBSReader', 'last_modified_by': 'service@vocms0105.cern.ch', 'creation_date': 1557534139, 'retry_count': 3

[2021-11-10 22:04] yuyiguo commented on #6849
Done with 2738384.

[2021-11-10 22:19] belforte commented on #6849
so the problem is that TaskPublish.py still has code which attempts to remove failed migrations inserted in  May 2019 when we had a storm of problems. But at that time we were running on the now defunct vocms0105.cern.ch and so removal fail due to DN mismatch.
I will comment that out, so that we get a clean list of all needed migrations and their status.

[2021-11-10 22:30] belforte commented on #6849
here they are:
[code]

[2021-11-10 23:30] belforte commented on #6670
new idea: computer #lumis/#files and use it to get #lumis per block and limit files-per-block to keep lumis per block below 1M (or less)
Looking at past stat, this cut selects of cases wheren publication failes after >100sec, even if there a are a handful "false positive" which would have been splitted in smaller blocks w/o need... no big damage.
Below, from `logs/STATS.txt` the last 100 lines of

[2021-11-11 16:05] yuyiguo commented on #6849
@belforte All 34 prementally dead migration requests were removed from the DB. Let me know if other needed.

[2021-11-11 16:23] yuyiguo commented on #6670
@belforte
The big lumi block insertion is case by case from the DB point of view. Because of the 300 second restriction imposed by FE, we have to get everything in DB with this limit. Current DBS python based server does multiple commits to the DB so re-insection of a failed larged block due to timeout will not start from the beginning. It may be inserted after the second try.  However, if the lum

[2021-11-11 17:39] belforte commented on #6849
thanks @yuyiguo i ! all pending work has completed. I have no way to tell if there are more stuck migrations from May 2019, but we keep agreed policy not to remove/retry failed migration automatically, but report them to you for investigation first.
I surely wish all issues were as rare as DBS migration failures :-)

[2021-11-11 17:43] belforte commented on #6849
so everything is good now and no there was no bug.
I have two action items on me: comment out the code which tries to remove migrations failed in 2019 (since they were created by vocms0105 there's no point and it makes script to crash) and improve detection of failed migrations. Will follow up in ad hoc issues.

[2021-11-11 17:43] #6849 closed

[2021-11-11 17:49] belforte opened #6854 "do not remove any more DBS migration failed in 2019"
this code
https://github.com/dmwm/CRABServer/blob/edb15ba1633b4650ad22dda390946b6ff92577ae/src/python/Publisher/TaskPublish.py#L299-L310
is not useful anymore because those migrations where created by DN `vocms0105` and DBS does not let the new `crab-prod-tw01` nor me delete them. Only DB admin (Yuyi) can do. So the attempt causes TaskPublish.py to crash. Better to stick with default of logging th

[2021-11-11 18:04] belforte commented on #6670
Forgot to say: yes, I heard from you already that now we can try to insert a block multiple times and it will resume where it left. But current code does not retry failed blockinsert. What I saw in several cases is that HTTP call times out, so I get an error, but later on when I check I find that all files had been inserted in DBS, i.e. the server completed in the end, even if cmsweb FE timed out.

[2021-11-11 20:28] yuyiguo commented on #6670
I heard you. No rush here.

[2021-11-11 20:34] #6854 closed

[2021-11-11 20:38] belforte commented on #6854
done in both master and python3 branches

[2021-11-11 20:55] belforte commented on #6785
@ddaina one month after last edit, time to wrap this up. I think we can close. What do you think ?
There are still 3 open tasks in above comment https://github.com/dmwm/CRABServer/issues/6785#issuecomment-932194734
I propose:
 1. skip use_parent, defer to when we have a clear use case and do then
 2. lxplus vs. container vs. singulairyt, I think has been sorted out and done
 3. tracking via GH iss

[2021-11-11 23:27] belforte commented on #6670
I tested the "1M lumis per block" limit on the pathological task and it seems to do the trick.
So am putting that in.

[2021-11-11 23:37] belforte commented on #6670
@yuyiguo I forgot to say that if user care, they can always issue `crab resubmit --publication` and that will force a retry of block insertion. The good thing about handing it to user to do, is that it guarantees a good delay from the time if fails, very convenient if DBS or cmsweb FE was having an unrelated issue. In a way CRAB has hundreds of (incompetent) operators, and I try to exploit the goo

[2021-11-11 23:48] #6670 closed

[2021-11-12 08:02] ddaina commented on #6785
@belforte let's close this issue.
the only thing that is left I believe is `use_parent`, but as you say, lets do it when we have a clear use case

[2021-11-12 08:02] #6785 closed

[2021-11-12 13:26] belforte opened #6860 "fix reporting from Publisher of tasks with >1K aquired files"
see: https://github.com/dmwm/CRABServer/issues/6849#issuecomment-965513384
we nee to either change parsing in logstash or change Publisher log to avoid the additional `(***)` which currently flags task with more than 1K acquired files to be published.

All in all I am for removing those stars since the Grafana plot would now clearly show such situation.
Since this is not critical, I will only chan

[2021-11-12 13:54] belforte commented on #6860
Anyhow grepping for lines like
[code]
seems very fragile, there is no real "telling" pattern there.
@ddaina any better advice on how to print things ?

[2021-11-12 14:41] ddaina commented on #6860
I would suggest to have lines like this:
[code]

i.e. have additional word `acquired_files` (any other word will work too). this word will be keyword and allow to identify this specific log line. then we will make `acquiredOK` and `acquiredWARN` values of the attribute that will hold info about OK or WARNING situations.

let me know if i am not clear.

[2021-11-12 21:20] belforte commented on #6860
thanks Daina. Let's for a slightly more terse variant

[code]

[2021-11-13 10:09] belforte commented on #6830
Now there's a docker image with python3 dependencies. Thanks @mapellidario !!!
I managed to upload it to registry as `registry.cern.ch/cmsweb/crabrest:py3.211104patch1.3` and deploy on cmsweb-test1.
But server crashes on [1].
I had hacked the export into first lines of ./start.sh
[code]
to give it a shot yesterday, but then K8s restarted during the night and it was lost. We need a solution which s

[2021-11-13 10:12] belforte commented on #6830
a better solution for [1] above is likely to use newer OpenSSL. @mapellidario you should compare your build specs with latest WMCore stuff where they use OpenSSL from OS and in case we yum update it in the docker step or start from a newer cmsweb image etc. etc. We do not wan o allow OpenSSL 1.0.2 forever.

[2021-11-13 13:53] belforte commented on #6830
I fixed the pod manually again and managed to submit one task to cmsweb-test1 wich runs via crab-dev-tw01 using python3 on the vocms059 sched. Hope it is real progress since I have the feeling that I did this already a while ago. Hopefully we have a reproducible build now.
https://cmsweb-test1.cern.ch/crabserver/ui/task/211113_134420%3Abelforte_crab_20211113_144357

On the good side we can now exe

[2021-11-13 14:56] belforte commented on #6830
I sent two short taska and they worked smoothly. But Publisher is failing to retrieve info on task from DB (so it crashes and publications are stuck in NEW) with
[code]
which looks like the usual array-of-bytes vs. strings and apparently here REST is doing something I did not expect like reading a json file from schedd and parsing it.
THe API call was
[code]

[2021-11-13 15:21] belforte commented on #6830
indeed same API is also used by CRABClient, which anyhow downloads full detailed status from sched's webdir. Perverse !
[code]

[2021-11-15 14:44] belforte commented on #6860
I am only doing this in new Python3 branch since it is not urgent.
When we will see that plot is empty, we weill remember to change the `grok` expression in filestash !

[2021-11-17 17:03] mapellidario commented on #6830
We are back with a single and stable deployment of `crabserver`.

We need "only" the following changes:
- This PR https://github.com/cms-sw/cmsdist/pull/7452 allows to build an rpm that contains proper py3 dependencies, just change the tag to one of the tags in dmwm/CRABServer/python3 branch, which should start with `py3.` (using normal rpm procedure)
- small changes to a couple of scripts in dmwm

[2021-11-18 08:31] cmsdmwmbot opened #6862 "#116: Test dev CRABClient using preprod REST instance and CMSSW_7_1_29 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_7_1_29**
- SCRAM_ARCH: **slc6_amd64_gcc481**

**Tests started:**

 - Task_Submission_Status_Tracking: **true**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-18 09:31:34
Link to the [job](https://c

[2021-11-18 08:36] cmsdmwmbot opened #6863 "#117: Test dev CRABClient using preprod REST instance and CMSSW_10_6_26 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_10_6_26**
- SCRAM_ARCH: **slc7_amd64_gcc700**

**Tests started:**

 - Task_Submission_Status_Tracking: **true**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-18 09:36:41
Link to the [job](https://

[2021-11-18 08:37] ddaina commented on #6862
failed as I forgot to exclude lumimask URL submission task for sl6 tests

[2021-11-18 12:23] #6862 closed

[2021-11-18 12:23] #6863 closed

[2021-11-18 14:35] mapellidario commented on #6830
I found a new error in the logs (if we already found this, then i missed it!) [1]. Added it to the list of things to fix in the issue description.

[1]:
[code]

[2021-11-18 15:03] belforte commented on #6830
If I got right, the lines above those in the log are

[18/Nov/2021:15:28:17]  RESTSQL:kAmDeTrRdaJU connection established
[18/Nov/2021:15:28:17]  RESTSQL:kAmDeTrRdaJU prepare [SELECT tm_taskname, tm_task_status, tm_task_command, tm_user_ro
le, tm_user_group,              tm_task_failure, tm_split_algo, tm_split_args, tm_save_logs, tm_username,
  tm_user_dn, tm_arguments, tm_input_dataset, tm_dbs_u

[2021-11-18 15:59] belforte opened #6864 "Error during code cleanup"
when removing old crabCache code I introduced a problem here
https://github.com/dmwm/CRABServer/blob/238d27b366451b5071700ef0f6449dff9b8d4584/src/python/TaskWorker/Actions/DryRunUploader.py#L56

variable `result` is not define anymore (nor needed)

[2021-11-18 16:10] belforte commented on #6864
tested on crab-dev-tw01. With the fix crab submit --dryrun works.

[2021-11-18 16:11] belforte commented on #6864
closed via https://github.com/dmwm/CRABServer/pull/6865

[2021-11-18 16:11] #6864 closed

[2021-11-18 17:00] cmsdmwmbot opened #6866 "#128: Test dev CRABClient using preprod REST instance and CMSSW_12_0_1 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_12_0_1**
- SCRAM_ARCH: **slc7_amd64_gcc900**

**Tests started:**

 - Task_Submission_Status_Tracking: **false**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-18 18:00:08
Link to the [job](https://

[2021-11-18 17:04] cmsdmwmbot opened #6867 "#129: Test dev CRABClient using preprod REST instance and CMSSW_10_6_26 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_10_6_26**
- SCRAM_ARCH: **slc7_amd64_gcc700**

**Tests started:**

 - Task_Submission_Status_Tracking: **false**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-18 18:04:45
Link to the [job](https:/

[2021-11-18 17:30] cmsdmwmbot opened #6868 "#130: Test dev CRABClient using preprod REST instance and CMSSW_7_6_7 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_7_6_7**
- SCRAM_ARCH: **slc6_amd64_gcc493**

**Tests started:**

 - Task_Submission_Status_Tracking: **false**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-18 18:30:57
Link to the [job](https://c

[2021-11-18 19:39] ddaina commented on #6866
all client tests passed, closing.

[2021-11-18 19:39] #6866 closed

[2021-11-18 19:39] ddaina commented on #6867
all client tests passed, closing.

[2021-11-18 19:39] #6867 closed

[2021-11-19 09:18] belforte opened #6869 "do not look up DAG status via REST in Publisher"
while porting REST to python3 we found that the Publisher has some
very old way ot doing things, and uses REST HTCondorDataWorkflow API
which extracts the node_state.txt file form the schedd and parses it to
tell task status.
Such code breaks in python3 version of the REST (https://github.com/dmwm/CRABServer/issues/6830#issuecomment-968081218)
And such code clearly predates the introduction of con

[2021-11-19 09:20] belforte commented on #6869
FYI @mapellidario this may even enable us to deprecate the HTCondorWorkflow API. To be seen, but it would be great if we could. In any case it will make Publisher work with current REST in py3.

[2021-11-19 09:33] belforte commented on #6869
the code to be changed here is:
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/Publisher/PublisherMaster.py#L410-L416

[2021-11-19 09:43] cmsdmwmbot opened #6870 "#131: Test dev CRABClient using preprod REST instance and CMSSW_8_0_36 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_8_0_36**
- SCRAM_ARCH: **slc7_amd64_gcc530**

**Tests started:**
- [x] Client_Validation: **true**
- [x] Client_Configuration_Validation: **true**

Started at: 2021-11-19 10:43:44
Link to the [job](https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_C

[2021-11-19 13:11] belforte commented on #6870
I looked at the `Client configuration validation` log about the 3 failed tests
[code]
and I believe that those failures are due to "insufficient customization" of the test to this particular CMSSW version and input dataset.  In other words nothing to worry about.

* useParent fails because parent dataset is not on disk
* secondaryInputDataset passes in the config. as parent the wrong dataset [1] a

[2021-11-19 13:16] belforte commented on #6870
the failure of ClientValidation is less clear. At first sight from https://github.com/dmwm/CRABServer/issues/6870#issuecomment-973932764 looks like test ran too soon when jobs were not completed yet.
@ddaina can we simply retry it to verify, as I would have done in the past, or would this mess up reporing in this issue ?

[2021-11-19 13:17] ddaina commented on #6870
I just started that test again. restarted test will report in the same issue

[2021-11-19 13:22] belforte commented on #6870
nice !
now we have just a minor version of "how to keep track of all those mails". HOw does one look at this issue and quickly find that Client Validation succeeded in the end ? Imagine e.g. that you also ran status tracking, there will be  a handful more or messages written to this.

[2021-11-19 14:00] #6870 closed

[2021-11-19 14:28] belforte commented on #6868
I am looking at ClientConfigurationValidation failed tests.
First thing is that log needs mot be made more readable, now a failing test is only tagged by a
[code]
we need something like
[code]
so that it is easier to scroll down the (very long) log to check failures.

[2021-11-19 14:31] belforte commented on #6868
so with ref. to failed test above, here's the situation
test | task | reason
---|---|---
outputFiles-check.sh | 211118_173123:cmsbot_crab_outputFiles | needs getouput. No way in Syngularity
secondaryInputDataset-check.sh | 211118_173140:cmsbot_crab_secondaryInputDataset | ...
lumiMaskFile-check.sh | 211118_173142:cmsbot_crab_lumiMaskFile -| ...
runRange-check.sh | 211118_173143:cmsbot_crab_runRang

[2021-11-19 14:34] ddaina commented on #6868
thanks @belforte .
I will change logging.

[2021-11-19 14:34] #6868 closed

[2021-11-19 15:47] belforte commented on #6869
as a start I will try to insert code from crab status in the Publisher, but that code should rather be put inside cache_status_jel.py (to be renamed cache_status.py BTW), which is where DAG structure knownledge belongs to. CRAB Client has no business with knowing DAG status codes !

[2021-11-21 21:31] belforte opened #6871 "properly validate LFN for /store/group"
I found Publication failures for task 211121_170619:chenyi_crab_2021121PrivateDijetMIXRetry2
because the user specified a LFN [2] does not pass Lexicon validation [1]
in the TASK DB:
| | |
|--- | ---|
| tm_output_lfn | /store/group/phys_heavyions/chenyi/pp2017/MIX//QCD_pThat-15_Dijet_TuneCP5_5p02TeV-pythia8/chenyi-20211121PrivateDijetGSRetry-89a6ef68b87e0721d67a027534bffde4/USER/ |

Somehow LFN va

[2021-11-21 21:54] belforte commented on #6871
FWI the problem in the LFN seems the `//` in '/MIX//QCD_...` . An empyt field is not allowed between the `/`

[2021-11-21 21:55] belforte commented on #6871
here's the task config for debugging
[code]

[2021-11-22 09:46] dciangot commented on #6041
#6872 started a draft PR. Soon circulating here the document with the discussed implementation

[2021-11-22 09:49] dciangot commented on #5982
I think we converged on using plain RUCIO client API for the output transfer part right? Should we close this issue? Or we still have some item to solve? @belforte

[2021-11-22 09:50] dciangot commented on #6225
in #6872 this will be addressed adopting RUCIO CLI API directly on the transfer script

[2021-11-22 09:55] dciangot commented on #5951
@belforte should we close this in favor of  #6041 ? to avoid confusion mainly? or we still need to keep track of this somehow?

[2021-11-22 09:57] dciangot commented on #6040
Are we stiil on this? Or it's solved? @belforte

[2021-11-22 10:00] belforte commented on #5982
thanks Diego ! +1
For the record, let's summarize:
We came to the conclusion that WMCore Rucio class is not a generic wrapper, but something heavily customized for internal WMA/WMCore needs. And in agreement with WMCore developers have stopped using it everywhere. Rucio python client is clean and simple enough that using it directly makes code easier to read and to change.

[2021-11-22 10:00] #5982 closed

[2021-11-22 10:03] belforte commented on #6040
I am not sure. Need to check the code. In any case we never got to test with datasets in user scope. So I suggest to keep it open until that functionality is fully deployed. Maybe we should clarify the issue title ?

[2021-11-22 10:07] belforte commented on #6225
thanks Diego ! +1
For the record, let's summarize:
We came to the conclusion that WMCore Rucio class is not a generic wrapper, but something heavily customized for internal WMA/WMCore needs. And in agreement with WMCore developers have stopped using it everywhere. Rucio python client is clean and simple enough that using it directly makes code easier to read and to change.

[2021-11-22 10:07] #6225 closed

[2021-11-22 13:50] belforte opened #6875 "move DAG status parsing into cache_status.py"
as note in https://github.com/dmwm/CRABServer/issues/6869
this code has no reason to be in crabClient
https://github.com/dmwm/CRABClient/blob/6dacef82bfc104e782331808e0705391317ee521/src/python/CRABClient/Commands/status.py#L339-L401

parsing DAG status info and preparing a summary is a task which belongs in cache_status.py
where another key can simply be added to the dictionary for the status fil

[2021-11-22 17:00] mapellidario commented on #6830
Here we go with the first decoding(?) problem!

`211122_163233:dmapelli_crab_20211122_173223` failed at submission, with the `crab status` [1]. The only change between the configuration of this task and the one of `211122_162334:dmapelli_crab_20211122_172328` (which has been properly submitted) is [2], only the range of runs.

The same configuration as `211122_163233:dmapelli_crab_20211122_173223`

[2021-11-22 17:05] belforte commented on #6800
fix was merged only in `python3` branch so that we test it together with all changes in there
https://github.com/dmwm/CRABServer/pull/6877/

[2021-11-22 17:05] belforte commented on #6800
closed via https://github.com/dmwm/CRABServer/pull/6877

[2021-11-22 17:05] #6800 closed

[2021-11-22 17:11] belforte commented on #6830
indeed TW log for  that task says
[code]
there's a clear problem in passing around of the warning message.

[2021-11-22 17:19] belforte commented on #6830
@mapellidario FYI the faulty code is likely this one:
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/TaskWorker/Actions/TaskAction.py#L34-L60

[2021-11-22 17:32] mapellidario commented on #6830
We may need to convert `truncWarning` to bytes before base64 encoding it [(reference)](https://docs.python.org/3/library/base64.html#base64.b64encode)

    Encode the bytes-like object s using Base64 and return the encoded bytes.
    Optional altchars must be a bytes-like object of at least length 2 (additional characters are ignored) which specifies an alternative alphabet for the + and / charact

[2021-11-23 07:34] belforte commented on #6830
FYI @mapellidario for easy testing you should be able to call the `uploadWarning()` and the `deleteWarning()` functions with a test script using your proxy and your task name.  Both are in `./src/python/TaskWorker/Actions/TaskAction.py`. Indeed our e.g. Jenkins test are designed to work and hence we do not have good tests of error handling atm. Something to think about. But many API's require a ta

[2021-11-23 08:50] belforte commented on #6869
only merged in python3 branch. Closed via https://github.com/dmwm/CRABServer/pull/6874

[2021-11-23 08:50] #6869 closed

[2021-11-23 08:51] belforte commented on #6860
closed via https://github.com/dmwm/CRABServer/pull/6861

[2021-11-23 08:53] belforte commented on #6776
All done, only documentation is left, reduce priority and re-label

[2021-11-23 11:44] mapellidario commented on #6830
currently tested with TestRest notebook by stefano, adding (i am sorry for the italian in the warnig text :grimacing: )

[code]

The result is this `crab status`

[code]

So: the problem does not seem to be str/bytes mismatch happening _after_ `uploadWarning()`, i suspect that the data enters `uploadWarning()` already malformed. We need to move the debugging "one step higher".

[2021-11-23 12:33] belforte commented on #6830
can you try the same message as used in the failing task ? In case it depends on specific character(s)..
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/TaskWorker/Actions/Splitter.py#L69-L75

another possibility is that since the message is passed via an exception, that introduces some type conversion.

[2021-11-23 12:36] belforte commented on #6830
I think it is a different use case, but here's a reference to a similar problem long time ago
https://github.com/dmwm/CRABServer/issues/4999

[2021-11-23 14:03] belforte commented on #6830
**RESET**

I got confuse, sorry, the involved code is not uploadWarning, but this one:
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/TaskWorker/Worker.py#L43-L59

[2021-11-23 14:38] mapellidario commented on #6830
We can call `failTask` from our jupyter notebook and replicate the error!

[code]

[2021-11-23 14:42] belforte commented on #6830
involved code on REST side should be
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/CRABInterface/RESTWorkerWorkflow.py#L62

[2021-11-23 15:18] mapellidario commented on #6830
We found the culprit!

https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/CRABInterface/RESTWorkerWorkflow.py#L66

`b64decode` returns bytes, but the column `tm_task_failure` in the oracle DB is a `CLOB` ("character large object") and cx_Oracle expects it to be a py3 `str`. the solution is

[code]

Thanks @belforte for the help in debugging, I would have lo

[2021-11-23 15:39] belforte commented on #6830
btw, we also found that uploadWarning is working even if code is the same client side, and this turned out to be because of this line
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/CRABInterface/RESTTask.py#L241

Dario convinced me that the solution with `decode("UTF-8")` is better.
So we should fix that as well.

 @mapellidario should we make an "exten

[2021-11-23 16:49] mapellidario commented on #6830
I do agree on making an extensive campaign where we investigate the type of the variables that we save in the db. Maybe we will have a longer private chat to plan the details

Having the utility function that converts a variable to the desired type only if it is needed was very helpful for supporting py2 and py3. I think than 90% of the times we will be sure of the type of our variables and using

[2021-11-23 16:58] belforte commented on #6830
we can use `from Utils.Utilities import blah` in our code and it will work. We already import something from there.
But I agree that we do not want to add so much code to end up having to debug the debugger !
So let's be careful before adding.

[2021-11-23 17:51] belforte commented on #6411
I will only do this in python3 branch

[2021-11-23 20:37] belforte commented on #6871
checking with `pdb` I see that the faulty `//` is present in `dest` but not in `temp_dest` which is what  is used for validation (since it is longer). Of course they were expected to differ only for `user` vs. `user/temp`
[code]

indeed at this point in the code if I call `validateLFNs` on `dest` it fails.

[code]

[2021-11-23 20:53] belforte commented on #6871
the missing check is because in
https://github.com/dmwm/CRABServer/blob/582aac4a28773570b2d0ce34a48857d542115357/src/python/TaskWorker/Actions/DagmanCreator.py#L194
we use `os.path.join()` instead of a basic `'.'.join()` to aggregate back the lfn parts splitted in Line 215, and `os.path.join` sort of sanitizes the LFN by collapsing `//` to `/`
https://github.com/dmwm/CRABServer/blob/582aac4a287735

[2021-11-23 20:59] belforte commented on #6871
will only push to python3 branch, since it is not a critical nor urgent fix

[2021-11-23 21:22] belforte commented on #6871
closed via https://github.com/dmwm/CRABServer/pull/6879

[2021-11-23 21:22] #6871 closed

[2021-11-23 21:33] belforte commented on #6844
on HOLD. will wait until #6830 is done and REST has a bit of stability.

[2021-11-23 21:52] belforte opened #6880 "add type check of Oracle binds"
see discussion in  https://github.com/dmwm/CRABServer/issues/6830#issuecomment-976735955 and below.
In our tables we have only these column types:
- VARCHAR
- CLOB
- NUMBER
- TIMESTAMP

TIMESTAMP columns are filled inside SQL calls using calls like the following, so do not concern us.
[code]

CLOB and VARCHAR must be of type `string` (ref. https://cx-oracle.readthedocs.io/en/latest/user_guide/lob_

[2021-11-26 09:40] belforte commented on #6441
update picture in Ora-19 era. There are no more "disasters" but the fact that today's partition dropping remove O(150K) files is intriguing. Also I think there is a mild upward trend in the baseline so looks like there is a lof of old junk still, but also possibly some leak condition.
For the when we have time...
![Screenshot from 2021-11-26 10-40-17](https://user-images.githubusercontent.com/1837

[2021-11-29 07:21] belforte opened #6881 "Make Publisher run with python3"
apparently only few modifications are needed, and made it publish a short task with 20 files, but it is better to test more extensively before calling it done. I also need to
- [x] check error handling
- [x] check when running in background with multiple slaves
- [x] take care of publication/migration debugging scripts
- [x] test SequentialPublisher
- [x] properly build for py3 with a new spec fil

[2021-11-29 07:24] belforte commented on #6881
now testing from https://github.com/belforte/CRABServer/tree/py3-for-publisher

[2021-11-29 07:32] belforte opened #6882 "add py3 to spec file for TW/Pub"
do the same as just done for crabserver for crabtaskworker.spec, so that we can build TaskWorker and Publisher in python3 env.

[2021-11-29 11:27] cmsdmwmbot opened #6883 "#132: Test dev CRABClient using preprod REST instance and CMSSW_7_6_7 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_7_6_7**
- SCRAM_ARCH: **slc6_amd64_gcc493**

**Tests started:**

 - Task_Submission_Status_Tracking: **false**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-29 12:27:55
Link to the [job](https://c

[2021-11-29 11:36] cmsdmwmbot opened #6884 "#133: Test dev CRABClient using preprod REST instance and CMSSW_7_6_7 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_7_6_7**
- SCRAM_ARCH: **slc6_amd64_gcc493**

**Tests started:**

 - Task_Submission_Status_Tracking: **false**
 - Client_Validation: **true**
 - Client_Configuration_Validation: **true**

Started at: 2021-11-29 12:36:56
Link to the [job](https://c

[2021-11-29 11:39] ddaina commented on #6883
wrong configuration import, closing

[2021-11-29 11:39] #6883 closed

[2021-11-29 13:09] belforte commented on #6884
known failures

[2021-11-29 13:09] #6884 closed

[2021-11-29 13:30] #6853 closed

[2021-11-29 13:38] belforte commented on #6853
N.B. I have also update the instructions in https://twiki.cern.ch/twiki/bin/view/CMSPublic/CRABStandardCorrectiveActions#DBS_Migrations_fail_causing_Publ

[2021-11-29 13:46] belforte commented on #6881
Looks like minor fixes were enough. Let's build and test more in preprod.
Then we will look into new DBS Client: #6851

[2021-11-29 14:30] belforte commented on #6467
was done in python3 branch as part of removal of CrabCache code in #6776

[2021-11-29 14:30] #6467 closed

[2021-11-29 14:32] belforte commented on #6455
I learnt from @mapellidario that `nose` is used for unit tests. Even if we add unit tests to CRAB, we will not run them in the sched. So let's remove `nose` from tarball.

[2021-11-29 14:37] belforte commented on #6411
done via https://github.com/dmwm/CRABServer/pull/6878

[2021-11-29 14:37] #6411 closed

[2021-11-29 16:06] belforte commented on #6305
was all done and documented in #6303

[2021-11-29 16:06] #6305 closed

[2021-11-29 16:10] mapellidario commented on #6882
work being traked in: https://github.com/cms-sw/cmsdist/pull/7479

[2021-11-30 07:22] belforte commented on #6455
- [ ] previsous commit fails, need to make sure that a non empty zip archive exist for CRAB3.zip even if now there's no external left to put int
- [ ] also a good time to improve comments add tracing of the scritp in the log and print out where log is !
-

[2021-11-30 07:22] belforte commented on #6455
moved to top to remind me to get it out of the way now that I started

[2021-11-30 13:02] cmsdmwmbot opened #6889 "#136: Test dev CRABClient using preprod REST instance and CMSSW_7_1_29 CMSSW release"
**Test:** Client validation
**Result:** SUCCEEDED
**Finished at:** 2021-11-30 14:02:06
**Test log:** https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_CRABServer_ClientValidation/170/console
**All executed commands:** https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_CRABServer_ClientValidation/170//artifact/client-validation.log/*view*/
**Message:** All commands were executed successfully.

[2021-11-30 13:04] #6889 closed

[2021-11-30 16:18] belforte commented on #6455
only merge in python3 branch. Closed via https://github.com/dmwm/CRABServer/pull/6888

[2021-11-30 16:18] #6455 closed

[2021-11-30 19:50] cmsdmwmbot opened #6890 "#137: Test dev CRABClient using test1 REST instance and CMSSW_11_3_4 CMSSW release"
**Test:** Task Submission Status Tracking
**Result:** FULL-STATUS-UNKNOWN
**Finished at:** 2021-11-30 20:50:47
**Test log:** https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_CRABServer_CheckTestResults/66/console
**Message:** Status checking will be executed again because some jobs are still running

[code]

[2021-11-30 20:45] belforte commented on #6585
YAML profiles in https://gitlab.cern.ch/ai/it-puppet-hostgroup-vocmsglidein/-/tree/master/data/fqdns are good now. All pointing to cmsweb-prod.cern.ch as DBS host.

[2021-11-30 20:53] belforte commented on #6585
TW template config changed via https://github.com/dmwm/CRABServer/pull/6891

All done.

[2021-11-30 20:53] #6585 closed

[2021-11-30 21:04] #6275 closed

[2021-11-30 21:30] belforte commented on #6410
code about HTCondor_JEL was removed already in #6878

[2021-11-30 21:34] belforte commented on #6410
will only do this in python3 branch.
Closed via https://github.com/dmwm/CRABServer/pull/6892

[2021-11-30 21:34] #6410 closed

[2021-11-30 21:34] belforte commented on #6412
will only do this in python3 branch.
Closed via https://github.com/dmwm/CRABServer/pull/6892

[2021-11-30 21:34] #6412 closed

[2021-11-30 21:37] belforte commented on #6176
we do not use `rucioClient.dropTapeRSEs(locations) ` anymore. No action needed.

[2021-11-30 21:37] #6176 closed

[2021-11-30 21:39] belforte commented on #6890
I issued `crab resubmit` for the tow tasks with failed jobs

[2021-11-30 21:50] belforte commented on #6685
the work indicated here was actually done by @ddaina with https://github.com/dmwm/CRABServer/pull/6698. Then we diverged into discussing gocurl issues and forgot to close.

[2021-11-30 21:50] #6685 closed

[2021-12-01 08:21] belforte commented on #6890
resubmitted again the 1K job task which still had 1 faillure

[2021-12-01 08:30] belforte commented on #6890
all good.

[2021-12-01 09:28] belforte opened #6893 "Find a way to track which versions we run were when"
Moving here a longish term which was in meeting minutes for too long.
We will review in 2022 after py3 stuff is over and try to come up with a good plan
and break into action items.

    Doc. from Daina: https://docs.google.com/document/d/1Usk0AxEvwNltu0f9NCfnHgJ0-XygidV3FaWGtgMX2A8/edit?usp=sharing

   We went through this last week. Updates:

    1. tracking history and status via ES/Grafana:  t

[2021-12-01 16:36] belforte commented on #6339
DBSDataDiscovery had been cleaned up already

[2021-12-01 16:43] belforte commented on #6339
TapeStatusRecall is also clean by now

[2021-12-01 16:46] belforte commented on #6339
last point had been done while fixing https://github.com/dmwm/CRABServer/issues/6336

[2021-12-01 16:46] belforte commented on #6339
nothing to do !

[2021-12-01 16:46] #6339 closed

[2021-12-02 09:46] cmsbuild opened #6895 "#139: Test dev CRABClient using preprod REST instance and CMSSW_12_0_1 CMSSW release"
**Tests started for following configuration:**

**Configuration:**

 - CRABClient_version: **dev**
- REST_Instance: **preprod**
- CMSSW_release: **CMSSW_12_0_1**
- SCRAM_ARCH: **slc7_amd64_gcc900**

**Tests started:**

- [ ] Task_Submission_Status_Tracking

Started at: 2021-12-02 10:46:19
Link to the [job](https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_CRABServer_ExecuteTests/139/)

[2021-12-02 09:49] cmsbuild commented on #6895
Task submission for **Task_Submission_Status_Tracking** successfully ended.
[code]

Finished at: 2021-12-02 10:48:51
Find submission log [here](https://cmssdt.cern.ch/dmwm-jenkins/job/COPYCAT_CRABServer_ExecuteTests/139/console)

[2021-12-02 10:21] belforte opened #6896 "bytes vs. string in crab killl by operator"
I do not know if this is to be fixed on client or server side.
It is indeed an almost never used funcionality !!

[code]

[2021-12-02 11:18] mapellidario commented on #6830
found [1] in crabserver test1 logs, need to investigate

[1]

[code]

[2021-12-02 11:44] mapellidario opened #6897 "CRABServer fails when reading config from gitlab"
### desired behaviour

CRAB Server should work even if gitlab.cern.ch is down for a few hours.

### description of the problem

Submission worked intermittently for about 1h this morning with errors like [1]. Moreover, opening the website https://cmsweb-testbed.cern.ch:8443/crabserver/preprod/info?subresource=delegatedn from a web browser returned HTTP error 500.

Digging into the logs, Stefano fo

[2021-12-02 13:53] belforte commented on #6882
@mapellidario should we close this as "done" ? and possibly track ldap thing in a separate one ?

[2021-12-02 13:53] belforte commented on #6881
now running in a py3 container in crab-dev-tw01

[2021-12-02 13:53] #6881 closed

[2021-12-02 14:02] belforte commented on #6830
usual problem, this was retrieved from DB when TW gets the list of tasks in HOLDING
[code]
Maybe again a task was submitted via cmsweb-test2 ?
[code]
Dario can you check the submission log ?

[2021-12-02 14:11] mapellidario commented on #6882
Or we can just update this one? I don't know, it is the same for me

[2021-12-02 14:21] mapellidario commented on #6830
Oh yeah, you are right, i submitted a task to test2 yesterday night, thanks! :) (i will hide my previous comments as obsolete)

[2021-12-02 14:28] belforte commented on #6882
closing this as done.

[2021-12-02 14:28] #6882 closed

[2021-12-02 14:30] belforte opened #6898 "make ldap available inside python3 environment"
need to find a way to build ldap for py3 in the new env.
maybe follow CMSSW example
maybe switch from py3.8 to system py3.6 and use yum and pip3 for all dependencies
maybe something else...

[2021-12-02 14:32] belforte commented on #6898
we (only) use ldap inside TaskWorker to resolve e-groups to list of users, maybe can also explore how they do this in CRIC (Panos) and/or ask them to do it for us. I think this some e-group resolution/mapping is done already for Rucio.

[2021-12-02 21:41] belforte commented on #6897
pointer to the gitlab -is-down incident
https://cern.service-now.com/service-portal?id=outage&n=OTG0067864
they say downtime started at 11:30 and was fixed at 12:30
we see first error in e.g. this log: crabserver-20211202-crabserver-55cc7d9cc7-24wj6.log
at
[code]
with this traceback
[code]

what puzzles me is that looking at the source code listed in there it looks like this error can only happen

[2021-12-02 21:50] belforte commented on #6897
side note, only when we call info with a subresource fied the external config is needed and the above description holds, for the simple info which just returns the version number, things are different and REST returns immediately[1], which explains why liveness/readyness probes did not fail and the comment from Imran this morning "I checked inside crabserver pods, and livenessprobe is working", se

[2021-12-03 08:37] ddaina commented on #6897
@belforte you are right about code clean up - we can delete if/else block and leave only
https://github.com/dmwm/CRABServer/blob/87ada3b82688376fb2c8c90156689a7e05fd2638/src/python/CRABInterface/Utilities.py#L128-L155

*I would suggest to keep comment about json structure for the documentation purpose (if I understood correctly, you are proposing to remove it)

[2021-12-03 08:40] belforte commented on #6897
thanks @ddaina I admint that I did not read carefully the comment, it looked like old code but you are of course correct.

[2021-12-06 10:35] belforte opened #6899 "make TaskWorker run in Py3"
an amazingly small set of changes seems sufficient, see https://github.com/belforte/CRABServer/tree/make-tw-work-in-py3

* https://github.com/dmwm/CRABServer/commit/5c2110ae28f8012450b4a9c940a380afc25205d9
* https://github.com/dmwm/CRABServer/commit/0bd861dad1644153c59c2a250ad675d80d344cdd

besides the obvious "use py3"
* https://github.com/dmwm/CRABServer/commit/83e1d6881d36faf1bcc5eb7cdd0c8fbb5f

[2021-12-06 10:37] belforte commented on #6899
@mapellidario once you are done with all the work which you have currently in your hand, I think I will need your help here. But let's do one thing at a time. Maybe I find a solution in google.

[2021-12-06 14:28] mapellidario commented on #6899
After a quick read, I have a suggestion. Maybe we want to open the files that `AuthenticatedSubprocess` uses in binary mode by changing

https://github.com/dmwm/CRABServer/blob/a5cb8ff990424298eee12ab55832c7af5fb75b11/src/python/HTCondorUtils.py#L53-L54

with

[code]

[2021-12-06 15:14] belforte commented on #6899
i had briefly thought about that Dario,  but the fact that things still file if pickle is switched off makes it doubtful that it works. I am rather thinking of replaing the obscure AuthenticatedSubprocess with a simpler context manager used only to setup the needed env. and call HTCondor API directly. At first sight all I loose the timeout, but  there should be ways to implement it anyhow, esp. in

[2021-12-06 16:33] belforte commented on #6899
I stand corrected. Thanks @mapellidario , you fix work. I had got confused between a file descriptor and a string and did a mess when trying to bypass pickle.
Now I can submit tasks !

[2021-12-06 16:43] mapellidario commented on #6899
Wow! This is really promising! thanks for checking!

[2021-12-07 15:47] belforte opened #6903 "add IDTOKENS authentication to TW"
make it possible for TW to submit to sched's using HTCondor tokens.
 @mmascher and @saqibhaleem please correct what I wrote in case I got it wrong

Need to change just one line
[code]

that will automatically pick a token from  `/home/crab3/.condor/tokens.d/` and use it.
We currently have one for ITB pool available and will use it for tests.
[code]

One for production can be obtained from Saqib at

[2021-12-07 15:51] belforte opened #6904 "update crab cache documentation for S3"
find all places in CRAB twiki where we refer to CRAB Cache
and update to the current situation where we use s3.cern.ch

[2021-12-07 15:52] belforte commented on #6776
move documentation to separate issue and close

[2021-12-07 15:52] #6776 closed

[2021-12-07 17:04] belforte opened #6905 "adapt to a single username on sched"
with transition to htcondor IDTOKENS for submission to sched ( #6903 ) we will have all condor jobs run by a single username `crabtw`.
FYI @mmascher

Each task will still carry a specific user in the task name, in the CRAB_hnusername classad, in the accounting group for fair share, and handle the user X509 proxy just like now.

Still we need a few changes

- [x] add `crabtw` local username to all

[2021-12-09 14:12] belforte commented on #6830
@mapellidario I tried to think of other places where we may need similar protection for py2/py3 interoperabiliyt as https://github.com/dmwm/CRABServer/pull/6907 . The obvious worry point is Publisher, where again we manipulate long lists of runs/lumis and where I had similar issues in the past. Here the test will be a bit tricky.
We need to write into FILEMETADATA table from the PostJObs (i.e. pro

[2021-12-10 14:25] belforte commented on #6896
it is a client side problem. closing here.

[2021-12-10 14:25] #6896 closed

[2021-12-10 15:45] belforte commented on #6899
this should be closed when we merge https://github.com/dmwm/CRABServer/pull/6901

[2021-12-10 15:47] belforte commented on #6301
We are running with python3 and Oracle-19 in preprod instance now. Closing

[2021-12-10 15:47] #6301 closed

[2021-12-10 15:50] belforte commented on #6813
Makes no sense to keep this open in Hold waiting for new FTS client. Let's have an ad-hoc issue for that and make stock of "sched code runs with python3 now".

[2021-12-10 15:50] #6813 closed

[2021-12-10 15:54] belforte opened #6909 "use new py3 compatible FTS python Client"
with reference to https://github.com/dmwm/CRABServer/issues/6813#issuecomment-955091754

Once FTS people release a python3 version of the FTS python client, should port
https://github.com/dmwm/CRABServer/blob/master/scripts/task_process/FTS_Transfers.py
to use that and complete the "code on schedd runs on python3".

Until then, need to keep using `python' to start it in
https://github.com/dmwm/CRA

[2021-12-10 16:12] #6720 closed

[2021-12-10 16:17] belforte commented on #6897
side note, only when we call info with a subresource fied the external config is needed and the above description holds, for the simple info which just returns the version number, things are different and REST returns immediately[1], which explains why liveness/readyness probes did not fail and the comment from Imran this morning "I checked inside crabserver pods, and livenessprobe is working", se

[2021-12-10 16:22] belforte commented on #6526
this was done. Not sure in which commit, but it works now.

[2021-12-10 16:22] #6526 closed

[2021-12-10 16:26] belforte commented on #6394
I verified that it is not used anywhere in CRABServer not CRABClient.
Although refrred to in commens in DataUserWorkflow.

- [ ] clean up and them remove

[2021-12-10 16:32] belforte commented on #6394
there's quite come confusion (especially of unused arguments) in `status` and `kill` methods (at least) in DataUserWorkflow, DataWorflow and HTCondorDataWorkflow
needs a bit of time and care :-(

[2021-12-10 16:45] belforte commented on #6294
whatever it was, it does not appear to be happening now.
Let's close. Many things changed in Publisher.

[2021-12-10 16:45] #6294 closed

[2021-12-10 16:47] belforte commented on #6282
now tracked, and almost done, in https://github.com/dmwm/CRABServer/issues/6844
closing as duplicate

[2021-12-10 16:47] #6282 closed

[2021-12-13 14:07] belforte commented on #6899
closed via #6901

[2021-12-13 16:37] belforte commented on #6844
time to complete this. As soon as I get test instance back for testing. @mapellidario do you need it ?

[2021-12-13 16:42] belforte commented on #6830
All in all I am for closing this as soon as (4) at the top is solved (hope it is easy) and open a new tracker for py2/3 compatibility which in the end spawns more then CRABInterface.

[2021-12-13 16:54] mapellidario commented on #6830
I forgot to mention earlier in the issue description that (4) should actually be fixed by a PR to WMCore

[2021-12-13 16:59] belforte commented on #6830
a PR already done ?

[2021-12-13 18:21] belforte opened #6911 "remove MonALISA related code"
@mapellidario spotted
https://github.com/dmwm/CRABServer/blob/python3/src/python/ProcInfo.py
there is also
https://github.com/dmwm/CRABServer/blob/python3/src/python/Logger.py

which survived previous cleanup https://github.com/dmwm/CRABServer/issues/6814

[2021-12-13 20:56] belforte opened #6912 "TW still fails in py3 inside WMCore/Credential"
I do not know why this did not surface earlier... anyhow looks pretty "standard"

[code]

[2021-12-13 20:58] amaltaro commented on #6912
https://github.com/dmwm/WMCore/issues/10912
?

[2021-12-13 20:58] belforte commented on #6912
indeed I had fixed it in my private fork
https://github.com/belforte/WMCore/commit/1be8e3c564f39f67eaa948a758a82b0b734811c8
I guess I failed to communicate this to @mapellidario in order to be added to the branch which we use now in the build. Sorry Dario, another build is needed.

[2021-12-13 21:00] belforte commented on #6912
yes Alan. Sorry, my memory is so bad :-( Anyhow, just a matter of "being thorough and careful"

[2021-12-13 21:07] belforte commented on #6912
@mapellidario I have switched crab-dev-tw01 to run from GH using my WMCore fork above and CRAB py3.21213 and it is OK now. (yeah.. I have also hacked cmsweb-test1 a bit slipping my personal proxy in to avoid the expired hostcert... good for 7 days or next pod restart, whichever comes first).

[2021-12-13 21:13] belforte commented on #6912
Dario, I assign this to you as a reminder. You can close once you have a build with the fix.

[2021-12-13 21:46] belforte commented on #6844
I tested removing asoConfig from JSON config on gitlab (just for cmsweb-test1) [1]
switchin cmsweb-test1 mode in `data/srv/current/config/crabserver/config.py` last line:
[code]
and crabserver still starts. I will now try to remove the code which is supposed to read it as well.

[1]
https://gitlab.cern.ch/crab3/CRAB3ServerConfig/-/commit/d2b0c727a8a1e8daea99c15e423b597444938608

[2021-12-13 22:12] belforte opened #6914 "adapt addGH.sh to py3"
this is not working correctly now
https://github.com/dmwm/CRABServer/blob/c7f94fb7260c23b83a18054716b00d8c15f51bf8/Docker/addGH.sh#L1-L13

it is clear how it can't work for WMCore in py3 env, but I am puzzled that checkout of CRABServer also seem to fail.
Should be investigated and fixed.
Possibly in some cleaner way than what done for CRABServer where we tried to keep compatibility with python2,

[2021-12-14 09:22] belforte commented on #6844
now need to look at https://github.com/dmwm/CRABServer/blob/cef2ad9982a75f3201f8a75c50c4b47f2d236196/src/python/CRABInterface/RESTUserWorkflow.py#L226

[2021-12-14 10:29] belforte commented on #6911
rpm build is now failing, I need to remove all references to those useless files

[2021-12-14 10:38] belforte commented on #6911
addressed by Dario in https://github.com/dmwm/CRABServer/pull/6916

[2021-12-14 13:43] belforte opened #6917 "CRABServer REST should not talk to CRIC"
better to avoid talking to any external service from the REST
supporting proper authentication and debugging problems is too much of a pain
IIRC this access is only used to fill the site whitelist for MC with "all sites".
Which in principle can be done in TW.
I looked at this some time ago and change seemed too big to be worth.
But now I think that it is worth the effort.

[2021-12-14 19:20] belforte opened #6918 "DagmanResubmitter fails in py3"
from 211214_160639:cmsbot_crab_20211214_170637 via
https://cmssdt.cern.ch/dmwm-jenkins/job/CRABServer_ExecuteTests/493/

[code]

[2021-12-14 19:21] belforte commented on #6918
full dump
[code]

[2021-12-14 21:12] belforte commented on #6918
Dario, please be aware that I do not understand what the affected code really is about, that talking about htcondor vs. unicode is quite suspicious and I do not see why we should have anything different from when plain `submit` is done. Or in any case why we can't simply enforce ASCII everywhere in these params. It is also possible that modern HTCondor just takes unicode in the py3 python bindings

[2021-12-15 00:05] mapellidario commented on #6918
This issue was spotted by `futurize` and is one of the suggested changes in this branch https://github.com/dmwm/CRABServer/compare/python3...mapellidario:python3-sugggestions-futurize

What I propose is that we stop bug-driven modernization for the time being (1d? 1w? i do not know), i go back and check every suggestion from futurize in the aforementioned branch, make an appropriate number of PRs

[2021-12-15 08:52] belforte commented on #6918
OK. we can live with 'crab resubmit fails' in preprod for a while. Pleae go ahead with that.  But let's be 'cricital', we do not care for py2 compatibility so no need for overriding builtins etc. hopefully we forget all about Python2 asap.
We will need a way to ensure that client and serverUtilities stay py2 compatible though, but the idea there is to keep those as simple as possible. We may even

[2021-12-15 12:31] mapellidario commented on #6851
The images (both crabserver and crabaskworker) built with py3 env from now on all have the new dbs client. The first such images are the ones with the tag `py3.211215`.

Rerefences:
- https://github.com/dmwm/CRABServer/releases/tag/py3.211215
- https://github.com/cms-sw/cmsdist/pull/7511
- https://github.com/cms-sw/cmsdist/pull/7508

[2021-12-15 21:53] belforte commented on #6911
solved via #6916

[2021-12-15 21:53] #6911 closed

[2021-12-16 13:33] belforte commented on #6897
solved via https://github.com/dmwm/CRABServer/pull/6910

[2021-12-16 13:33] #6897 closed

[2021-12-16 13:34] belforte commented on #6898
solved in latest spec files https://github.com/cms-sw/cmsdist/pull/7506

[2021-12-16 13:34] #6898 closed

[2021-12-16 13:38] belforte commented on #6912
spec file with a working build was created via https://github.com/cms-sw/cmsdist/pull/7502
@mapellidario can we close ? Or do you want to keep it open to remind us what to check when we'll want to switch back to to dmwm/WMCore repository ?
There are a few things which now you have fixed only in your branch besides this, maybe better to keep an ad hoc issue ?

[2021-12-16 13:42] belforte opened #6920 "TW's dryrunUploader fails in py3"
here for the record.
As agreed with @mapellidario in https://github.com/dmwm/CRABServer/issues/6918#issuecomment-994154447  let's wait for a full review of py3 comaptibility of the code base
before addressing issues "as they come". This may well be gone after that review.

[code]

at first sight I guess that json file should not be open in binary more
https://github.com/dmwm/CRABServer/blob/e74b06

[2021-12-16 14:55] mapellidario commented on #6912
I think that we can close this issue.

in our private branch at the moment we have three changes:

- (TW) same commit as in https://github.com/dmwm/WMCore/pull/10918, which has been merged by Alan. If we move back to building TW with dmwm/WMCore at their next release, then we will be fine.
- (REST) same commit as https://github.com/dmwm/WMCore/pull/10917, which has been merged, so  If we move back

[2021-12-16 14:55] #6912 closed

[2021-12-16 15:12] belforte commented on #6912
thanks Dario, What  about point 4 still open in https://github.com/dmwm/CRABServer/issues/6830 ?
I think you mentioned that it was something in WMCore, can you add some comment there ?
![Screenshot from 2021-12-16 16-10-01](https://user-images.githubusercontent.com/1837785/146397238-866bf1d9-5a74-42e9-8092-c7cc413fdefe.png)