[2014-11-27 14:29] #4507 closed, assigned to AndresTanasijczuk

[2014-11-27 14:34] #4454 closed, assigned to AndresTanasijczuk

[2014-11-27 14:35] #4420 closed, assigned to AndresTanasijczuk

[2014-11-27 14:35] #4465 closed, assigned to AndresTanasijczuk

[2014-11-27 18:45] AndresTanasijczuk opened #4544 "change self.resturl to self.rest_uri"
In the TaskAction class I have introduced self.rest_uri to be the same as current self.resturl (the reason is to try to call the things with their proper name). I started to use self.rest_uri in cmscp and PostJob, but I haven't changed it everywhere else.

[2014-11-28 17:09] #4537 closed, assigned to mmascher

[2014-11-28 17:10] mmascher opened #4546 "Report to the user that the tag collector url was not accessible"
Right now we caged this to a simple warning in the REST interface: https://github.com/mmascher/CRABServer/commit/5500cc46f06683178ffb0a8c38cdcf7af357d280

This can silently fail however, we need to report tha failure as a warning to the users.

[2014-11-28 17:12] mmascher opened #4547 "Show to the users the content of the warning column in the task db"
Curerntly we foresee the presence of a column for warnings in the database but we are not showing it to the users. We need to do that

[2014-11-28 21:39] #4129 closed, assigned to juztas

[2014-11-28 22:04] #4534 closed, assigned to nobody

[2014-11-29 02:12] #4514 closed, assigned to matz-e

[2014-11-29 16:48] juztas opened #4553 "change 500 response code to 410"
ASO is in endless loop and still trying to publish some files. It catches error, ignore it for some time, but later trying again.

Url : https://cmsweb-testbed.cern.ch/crabserver/preprod/workflow?workflow=140616_150534_vocms95:mmdali_crab_bangau_2

[code]

Now it returns 500 response code, but it should be 410. If its 410 ASO could set it to failed.

[code]

[2014-11-30 12:12] juztas opened #4556 "Missmatch python versions on WN"
If task is submitted with old CMSSW version `CMSSW_5_3_22_patch1` and here https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.sh#L12-L70 script will make sure that python2.[67] is used from the system. If python2.6 chosen - ok, if python2.7 :

[code]

This leads to :

[code]

Task on same site shows different pythons and one succeeds other fails :
Failed : http://glidemon.web.ce

[2014-12-01 12:34] mmascher opened #4559 "Duplicated lumis in crab report"
Take run/lumi pair 193999/14 in this task of mine: http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=898924 (configurations here (*))

Both these jobs seems to have analyzed the lumi:
Job 15: http://vocms0114.cern.ch/mon/cms1925/141201_010625_crab3test-5:mmascher_crab_testdecmmascher-dev6_cern_ch7/job_fjr.15.0.json
Job 16: http://vocms0114.cern.ch/mon/cms1925/141201_010625_crab3test-5:mmascher_

[2014-12-01 13:27] AndresTanasijczuk opened #4560 "crabserver error when Task DB task_warnings collumn content is (null) ?"
I just submitted a task to my private VM using master branch from CRABServer and when I did crab status I got:

Error contacting the server.
Server answered with: Execution error

Looking at the crabserver log I see the following:

[01/Dec/2014:14:14:11]  SERVER DATABASE ERROR 500/403 Execution error **builtins**.AttributeError bf7da460b2691887f4ee0fa0ff2d3ebf [instance: dev]('NoneType' object has

[2014-12-01 14:20] mmascher opened #4561 "Improve error message for big sandboxes"
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7934.html

[2014-12-01 21:06] #4531 closed, assigned to nobody

[2014-12-02 10:33] #4560 closed, assigned to nobody

[2014-12-02 10:40] #4546 closed, assigned to nobody

[2014-12-02 11:07] #4544 closed, assigned to nobody

[2014-12-02 11:27] AndresTanasijczuk opened #4564 "Should PostJob write stageout failure to job report ?"
This test task on mine http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=900023 failed in stageout (I used a site T2_US_Florida where I don't have permission) and when I do 'crab status' I get:

WARNING: Incompatible CRABClient version "development"
Server is saying that compatible versions are: ['3.3.8', '3.3.9.rc2', '3.3.9', '3.3.10', '3.3.9.pre2']
Task name:			141201_184005_crab3test-5:atana

[2014-12-02 11:31] #4384 closed, assigned to nobody

[2014-12-02 11:34] #4350 closed, assigned to nobody

[2014-12-02 11:39] #4370 closed, assigned to mmascher

[2014-12-02 11:51] #4532 closed, assigned to juztas

[2014-12-02 11:56] #4559 closed, assigned to mmascher

[2014-12-02 15:08] juztas opened #4565 "Possibility to specify collector from crabclient"
Yesteday at the CompOps meeting there were complaints about the HammerCloud availability in the site readiness page. The problem is that the CRAB3 HC schedd is in the global pool and jobs have a really really bad priority at T1 compared to the one submitted from the production pool.

Cristoph said that HammerCloud jobs should even haven more priority than the production one, but that's impossible

[2014-12-02 16:46] juztas opened #4566 "lstrip and rstrip are not working as expected"
In many places we are doing lstrip/rstrip('word') and this is not working as expected. you are stripping not the words, but single characters :

[code]

[2014-12-02 20:56] #4566 closed, assigned to nobody

[2014-12-03 10:15] AndresTanasijczuk opened #4568 "Allow outlfn = /store/group/groupname1[/groupname2]*/username"
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1934/1/1/2/1/1/1/1/1.html

[2014-12-03 10:19] juztas opened #4569 "Job succeeds but reported as failed"
@AndresTanasijczuk several errors :

I was running ScriptEXE without cmsRun with fake FJR from tutorial with Logs = True, Output=False, IgnoreLocality = False, Publication= False
Local stageout failed due to site SRM problem, but remote stageout succeeded of log files. cmscp reported :

[code]

In this case Job exit code is 147. I would like to have definition what 147 means, and this exit code do

[2014-12-03 13:51] juztas opened #4571 "getoutput and getlog is not working"
[code]

[2014-12-03 16:49] AndresTanasijczuk opened #4572 "Don't stageout to /store/temp/ logs or outputs if corresponding transfer flag is False."

[2014-12-03 20:24] juztas opened #4574 "old tasks are not uploading tmplfn to filemetadata (Critical)"
@AndresTanasijczuk

In your huge pull request I see that you are creating new column in database for tmplfn and that it has to be NOT NULL. For updating filemetadata DB table, you enforsing to have this value and this leads to issue that old tasks, which will be still running and submitted through old CrabServer and TaskWorker will not send this information to database. And all jobs which will be

[2014-12-03 22:20] #4571 closed, assigned to nobody

[2014-12-03 22:42] PerilousApricot opened #4576 "Add user-defined column to taskDB"
For some API functionality, it would be real convenient to have a 32-byte column in the taskDB that's exposed via the API in a "getTaskByID" call. I'll implement, just wanted to get people's opinions before I started the work

[2014-12-04 11:12] juztas opened #4577 "tm_output_dataset column on preprod database"
I don`t have access to preprod oracle database, who has and can check that this column exists ?

[code]

[2014-12-04 14:53] #4574 closed, assigned to nobody

[2014-12-05 08:46] #4568 closed, assigned to nobody

[2014-12-05 09:59] #4569 closed, assigned to nobody

[2014-12-05 10:05] AndresTanasijczuk opened #4580 "Add exitMsg messages to json job report for failures in cmscp."
Currently, if cmscp fails, it writes in the json job report the exit code, the exit acronym 'FAILED', but no message (it writes an empty message). We should give for each possible failure an appropriate error message. And by the way, I think error messages should be consistent (whenever possible the same) between job report, RetryJob, and what is printed in the job/post-job log. There is another s

[2014-12-05 10:10] #4577 closed, assigned to nobody

[2014-12-07 10:56] mmascher opened #4581 "Improve error reporting in the TW when phedex is unresponsive"
Some follow up about: https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/290.html

First, it seems there is a missing try/except around this phedex call:
https://github.com/dmwm/CRABServer/blob/3.3.11.rc9/src/python/TaskWorker/Actions/DagmanCreator.py#L393
It is better to sorround the call to phedex in a try/excpet and raise TaskWorkerException to give the user a proper error message. Whe

[2014-12-09 13:58] mmascher opened #4583 "Developer's logbook"
In this github issue I would like to collect useful information for developers who are running their own version of CRAB3 (from the client to the REST/Server/Postjob etc)

[2014-12-09 19:20] juztas opened #4584 "Do not use merge but insert/update in filemetadata upload"
[code]

More details :
[code]

[2014-12-10 19:42] juztas opened #4586 "Scheduler choosing review"
Needs to review scheduler choosing for a task.
 a) Now it is not considering if scheduler is down and if we have scheduler in rest configuration, it still can be chosen as good. https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/297/1.html
 b) Now  for schedd choose we are asking how much memory machine has. Not free, but in TOTAL. Better to change this to FREE memory. https://github.com/

[2014-12-11 19:18] juztas opened #4587 "Report more info to Dashboard from FJR"
From hypernews :
[code]
More details : https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1975/1/1/1/1/1/1/1.html

[2014-12-11 21:17] juztas opened #4588 "Raise better error messages for failed regular exp. matching"
Currently if any regular expression will not match, user will get error like

[code]

These errors are raised here : https://github.com/dmwm/WMCore/blob/0eca9786435438310627068b99d3b543347b9af3/src/python/WMCore/REST/Validation.py

Like this validation call `validate_strlist("edmoutfiles", param, safe, RX_OUTFILES)`

but this error (Incorrect edmoutfiles parameter) is not saying anything to user w

[2014-12-12 08:54] AndresTanasijczuk opened #4589 "Need exit code for file metadata upload failure."

[2014-12-12 08:56] AndresTanasijczuk opened #4590 "Output file metadata fails upload from PostJob, but Dashboard shows AppExitCode 0."
http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=dfehling&refresh=0&table=Jobs&p=1&records=25&activemenu=2&status=&site=&tid=141210_211208_crab3test-1%3Adfehling_crab_TTBar_Powheg7_trigger

[2014-12-12 08:58] AndresTanasijczuk opened #4591 "Use tm_arguments only for non-static parameters and put static parameters in separate columns."

[2014-12-12 09:03] #4540 closed, assigned to nobody

[2014-12-13 15:01] AndresTanasijczuk opened #4592 "PostJob does not get the right state of a couch doc when reinjected from WN."
See this task: http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=dfehling&refresh=0&table=Jobs&p=1&records=25&activemenu=2&status=&site=&tid=141210_211208_crab3test-1%3Adfehling_crab_TTBar_Powheg7_trigger
See for example job number 3, retries 0 and 1 (i.e. attempts 1 and 2 in dashboard language). Attempt 1 failed in the upload of the output file metadata (well actually it didn't

[2014-12-13 15:02] AndresTanasijczuk opened #4593 "Should we have retries for file metadata upload from PostJob?"

[2014-12-15 07:30] AndresTanasijczuk opened #4595 "crab resubmit --jobids seems to not work"
In this computing-tools thread
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/300.html
the user reported that the --jobids option doesn't work in the resubmit command. The client is sending the list of jobs to resubmit correctly. So is a server issue. I am almost sure --jobids was working before. Has anything changed? BTW, I am working on the resubmit command these days.

[2014-12-15 07:40] AndresTanasijczuk opened #4596 "crab status --long shows wrong number of Retries"
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/300/1/2/1/1/1/1/1/1/1.html

Glidemon monitoring
URL:    http://glidemon.web.cern.ch/glidemon/jobs.php?taskname=141213_064926_crab3test-4%3Acgeorge_crab_WJetsToLNu_HT-400to600_Tune4C_13TeV-madgraph-tauola_Phys14DR-PU20bx25_PHYS14_25_V1-v1

Dashboard monitoring
URL:    http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=cge

[2014-12-16 08:53] belforte opened #4597 "avoid user indicating at the same time privateMC and an input dataset"
See
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/304/1/1/2/1/1.html

apparently crab is trying to configure as privateMC while user is running on data, this could be cured at the root by e.g. verifying consistency of the configuration or possibly removing the redundant specification of PrivateMC and decide if there is input dataset or not based on inputdataset value,

[2014-12-16 12:01] belforte opened #4598 "improve postJob message when Crab3 watchdog kicks in"
See e.g. from
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/310/1/1/1/1/1.html
which points to:
http://vocms096.cern.ch/mon/cms1815/141216_092402_crab3test-3:ebouvier_crab_Validate-MenuRunII-CMSHLT193-v2/postjob.1.0.txt
where one finds:

[code]

New jobReport.json.1 file content : {"exitMsg": "Not retrying job due to excessive memory use (job killed by CRAB3 watchdog)", "exitCode": 5

[2014-12-16 22:49] mmascher opened #4599 "Print list of blacklisted sites in the user's error message"
See https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/316/1.html

[2014-12-17 09:29] AndresTanasijczuk opened #4601 "crab status showing wrong output dataset"
I submitted tasks (to my private instance of server/tw and to production) where I produce an EDM file, a TFile, and an additional output file. The EDMs got published, and crab status shows the fake dataset name that we use for non-published files instead of showing the dataset name of the published files (/GenericTTbar/atanasi-test_direct_stageout_and_publication_1-eede9f2e261619d27929da51104cf9d7

[2014-12-17 13:26] #4390 closed, assigned to nobody

[2014-12-18 10:42] mmascher opened #4602 "Things to add/check when we do the validation tests"
Hi Justas,

can we add a task that produces jobs with a big number of lumis in input to the valisdation tests you run? That would have helped in spotting the oracle issue in advance. I did it with:

[code]

which is also using a dataset which has duplicated input lumis.

Also, I believe we should better check the publication status as we did not spot the publication problem with TFiles that Andres

[2014-12-18 10:58] #4597 closed, assigned to nobody

[2014-12-18 15:52] #4547 closed, assigned to nizamyusli

[2014-12-19 15:18] AndresTanasijczuk opened #4604 "crab report shows "0 files have been processed" for tasks with non-EDM outputs"
The problem is that for POOLIN files, there are no 'parents'. One should instead take the 'lfn' in https://github.com/dmwm/CRABClient/blob/master/src/python/CRABClient/Commands/report.py#L58
which requires to add in
https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L227-231
a line
'lfn' : row[GetFromTaskAndType.LFN]
And one has to be careful, because t

[2014-12-19 15:30] AndresTanasijczuk opened #4605 "Need new Couch view with job_retry_count in PostJob transfers monitoring"
When the postjob monitors the transfers of a job, waiting until all the transfers get into a terminal state, it does it by querying the couch view JobIdsStatesByWorkflow. This view only provides the doc id and the state. The problem is that the view can provide stale results, and if we are in a job retry > 0, the stale result may correspond to the document of the previous job retry. We don't have

[2014-12-23 09:36] mmascher opened #4606 "addwarning fails for athz problems"
In production warning are currently uploaded with the TW certificates, but in the REST I am checking that the owner of the taskis the one modifying them and throwing an error if not.

In general I thing we need to ensure the ops role is allowed to do basically anything

[2014-12-25 21:15] AndresTanasijczuk opened #4607 "use executed_site in cmscp::inject_to_aso when can not map SEName using phedex node map"

[2014-12-27 12:56] #4503 closed, assigned to nobody

[2014-12-27 12:58] #4340 closed, assigned to nobody

[2014-12-27 13:04] #4307 closed, assigned to nobody

[2014-12-27 13:07] #4506 closed, assigned to juztas

[2014-12-27 17:51] #4601 closed, assigned to nobody

[2014-12-27 17:54] #4199 closed, assigned to matz-e

[2015-01-05 15:10] mmascher opened #4610 "cmscp exits with 80000 if no output file is produced"
I think the problem is when we split the output files using this regular expression https://github.com/dmwm/CRABServer/blob/master/scripts/cmscp.py#L1140-L1141

The output files are `['']` and we are iterating over an empty string. Hence, the `ERROR: Invalid output format ().` error in the logfile. In fact:

[code]

See http://glidemon.web.cern.ch/glidemon/show.php?log=http://vocms0114.cern.ch/mon

[2015-01-06 18:10] AndresTanasijczuk commented on #4610
To avoid merge conflicts, I added the fix for this issue in the pull request #4609

[2015-01-06 18:16] AndresTanasijczuk commented on #4596
When we looked into this with @mmascher before the holidays, we concluded that the number of retries shown in crab status --long includes the condor restarts. But still was not clear how the number of retries is calculated, because summing the condor restarts (taken from dashboard) with the retries from crab was still not adding up to what crab status shows.

[2015-01-07 11:36] belforte commented on #4607
IIUC you want to use $GLIDEIN_CMSSite and report it to the dashboard via the SyncSite key:
https://github.com/dmwm/CRAB2/blob/da353266500faee40f4892529f346b03c158ba3a/python/SchedulerGrid.py#L205

this is the CMS Site Name set by the factory, which we use for matching.
It is true that it is the same as in local site configuration file, but adding the code to parse that file is likely an overkill.

[2015-01-07 12:15] belforte opened #4611 "Put a timeout around TaskWorker threads"
I am moving under this new heading the part of #4506 which was not done when it was closed
See:
https://github.com/dmwm/CRABServer/issues/4506#issuecomment-62967053

[2015-01-07 14:29] mmascher commented on #4610
Great, closing this.

[2015-01-07 14:29] #4610 closed

[2015-01-07 14:43] mmascher opened #4612 "Review how the crab report works"
Currently the postjob uploads the information coming from the FJR to the oracle DB, and the report extracts the information from the database itself. See https://github.com/dmwm/CRABServer/pull/4609#issuecomment-69029867

 We should review how this work. My proposal would be to directly contact the schedd to get the fjr.

[2015-01-07 14:44] #4572 closed

[2015-01-07 14:50] belforte commented on #4572
quick questions:
1. by default we never save full logs, right ?
2. comments in the commit say "when runinng scriptExe there are no cmsRun-stdout.log",
    but stdout/stderr from scriptExe needs to be saved (trimmed) exactly like for cmsRUn,
    what is done then ?

[2015-01-07 14:51] mmascher commented on #4593
We should verify that the upload is really retried and close the issue.

[2015-01-07 14:54] mmascher commented on #4592
Is this going to be solved with https://github.com/dmwm/CRABServer/issues/4605, or is this another issue ?

[2015-01-07 14:58] mmascher commented on #4584
Relabeled, the merge fails because of an oracle but. We have to workaround it using insert/update instead of merge.

[2015-01-07 15:01] AndresTanasijczuk commented on #4592
Is the same issue. But I would keep both tickets open.

[2015-01-07 15:25] AndresTanasijczuk commented on #4572
1. Right.
2. The comment in the commit should actually be "when runinng scriptExe there might not be a cmsRun-stdout.log file..." because the scriptExe can actually run cmsRun inside the script and we do would have the log file. What we currently do: https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L270-273

[2015-01-07 16:01] belforte commented on #4572
the comment seems clear,  but I am still wondering where does the stdout of scriptExe go

On 01/07/2015 04:25 PM, Andres Tanasijczuk wrote:

[2015-01-07 16:54] AndresTanasijczuk commented on #4572
I just looked in more details the scriptExe code, and actually stdout of scriptExe goes also to a log file called cmsRun-stdout.log. See https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L559. If we wouldn't specify logName = 'cmsRun-stdout.log' in that line, the default name 'scramOutput.log' would be used (see https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WM

[2015-01-07 17:07] belforte commented on #4572
it is a bit disgusting that the user's application is run by a script called Scram.py
(whether the application is cmsRun or scriptExe does not matter), but good naming is a tricky art.
but other then that it seems all OK then. The fact that stderr is piped to stdout rather then
put on a different file is a matter of taste, but in general would be better to preserve the
distinction and leave it to

[2015-01-07 17:36] AndresTanasijczuk commented on #4572
Currently, if cmsRun-stderr.log (or cmsRun-stderr.log) is missing, cmscp will just not include it is the logs archive. What do you exactly mean by "fix cmscp to deal with missing stderr" ?

[2015-01-07 20:21] belforte commented on #4572
that sounds fine. then why bother to create an empty one ?
Maybe I misunderstood. Sorry.

On 01/07/2015 06:36 PM, Andres Tanasijczuk wrote:

[2015-01-07 21:17] AndresTanasijczuk commented on #4572
Before, cmscp was failing if it was not finding cmsRun-stderr.log or cmsRun-stderr.log. I think Marco and I implemented fixes, independently, more or less at the same time. I changed cmscp so that it doesn't fail if it doesn't find cmsRun-stderr.log or cmsRun-stderr.log and Marco changed scriptExe to always have a cmsRun-stderr.log file.

[2015-01-07 22:39] juztas commented on #4588
Hi,

I did some changes on my private machine and already able to specify custom message or use optional which is old one coming from WMCore. I suspect we don`t need custom messages in all places (Filemetada) or do we? I would say we can start with custom messages which are interaction between client and server? @mmascher what do you think?

Places there validate_XXXX is called and custom_err mess

[2015-01-08 09:15] belforte commented on #4588
I think this is good enough and let's try to avoid custom message for each instance.
The message could be a bit shorter and maybe standardized more for easier coding, like in the example you give one should not type "taskname" twice. something like:
    Value VAL for parameter PARNAME does not match regulars expression REGEX. Please double check etc.
Where VAL, PARNAME and REGEX can be changing ar

[2015-01-08 09:48] juztas commented on #4588
I agree @mmascher and most difficult part is best messages ;)

[2015-01-08 14:20] mmascher opened #4613 "Report exit code in case of unexpected errors in postjob"
From: https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2254.html

[2015-01-08 14:21] mmascher commented on #4613
We should also send a packet to the dashboard in this case

[2015-01-08 14:26] belforte commented on #4613
But was the problem really something gone wrong in ASO land, or only a failure to look up status and
hence everything was actually OK ?
At some point we may want to review what glidemon does, but in any case it flags those jobs as
failed now, so it does have some more information then the exit code from the WN.

[2015-01-08 14:35] mmascher commented on #4613
Only a failure to look up status, I did not check the transfer in ASO. Yes, I think glidemon read the states from the node_state file, but get the exit code from condor (so only the jobwrapper exit code)

[2015-01-08 14:38] belforte commented on #4613
then it would be trivial for glidemon to set exit code in this case to some non zero value. Let's
not worry about it now, I am only saying that at some point it can easily be done w/o changing other
things.

On 01/08/2015 03:35 PM, Marco Mascheroni wrote:

[2015-01-08 15:39] belforte commented on #4613
so chances are that crab report --dbs (or whatever the right syntax) would show that task il >90% complete ?

[2015-01-08 16:14] mmascher commented on #4613
yes, maybe. I have not tried. Will do it now.

[2015-01-08 17:24] mmascher commented on #4613
The user did not require publication, here there are his outputs: `lcg-ls srm://dcache-se-cms.desy.de:8443/srm/managerv2?SFN=/pnfs/desy.de/cms/tier2/store/user/tpfotzer/SingleMu/crab_SingleMu_Run2012C-22Jan2013-v1/141219_163408`, but I am too lazy to check the number of files transfered :)

[2015-01-09 10:12] mmascher opened #4615 "Use chirp to report full exit code as a classAd"
Eventually we want ot get rid of the `short exit code = 65` thing. For that I believe we need to modify the `ExitStatus` classad, please correct me if I am wrong.

Notice that the client is already reporting the right exit code (it is taken from the framework job report). This is an example taken from I user task I `remake` on my lxplus account (*). So I am not sure why the dashboard is showing th

[2015-01-09 10:20] belforte commented on #4615
dashboard does not look at condor classAd, if it says 65 it must be because Crab3 sends it,
somewhere, somehow. Need to check all places where it is reported.
In my understanding the full exit code in the class ad was only needed for:
1. glidemon
2. quick monitoring via condor_q like in James pages and/or interactive debugging/troubleshooting

[2015-01-09 10:35] mmascher commented on #4615
Ok, thanks stefano. Now that I think a little bit, I am not sure it is `ExitStatus` that we need to modify. If we did it, it will probably be rewritten once we exit the job wrapper here https://github.com/dmwm/CRABServer/blob/master/scripts/gWMS-CMSRunAnalysis.sh#L158

So we probably need to create a new classad for glidemon and understand why we are reporting to dashboard the wrong code.

I assig

[2015-01-09 10:40] mmascher opened #4616 "Remove condor_q call on dag bootstrap"
From Brian's mail here:  https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2252.html

[code]

I don't think we already have a ticket for this, but IIUC we can get rid of this call now: https://github.com/dmwm/CRABServer/blob/master/scripts/dag_bootstrap_startup.sh#L53-L59

[2015-01-09 10:40] belforte commented on #4615
ah.. I got my homework then. so I learn to keep my mouth shut :-)
as my daughter says every time she's reproached: I will do my best.
thanks for the tips.

[2015-01-09 10:57] mmascher opened #4617 "Do not query the schedd and always use the node_status file"
From Brian's email here  https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2252.html

4) (HTCondor bug #4607) DAGMan can be told to always update the node_status file.  Hence, if the last update time in the node_status file is up-to-date within the minute, we have no need to query the schedd to do "crab status".  This is pretty significant - it means that, if we download node_status firs

[2015-01-09 10:59] mmascher opened #4618 "Reduce CPU usage on the schedd by enabling PER_JOB_HISTORY_DIR"
Again from https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2252.html

5) Right now, we use up an inordinate amount of CPU time on the schedd parsing the job log for each post-job (the job log contains all job transitions for all jobs in a task; as a task progresses - or if it has many jobs - it takes a lot of CPU to parse this).  While the CPU time is "nice"d, it'd be a significant red

[2015-01-09 13:13] jmarra13 opened #4620 "CRABServer does not exclude a down schedd"
I ran a condor_off to stop schedd at vocms058. I did it at collector machine vocms056 running the following command:

sudo condor_off -sched -fast vocms058.cern.ch

the schedd stopped immediately and then I tryed to submit some jobs against my own CRABServer that only points to vocms058 schedd and my CRABServer submitted the task anyway rather than fail and inform me the error.

[2015-01-09 13:46] mmascher commented on #4620
uhm, I have never used the condor_off command, what does it do? Also, did you get the same error when the TaskWroker submitted the job (doing the equivalent of a condor_submit)? If so, maybe you can try to do condor_submit by yourself and see what happen. If the submission succeds I don't know what we can do on the CRAB3 side.

[2015-01-09 14:05] juztas commented on #4620
Hi @mmascher. Assign this to me. What we tried to simulate, that if schedd is down, task was still submitted to crabserver and TW reported unable to locate crab3test-8 schedd. I was thinking that if CRABServer is unable to locate schedd, choose good one which is available and up and running.

[2015-01-09 14:05] belforte commented on #4620
Jadir, what did exactly fail (or not fail) ? Which submission was performed ? client to server ?
or TaskWorker to schedd ?
Expectation is that submission from client is performed and task is kept in Crab server DB
until some condor scheduler is available for submission.
Crab server should not refuse tasks only becasue no schedd is (temporarely) available.
The worst that I expect to happen is that

[2015-01-09 14:07] belforte commented on #4620
condor_off shuts down all condor processes on the machine. condor_submit will fail, quickly and
permanently, until next condor start.

On 01/09/2015 02:46 PM, Marco Mascheroni wrote:

[2015-01-09 14:10] juztas commented on #4620
@belforte, yes, this is what I was thinking `Crab server should not refuse tasks only becasue no schedd is (temporarely) available.` and now TW tried to submit, failed and marked task as failed

[2015-01-09 14:20] jmarra13 commented on #4620
Hi Stefano,

The submittion was from client to server, here is the output of crab status:

WARNING: Incompatible CRABClient version "3.3.12.patch1"
Server is saying that compatible versions are: [u'3.3.8', u'3.3.9.rc2', u'3.3.9', u'3.3.10', u'3.3.9.pre2']
Task name:			150109_105934_crab3test-8:jmsilva_crab_T2_FR_CCIN2P3_ITB7
Task status:			FAILED
Error during task injection:	The CRAB3 server backe

[2015-01-09 14:29] mmascher commented on #4620
So, the REST interface selected the schedd which was shut off, and then the TaskWorker failed to submit it. I think the problem was that in this case the schedd should also be deleted from the REST backend urls (https://cmsweb.cern.ch/crabserver/preprod/info?subresource=backendurls , or the equivalent on your VM).

[2015-01-09 14:29] mmascher commented on #4615
Ahah, that's not a punishment, but an opportunity to learn something ;)

Adding some comments from hypernews before they got lost:

[code]

[2015-01-09 14:44] belforte commented on #4615
more details in the HN thread:
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2252/1/1/1/2.html

[2015-01-09 14:53] belforte commented on #4620
that's the drawback of early binding to a specific schedd in the REST. Which I never understood what
buys. If you can leave it to the TW, of course it will have an easier time in picking the working
one in a pool. The only other comment is that as long as schedd is set once and kept fixed, it may
be useful for TW to try a few times, which maybe it does already, before failing.

[2015-01-09 15:23] mmascher opened #4621 "Write a crab verify command to locally execute user's code"
The "crab verify" should take the user's sandbox, create a temporary cmssw area, runs the job for 10 events, and returns a per-event median / average memory usage. This works well with the recent patch from @matz-e https://github.com/dmwm/CRABServer/pull/4603 that allows people to use the EventsAwareLumiSplitting

We should write the code so that it is also possible to execute on lxplus an user jo

[2015-01-09 15:37] belforte commented on #4621
do you mean the sandbox prepared by the client ? Or the thing that is prepared by TW/DAGMAN and sent
to WN ?

[2015-01-09 15:40] #4565 closed

[2015-01-09 15:55] mmascher commented on #4621
I would say the second one and run the job wrapper. Something like this recipe https://twiki.cern.ch/twiki/bin/view/CMSPublic/Crab3OperatorDebugging#To_run_the_job_wrapper_from_lxpl

At least that's what I had in mind, get everything we need to run the job wrapper (minus stageout)

To be honest I have not thought to the implementation details yet, I will wait for @annawoodard

[2015-01-13 07:11] juztas opened #4627 "Review of dag_bootstrap_startup and exit status"
I have started reviewing and changing dag_bootstrap_startup.sh and have tried invoke several exit statuses. https://github.com/dmwm/CRABServer/blob/master/scripts/dag_bootstrap_startup.sh#L92

Task status on schedd become HELD and crab status is showing:
[code]
Maybe it would be better to raise better error message and not the same message for all bootstrap failures? We could do condor_qedit and u

[2015-01-13 10:24] belforte opened #4628 "Add support for gfal2"
Applies to client, server and ASO. I put here for visibility. Maybe good to open more dedicated issues, link to this, and close when all done.
Plan should be to check for gfal2, use it if found, fall back to current lcg-* if not. Monitor deployment and remove all lcg-* code when appropriate.

[2015-01-13 10:34] juztas commented on #4628
Mh... Client already have this fallback https://github.com/dmwm/CRABClient/issues/4264 , ASO on production and preprod already uses gfal2 only https://github.com/dmwm/AsyncStageout/pull/4315. CRABServer uses everything from WMCore Stageout and issue exists here https://github.com/dmwm/WMCore/issues/4880 https://github.com/dmwm/CRABServer/blob/5e7f3d6322579c70614d0a961431565176727a12/src/python/Tas

[2015-01-13 10:45] belforte commented on #4628
grrr...  I was misled by seeing gfal-copy etc. commands used and thinking it meant gfal1... sorry.

[2015-01-13 10:45] #4628 closed

[2015-01-13 10:47] juztas commented on #4628
You closed, I did not wanted to say that, we still have one command in CRABServer which uses lcg-cp and also we have to track WMCore issue and test whenever it is available in WMCore code ;)

[2015-01-13 11:20] belforte commented on #4627
Maybe there is no value in many different error messages here. If dag bootstrap fails expert needs to log on machine anyhow and users would not know what to do with the detailed message anyhow. But easy access to logs is always great, surely adding a couple symlinks does not hurt.

[2015-01-13 13:12] #4602 closed

[2015-01-13 16:20] #4620 closed

[2015-01-13 16:21] mmascher commented on #4620
Merging this pull from justas that excludes from the CRAB3 server configuration the unknown schedulers.

Opening a new issue for the late binding stuff Stefano mentioned.

[2015-01-13 16:25] mmascher opened #4629 "Late binding of schedd"
Right now we are binding the schedd name in the REST at submission time. It would be better to do it in the task worker so that automatic submission retries could try to select a new schedd if the selected one does not work.

Requires:
1) A new column in the database for the scheduler name that gets updated before the submission to the schedd
2) Since we are working on this we can also remove the

[2015-01-13 16:31] #4584 closed

[2015-01-13 16:46] mmascher commented on #4530
@AndresTanasijczuk , I thought you solved this. Do you confirm?

[2015-01-13 17:49] AndresTanasijczuk commented on #4530
I implemented a fix (*), but without being 100% sure that it will solve this issue in all possible cases.
I have not done extensive dedicated tests. The only test I did was to submit a job that I know will fail permanently, I wait until it fails, then resubmit and check that the retry count and maximum allowed number of retries are as expected, and they were. I leave it up to you to decide whether

[2015-01-14 14:12] mmascher commented on #4583
You will need to update the database with: https://github.com/dmwm/CRABServer/blob/master/etc/updateOracle.sql#L40 if you use the master branch

[2015-01-15 00:46] annawoodard commented on #4621
Ignore the issue reference explosion above-- that was a mistake, wrong issue number.

I don't follow why the splitting algorithm matters. Shouldn't the memory/event not change very much, regardless of how many events are run, unless there's a memory leak (which I'm not sure we could catch without running on more events)? On that thread though, after we get this in place, we should consider extendi

[2015-01-15 08:55] mmascher opened #4633 "Use the -f option when doing scram project"
Request coming from @ktf :

[code]

[2015-01-15 08:56] mmascher commented on #4633
See https://hypernews.cern.ch/HyperNews/CMS/get/swReleases/4149/2/1/1/2/1/1/1/1/1/1.html

[2015-01-16 15:50] belforte commented on #4633
surely it is easy, but even more surely not urgent. Are we 100% sure that there is no side effect ?

[2015-01-16 16:29] belforte commented on #4633
also it is not clear that this solves any actual problem, while surely taking away a possibly helpful diagnostics.

[2015-01-18 14:34] juztas commented on #4616
@bbockelm

a) Can we specify where to save and update $_CONDOR_JOB_AD file? I would think about saving it in spool directory
Spool directory `/var/lib/condor/spool/8206/0/cluster38206.proc0.subproc0` and now in beginning it saves .job.ad here : `/var/lib/condor/spool/local_univ_execute/dir_38206_0/.job.ad` but after some time this file does not exist anymore. If it would exist, we can get rid of t

[2015-01-18 17:14] #4504 closed

[2015-01-18 17:22] #4513 closed

[2015-01-18 19:56] juztas commented on #4500
crab kill works fine in 8.3.2 HTCondor version. It kills all jobs and sets corresponding status in node_state file. I will close this issue when we will have 8.3.2 version in all schedds.

[2015-01-19 05:40] juztas commented on #4629
@mmascher about 3 I am not sure. With full implementation if I submit a task, I will get <timestamp>_<machine_name>:<username>_crab_<taskname> but if TaskWorker will decide to change machine, this task name will be incorrect. What about staying with <timestamp>:<username>_crab_<taskname> or I misunderstood you ?

Thanks

[2015-01-19 12:03] belforte commented on #4633
given the last news from Shahzad and Giulio [1] it can be closed as invalid
[1]
https://hypernews.cern.ch/HyperNews/CMS/get/swReleases/4149/2/1/1/2/1/1/1/1/1/1/3/1/1/1/1/1/1/2/1/1/1.html

[2015-01-20 09:00] juztas opened #4636 "Use cached external configuration if git is down"
Seems git at cern is down and it raises sometimes this error. After some time I am able to retrieve task status and sometimes I get ExecutionError.
[code]

[2015-01-20 09:14] juztas opened #4637 "crab getlog --short"
As discussed with @belforte maybe we could implement `crab getlog <taskname> --short` and this command will download truncaded CMSSW output from Scheduler.

a) Save truncated CMSSW output and transfer it back to scheduler together with `job_out.<job_id>.<retry>.txt` and `crab getlog <taskname> --short` will download truncated files from scheduler;
b) `job_out.<job_id>.<retry>.txt` and `crab getlog

[2015-01-20 09:20] belforte commented on #4637
I thought this was simply a different way to see what's in glidemon/dashboard already, not more things. Don't we do a) already ? i.e. the truncated cmsRun output is already on scheduler disk, which is where glidemon reads it from (by the way schedd's http is not visible outside CERN and glidemon proxies for it, we should go for a cmsweb based solution instead).

[2015-01-20 09:54] mmascher commented on #4637
I agree with Stefano,

the webdir is already available with some simple lines of code:

[code]

which returns something like:

[code]

Then we can simply add the jobnumber and the retry number to get  the file (even with urllib like we are doing here https://github.com/dmwm/CRABClient/blob/a058e3bdb7a20d3ee3d10abf6b132d5fc4daa4d6/src/python/CRABClient/UserUtilities.py#L81-L104). We only have to fi

[2015-01-20 17:13] annawoodard commented on #4621
Summarizing a chat I just had with @mmascher:
This is related to #4462, that we should add a --dryrun option, which would return how many jobs a task will generate without submitting it. This could be done with a submit-like client subcommand which inserts a task on the server side with a ‘dryrun’ flag, which will tell the TW not to run the dagman submitter, but instead upload everything we need t

[2015-01-21 11:01] juztas opened #4639 "HG1502 Validation of 3.3.13"
Validation twiki : https://twiki.cern.ch/twiki/bin/viewauth/CMS/CRAB3_ASO_1502
Issues will be posted here which are required to fix

[2015-01-21 11:03] juztas commented on #4639
TW cannot upload warning message to crabserver, because it tries to upload not with users proxy but with service certificate
[code]

[2015-01-21 11:07] mmascher commented on #4639
Thanks Justas, that's https://github.com/dmwm/CRABServer/issues/4606 , I have a fix for it but I haven't tested it yet.

[2015-01-21 11:59] juztas commented on #4639
ScriptEXE is failing
[code]

[2015-01-21 12:31] juztas commented on #4639
This happens on ITB pool which is unstable. If collector is down/not reporting, we should print good message, whenever schedd choose will be moved to TW, tasks will be submitted to database and not rejected.
[code]

[2015-01-21 13:17] belforte commented on #4621
I like this.
for maximum result, we could make it so that only the user who submitted can do this (privacy of your analysis) but also allow "us" to do it (easy of support). We can make all Crab3 people sign a non-disclosure agreement :-)

[2015-01-21 13:53] juztas commented on #4639
for scriptEXE it fails because TW uses too old version of WMCore. @mmascher can you recreate TW RPM with minimum 1.0.3.pre1 version in which cleanEnv is included ? Thanks

[2015-01-21 13:57] mmascher commented on #4639
Thanks guys, I think I lost this change because Iit was never committed in cmsdist: I built a TW RPM in comp.pre.mmascher without committing the change to cmsdist (which is fine provided that you remember the changes).

I am sorry for that.

[2015-01-21 14:42] hernand commented on #4587
getting back to this. Here is a basic proposal to add few parameters. We can add more later if needed:

- PerformanceSummary Metric="ApplicationMemory" Metric Name="PeakValueRss" (maximum value of used RSS by the job)
- PerformanceSummary Metric="StorageStatistics" Metric Name="Timing-tstoragefile-read-totalMegabytes" (total volume of input data)
- PerformanceSummary Metric="StorageStatistics "Met

[2015-01-21 14:50] mmascher commented on #4639
cms+crabtaskworker+3.3.13.rc1-comp with the fix for scriptExe available in comp.pre.mmascher.

Jadir, can you deploy it on preprod?

[2015-01-21 14:53] jmarra13 commented on #4639
Yes, i can.

On Wed, Jan 21, 2015 at 3:50 PM, Marco Mascheroni <notifications@github.com>
wrote:

--
Jadir Marra da Silva<jadir@ncc.unesp.br>
Nucleo de Computacao Cientifica - UNESP
R. Dr. Bento Teobaldo Ferraz, 271 - Bldg 2
01140-070 Sao Paulo, SP - Brazil
+55 11 3393-7787 (office/voicemail)
+55 11 8796-0805 (mobile)
_______________________

[2015-01-21 15:31] AndresTanasijczuk commented on #4605
This issue can be closed. The 'start_time' is now in the view JobIdsStatesByWorkflow.

[2015-01-21 16:21] AndresTanasijczuk opened #4640 "A module can produce more than 1 output file. Is CRAB accounting for this?"
See https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3143.html
I don't think we are accounting for this possibility.

[2015-01-21 17:16] #4519 closed

[2015-01-21 17:16] #4605 closed

[2015-01-21 17:27] matz-e commented on #701
Just had a discussion with Marco about this after looking at some code.  It looks like writing a WMStep, Executor and Template would be fairly difficult to get right, and I'm not sure that the complexity would be worth the effort.  Unifying what we have for CMSSW and `scriptExe` currently (i.e. calling `cmsRun` manually) would greatly reduce the code complexity.

Looking @xshi's setup, we already

[2015-01-21 17:42] PerilousApricot commented on #701
Looking to other requests people had, the benefit of making a WMStep for FWLite processes is it adds the ability to trivially run multiple analysis steps in one job.

[2015-01-21 19:14] matz-e commented on #701
To be fair, writing an executor does not seem to hard, I'm more confused by the complexity of `CMSSWStepHelper`.  What would the FWLite requirements be from your side?

I should also note that it looks to me like we're currently creating 3 release areas for one execution of the CMS run script, 2 of which seem to be created by WMStep…

[2015-01-22 07:29] PerilousApricot commented on #701
Hi Matthias-

I think there's not a lot of requirements, per se. There's always just the general idea of wanting to make "easy things easy and hard things possible". FWLite (or even any arbitrary scripts) would be to have a contract between the grid side of "we give you arguments this way" and "you return an FJR-esque thing back to us". If that contract existed, it would be easier then for someone

[2015-01-22 09:15] matz-e commented on #701
Hi Andrew,

Yes, a well-defined contract definitely seems to be missing here.  I'm not sure what can be done on the side of inputs, my intuition would be to provide some text/JSON files to exchange the information rather than shoving everything into the argument list.  As far as the FJR-ish output goes, I think that would be a lot shorter than what `cmsRun` is currently producing.  Maybe a skeleto

[2015-01-22 09:31] jmarra13 commented on #4639
It's installed. I just start the validation script again.

On Wed, Jan 21, 2015 at 3:50 PM, Marco Mascheroni <notifications@github.com>
wrote:

--
Jadir Marra da Silva<jadir@ncc.unesp.br>
Nucleo de Computacao Cientifica - UNESP
R. Dr. Bento Teobaldo Ferraz, 271 - Bldg 2
01140-070 Sao Paulo, SP - Brazil
+55 11 3393-7787 (office/voicemail)
+55 11 8796-0805 (mobile)
_______________________

[2015-01-22 10:05] belforte commented on #701
IIUC that down the road you want to make it possible to run multiple steps in the same job, it may be better to keep the freedom to use different CMSSW versions in the different steps. All in all cmsrel is prettty quick when compared to "hours". Not clear that it will be ever needed, but cost is low.

[2015-01-22 16:52] PerilousApricot commented on #701
@belforte - Since each CMSSW WMStep does a cmsrel seperately, you can already use different versions of CMSSW within the same job.

I agree that there should be some sorta JSON for the input, with the filename passed in via argument. But looking ahead to when people are actually using it, it'll probably save a lot of support email struggle to have a "blessed" interface between that file and the FW

[2015-01-23 11:24] mmascher commented on #4586
Hi, Justas and I discussed a little bit about how we select the schedulers for the submission, and how this could be improved. The problem right now is that the big PM schedd we added yesterday is not getting many jobs compared to the others.

In fact, the formula is just a wighted choice that, yes, it gives more tasks to schedulers with more memory, but it does not take into consideration Idle an

[2015-01-23 12:34] belforte commented on #4586
I think it is a bad idea.
And I said that after having entertained same concept myself for a while, so nothing personal.

Reason is that due to the way DAGMAN works the #run and #idle is kept low intentionally and gives no indication on how many more jobs are waiting in the local DAG's ready to be submitted as soon a schedd has some breathing space. If we wanted to optimize submission really looki

[2015-01-26 09:04] mmascher commented on #4586
Hi Stefano,

point taken. I guess there is nothing to do here then. Closing the issue.

[2015-01-26 09:11] mmascher opened #4642 "cmscp: report to dashboard the long exit code"
The "application by exit code" chart in Dashboard (see http://dashb-cms-jobsmry.cern.ch/dashboard/request.py/dailysummary#button=successfailures&sites%5B%5D=All+T3210&submissions%5B%5D=crab3&sitesSort=7&start=null&end=null&timerange=lastWeek&granularity=Hourly&generic=0&sortby=1&series=All) reports the short exito code for the jobs (e.g. 65 instead of 8001)

It seems to me that the problem is that

[2015-01-26 09:20] belforte commented on #4642
I disagree.

On 01/26/2015 10:11 AM, Marco Mascheroni wrote:

fwjr can miss exit code for two reasons:
1. application (e.g. cmsRun) failed to produce it while it was supposed to, so
   a specific (long) exit code needs to be set
2. application (e.g. user's script exe, details to be defined) is not expected
   to produce it in the first place. In this case we still prefer to group all
   cases wher

[2015-01-26 09:50] mmascher commented on #4642
Hi Stefano,

I should have mentioned that I am talking about the job wrapper json fjr, which is hardly missing. In both the scriptExe and cmsRun cases the jobReport.json is written by the wrapper if a FrameworkJobReport.xml is not produced by the user executable.

And this jobReport.json is always supposed to be written by the job wrapper (CMSRunAnalysis.py).

So, I believe that reporting the shor

[2015-01-26 10:49] mmascher commented on #4621
Hi Stefano,

IIUC that's already implemented in the crabcache! People can only look at their own files, unless they have the "Operator" role in the CRAB3 sitedb group (https://cmsweb.cern.ch/sitedb/prod/admin/group/crab3). We are using this for the uploadlog where operators can have a look at user's logs, but people can only look at their own logfiles.

[2015-01-26 11:03] belforte commented on #4642
can you summarize in one line relation between job wrapper and cmscp ? How does it happens that job wrapper is killed and cmscp is not ? who talks to dashboard ? And what if there is a bug in cmscp ?

I still think you want an exit code that means "step X in the wrapper/cmsp chaing failed", not
"something failed with exit code Y and we think this usually means step N since bugs aside that's the on

[2015-01-26 12:54] mmascher commented on #4642
On Mon, Jan 26, 2015 at 12:03 PM, Stefano Belforte
<notifications@github.com> wrote:

There is a script (which probably should also be called jobwrapper :))
that executes both what I was calling jobwrapper before, and then
cmscp.

Well, I guess we can go with one exit code which is the user's
couterpart of: "cmscp cannot find jobReport.json" and then remove the
8bit exit code completely.

For refe

[2015-01-26 13:16] belforte commented on #4642
in this case cmscp should simply report 8001.
If you job wrapper failed to produce jobReport.json, or
produces one w/o the Exit code information I
would start with:
  80000 - Internal error in CRAB job wrapper
and see how many of those we get before worrying about
dividing the category further.

I would leave to job wrapper to handle possibly
known/standard failure of user's exe (segfault=11 e.g.)

[2015-01-27 07:01] juztas commented on #4639
@AndresTanasijczuk  crab getoutput does not work if transferOutputs flag is true
[code]

[code]
https://cmsweb-testbed.cern.ch/crabcache/logfile?name=150126_101433_crab3test-5:jbalcas_crab_HG1502-2-MinBias_PrivateMC_EventBased-L-T_O-T_P-F_IL-F.log&username=jbalcas

[2015-01-27 07:04] juztas commented on #4639
Test: Check jobs removed for memory/walltime/disk limits. The status should provide the exit code.
[code]

[2015-01-27 10:21] AndresTanasijczuk commented on #4639
I looked at this task in GlideMon, and I see that all jobs were retried
because all the original jobs (the versions 0) have failed because couch
was unavailable. I will talk with Marco about if we can include the latest
PostJob code were jobs would not fail in such a case.

There were no completed jobs at any time, so it is ok that getoutput
retrieved no files, because the output files metadata we

[2015-01-27 18:43] mmascher opened #4645 "Validation scripts: add test for direct stageout"
I was thinking that using the extraJDL parameter we can easily check that the direct stageout is working.
I know it's a corner case, but imho worth adding a client configuration that uses:

[code]

overwriting the current value.

N.B. I haven't tested it yet

[2015-01-28 14:29] belforte opened #4648 "introduce a "machine readable" exit code table"
see discussion in #4647

[2015-01-28 14:34] ericvaandering commented on #4648
I'll continue it here then. :-)

I'm one of the people who's pushed against using Twiki+TRAC Wiki+Git Wiki+newest flavor of the week for storing human readable documentation. As much as Twiki sucks, it is a single repository however poorly curated.

But that's not the case for this particular issue, as I understand it, because the goal is to have something that is both machine readable and human r

[2015-01-28 14:49] mmascher commented on #4583
Hi,

as of this morning oracle database update you will need to update the tnsnames.ora in your REST instances.

You can take the one on lxplus in /etc and replace the one used by the VM. that's what I did:

[code]

[2015-01-29 10:01] juztas opened #4650 "Problems in cmscp.py"
1)  local variable 'local_stageout_mgr' referenced before assignment (Have not checked where it looses it.)
[code]
2) Variable is not defined in except part
[code]
if it fails for some reason, you don't have JOB_STGOUT_WRAPPER_EXIT_INFO variable in except part. https://github.com/dmwm/CRABServer/blob/master/scripts/cmscp.py#L1854 add here `JOB_STGOUT_WRAPPER_EXIT_INFO = {}`

[2015-01-29 10:01] juztas commented on #4650
Log file : http://glidemon.web.cern.ch/glidemon/show.php?log=http://vocms095.cern.ch/mon/cms220/150129_083712_crab3test-2:tmulholl_crab_SMS_TChipChimStauSnu_ext_4/job_out.2.0.txt

[2015-01-29 10:27] juztas commented on #4650
@AndresTanasijczuk

[2015-01-29 10:55] #4650 closed

[2015-02-02 17:33] annawoodard commented on #4104
I'm now seeing something similar:

 retcode : 127
2015-02-02 18:30:27,874:DEBUG:Proxy:Executing :
 command : unset X509_USER_CERT X509_USER_KEY && env X509_USER_CERT=/data/certs/hostcert.pem X509_USER_KEY=/data/certs/hostkey.pem myproxy-logon -d -n -s myproxy.cern.ch -o /data/certs/creds/98bdb766be053cf432f3454c9768e0bdb715949f.8847 -l "e4965085faacead39a22192c3d5c47f81e665215" -t 168:00
 output :

[2015-02-02 17:43] annawoodard commented on #4104
For now, unsetting LD_LIBRARY_PATH is working for me.

[2015-02-02 21:34] juztas opened #4653 "Identify where TW takes most of the time"
This does not look good. Spending 7751s,7385s,8007s for submitting a simple task with 30jobs. Need to identify what takes most time and improve it.
[code]

[2015-02-03 18:06] juztas commented on #4653
Forgot to add to pull. Fixed here https://github.com/dmwm/CRABServer/pull/4654

[2015-02-03 18:06] #4653 closed

[2015-02-05 14:30] mmascher commented on #4104
Hi Anna,

there is a parameter in the TW called `cleanEnvironment` that can be used to execut these commands in a clean environment (using `env-i`). Moreover, the parameter so source the user grid UI should be unset now that with SLC6 it has been deprecated.

[2015-02-06 10:57] mmascher commented on #4500
Closing the issue. Condor 832 deployed last week fixed

[2015-02-06 11:14] mmascher opened #4657 "Automatically blacklist of sites in the morgue"
After a chat with @belforte we decided that the taskworker should use the morgue to manage the site blacklist which is static at the moment.

Sites that are in red here https://cmst1.web.cern.ch/CMST1/SST/morgue.txt should be blacklisted.

[2015-02-06 13:22] mmascher commented on #4621
Hey Anna (and actually also others),

let me share some code I recently developed for running user's code on lxplus. The script takes as argument a taskname, then connects to the schedd to get the spool directory of the task, copy the code from there, and finally create an empty `run_job.sh` where you can put the arguments of the job that I guess you will upload from DagmanSubmitter to the crabcac

[2015-02-06 15:32] mmascher opened #4658 "Additions to the monitor for CSP shifters"
Before we lost them, here there are some ideas Jadir can look into for the kibana monitor page

1) # of idle old jobs per site: See https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2262/1.html
We can query each CRAB3 schedd and filter on (1) Payload jobs with time()-QDate > 86400 and (2) JobStatus == 1
Then, look at DESIRED_Sites and increase the count for each possible site.
This way w

[2015-02-06 15:36] mmascher commented on #4658
As a reference that's the work Justas started: https://github.com/dmwm/CRABServer/pull/4652

[2015-02-06 15:40] mmascher commented on #4658
Justas: something like this https://meter.cern.ch/public/_plugin/kibana/#/dashboard/temp/nB3Yo2esRaq5tlA213xH4w with the crab hosts could also be useful. Plus, running/idle/... jobs

[2015-02-06 15:42] juztas commented on #4658
Example of xml: http://vocms037.cern.ch/XRDFED_CMS-EU.xml

[2015-02-08 20:28] juztas commented on #4530
Fixed.

[2015-02-08 20:28] #4530 closed

[2015-02-09 08:47] AndresTanasijczuk opened #4659 "LHE with more than 3 input files: remove warning for new CMSSW version"
See https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/393.html
I reproduced the problem using users original pset and crab config.

[2015-02-09 09:36] AndresTanasijczuk commented on #4530
@juztas Is it possible to read this number https://github.com/dmwm/CRABServer/blob/master/scripts/AdjustSites.py#L107 from the TaskWorker config instead of hard-coding it?

[2015-02-09 09:46] juztas commented on #4530
Yes, but this value is not defined in ClassAds AFAIK. I will check then schedds will be fixed. in DagmanResubmitter we can pass everything what is from configuration.

[2015-02-09 10:19] belforte commented on #4658
please have Jadir get an account and assign to him. It that takes time you can assing to me in the meanwhile, and I'll follow up with him

[2015-02-09 10:26] jmarra13 commented on #4658
Hi, I already have an account it is jmarra13

[2015-02-09 11:37] AndresTanasijczuk commented on #4530
Should we open another GH issue?

[2015-02-09 12:01] matz-e commented on #4621
@mmascher This script simplifies things greatly!  Maybe it could be included as a helper script in the CRABServer repo?  That way it would be easier to keep it up to date with developments…

[2015-02-09 12:06] juztas commented on #4530
yes

[2015-02-09 12:15] AndresTanasijczuk opened #4660 "In AdjustSites.py, set "max_retries_per_resubmission" from TW config"
In the resubmitDag function in scripts/AdjustSites.py, we have hard-coded max_retries_per_resubmission = 2. This number should be taken from the TW config.

[2015-02-09 12:15] #4500 closed

[2015-02-09 12:40] mmascher commented on #4621
Hi @matz-e , my plan is to have the `crab verify` do all these things. I might be useful for us and also for users. But yes, in general having some "helper scripts" might be useful.

[2015-02-10 09:38] juztas opened #4664 "Possibility for users to ignore CRAB3 backend sites blacklist"
See discussion here: https://github.com/dmwm/CRABServer/pull/4663

[2015-02-10 10:45] juztas opened #4665 "In case of transfer failure show more information in Postjob log file"
@hernand comment:
`
One question about the postjob log. It shows that it took more than 6 hours to fail the transfer. I guess this is because there are retries and a cool-off (2h) between retries. Would it be possible to show in the postjob log a message about each transfer failure->cool-off->retry so that the user can know what is going on? For example: transfer failed with error "blah". Going to

[2015-02-10 12:55] jmarra13 commented on #4658
@mmascher to get the # of idle jobs per site i did this in one schedd(vocms096)

condor_q -const 'jobstatus == 1&&time()-QDate > 86400' -format '%s\n' DESIRED_Sites | xargs | tr ', ' '\n' | sort | uniq -c | sort -nr

the output is like this:

    275 T2_BE_IIHE
    210 T2_US_Caltech
    210 T2_IT_Rome
    210 T2_FR_CCIN2P3
    201 T3_US_FNALLPC
    200 T3_US_NU
    200 T1_US_FNAL
    154 T2_RU_RRC

[2015-02-10 13:27] belforte commented on #4658
it is the right track. But we also have this informataion already here
http://submit-3.t2.ucsd.edu/CSstoragePath/Monitor/latest.txt
Even if condor_q is not expensive for schedd's now, I think we'll be
better with a single script getting the dump and then all various
monitorings can parse the dump.

Mostly I think you Jadir should start from "anything even hard codes static file"
to simply learn ho

[2015-02-10 15:13] jmarra13 commented on #4658
Ok Stefano, I just found a twiki about kibana at CERN https://twiki.cern.ch/twiki/bin/view/ITSDC/ExperimentCentralServicesMonitoring_inAI
I will look into it, maybe it can give a light.

[2015-02-11 10:02] mmascher opened #4666 "Validation scripts: add test for 'mixingFiles' input_types"
See https://cms-logbook.cern.ch/elog/Analysis+Operations/488

Input sandbox in my public: /afs/cern.ch/user/m/mmascher/public/sandbox.tar.gz

[2015-02-11 19:58] juztas opened #4668 "set error message in classad for dag_bootstrap_startup failure"
@mmascher comment from https://github.com/dmwm/CRABServer/pull/4662
[code]

[2015-02-13 12:57] #4616 closed

[2015-02-13 13:10] #4629 closed

[2015-02-13 13:44] #4599 closed

[2015-02-13 15:13] mmascher commented on #4313
Should be fixed now.

[2015-02-13 15:13] #4313 closed

[2015-02-13 15:15] mmascher commented on #4297
Should be all right now.

[2015-02-13 15:15] #4297 closed

[2015-02-13 15:17] mmascher commented on #4292
This has been recently fixed, inputdata is not reused anymore.

[2015-02-13 15:17] #4292 closed

[2015-02-13 15:22] mmascher commented on #4283
ASO is doing "crab status" now to figure out if it has to close the publication. As far as providing a "crab publish" command to publish what's available now without waiting for 8hours I would wait that a user ask for it. It does not seems a hot topic now.

[2015-02-13 15:22] #4283 closed

[2015-02-13 15:28] mmascher commented on #4275
I am not sure what this was about. If a task failed to bootstrap there are no jobs to kill. Yes, we can still transition the task status from SUBMITTED to KILLED in the DB, but given that nobody complained about this I would not bother until some user complain :)

For the moment closing the issue, reopen if you think we should do something about that.

[2015-02-13 15:28] #4275 closed

[2015-02-13 15:33] mmascher commented on #4264
What about this @juztas ? Still waiting for @bbockelm review ? I see you closed the pull request..

[2015-02-13 15:34] mmascher commented on #4256
I did this in October but forgot to close the ticket. Open a new issue if there is something we need to do

[2015-02-13 15:34] #4256 closed

[2015-02-13 15:35] ericvaandering commented on #4273
@ticoann Can you take a look at this? Maybe give to @tsarangi since he wants work to do. :-)

[2015-02-13 15:37] mmascher commented on #4244
A nice one that we forgot about..

[2015-02-13 15:37] mmascher commented on #4243
Closing, there is no CRAB3 watchdog, we call it this way for the users but it's actually the pilot doing this.

[2015-02-13 15:42] juztas commented on #4264
I had merge conflicts. Will create new one pull request

[2015-02-13 15:42] ticoann commented on #4273
Tapas, as you wish. :smile: https://github.com/dmwm/WMCore/issues/5610

[2015-02-13 15:47] mmascher commented on #4115
Closing this as deprecated, reopen if necessary.

[2015-02-13 15:47] #4115 closed

[2015-02-13 15:49] mmascher commented on #4101
We added sqlalchemy to the TW dependencies. That's "suboptimal" I would have prefered to modify the WMCore code so that these dependencies were not required. However I believe we have better things to do and we can close this :)

[2015-02-13 15:49] #4101 closed

[2015-02-13 15:50] mmascher commented on #3977
Given the outcome of the UserOutputReview this seems an "hot topic". Setting April as milestone

[2015-02-13 15:53] mmascher commented on #2372
Also a really old one, but from time to time we discuss this. However, given that we gave the crab library (and a multicrab like tool) to the users I believe that's not so critical and can be closed. Please reopen if necessary

[2015-02-13 15:53] #2372 closed

[2015-02-13 15:56] mmascher commented on #4308
I need to read this carefully and think about it.

[2015-02-13 15:57] mmascher commented on #4328
I think we will consider this deprecated once @annawoodard will finish the `crab verify`. But let' keep this open and move it to June.

[2015-02-13 15:58] mmascher commented on #4334
I would like to discuss the priority of this with Eric at the next meeting, that's why I am assigning him.

[2015-02-13 16:00] mmascher commented on #4353
So, I think we came at a conclusion at the user output review. Use the direct stageout for the first 100 files if they are small (right?)

[2015-02-13 16:03] mmascher commented on #4399
Do we need to do something more about the reports to popularity? @ericvaandering

[2015-02-13 16:03] ericvaandering commented on #4353
As I understand it, you may have come to this conclusion based on limited if any requests from users. And the draft of that review is yet to be accepted by computing. In fact, I heard conflicting opinions from the reviewers themselves.

As you know I'm not a fan of this, so please remove milestones until I actually get convinced.

What it will take to convince me is that this does not, in any way,

[2015-02-13 16:07] mmascher commented on #4353
Ok, I am actually moving it to the October milestone. I would like to have a milestone for each issue, and October is the one for the low priority/needs a discussion ones.

[2015-02-13 16:08] ericvaandering commented on #4353
great

[2015-02-13 16:33] belforte commented on #4275
this task should not stay in SUBMITTED.  We should not wait for users' complain to fix logic errors. Indeed there is no job to kill. I think we discussed already that status = UKNOWN is bad.

[2015-02-13 16:36] belforte commented on #4243
It is not even the pilot, it is the startd. Anyhow you must fix the message. And do not refer to inexisint watchdogs. Please reopen. Having good error messages is difficult, but long term it helps that users can figure out w/o asking all of the times.

[2015-02-13 16:37] belforte commented on #3977
Let's wait for an assessment of the the realtive prioriyt of the issues raised in the review first. It is not obvious that this will be among the ones we want first.

[2015-02-13 21:20] mmascher commented on #4243
OK, just saying your job has been killed because of the memory usage is
fine then?
Il 13/feb/2015 17:37 "Stefano Belforte" <notifications@github.com> ha
scritto:

[2015-02-13 21:38] belforte commented on #4243
yes

On 02/13/2015 10:20 PM, Marco Mascheroni wrote:

[2015-02-13 22:21] #4633 closed

[2015-02-13 22:22] mmascher commented on #4636
The specific error is fixed. However I would like to have a cache mechanism so that if git is not available and we cannot fetch the configuration we use the cached values. Renaming the ticket.

[2015-02-13 22:39] mmascher commented on #4502
Done in https://github.com/mmascher/CRABServer/commit/cfff0147ec7401fdfa9854105d5b30e1ad252f47

[2015-02-13 22:39] #4502 closed

[2015-02-13 23:00] mmascher commented on #4583
This afternoon I merged a pull from justas that requires `ALTER TABLE tasks ADD (tm_schedd VARCHAR(255));`

Also, if you update the code remember to update and restart both REST and TW

[2015-02-14 18:45] mmascher commented on #4583
Hey @nizamyusli , I had the same issue you had yesterday, when you run an updated version of the REST and old version of the TW (*).

I wanted to tell you that I had to clean my database to solve it (I think I executed `delete from tasks`)

(*)
[code]

[2015-02-15 06:37] nizamyusli commented on #4583
Noted. Thanks Marco.

[2015-02-16 13:39] jmarra13 commented on #4658
Here is a dashboard first dashboard with host metrics for prod schedd, tw, aso and pre prod tw
https://meter.cern.ch/public/_plugin/kibana/#dashboard/temp/AUuSmu0Mtb7_3OTFNYOx

this dashboard is available at gist
https://gist.github.com/jmarra13/a87874b597c3acab31b4

[2015-02-16 15:07] #4423 closed

[2015-02-16 15:29] #4581 closed

[2015-02-16 15:29] #4606 closed

[2015-02-17 11:00] AndresTanasijczuk opened #4673 "PostJob: failure uploading output dataset to task DB"
See this task http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1006228&showResubmits=1 and look at the PostJob log for one of the completed jobs. For example, for job 4, the PostJob log says:

Mon, 16 Feb 2015 15:49:15 CET(+0000):INFO:PostJob ====== Starting upload of output files metadata.
Mon, 16 Feb 2015 15:49:15 CET(+0000):DEBUG:PostJob Uploading file metadata for TreeSUSYtfs.root to https

[2015-02-17 16:48] annawoodard commented on #4583
I think we need to update tnsnames.ora again:
[code]

[2015-02-17 16:59] AndresTanasijczuk commented on #4244
@nizamyusli will work on this issue (the part that concerns to the last set of comments), but let's define what do we want exactly.
IIUC, @ericvaandering and @belforte both argue that it is important that the CRAB parameter "userInputFile" accepts a python list. Would it be ok if the CRAB parameter would support ONLY a python list, and for users that prefer to have a text file we provide a functio

[2015-02-17 17:18] ericvaandering commented on #4244
Yeah. In fact wouldn't something like handle.readlines() work just fine in turning a text file into a list? Rather than a function, we may want to educate our users in basic python. :-)

userInputFiles (adding "list" is in some sense adding the data type to the variable which is considered poor form)

[2015-02-17 17:25] belforte commented on #4244
since I was named... +1 with Eric

[2015-02-17 17:39] AndresTanasijczuk commented on #4244
Ok. No function for the conversion then.

[2015-02-17 17:42] ericvaandering commented on #4244
You can even just do
userInputFiles = list(open('list.txt'))

Hard to get simpler than that. :smile:

[2015-02-17 19:28] mmascher commented on #4673
Hi Andres, that error message is coming from (see 'X-Error-Info'): https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTTask.py#L134

Indeed I cannot find the outputdataset name among the input parameters:  `[('subresource', 'addoutputdatasets'), ('workflow', '150216_141044_crab3test-3:piedra_crab_QCD_Pt-20toInf_PU20bx25_PHYS14')]`

It is set here: https://github.com/dmwm/CR

[2015-02-18 11:09] mmascher opened #4675 "HG1503 Validation of 3.3.14"
List of changes here: https://github.com/dmwm/CRABServer/compare/3.3.13.rc4...3.3.14.rc1

What I think we should check:
* Submit a task where you blacklist all the possible sites where it can run, and see if the error mesasge print the list of blacklisted sites
* Check that a warning message is uploaded when there are duplicated lumis in a dataset
* As usual send a task with the old client to chec

[2015-02-18 11:23] hernand commented on #4658
Hi, I think for host metrics we already have the ganglia monitoring at nebraska:
http://hcc-ganglia.unl.edu/?r=day&cs=&ce=&c=crab-infrastructure&h=&tab=m&vn=&hide-hf=false&m=ShadowsRunning&sh=1&z=small&hc=4&host_regex=&max_graphs=0&s=by+name

I think we should concentrate on monitoring metrics that tell us if the system is working fine. Performance, throughput, contention, errors. Not sure what ar

[2015-02-18 14:11] mmascher commented on #4138
Closing, the twikis have been updated since then

[2015-02-18 14:11] #4138 closed

[2015-02-18 14:15] mmascher commented on #4207
Let me close this, I believe everything is fine, we just have to calm down and not panic if we see that #jobs <> #transfers in ASO couch

[2015-02-18 14:15] #4207 closed

[2015-02-18 14:18] mmascher commented on #4245
Maybe we can just change the egroup from it-es-vos_trac to the one we use for crab3 glideinwms. Justas, can you handle that? Low priority

[2015-02-18 14:19] mmascher commented on #4264
assigning to you then @juztas

[2015-02-18 14:22] #4312 closed

[2015-02-18 14:23] mmascher commented on #4336
Let me close this one. That will no longer the case once both schedd and collector are taken from the db (we are getting there)

[2015-02-18 14:23] #4336 closed

[2015-02-18 14:25] mmascher commented on #4338
similar to (if not duplicated): https://github.com/dmwm/CRABServer/issues/4262

Closing.

[2015-02-18 14:25] #4338 closed

[2015-02-18 14:25] mmascher commented on #4262
See also: https://github.com/dmwm/CRABServer/issues/4338

[2015-02-18 14:26] mmascher commented on #3505
Hi @ericvaandering , can we close this one ?

[2015-02-18 14:30] mmascher commented on #4383
See https://github.com/dmwm/CRABServer/issues/4225

[2015-02-18 14:30] mmascher commented on #4225
Closing as duplicate

[2015-02-18 14:30] #4225 closed

[2015-02-18 14:32] ericvaandering commented on #3505
This is super old.

[2015-02-18 14:32] #3505 closed

[2015-02-18 14:38] mmascher commented on #4430
Getting there, with a recent commit from @juztas now we are saving the schedd into the task db. Keeping the schedd name in the taskname for backward compatibility

[2015-02-18 14:39] belforte commented on #4430
??? what does this exactly mean ?

On 02/18/2015 03:38 PM, Marco Mascheroni wrote:

[2015-02-18 14:42] mmascher commented on #4438
IIRC we kept this url in the task DB, but ASO is taking it from the config. As Justas said we should review ASO which should take the publishurl from the taskdb.

[2015-02-18 14:42] mmascher commented on #4484
We still need to do the first bullet.

[2015-02-18 14:43] juztas commented on #4430
Yea, New tasks will not have schedd name in the taskname. For backward compatability (Older tasks submitted before this fix) we are not changing task names or editing database to have schedd saved and late binding of schedd will be improved more in TaskWorker level for April release.

[2015-02-18 14:46] mmascher commented on #4593
That has been implemented and I have seen the filemetadata upload being retried. Closing

[2015-02-18 14:46] #4593 closed

[2015-02-18 14:55] mmascher commented on #4659
Hi @matz-e news about that?

[2015-02-18 15:00] matz-e commented on #4659
Still waiting on feedback from CMSSW.  I could reproduce the job issue by taking the config and skipping more events than were in the first three files…

[2015-02-18 16:50] AndresTanasijczuk commented on #4512
A protection was added in the client: if a user specifies JobType.pluginName = 'PrivateMC' then we don't allow him to specify Data.inputDataset (we suggest him that if he really wants to run over an input dataset, then he has to set JobType.pluginName = 'Analysis'). Should we have a similar protection in the server?

[2015-02-18 17:05] AndresTanasijczuk commented on #4592
I expect that we should not suffer from this problem anymore, because now the ASO view returns also the 'start_time' and the PostJob checks if that 'start_time' is the same as in the document (the start_time from the document is saved in the job_report.json file) to make sure the results returned by the view are not stale.
Since this issue was really rare and it is hard to reproduce, and since I (

[2015-02-18 17:31] mmascher commented on #4512
Yes that woulb be better imho, let's keep the ticket for the server side
changes then. Low priority.

On Wed, Feb 18, 2015 at 5:50 PM, Andres Tanasijczuk <
notifications@github.com> wrote:

[2015-02-18 17:31] mmascher commented on #4592
Yes!

[2015-02-18 17:31] #4592 closed

[2015-02-18 17:55] mmascher commented on #4604
That's fixed now.

[2015-02-18 17:55] #4604 closed

[2015-02-18 18:16] mmascher commented on #4430
yeah, we are doing things by steps, next month when there will be no tasks submitted with the old policy (scheddname in the taskname and no schedd in the database), we will do phase two and remove it.

[2015-02-18 18:46] mmascher commented on #4659
Thanks! But just to understand, will all the CMSSW version < CMSSW_something suffer of this bug?

[2015-02-18 19:40] matz-e commented on #4659
If this really is a CMSSW issue, then yes.

[2015-02-19 06:43] juztas commented on #4675
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/Handler.py#L89-L100 (This will try to upload log for each separated component and I suspect we should upload for whole task)
Also upload is failing without any useful message:
Failed to upload the logfile fo the crabcache. More details in the http headers
:{'Date': 'Thu, 19 Feb 2015 06:31:56 GMT', 'Connection': 'close', '

[2015-02-19 06:46] juztas commented on #4675
Logs are duplicated. It writes to twlog.txt and also today logs are written in twlog.txt.2015-02-18

[2015-02-19 06:47] juztas commented on #4675
[code]

[2015-02-19 09:56] mmascher commented on #4675
I noticed that `crab remake` fails. It seems that we dropped the `_crab` part in the taskname with the recent changes. I don't know if that's a good idea, I can imagine many other things failing because of that (glidemon?), so unless there is a good reson to drop it I would put it back.

Thoughts?

[code]

[2015-02-19 10:00] mmascher opened #4676 "Show condor cluster.id in crab status --long"
I don't believe this is too difficult to do and may help us IMHO. Any reason why we should not do it?

[2015-02-19 10:36] juztas commented on #4675
https://github.com/dmwm/CRABServer/issues/4430#issuecomment-56984467

[2015-02-19 10:46] mmascher commented on #4675
Never mind, that was a HC task which does not use the client and therefore does not put `crab_` in the tasknames. New tasks are fine, I though we were removing more things that we needed.

[2015-02-19 16:06] tsarangi commented on #4273
@ericvaandering else why do you think I am in the WMA dev group ! :-) . I will look into this issue

[2015-02-19 16:40] ericvaandering commented on #4273
:smile:

[2015-02-20 06:52] juztas commented on #4245
https://github.com/dmwm/deployment/pull/167

[2015-02-20 16:58] mmascher commented on #4675
About https://github.com/dmwm/CRABServer/issues/4675#issuecomment-75005931:

* using an upload after each action is intended, I wanted the logfiles to grow step by step, and not having just one final upload.
* I think I know what the error is (not using the user's proxy but the TW one), but the error message can hardly be improved, unless I also print the body of the response in the log. But imho

[2015-02-20 17:52] mmascher commented on #4675
Tagged 3.3.14.rc3 with fixes for most of the comments here (still missing the duplicated logs). Since I also added a couple of monitoring APIs in the REST I will ask for a new testbed deployment.

[2015-02-23 10:09] #4505 closed

[2015-02-23 10:31] #4244 closed

[2015-02-23 12:51] belforte opened #4677 "properly parse Used_Gatekeeper for HTCondor_CE"
see:
https://cms-logbook.cern.ch/elog/GlideInWMS/1540

for the new HTC CE the gatekeeper has the format  host-blank-host:port
need to modify the way we extract SyncCE here
https://github.com/dmwm/CRABServer/blob/7104038e5e1261e4f61bc7923a8fca0e3efc85f4/scripts/CMSRunAnalysis.py#L104

[2015-02-23 16:44] PerilousApricot opened #4679 "Error code gets propagated incorrectly"
A few times CMSWEB will be temporarily down and the following chain of events will happen. Though the wrapper is trying to set an exit code of 80000, it shows up as 128 everywhere (monitoring, etc)

http://glidemon.web.cern.ch/glidemon/show.php?log=http://vocms096.cern.ch/mon/cms931/150222_183020_crab3test-3:meloam_crab_ra2tau_skim2015_v3_QCD_Pt_20_MuEnrichedPt_15_TuneZ2star_8TeV_pythia6_Summer12_

[2015-02-23 20:54] PerilousApricot commented on #4679
Also, CMSWEB being down should probably be handled as a recoverable error.

[2015-02-23 21:03] belforte commented on #4679
but is it understood how CMSWEB being down can cause the exit code to be propagated incorrectly ?

[2015-02-23 21:21] PerilousApricot commented on #4679
I think it's just not properly being trapped upstream

[2015-02-24 08:33] juztas opened #4681 "consistently enforce a time limit for tasks"
[code]

[code]

If proxy is expired on scheduler jobs will not run. We have to have possibility for users to update their proxy on scheduler and also these jobs should be removed or set as held.

[2015-02-24 09:26] belforte commented on #4681
I disagree

when task is initially submitted users should be required to have a long enough
credential in myproxy, then it is up to Crab Server to renew the proxy on schedd.
Long enough = as long as we want to allow a task to stay in the system, which AFAIR
is two weeks. After that jobs are removed, task is purged and if something was not
completed, user will have to create a recovery task.
Could

[2015-02-24 09:34] juztas commented on #4681
TaskWorker is already renewing proxy, depending on myproxy delegation, but situation is the following:
Site is down for 3 weeks, jobs are idle, proxy delegation expires, site is up, but jobs cannot run and they are sitting idle.
[code]
No, they are not, and they can stay idle months... I would put removal for jobs which proxy expired and as you say user will have to create a recovery task.

[2015-02-24 10:40] belforte commented on #4681
let's rephrase the issue then as:
  consistently enforce a time limit for tasks
and then we can sort details like "can proxy expire before the task reached its end of life ?"
Surely we can't offer any guarantee that a task can resume successfully after staying idle for months !

On 02/24/2015 10:34 AM, Justas Balčas wrote:

[2015-02-24 12:57] mmascher commented on #4681
Hi @juztas , do you know why the TW did not renew the proxy on the schedd?

[2015-02-24 13:09] belforte commented on #4681
@mmascher Justas already explained that task sat on schedd more then 3 weeks, so the credential in myproxy expired.

[2015-02-24 13:47] mmascher commented on #4681
Ah thanks Stefano, I missed that.  FWIW the user did not use CRAB3 for at least two weeks (or his cert was expiring), otherwise his proxy would have been renewed in CRAB3. Infact, proxies are delegated in myproxy for 30 days whenever a crab command is executed, and are renewed for other 30day if their lifetime in myproxy is <15 days.

The lifetime of a task is one month AFAIK, so maybe we should c

[2015-02-24 13:54] belforte commented on #4681
one month is a very long time if we e.g. want to do disruprive hw intervention.
Do we have any way to monitor what is the natural lifetime of tasks ?
Indeed you want to change to 45/30, even if we decide to cut tasks at 2 or 3 weeks
it will not harm to have longer-lived credentials. And verify what happens when the task
lifetime expires, i.e. clear and consistent notification to user, proper clean

[2015-02-24 14:23] mmascher commented on #4679
Hi, I think it could be related to https://github.com/dmwm/CRABServer/issues/4642
We are reporting the short exit code instead of the extended one, indeed:

[code]

[2015-02-24 23:18] mmascher commented on #4679
I fixed #4642 (I will merge the pull soon after we are done with the March release)

I am reporting the long exit code to the dashboard. The crab status was already using it. The short exit code is still used in glidemon (we need Dima), and some places in this script (*) (and the joblog) where I specified we are printing the short exit code.

About the CMSWEB unavailabiliity, that particular error

[2015-02-25 06:30] juztas commented on #4658
Get count of jobs with MaxWallTime in minutes. We have seen some jobs having more 2.4 days and this is too long.
[code]
How much memory job is requesting:
[code]

[2015-02-25 10:26] juztas commented on #4658
grep and count glexec failures in Shadow log file (Only newest one). In Shadow log you will see like
[code]
you have to group them by hostname, group and count.
[code]
But to retrieve this information you will need to put this into SCHEDD ADS or have a script in schedd which does this and generates separate XML on schedd.

[2015-02-25 10:37] belforte commented on #4658
isn't this already in James' monitor ?

On 02/25/2015 11:26 AM, Justas Balčas wrote:

--
Stefano Belforte - I.N.F.N.     tel   : +39 040 375-6261 (fax: 375-6258)
Area di Ricerca - Padriciano 99 tel mobile: +39 328 010 7327
34012 TRIESTE TS  - Italy       AIM: stefanobelforte

[2015-02-25 10:42] juztas commented on #4658
@belforte this one http://submit-3.t2.ucsd.edu/CSstoragePath/Monitor/latest.txt ? If yes, I don`t see glexec failures

[2015-02-25 10:43] belforte commented on #4658
this one:
http://submit-3.t2.ucsd.edu/CSstoragePath/Monitor/latest-global-history.txt

[2015-02-25 10:43] jmarra13 commented on #4658
To get the top 10 host with glexec failures I run this command

grep ' LCMAPS failed' `condor_config_val SHADOW_LOG` | awk '{print $8}' | tr -d ':' | tr '@' ' ' | awk '{print $NF;}' | sort | uniq -c | sort -k 1 -nr | head -n 10

which output this:

    110 europium-2-2.lsr.nectec.or.th
     72 europium-1-8.lsr.nectec.or.th
     50 europium-2-1.lsr.nectec.or.th
     50 europium-1-9.lsr.nectec.or.th

[2015-02-25 10:46] belforte commented on #4658
simply let's not have multiple scripts which do condor_q and/or parse condor logs independently. Do it once, then feed to result to all presentation tools.

[2015-02-26 11:49] matz-e commented on #4659
To quote the [TWiki](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLHEInterface):

So until this is fixed in all CMSSW versions, users should keep to this recommendation.

[2015-02-26 12:22] AndresTanasijczuk commented on #4659
Do I interpret correctly that this means that in the CMSSW pset there should not be more that 1 source LHE file?

[2015-02-26 13:01] matz-e commented on #4659
Sort of.  It's a TWiki, so I don't know how up to date this is.  But as it says there, more than one LHE files have not been tested.  I just pinged some folks about my framework PR, I'd still like to hear what their opinion is.

[2015-02-26 13:45] AndresTanasijczuk commented on #4659
I added a note in the tutorial about this: https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookCRAB3Tutorial#Running_MC_generation_on_LHE_fil

[2015-02-26 14:43] juztas opened #4683 "crab resubmit --force for resubmitting completed jobs"
[code]
Please see: https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2293/1/1.html

[2015-02-26 15:12] mmascher commented on #4595
Andres will check if it works and close the issue if it's the case.

[2015-02-26 15:13] mmascher commented on #4683
Related to https://github.com/dmwm/CRABServer/issues/4595

[2015-02-26 15:15] mmascher commented on #4683
Also, make sure we don't screw things with publication (should fail if the lfn is the same, but probably will show the jobs as publication failed)

[2015-02-26 15:24] mmascher commented on #4683
Two options discussed:
1) invalidate the file before resubmitting if the publication succeded.
2) Don't publish the second retry putting `publish=0` in the couch document

Either way that's tricky if the job is not in a final state.

[2015-02-26 15:26] mmascher commented on #4589
@AndresTanasijczuk will decide a number and he will add it to the twiki. @belforte suggestions?

[2015-02-26 15:42] mmascher commented on #4535
Good candidate for @matz-e or @annawoodard
Are you interested?

[2015-02-26 15:54] mmascher commented on #4382
This is related to glexec failures (users who have some groups in their proxy for example). We still have not figured out how to deal with these king of errors. Apparently the message is not in the classads.

[2015-02-26 15:56] mmascher commented on #4382
we need to discuss this with @belforte / @bbockelm and then evaluate what to do.

[2015-02-26 15:59] mmascher commented on #4576
Hi @PerilousApricot , any comment on that?

[2015-02-26 16:16] mmascher commented on #4659
Is there anything else we should/could do on the CRAB3 side about this? Maybe check the pset and print a warning if more than one LHE file is present? I am just trying to see if we can close the ticket.

[2015-02-26 16:21] belforte commented on #4683
1) simply opens the door to other race conditions.
In the end we need a "kill" which can deal with the fact that the job or the xfer may not the killable.

[2015-02-26 16:36] belforte commented on #4589
we already have:
60320 - Failure to communicate with ASO server
can it do ?
is this a failure on the WN or on in the postjob ?

if it is in the WN, I'd classify as job wrapper failure, i.e. create 80001

[2015-02-26 16:42] belforte commented on #4382
In the glexec case the request is: make it easy to see the Held reason. Of course Crab can't do anything more then show "job held becasue of..." and further diagnosing glexec is in pilot's land.
Generally speaking, make it easy to see the Reason for jobs where where held or cancelled.

[2015-02-26 16:48] belforte commented on #4659
but if it is a CMSSW issue, can only mean "at most one LHE file per job"
Not "one LHE file per task".

[2015-02-26 17:30] annawoodard commented on #4659
Agreed, Stephano.

I think we can further clarify the documentation and possibly add a requirement in the code that users with more than one input LHE file use filebased splitting with number of units per job set to 1. I've verified that this works as expected.

[2015-02-26 17:38] belforte commented on #4659
@annawoodard that would be perfect
@AndresTanasijczuk didn't we agree that Tutorial should be a reference manual ? By there is no hope that people will notice the small notes at the end of the section. Hopefully the code change that Anna indicated will make that note not-needed.

[2015-02-26 17:54] matz-e commented on #4659
I wouldn't add more code in crab, though, if we can get this fixed in CMSSW.  A note in the documentation should probably be enough (if the PR is approved, I think that there's a way that users could backport the fix to their CMSSW release areas easily)

[2015-02-26 17:56] ericvaandering commented on #4659
I assume @belforte means the tutorial should NOT be a reference manual

[2015-02-26 18:00] belforte commented on #4659
@ericvaandering YES. of course. Sorry some keystroke remained in my fingertips
@matz-e this is very dangerous, people will not know they have to retrofit their CMSSW release, if a special thing is needed then Crab should detect lack of it and spit an error. If that's complicated we should at least print a WARNING any time LHE is used.

[2015-02-26 18:05] annawoodard commented on #4659
Note that in order to use file based splitting, I had to set my job-type to Analysis-- is there a reason we can't just allow for file based splitting with PrivateMC tasks that are reading LHE files?

@matz-e, even if this gets fixed in cmssw-- sorry if this is obvious, but I'd like to understand, why do LHE files need to be treated differently than any others? For example, we have a separate argum

[2015-02-26 18:17] matz-e commented on #4659
LHE files are not index(ed|able)… and you have some slightly different setup compared to pythia for event splitting.  I also think that if you are using the job-type `Analysis` you are potentially missing some things like the lumi section specification for event generation and all your jobs may have produced the same lumis?  If that's the case, accounting for further processing is hard…

[2015-02-26 19:01] annawoodard commented on #4659
But why do we need to index for file-based jobs?

I am using pythia (after madgraph).

That's true. But I can imagine some solutions that don't sound that complicated: each job gets an incrementing lumisection (or run), rather than incrementing each X events.

I stand corrected about "just telling the users to use file-based splitting." It looks like we have two options:
1. Wait for it to be fixed

[2015-02-26 19:18] annawoodard commented on #4659
The only script I can find ships with madgraph. I'm not sure where the source is hosted.

https://gist.github.com/annawoodard/cc23e9bb05b350d3d56f

[2015-02-27 18:36] bbockelm commented on #4382
These jobs will automatically release and re-run elsewhere (see the job's periodic_release).  After a certain threshold, they will be killed for starting too many times (set in the schedd's periodic_remove, I think).

I don't think we set a periodic_remove_reason or a periodic_remove_subcode; this would be an opportunity to pass along information about why the job was removed.

(Also - I've notice

[2015-02-27 19:25] belforte commented on #4382
thanks @bbockelm , I keep confusing with the Crab2 case (no release). All fine, simply we need to make sure that held jobs are properly reported as "jobs still being retried by CRAB". And only removed ones will be failed. That said, I like redundancy in reporting and no matter how good the global pool approach to held reason diagnostics is, it will never hurt to be able to pick a help job and easi

[2015-02-27 20:16] bbockelm commented on #4382
So, I see two action items:
1) We actually have all the logs necessary to do a "postMortem" for a job.  "crab status -l" returns extensive stats for all jobs; we could do the same thing, but for only one job.  Let's file a separate ticket though.

2) As mentioned above, there's a few opportunities to detect automatic removals and report them where we are not currently.

[2015-02-27 22:22] #4450 closed

[2015-02-27 22:27] mmascher commented on #4450
Hi,

I will create an RPM that uncomment the handlePerformanceSettings line. However for the moment I am pushing this to turn off the SimpleMemoryCheck as per this ticket. We will investigate how we can add it back.

See also https://hypernews.cern.ch/HyperNews/CMS/get/dmDevelopment/1755/2/1/1/1/1/1/1/1.html

[2015-02-27 22:33] mmascher commented on #4450
Useless without https://github.com/dmwm/WMCore/pull/5649

[2015-03-01 12:07] mmascher commented on #4676
That's actually a client issue, the server is already returning it (`d['jobs']['1']['JobIds']`). Maybe @nizamyusli can add a column to status --long.

[2015-03-01 18:06] #4243 closed

[2015-03-02 07:09] juztas commented on #4675
a) As @AndresTanasijczuk pointed out, resubmit --jobids does not work. it resubmits whole task.
b) crab rmk does not work:
[code]
c) Error message not correct:
[code]

[2015-03-02 13:00] mmascher commented on #4675
Hi, the `remake` issue should be fixed here: https://github.com/dmwm/CRABClient/commit/99d4d574989731ded7acfb5cc7f457a288813046

[2015-03-02 13:15] mmascher commented on #4675
I have also taken care of c). I don't think we need a new release just for that though, it can wait April imho.

[2015-03-02 20:15] tsarangi commented on #4273
@bbockelm , @belforte
A couple of questions:
Does the  `-f` option need to be implemented for files that have `/store/temp/` in their path ? and `/store/temp/` is part of the sourcePFN, targetPFN or both ?

[2015-03-03 08:15] juztas commented on #4245
Done. All in this egroup "cms-service-crab3htcondor" has access to change rest configuration

[2015-03-03 09:12] #4245 closed

[2015-03-03 14:59] mmascher opened #4686 "New monitoring API lastfailures fails with a big number of minutes"
See https://cmsweb.cern.ch/crabserver/prod/task?subresource=lastfailures&minutes=144000

[2015-03-03 15:00] mmascher opened #4687 "Stacktrace are not printed anymore in the TW logs"
@juztas reported that this message https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/Handler.py#L83-L88 is not printed anymore in the TW logs. Needs to be investigated.

I will also try to understand why the log is "duplicated" when the day rotates

[2015-03-03 15:20] mmascher commented on #4686
server stacktrace is:

[code]

[2015-03-03 15:56] mmascher opened #4688 "Improve exit codes reported to dashboard (?)"
See https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L134 , should we report fjr['jobExitCode'] in this line? `jobExitCode` is cmsRun exit code, while `exitCode` is the jobWrapper exit code. Note, `exitCode=jobExitCode` if `jobExitCode<>0` (unless there are bugs)

[2015-03-03 16:38] HassenRiahi opened #4689 "Users running over invalid datasets/blocks"
This task http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1018384 is running over /glugluToX800ToHHTobbbb_13TeV_width1MeV_GEN_SIM_RECO_HLT/sdas-glugluToX800ToHHTobbbb_13TeV_width1MeV_PAT-eed6537107126ba67370b15f62982633/USER in phys03 which is invalid https://cmsweb.cern.ch/das/request?view=list&limit=10&instance=prod%2Fphys03&input=%2FglugluToX800ToHHTobbbb_13TeV_width1MeV_GEN_SIM_RECO_HLT%2

[2015-03-03 17:00] matz-e opened #4690 "[improved job splitting] Activate processing time-limit in CMSSW"
Issue to keep track of implementation status: @annawoodard @bbockelm

Activate CMSSW feature to stop cmsRun on full lumis, depending on a given maximal runtime.  Should be internal/optional, as not all CMSSW versions support this.

[2015-03-03 17:07] matz-e opened #4691 "[improved job splitting] Find unprocessed lumis"
Issue to keep track of implementation status: @annawoodard @bbockelm

Depends on #4690.

Look at processed versus submitted lumis of a job in the post-job and fail if they are not equal.  In the future, the difference should be submitted via a sub-dag.

[2015-03-03 17:19] mmascher commented on #4689
Thanks Hassen, I will look into it.

[2015-03-03 17:19] matz-e opened #4692 "[improved job splitting] Write out sub-dags for unprocessed lumis"
Issue to keep track of implementation status: @annawoodard @bbockelm

We need to write out a (or overwrite an empty) sub-dag with the job definitions to process leftover lumi sections.  Submission should be automatically by condor?

See [docs](http://research.cs.wisc.edu/htcondor/manual/v8.3/2_10DAGMan_Applications.html#SECTION003108800000000000000)

[2015-03-03 17:21] matz-e opened #4693 "[improved job splitting] Post-process sub-dags"
Issue to keep track of implementation status: @annawoodard @bbockelm

We need to post-process returning sub-dag jobs.

Depends on #4692.

[2015-03-03 17:24] matz-e opened #4694 "[improved job splitting] Feed information about sub-dags back to CRAB"
Issue to keep track of implementation status: @annawoodard @bbockelm

CRAB should know about additional jobs / processed files, lumis, etc.  How is this information best conveyed to the user?

Depends on #4693.

[2015-03-03 17:25] matz-e opened #4695 "[improved job splitting] Add run-time estimation"
Issue to keep track of implementation status: @annawoodard @bbockelm

Feed run-time estimates from `crab -verify` into the system to automatically determine job sizes.

[2015-03-03 17:29] PerilousApricot commented on #4695
Hi all,

It might be kinda difficult to do, but I was thinking that we might have enough information to see when job

[2015-03-03 17:29] PerilousApricot commented on #4695
Sorry :( I started thinking and then decided against it.

[2015-03-03 18:25] bbockelm commented on #4273
Hi @tsarangi

This should work for all PFNs, I think.  Otherwise, we'll be very surprised when something is tweaked in a year...

This case is stageout, so /store/* is in the targetPFN.

Brian

[2015-03-04 08:00] juztas commented on #4587
Hi @hernand
I started to debug how these numbers from fjr comes to json and this is what I find out and what we have:
[code]
I would report everything (readTotalMB, readMBSec, readAveragekB, readMaxMSec, readPercOps, readTotalT, readNOps, writeTime) and do we want to separate readTotalMB(Timing-%s-read-totalMegabytes and Timing-%s-readv-totalMegabytes) and writeTotMB (Timing-%s-write-totalMegabyte

[2015-03-04 08:21] juztas commented on #4588
Merged in WMCore, lets collect error messages which users are getting without good explanation.

[2015-03-04 08:43] hernand commented on #4587
I would report quantities that we are sure are meaningful and useful. E.g. I'm not sure what readv is. But if you are sure those quantities are useful and make sense, go ahead.
Yes, we want to separate readTotalMB from writeTotMB. The output is normally different than the input, or is you question different?

[2015-03-04 08:46] juztas commented on #4587
Now readTotalMB = Timing-%s-read-totalMegabytes + Timing-%s-readv-totalMegabytes
And separate meaning
readTotalMB = Timing-%s-read-totalMegabytes
readvTotalMB = Timing-%s-readv-totalMegabytes

readv - http://en.wikipedia.org/wiki/Vectored_I/O

[2015-03-04 08:58] hernand commented on #4587
In the end I think the important quantities are the total amount of data read and written, so not sure if it is worth reporting separately serial and vector reads/writes

[2015-03-04 09:05] mmascher commented on #4587
For reference: https://github.com/dmwm/CRABServer/issues/4450

That's what we were talking about Monday at the meeting, for the moment some PSet settings are turned off (e.g.: SimpleMemoryCheck). They might contain useful information we want to report.

[2015-03-04 09:16] hernand commented on #4587
what I understood from Monday, the problem with SimpleMemoryCheck is that it spits out information to the log which can cause some trouble? I think reporting peakRSS might be useful to see which fraction of the jobs get killed due to excessive RAM consumption.

[2015-03-04 09:20] belforte commented on #4689
since ever CRAB (2,3...) allows to run on invalid datasets. Idea was that they are not visible in DAS so should not be used randomly, but still one may want to figure out exactly what happened.
Of course this could be revised, but let's not do it lightly, nor in a hurry.
I am very fearful in general of a growing trend in Crab3 of slipping in small things here and there since it is quick to code, w

[2015-03-04 09:25] belforte commented on #4690
is this something we really want/need ?
this only makes sense IMHO if part of a more complex workflow where
jobs are stamped as needed based on what was processed, rather then
initial splitting decision. A good thing, but not a trivial one.
Before we go too much the WMA way, I'd like to make sure current
issues are under control, starting from status reporting, submission
failures, easier to read

[2015-03-04 09:37] matz-e commented on #4690
This is just the first steps to some automated recovery and smarter splitting which should result in removing the user from splitting decisions.

The argument behind is that users make bad splitting decisions and then waste CPU time.  Instead, we should basically remove the splitting knobs to turn and try to find a good job size.  If we exceed this job size / allowed wall time, we don't fail the j

[2015-03-04 09:42] mmascher commented on #4587
Yes, but there should be a way to add it so that it does not log. We have to investigate how to do that.

I would like to warn that right now also the CPU and Timing report are diabled https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L316-L317

[2015-03-04 09:42] belforte commented on #4690
ok, It is certainly a very nice thing to do, as long as it clear that it is "next step" and not delaying the things in the critical path for complete user satisfaction and education in Crab3 by summer.
E.g. it is more urgent to properly report jobs killed by time or memory limit with full stdout.

[2015-03-04 09:43] mmascher commented on #4689
@HassenRiahi , was there a particular reason you wanted to do that? Is this causing problems during publication?

[2015-03-04 09:57] HassenRiahi commented on #4689
I do not want to do it I was just asking if this behavior is expected. Within the current production release it is causing problem during the publication since the call to listDatasets API was excluding the invalid datasets https://github.com/dmwm/AsyncStageout/blob/eec06e3bff73e9a91514aa4e691b3b45b3d5b006/src/python/AsyncStageOut/PublisherWorker.py#L502. But it is already fixed in the new release

[2015-03-04 10:06] belforte commented on #4689
we exclude INVALID FILES.
For files situation is "simple", DBS has a is_file_valid = 1 or 0
But INVALID dataset is a complicated thing, dataset has a status,
can be VALID, or one of various strings like DEPRECATED, DELETED etc.
DEPRECATED may simply mean that production did a v2 and deprecated v1,
but this does not mean that v1 can not be useful of needed if you
know what exactly you are doing.

O

[2015-03-04 10:52] AndresTanasijczuk commented on #4689
When I changed the code to align with Crab2, all calls to listDatasets were changed to use dataset_access_type = '*' (meaning that all datasets are listed, no matter of the status). That's why @HassenRiahi said "But it is already fixed in the new release by @AndresTanasijczuk by aligning the publication code with CRAB2".
So I am not sure why @belforte says "Of course it would have been better to h

[2015-03-04 10:52] juztas commented on #4587
Taking note here, and will ask Julia are these names will be ok for Dashboard.

CRABUserPeakRss - maximum value of used RSS by the job
CRABUserReadMB - total volume of input data
CRABUserWriteMB - total volume of output data

[2015-03-04 10:57] belforte commented on #4689
no, what I meant is not that you broke something, but the right time to
ask "is it good to list all datasets regardless of the VALID status" was
when you changed the code. It was a good chance to question if maybe
Stefano had done something stupid or simply something that was needed at
some point in the past but not anymore.
Sort of: never trust things, always question and criticize, always ask
wh

[2015-03-04 12:21] juztas commented on #4587
@mmascher can you review, Julia said it is fine.

And reply to your comment https://github.com/dmwm/CRABServer/issues/4587#issuecomment-77124869
I think this is what we need:
[code]
Tested it and it is not printing in the logs Memory usage, but it saves in FJR which we can use

[2015-03-04 14:07] ericvaandering commented on #4689
"we exclude INVALID FILES.
For files situation is "simple", DBS has a is_file_valid = 1 or 0"

This may bite us because we have recently asked @yuyiguo to return is_file_valid false for datasets that are not valid. Yuyi can clarify.

[2015-03-04 14:24] belforte commented on #4689
oh **** ! what's the forum where those things are discussed like
meaning of DBS status flags ? We are not back to google waves, aren't we
? oh the good old days when people wrote a document (not a twiki) first,
and build stuff later :-)

On 03/04/2015 03:07 PM, Eric Vaandering wrote:

[2015-03-04 14:36] ericvaandering commented on #4689
The DBS patch is here I think https://github.com/dmwm/DBS/pull/454

I think this is not as dire as I suggested (not changing existing behavior) but I will let Yuyi clarify rather than adding more noise.

[2015-03-04 14:46] belforte commented on #4689
from first look it seems something we may actually want to use
to simplify CRAB code :-)

[2015-03-04 15:35] juztas opened #4699 "print CMSSW log if job is removed by periodic_remove"
8.3.3 version is returning log files, but CMSSW output does not exist. Need to install a signal handler in CMSRunAnalysis.py and invoke logCMSSW (https://github.com/dmwm/CRABServer/blob/master/scripts/CMSRunAnalysis.py#L270) before exiting.
(you also want to make sure to re-throw the signal)

[2015-03-04 16:21] yuyiguo commented on #4689
listDataset API only return valid dataset that is the dataset has a datase_access_type= "VALID" . This is the default  as day one . If one wants to list all the datasets: INVALID, DELETED,  DEPRECATED  or PRODUCTION, you may add dataset_access_type=* when you call the API.

There were requests for APIs like listFiles, listFileSummary and so on to list only valid files. So I added a new validFileOn

[2015-03-04 22:06] #4673 closed

[2015-03-05 03:13] bbockelm commented on #4699
FYI - currently, HTCondor sends SIGTERM to all processes in the job.

[2015-03-05 08:47] mmascher commented on #4699
Be aware that `logCMSSW` is stripping the cmsRun output. If we want the whole output we need `cmsRun-stdout.log`.

[2015-03-05 08:48] belforte commented on #4699
Good point Brian. I presume that means something like
for all-processes-in-the-tree: send sigterm (w/o pause)
not send to the parent and let it percolate via standard way (i.e. if not trapped)
This means job wrapper will get SIGTERM before cmsRun has completed processing the same signal (cmsRun will need a bit of time to close gently). And may casue a race in updating FJR and other stuff. By the w

[2015-03-05 18:11] mmascher opened #4700 "Successful jobs are resubmitted"
See  https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2288/2/1/1/1/1/1/1/1/1/1.html

[2015-03-05 18:56] mmascher commented on #4700
It seems that sometimes if a postjob is sleeping (e.g.: `time.sleep()` because of the ASO status loop) and a resubmission is triggered from the TaskWorker, then a new postjob is started. Only the postjob, not the job. However the other postjob will run again eventually, and end up with two postjobs running for the same job.

Notice that not the whole job cycle is run (the latest retry is 2, not 5)

[2015-03-06 11:30] juztas opened #4701 "job.ad is owned by root and we can`t edit it"
In AdjustSites.py we write to job.ad CRAB_USERWebDir and this is failing because .job.ad is owned by root.

[jbalcas@vocms095 cluster1727194.proc0.subproc0]$ ls -l /etc/condor/condor_local/spool/local_univ_execute/dir_1727194_0/.job.ad
-rw-r--r-- 1 root root 5804 Mar  6 12:19 /etc/condor/condor_local/spool/local_univ_execute/dir_1727194_0/.job.ad

[code]

[2015-03-06 11:33] mmascher commented on #4701
Has something changed in the schedd configuration? AdjustSites.py has not been changed since ages

[2015-03-06 14:21] juztas commented on #4699
I started looking into this and a bit confused.
a) Catch SIGTERM, print CMSSW log and raise SIGTERM again
b) Catch SIGTERM, identify cmsRun/scriptEXE PID, send SIGTERM and let all other functions to finish.

P.S. If job is removed due to periodic_remove, we are not reporting anything to dashboard. PostJob is setting these jobs as failed. If (b):
     1) Identify in job why it got SIGTERM and repor

[2015-03-06 18:42] bbockelm commented on #4699
Hi @juztas,

You could actually do either (a) or (b).  I would recommend (a) myself.

You don't *have* to exit immediately on SIGTERM (as in (b)), but at some point in the future (you don't know when), the process will get a SIGKILL and all output would be lost.  I'd rather have truncated output as in (a) than lose everything.

In terms of reporting this:
1) We should set PeriodicRemoveCode (in ad

[2015-03-07 20:58] #4686 closed

[2015-03-09 06:21] juztas commented on #4588
First to improve:
[code]

[2015-03-09 21:37] #4636 closed

[2015-03-10 09:58] mmascher opened #4702 "CRAB report does not report the correct information"
See  https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/459.html

[2015-03-10 12:38] matz-e commented on #4690
Parameter in the options to be changed: [`maxSecondsUntilRampdown`](https://github.com/cms-sw/cmssw/blob/CMSSW_7_5_X/FWCore/Framework/src/ScheduleItems.cc#L126)

[2015-03-10 17:38] #4642 closed

[2015-03-10 18:53] #4587 closed

[2015-03-11 14:39] #4701 closed

[2015-03-11 17:15] bbockelm opened #4705 "Set PostJobPrio1 for CRAB3 jobs"
Currently there is no prioritization between jobs in tasks of the same priority.  Jobs are executed in FIFO order; since DAG submits continuously, jobs are basically executed in random order.

In other words - if I submitted a task yesterday and today with the same priority, then jobs will execute in random order.  It's even possible, for identical tasks submitted at different times, newer ones ma

[2015-03-11 17:53] PerilousApricot commented on #4705
+1 It doesn't help to have 20 tasks 5% done compared with one task 100% done

[2015-03-11 19:03] bbockelm commented on #4705
Yeah - I'm happy I found this hidden knob.  It preserves the existing priority system and should greatly decrease task time-to-completion.  Seems like a win-win.

[2015-03-11 19:58] PerilousApricot opened #4706 "Double Lumis exist for eventAwareLumiBased"
This is pretty bad for trying to submit a recovery task.

[code]

[code]

[2015-03-12 10:23] #4705 closed

[2015-03-12 13:49] juztas opened #4709 "PostJob should report final error code about Memory/Walltime/Disk Usage"
This [https://github.com/dmwm/CRABServer/pull/4708] pull request reports  50669 and RetryJob which knows real reason of PeriodicRemove of the job should send correct exit code in each function [https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/RetryJob.py#L147-L205]

50660 - Application terminated by wrapper because using too much RAM (RSS)
50662 - Application terminated

[2015-03-15 20:05] AndresTanasijczuk commented on #4459
Currently the error message is given if no blocks of the dataset are on disk. But we should also give an error or warning message if the dataset has only a partial copy on disk (i.e. if there is at least 1 block that has no disk location). @belforte should we forbid submission if the dataset is only partially on disk, or should we for example give an error message under normal submission, but add

[2015-03-15 20:20] AndresTanasijczuk commented on #4700
This happens when DAGMan works in recovery mode. In recovery mode DAGMan reads the events from the .nodes.log file to get the status of DAG and recovers from that state.

[2015-03-15 20:35] belforte commented on #4459
I would expect that task is created to process only the blocks with a valid location.
IIUC the user I was reading about was reporting complete submission failure.
Indeed the message "data are only on tape" should be used only when all blocks are located on tape only.

[2015-03-16 13:49] mmascher commented on #4459
The message was improved, but still were not saying explicitely that the dataset was ONLY available on tape.

Just to be sure what to do here:

1) If all the blocks in the dataset are on tape fail with 'cannot submit a task if the input dataset is no tape'
2) Make sure that if a dataset is half on tape and half on disk we process the bit on disk and warn a users that part of the dataset is on tape

[2015-03-16 14:01] belforte commented on #4459
The last part of 2) is really optional and very minor. Once you say that only some blocks have a
valid location, can simply refer the user to DAS. The "problem" to fix is the large and
easy-to-fall-in trap of the many datasets fully on tape.

On 03/16/2015 02:49 PM, Marco Mascheroni wrote:

[2015-03-16 18:04] bbockelm commented on #4700
To be clear - I think the fact that there is no logged successful completion of the postjob is indeed considered a failure upon restart.

There's some tricky logic here - I think it should be possible, on unexpected restart, to fail the pre-job, go straight to the post-job, and then have the post-job pick up from where it left off.

That might not be worth the complexity.

[2015-03-16 18:19] mmascher opened #4710 "user_proxy might not be defined when uploading logfiles"
In Handler.py (https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/Handler.py#L88-L102)

[2015-03-17 06:35] juztas opened #4713 "Add a warning in the client if people provides unreasonable requirements"
Need to cache results from factory and in case user specifies 4GB of Memory and site has only 3GB, give a warning message about it and that jobs could stay idle....

[2015-03-17 06:37] juztas commented on #4713
http://vocms32.cern.ch/gfactory/descript.xml

[2015-03-17 06:49] belforte commented on #4713
this sounds complicated, possibly fragile and builds dependency on the specific of gWms factory
deep into the CRAB layer. I know that detecting why those jobs stay idle
is difficult and time wasting now, but would rather print a generic warning
whenever user ask for more then the default (2.3GB) and wait for better idea.
Let's aim for good enough, rather then perfect.
If anything we want to make s

[2015-03-17 08:58] mmascher commented on #4713
I was talking with Justas about this yesterday, and I thought this was a good idea. The tweak I proposed to him was to do a `condor_status` to get the information we need instead of talking to the gWMS factory. I guess I also had concerns about using the factory and introducing a new dependency.

Indeed we can do something like (*) to get the information we need (well, the equivalent with the pyth

[2015-03-17 09:14] belforte commented on #4713
Marco, this is called "scope creep" and it is what makes life difficult years later for something that looked such a nice simplification at the time.
You need semi-static information about grid configuration. It is not Crab3 task to obtain it.
We should dump this on CompOps to maintain such a list as you indicated. Whether they do by condor_status or black magic I do not care. It must be a file on

[2015-03-17 09:56] mmascher commented on #4713
So, the idea is still good I guess, but the point is where CRAB3 should take the information about the #slots/(site,walltime) and #slots/(site,maxmemory)

[2015-03-17 10:27] belforte commented on #4713
from my side, yes.

[2015-03-17 10:41] #4462 closed

[2015-03-17 18:15] #4699 closed

[2015-03-17 19:00] annawoodard opened #4715 "Allow for recycling of user sandboxes"
as also noted by @matz-e

Users frequently need to process various datasets with the same pset and CMSSW release. We should allow them to “recycle” their sandbox— in other words, if they’ve already started a task with a particular configuration, they could point crab to the already-made sandbox instead of recreating it for subsequent tasks. This can save several hours when using multicrab (CRABCli

[2015-03-17 19:07] belforte commented on #4715
I thought "multicrab" did this already ! Surely it can be done there.
Recycling is easy. problem is preservation for the use case where "time passes".
How long should we store the sandbox for ?
And how urgent could this be ?
last question is because, as I will tell on thursday, I was thinking whether we could
off-source the business of preserving users configuration and sandbox to the
CERN data pr

[2015-03-17 19:09] PerilousApricot commented on #4715
Even if it's "someone else's" job to preserve the sandbox and
configuration, there still needs to be the option to actually load them
into a task.

+1 to the ticket, some of the more complicated configurations can take
literally forever for CMSSW to parse

[2015-03-17 19:15] PerilousApricot commented on #4715
Sorry, I've done some thought about it before and forgot the other big
reason - right now if you're trying to have a coordinated effort to turn a
whole batch of input datasets into a different batch of output datasets,
you're basically dependent on people not screwing up the checkout used to
generate the samples. With this, if someone wants to add a new dataset that
was previously missed, instead

[2015-03-17 19:21] belforte commented on #4715
ah !! Now you talk like Mr. Analysis Preservation. We should try to
convince you to take over full responsibility for this.
CERN people graciously offer to store those ISB's forever for us,
of course some pull/push machinery is needed on our side.
Yeah.. we can start saving the ISB's somwhere (even on schedd's)
for O(1 month) to wet user's appetite and worry later about
"let me redo what I did las

[2015-03-17 19:23] PerilousApricot commented on #4715
I'm not arguing that they need to be preserved forever.  A policy of "if
unused, UFC entries are purged after N days" is fine -- it's what we do for
~everything else in the CRAB machinery, afterall.

[2015-03-17 19:27] annawoodard commented on #4715
I think it would make sense to keep the preservation issue separate. As a first step, we could let the user be responsible for their own preservation, by letting them specify a local copy of their sandbox.

[2015-03-17 19:31] belforte commented on #4715
Yes, but only if we save the ISB hash and can verify it. I think the user should say
"use same ISB as this task". Them saying "use this ISB" is too dangerous,
is OK for experts and debugging, but if we give it to the world there will
be too many "interesting" questions on the support list.
Anyhow multicrab is different, there we should reuse it internally, somehow.

[2015-03-17 19:35] PerilousApricot commented on #4715
If someone manages to fumble-finger a sha1 hash into a collision with
another extant hash in UFC, we've got bigger problems (namely, the universe
is about to end because we've somehow managed to birthday paradox a 2^160
keyspace).

[2015-03-18 09:56] #4668 closed

[2015-03-18 13:36] #4637 closed

[2015-03-18 21:27] juztas commented on #4627
This is done: https://github.com/dmwm/CRABServer/commit/c498367605b79e6557ca7dea0b060eeb1d1aa5ee https://github.com/dmwm/CRABServer/commit/982f5779ecc29499ec0220f4146cc31f4440b7bd

[2015-03-18 21:27] #4627 closed

[2015-03-19 15:30] mmascher commented on #4710
Fixed in the upcoming 3.3.15

[2015-03-19 16:47] juztas commented on #4583
Please all take a look into this: https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/2307.html

[2015-03-19 22:03] #4710 closed

[2015-03-19 22:04] mmascher opened #4730 "HG1504 Validation of 3.3.15"
Dear all,

tomorrow I believe Diego will close the April release. Here is a list of things that changed and that we can check (although for many of them "cost of testing/benefit" is really high :)):

* test the "crab submit --dryrun" with different sets of configurations. I did my tests with my usual config but we should check it with different configs (e.g.: montecarlo, analysis, LHE gen, usePare

[2015-03-20 07:39] #4645 closed

[2015-03-20 08:34] belforte commented on #4334
people are using pileup more and I expect usage to grow, so it is time to address this.
It is also ~urgent because of AAA, whlie earlier pileup jobs would simply fail if run at site which does not have both the signal sample and the pileup one, now even a not so many (few K) be really jobs running at one T2 will hit T1's with so many file open request to be really harmful (it happend at CNAF-Lenga

[2015-03-20 16:38] mmascher opened #4732 "checksum is not working"
See https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/492/2.html

[2015-03-20 17:25] belforte commented on #4732
it is not "not working". Those are not EDM files, you will find checksum in fjr

[2015-03-20 17:28] belforte commented on #4732
hmm.. may I am wrong. User wrote he produces root files, which I took to mean non-EDM,
but indeed it could be he meant normal EDM output.

[2015-03-23 16:40] annawoodard commented on #4715
another extant hash in UFC, we've got bigger problems (namely, the universe
is about to end because we've somehow managed to birthday paradox a 2^160
keyspace).

Good point :)

Hi Stefano. I'm sorry if this is already obvious and I missed it, but can you explain more what is too dangerous? Maybe there are checks that we could do to mitigate the problems. I agree with you that long-term preservatio

[2015-03-23 16:53] belforte commented on #4715
Anna, in a word: yes.
In more words: in your point 2 I was trying to say that instead-of/in-addition-to
saying "find ISB with hash=xxx and use it"
user could say "find ISB for task=yyyy and use it".
What I meant to be too dangerous is that a user points to a local file,
which may not be the right format etc. But as all worries, if
others do not share it, it is likely an excessive worry and let's
n

[2015-03-23 17:25] AndresTanasijczuk commented on #4660
This has been done in https://github.com/dmwm/CRABServer/pull/4721.

[2015-03-23 17:29] AndresTanasijczuk commented on #4596
There is a pull request in the client https://github.com/dmwm/CRABClient/pull/4428 to show the restarts separately from the retries in another column of the status long.

[2015-03-24 07:14] juztas commented on #4730
hey @mmascher I have mentioned and I think created several tickets about problems of logging and that stack trace is not printed. Did you updated database table?
[code]

[2015-03-24 08:11] mmascher commented on #4730
probably database.. Try now pleaase

[2015-03-24 08:13] juztas commented on #4730
:+1:

[2015-03-24 09:27] juztas commented on #4730
hey @annawoodard about --dryrun. nice work and I like it a lot :+1:  I will try to comment as a user:

a) Don`t know what is going on after this, maybe we could add more printings like 'now downloading tarball' 'now executing it' 'print cmssw output'....
[code]
I had to wait about ~10 minutes, and user can start thinking that something is wrong and press CTRL+C which will kill everything.
b) We ca

[2015-03-24 09:35] belforte commented on #4730
maybe a verbose option with default verbose=1
while 0 and 2 being other possibilities ?

Anyhow I think we will be collecting feedback from first users anyhow
and then there can be a revision. I agree that at least in
the documentation/instructions/announcement we must
warn users not to copy/paste memory and time into config. file.

[2015-03-24 09:54] mmascher commented on #4730
Are we sure we are not contacting the frontier servers during the dryrun? In this particular moment the server are overloaded, and that might screw up the estimations. I would keep the estimations and print a warning that "they might be inaccurate"

[2015-03-24 09:59] belforte commented on #4730
of course you are using Frontier if you run realistic cmsRun !
yes, properly estimating time is not easy.

[2015-03-24 10:13] juztas commented on #4730
crab --debug submit --dryrun
Don`t need this space after 900: `Max wait time: 900 s until : 2015-03-24 11:07:20`
with --debug it prints in the end cmsRun, but I stay waiting at this point until it finishes cmsRun
[code]
It can be done by adding it it the loop until execution is going on and print message like "Running cmsRun and output will be printed later. Please wait..." wait 60s and in case it

[2015-03-24 13:06] #4660 closed

[2015-03-24 13:14] matz-e commented on #4691
@bbockelm I have some code around that gets the difference in processed lumis.  But when further processing this (and splitting it up), we should really access information such as estimated lumi size in events etc.  Any recommendations how to store or access this information?

It seems like we would duplicate functionality present elsewhere here.  Maybe the WMCore event splitting could be re-used

[2015-03-24 13:15] PerilousApricot commented on #4691
Look @ the eventAwareLumiSplitting algorithm from WMCore

[2015-03-24 13:57] matz-e commented on #4691
That is in fact what I'm using in the first place.  I just think that re-using it might be more involved than we might want?  I could always re-implement a "light" version and just store the estimated events per lumi along with the job information on the schedd.

[2015-03-24 14:31] juztas commented on #4730
Update:

   * test the "crab submit --dryrun" with different sets of configurations. I did my tests with my usual config but we should check it with different configs (e.g.: montecarlo, analysis, LHE gen, useParents etc).

Seems ok, see messages above about improvements

   * check that the logs are returned in case jobs are removed for memory limits

I asked @jmarra13 to test return logs in case

[2015-03-24 14:37] PerilousApricot commented on #4691
I'm not sure why re-writing would be a better idea than re-using it...one
of the choices is free (or at least someone else's problem)

[2015-03-24 14:49] bbockelm commented on #4691
We definitely want to reuse the WMCore algorithms - it might be a pain to invoke, but we at least have examples in CRAB3 to do it correctly.

I don't know how beneficial it is to consider # of events / lumi.  I was thinking of taking the leftover lumis and re-running the splitting with the number of lumis / job (or events / job) divided by 4.  No need to be too complicated.

[2015-03-24 14:51] PerilousApricot commented on #4691
Of course, the whole idea of "unprocessed lumis" is bogus if the initial
task was doing split-by-events. Should be careful about that.

[2015-03-24 14:51] bbockelm commented on #4691
(Or split by file, for that matter... this only applies to lumi splitting right now.)

[2015-03-24 14:52] PerilousApricot commented on #4691
:+1:

[2015-03-24 14:53] belforte commented on #4691
we do not have #events/lumi currently anyhow[*].
The code simply guesses that all lumis in one file have same #events,
which is OK other then in the cases where some lumi is special, i.e.
useless other then when it would be necessary.
One day we may have proper info and then can do better.

[*] somone (at least me) asked for it years ago, but DMWM of the time
  decided otherwise

[2015-03-24 14:59] matz-e commented on #4691
OK, I'll see what it takes to invoke the splitting algorithm again.  And the use-case for this currently is using event aware lumi splitting.  I hadn't actually considered splitting by events.  It seems like we could estimate job-runtimes better there (since event based splitting is MC generation only) than when running over data.

[2015-03-24 15:05] PerilousApricot commented on #4691
@matz-e https://github.com/dmwm/CRABServer/blob/1a7203744b849081acdf4af1ae5e57f4f8e06c58/src/python/TaskWorker/Actions/Splitter.py#L21

[2015-03-24 15:07] matz-e commented on #4691
Yes, I've seen that already when implementing the EventAwareLumiBasedSplitting.  Just not sure which data exactly I need to buffer on the schedd to not have to query DBS again (and for every post-job.)

[2015-03-24 15:09] PerilousApricot commented on #4691
When the DAG kicks off, does it still do DBSDataDiscovery on the Schedd?
Just pickle that up and save it and later tasks can get it.

[2015-03-24 15:20] matz-e commented on #4691
Thanks, that's a good idea.  I don't know if the DAG does any data discovery, but I think we should be able to pickle the initial one before splitting.

[2015-03-24 15:30] belforte commented on #4691
don't you have at hand already (in DAG domain) the list of arguments
(input and site) used for each job ? the location is surely a classad.

[2015-03-24 16:17] juztas commented on #4730
* late binding of shcedd: there should be less submission failures now because the submission is retried to another schedd in case of failure. The binding of the schedd has been moved from the REST to the schedd. Maybe we can add two schedd to the server and turn one off to check if this work as expected?

Tested on pre-prod and now one wrong schedd is still in place if someone else wants to test

[2015-03-25 16:43] ericvaandering commented on #4691
Someone (me) also told you, days ago, that we were going to revisit that decision. :-)

Eric W. Vaandering
Computing Physics Developer
CMS Computing Development Lead

Scientific Computing Division
Fermi National Accelerator Laboratory
630 962 7260 office
www.fnal.gov <http://www.fnal.gov/>

[2015-03-25 16:47] belforte commented on #4691
you said that you would like to change, not that there is a concrete
plan to revisit. WOW ! let's see... it is easy to add to todo list :-)

On 03/25/2015 05:43 PM, Eric Vaandering wrote:

[2015-03-26 15:27] #4676 closed

[2015-03-26 16:28] juztas opened #4736 "add validation for additional datasets"
Dataset with partially available files : /QCD_Pt-120to170_EMEnriched_TuneCUETP8M1_13TeV_pythia8/RunIIWinter15GS-MCRUN2_71_V1-v1/GEN-SIM
Invalid dataset: /QCD_Pt_40_2017_14TeV_612_SLHC6_patch1/StoreResults-QCD_Pt_40_2017_14TeV_612_SLHC6_patch1_6be6d116203e430d91d7e1d6d9a88cd7-v9/USER

[2015-03-26 16:29] juztas commented on #4730
[code]

Datasets on which I tried to run are here: https://github.com/dmwm/CRABServer/issues/4736

[2015-03-26 23:22] AndresTanasijczuk commented on #4700
We do have this logic in place in the pre-job. But, as I will show below, DAGMan (when running in recovery mode) is not starting a new pre-job, but a new post-job.

I have just checked in more detail another example where this happened again: http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1035973 I looked at job 252.
The restart of the postjob happened during dagman retry 2. In glidemon you

[2015-03-27 08:45] AndresTanasijczuk opened #4737 "Better name for outLFN configuration parameter ?"
outLFN may lead to think that a full LFN has to be given, like /store/user/atanasi/myfile.root
There were users doing that. CRAB does not fail. The files will be saved in /store/user/atanasi/myfile.root/\<primary-dataset\>/\<publish-dataname\>/\<time-stamp\>/0000/\<real-out-file-name\>.root

[2015-03-27 09:36] AndresTanasijczuk commented on #4737
This is actually a client issue. Moving it there.

[2015-03-27 09:36] #4737 closed

[2015-03-27 09:50] AndresTanasijczuk opened #4738 "Document Filemetadata and ASO docs"
I think we should have a document, maybe just a twiki, where we write down everything what a developer needs to know when creating a file metadata document or an ASO document.
For example,
1) what are the parameter names
2) what are the parameter types
3) if parameter values are restricted, what are the possible values;
4) in case parameters can not be defined, what should be the default values;
5

[2015-03-27 10:13] drkovalskyi opened #4739 "Need a warning for DEPRECATED input datasets"
Dear Developers,

can you please add a warning to crab3 users when they attempt to use a dataset that is DEPRECATED. This status is used for data that soon will be deleted and we want to make sure that people that use it know about and complain if it's critical enough. We would appreciate if you can add a link to JIRA project that manages data and where they should complain: https://its.cern.ch/ji

[2015-03-27 10:21] juztas commented on #4739
Hey @drkovalskyi I have already found it and reported. task will not be submitted to grid scheduler and task status will be failed and currently with crab3 error. I think @mmascher is working on having a nicer message for this. And it should be not a warning, but failure of submitting a task :)  https://github.com/dmwm/CRABServer/issues/4730#issuecomment-86605103

[2015-03-27 11:00] AndresTanasijczuk commented on #4739
Why a failure? IIUC DEPRECATED doesn't necessarily mean it is a bad/buggy dataset. It just means there is a new one superseding it. https://github.com/dmwm/CRABServer/issues/4689#issuecomment-77128293 Maybe someone wants to run over both datasets and compare the results.

[2015-03-27 11:04] mmascher commented on #4739
Hi @juztas I aksed Dima to open the github issue. What you reported was happening with a dataset had all the files 'INVALID'. The CRAB3 code basically blow up in this situation, but that's different than checking the dataset status (e.g.: your bug can happen with a 'VALID' dataset that has all 'INVALID' files).

@AndresTanasijczuk : I forgot that issue and that we were already discussing the topic

[2015-03-27 11:09] mmascher commented on #4739
PS I think Dima is asking to add a warning, not to fail the dataset. We can do that, if the status of the dataset is not 'VALID' we upload a warning, but we still run on it.

[2015-03-27 12:06] juztas commented on #4739
DEPRECATED: This means that deletion campaign started and transfer team set status to DEPRECATED and after ~2-4 weeks all files will be deleted. Even on TAPE. (And if he really wants this dataset not to be deprecated he should complain here: https://its.cern.ch/jira/browse/CMSTRANSF) After that time DEPRECATED dataset will not have any location.
INVALID: It might have some useful information and u

[2015-03-27 14:14] AndresTanasijczuk commented on #4739
Still, I think we only forbid running on invalid files, because since files can not be erased from DBS, flagging a file as invalid is the way to tell "don't include this file in the dataset".

[2015-03-27 14:23] belforte commented on #4739
in any case it is DataOps, not us who labels datasets and must thus
define DEPRECATD,INVCALID,DELTED etc.
of course those definitions are not cast in stone and I will not
be surprised of different vision by different people over the yeard.
It is not CRAB task to decide which dataset is good for a given analysis.

[2015-03-30 07:41] belforte opened #4741 "avoid using expert language in communicating with users"
in messages to users replace
    The CRAB3 server backend
with
    CRAB server

see:
https://github.com/dmwm/CRABServer/search?utf8=%E2%9C%93&q=%22server+backend%22

[2015-03-30 13:58] #4501 closed

[2015-03-30 13:58] belforte commented on #4665
it is not clear how much users can really benefit/use this. Overall ASO monitoring is still not as good as one may desire but I would not rush to code in partial solutions

[2015-03-30 14:16] mmascher commented on #4700
From the meeting: we should propably open a ticket for the condor team: postjobs should be killed when the dag is killed.

[2015-03-30 14:18] belforte commented on #4700
something like: what is the intended HTC behavior ? And in case should each postjob make sure it kills any possible previous copy when it starts ? If HTC dev. agree that only one postjob should be running, it should be done in there.

[2015-03-30 14:19] mmascher commented on #4689
Closing as duplicated

[2015-03-30 14:19] #4689 closed

[2015-03-30 14:27] mmascher commented on #4688
`ExeExitCode` is the cmsRun exit code (or scriptExe). Agreed that for dashboard we should put the right code. In other places where we report one (status, glidemon) we want to report only the jobexitcode.

Check what is done and document it here.

PS the right link is https://github.com/dmwm/CRABServer/blob/3.3.14.rc1/scripts/CMSRunAnalysis.py#L134

[2015-03-30 14:30] mmascher commented on #4683
The `--force` should be used for whatever is not `failed` of `killed`.

[2015-03-30 14:42] #4596 closed

[2015-03-30 14:48] mmascher commented on #4382
From the meeting: this falls into the category "let's provide operators good tools to investigate errors". It's probably enough that the holdreason is reported somewhere. Assigning to Stefano for more explanations.

[2015-03-30 15:14] belforte commented on #4681
From the Crab meeting on March 30:
somehow current situation/proposal is:
 - remove jobs idle for two weeks (guess they will never run and currently do not guarantee that credential in my proxy is valid for more then 2 weeks)
- hold the DAG after two weeks, up to a month, since user can still do a crab status or similar, and thus load a fresh credential on myproxy, then DAB can be released
There a

[2015-03-30 15:24] AndresTanasijczuk commented on #4683
So, we have the following 4 things a user can do:

1) `crab resubmit'
2) `crab resubmit --jobids=x,y,z'
3) `crab resubmit --jobids=x,y,z --force'
4) `crab resubmit --force'

What should each one do?

1) Resubmit all failed and held  jobs in the task.
2) Resubmit jobids x,y,z only if their status is either failed or held.
3) Resubmit jobids x,y,z only if their status is either failed or held or suc

[2015-03-30 15:31] belforte commented on #4382
so here's my dream:
for every task and for every job there is an URL.
Whenever user report problems they report the task URL and/or the job URL as well.

The task URL gives quick, easily readable access (e.g. a simple page with a a ptrs to ASCII files) to:
- dashbaord and glidemon pages
- crab config
- condor log
- summary info like used schedd's, TW, versions.. whatever
- dagman log
- summary of

[2015-03-31 14:49] ericvaandering commented on #4683
Seems to me 4) should not be allowed. The "logical" thing to do in that circumstance is resubmit al finished jobs but why would someone do that? They should just re-run the workflow.

[2015-03-31 15:22] belforte commented on #4683
@ericvaandering +1
@AndresTanasijczuk why do we have held jobs ? crab resubmit will make a new job, will something in the meanwhile release the held jobs ? If they will not be releases, why are they held ? Is user expected to know the difference between held and failed ?
@mmascher  and @bbockelm and @ericvaandering Overall.. do things really need to be so complicated that we have difficulties to a

[2015-04-01 09:44] belforte commented on #4382
@mmascher maybe you want to rename the ticket as:
 provide operators good tools to investigate errors
and make it sort of a master placehold for various detailed items ?

I'd like to also add:
there should be an easy way for an operator to rerun a user config to reproduce problems. Maybe this can come via --dryRun or some small twist of it ?

[2015-04-01 16:34] AndresTanasijczuk commented on #4595
@mmascher You can close this issue. This should have been fixed in #4711

[2015-04-01 16:45] AndresTanasijczuk commented on #4589
@belforte File metadata upload is done from the WN for the logs archive, but if this fails it is retried from the post-job. For output files, the file metadata upload is done from the post-job. File metadata is uploaded to the Oracle database, not CouchDB nor ASO server, so 60320 doesn't fit.

[2015-04-02 10:57] belforte commented on #4617
wasn't this done ? why still open ?

[2015-04-02 11:01] belforte commented on #4293
rare enogh that I would put on much later milestone then April 2015

[2015-04-02 11:04] belforte opened #4742 "prevent users form asking unrealistic value for WallTime"
we must have a maximum allowed wall time (47h in my opinion)
and must prevent users from submitting jobs requesting more
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/515/1.html

[2015-04-02 11:44] belforte commented on #4742
this could probably be merged with #4713 to reduce issue-pollution

[2015-04-02 12:34] mmascher commented on #4617
Hi, we are still doing this query: https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L47-L59

The basic `crab status` invocation uses this to get the status of the dag and the DagmanHoldReason in case of failure if I am not wrong.

[2015-04-02 12:42] mmascher opened #4743 "Add an option to set the number of automatic retries in the client"
It seems there is a use case where this could be useful in HC. In particular to avoid running jobs that we know they will fail to broken sites (wasting CPU time)

[2015-04-02 12:43] belforte commented on #4743
sigh.. already have so many options..

On 04/02/2015 02:42 PM, Marco Mascheroni wrote:

[2015-04-02 12:45] #4595 closed

[2015-04-03 20:33] mmascher opened #4744 "File descriptor leakage in the TW (?)"
That is (*) the error I was seeing in the logs during this incident: https://cms-logbook.cern.ch/elog/Analysis+Operations/537

It references a certificate error, however the real reason the certificate could not be used should be that too many files were opened. In fact, I found this in the logs just before the first certificate error (**), the `Too many open files` should be it. We need to find w

[2015-04-03 20:53] belforte commented on #4744
or maybe something different caused too many processes to start and pile up
which eventually gave too many open files ?

[2015-04-04 16:44] juztas commented on #4744
Seems TW  upgrade to newer version and gracefully kill did not killed all processes. I have killed 3 of Mar processes which were idle for long time and had huge number of fds
[code]
After kill:
[code]
I would think that each subprocess should be using almost same number of fds, and it seems to be like this. Slaves: 50 -- 62, Master: 23.

[2015-04-07 10:08] juztas commented on #4744
Something strange is going on and fd's are increasing:
[code]

[2015-04-07 10:26] juztas commented on #4744
I think here is the problem:
https://github.com/dmwm/CRABServer/blob/09758e2a61a6d9cf4189db700beb588d0a52d062/src/python/TaskWorker/Actions/Handler.py#L105

I think before removing handler it needs to be closed `taskhandler.close()`

[2015-04-07 10:54] mmascher commented on #4744
I think this has been solved here: https://github.com/dmwm/CRABServer/commit/2bfa9385d18281cbd1bd8fce2fb782218cd92ab7

Not sure this commit got into the april release, in case we should apply it and verify that we do not have the fd leakage with this patch. Then we can close this issue

[2015-04-07 13:57] #4744 closed

[2015-04-09 06:30] juztas opened #4747 "CRAB3 did not catched that dataset is only on T0 ant TAPE"
Dataset: https://cmsweb.cern.ch/das/request?view=list&limit=10&instance=prod%2Fglobal&input=%2Fstore%2Fhidata%2FHIRun2011%2FHIMinBiasUPC%2FRAW%2Fv1%2F000%2F182%2F838%2F247BDAFB-E91C-E111-BD46-BCAEC532972F.root
[code]

[2015-04-09 07:25] mmascher commented on #4658
W.r.t.: https://cms-logbook.cern.ch/elog/GlideInWMS/1810?mail0=28%20recipients

@jmarra13 , can you add to this page (*) a chart that shows the number of tasks per schedd? That should be the result of:

[code]

Also, have you rpepared a pull request with the code that produces the xml for generating this page (*)

Thank you.

PS not a high priority task as you can imagine

(*)
https://meter.cern.c

[2015-04-09 07:45] belforte commented on #4658
would be good to see this next to the number of jobs:
condor_status -schedd -const 'CMSGWMS_Type=?="crabschedd"' -af:h Name ShadowsRunning

also I think the above constraint (from Justas) is preferrable to the one with the
explicit collector host name and the regexp on schedd name.
Of course we need discipline in maintaining CMSGWMS_Type

I also think these plots are for us, more then shifters. In

[2015-04-09 07:52] jmarra13 commented on #4658
Ciao @mmascher, I will update the code to insert this data and after will draw a chart in kibana to display it and In the end the pull request.

[2015-04-09 12:25] juztas opened #4749 "take a look into PeriodicRemove for jobs"
Seems periodicRemove for jobs is not working, if I try with simple condor_q I see plenty jobs which should be deleted by htcondor.
[code]

[2015-04-09 15:49] juztas commented on #4430
mm. Already done with late binding of schedd :)

[2015-04-09 15:49] #4430 closed

[2015-04-09 16:51] mmascher commented on #4459
I fixed this, see the commit above. I will do a pull request later on. In the meantime if somebody wants to check this I will not merge for a couple of days on the master branch (I might cherry-pick it on the 3.3.15 branch though, I am preparing a new release).

Moving the part about the warning that a part of the dataset is on tape for October.

[code]

[2015-04-09 20:30] mmascher commented on #4739
Should be done

[2015-04-09 21:36] juztas opened #4752 "get rid of gsissh and have all directories created on scheduler"
Seems this happens again, and I have this in my todo, creating issue for not forgetting and for identifying good solution for this.
Please check these 2 links:
https://ggus.eu/index.php?mode=ticket_info&ticket_id=112942
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1930.html

[2015-04-09 23:13] bbockelm commented on #4752
Farrukh and/or Ivan may have some suggestions on how to do this via Puppet @ CERN...

[2015-04-09 23:31] belforte commented on #4459
why reference to DBS in the message "could not find location" ?
location is from PhEDEx. Better not to confuse users.

minor message improvements:
Crab3 server (without backend, please) could not submit the task because there is no DISK replica
for dataset /blah/blah/blah
N.B. dataset is stored at .... but those are TAPE location

[2015-04-09 23:33] bbockelm commented on #4459
Chris Jones always tells me that error messages should not only tell me what is wrong, but what I should do in response.

Is it possible to also point users at a hypernews / e-group / twiki page which explains how to get the dataset on disk?

Sorry for bikeshedding here!  Hopefully it's worth the extra time.

[2015-04-09 23:37] belforte commented on #4459
I was thinking about it. But we do not have an up-to-date doc. telling users to contact DDM.
Since details there may change I'd rather not put them in the code.
Could point to Workbook and hope it gets updated, or tell them to contact their physics group.

On 04/10/2015 01:33 AM, Brian Bockelman wrote:

[2015-04-10 15:02] mmascher commented on #4752
Even if we removed the `gsissh` dependency on the TaskWorker we would still have to contact argus on the schedd, right? So I guess this would not solve the problem we are facing lately with submission taking up to 30 minutes because of argus timeouts. Is there a way to remove the argus dependency at all?

[2015-04-10 15:06] belforte commented on #4752
yes it would not solve.
We can fall back from Argus to gridmap files.
Was discussed some time (1 year?) ago with Preslav, but at the time eventually CERN mnaged to improve Argus stability.
What bother me now is the lack of news from IT.  Submissions to CERN CE's and all pilots trying glexec should be similarly affected and result in clear degradation if not failures at large.
Generally speaking I

[2015-04-10 15:20] bbockelm commented on #4752
Hi,

HTCondor will at least cache the argus callout for a fixed period of time.  I don't recall what it is set to currently, but we can probably crank it up to 2 days.

Brian

[2015-04-10 17:18] AndresTanasijczuk commented on #4589
I finally used 80001 in cmscp for file metadata upload failure, but currently this exit code is not observed anywhere since file metadata upload can be retried in the post-job, and any failure in the post-job is not shown with an exit code but with "Post-processing failed". I am closing this issue.

[2015-04-10 17:18] #4589 closed

[2015-04-10 20:10] juztas commented on #4752
If I recall this correctly: gsissh dependency from TW is needed only once to each schedd (To create home directory). If I submit a task first time in my life, we need to do gsissh, next time it is not needed to do gsissh, because directory already exits.
About 2 days, don`t think that it can make any problem, but now it can wait for Monday :)

[2015-04-10 20:16] juztas commented on #4752
Other thing why, When we were preparing for Amazon EC2 presentation and test, gsissh was removed from TW. I have not followed a lot local submission and might be incorrect, but if it will be allowed to submit through our maintained CS and TW, in that case sites which want local submission will also have to have gsissh daemon.

[2015-04-10 20:32] belforte commented on #4752
or those sites can create all needed home directories beforehand.
Which would be preferred even at CERN. If we come to that we can
always ignore gsissh error based on schedd domain :-/

On 04/10/2015 10:16 PM, Justas Balčas wrote:

[2015-04-11 10:52] mmascher commented on #4459
Actually I would like to keep the distinction between frontend and backend in the error messages. I know, for many users this does not mean anything, but for the few users who listen to the CRAB3 talks or knows a little bit about CRAB3, it might give an hint on where the error was. Furthermore, this also helps developers and operators imho: they know which logs they have to look (e.g., I know if I

[2015-04-11 11:03] mmascher commented on #4747
I am afraid I am not ble to replicate this issue :(

I patched some similar errors here https://github.com/dmwm/CRABServer/pull/4751 , but I am afraid we will hit this one again.. Please, post the dataset(or task) name if you see this again

[2015-04-11 13:00] belforte commented on #4459
hi @mmascher
need to make a distinction.
Nothing wrong with :
Internal CRAB error, TW thread threw an exception blah.. and more blah..
please reporto to <ourstandarde-mail> providing the full text of this message below..
followed by traceback , file names in webdir and all sort of jargon that makes YOUR life easier
and clearly none else will try to read at this point.

And for sure, if host name i

[2015-04-11 13:27] belforte commented on #4459
ah... by the way:
put a space at the and of dataset name before the dot, to make copy/paste easier.
Maximum friendlyness would be to put the URL for the dataset lookup in DAS rather then the URL for DAS, of course with the proper DBS instance (global/phys03/...).

[2015-04-13 09:12] juztas opened #4757 "newest crabserver fails to resubmit due to TW failure"
I got exception in my own TW (TW failed to resubmit due to TW code problem), and my task on scheduler is on failed status. I tried to resubmit, and I suspect this should be available, but I get ExecutionError.
[code]
@AndresTanasijczuk can you check ?

[2015-04-13 09:22] mmascher commented on #4757
@AndresTanasijczuk , should I merge some of the pull requests that are floating around since some time so you can do a more complete test?

[2015-04-13 09:35] AndresTanasijczuk commented on #4757
@juztas Didn't you get the message "There are no jobs to resubmit. Only jobs in status ['failed', 'held'] can be resubmitted. Jobs in status ['finished'] can also be resubmitted, but only if the jobid is specified." ?

[2015-04-13 09:40] juztas commented on #4757
and it is not true, because my job is in failed status
[code]

[2015-04-13 09:46] AndresTanasijczuk commented on #4757
So the first time the resubmission worked, but there is an error in (your?) TW, therefore the task went to status FAILED and it also shows "No jobs created yet!". The second resubmission didn't work I guess because status reports that there are no jobs created.

[2015-04-13 10:04] AndresTanasijczuk commented on #4757
crab status returned no jobs, because it read that there is a failure in the task DB: https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L264-282

[2015-04-13 10:24] mmascher commented on #4757
Should we remove the if at line 264 and always do the status? I think so..

[2015-04-13 10:27] AndresTanasijczuk commented on #4757
In the previous version of the resubmit function in DataWorkflow (before my resubmit patch) the resubmission would have proceeded https://github.com/dmwm/CRABServer/blob/8bd634c9dcfb9b35e5a86dec06a4009f2f3cfe5f/src/python/CRABInterface/DataWorkflow.py#L263-308 because there was no check on whether the resubmitList was an empty list or not, and I think all jobs would have been resubmitted. In the n

[2015-04-13 10:29] belforte commented on #4757
why in helll a failure to REsubmit should prevent from seeing the status of SUBMITTED jobs ?
Are you flagging the REsubmit failure with the same task status as a failure of the initial crab submit ?

[2015-04-13 10:31] belforte commented on #4757
All commands (status, kill a new resubmit) must work even if a previous REsubmit failed.
Expecially because the "no job is in such a status to be resubmittable now" is a condition which could change.

[2015-04-13 10:38] #4739 closed

[2015-04-13 11:54] belforte opened #4759 "resubmission request is silently ignored"
see user report here
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/525.html

Maybe this is cured in new version under test now ?

[2015-04-13 13:12] juztas opened #4760 "htcondor issue for auto proxy lifetime update"
https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=5001

[2015-04-13 15:00] AndresTanasijczuk commented on #4759
@belforte Do you refer to the general fact that when a user does 'crab resubmit' he/she just gets the message

Sending the request to the server
Resubmit request successfuly sent to the CRAB3 server.
Log file is ...

while CRAB may not have resubmitted jobs "as expected"?

Notice that 'crab submit' also can fail while the user may just get the message

Will use configuration file ...
Sending the r

[2015-04-13 15:12] belforte commented on #4759
@AndresTanasijczuk I am afraid yes !
So the user was confused. And I was confused.
I agree that it is not easy to convey the right message. But as a start can you add a similar line to what doen for submit ? sort of
"OK I will try to resubmit, but I do not know yet if this is possible, you will know when you do crab status next". And should one wait ... how long ?

It is a tricky situation.

[2015-04-13 15:18] AndresTanasijczuk commented on #4759
What about simply "Please use 'crab status' to check if jobs were resubmitted."

[2015-04-13 15:41] AndresTanasijczuk commented on #4759
I made a pull https://github.com/dmwm/CRABClient/pull/4443 adding the message "Please use 'crab status' to check how the resubmission process proceeds." You can comment there if you prefer another message.

[2015-04-13 17:06] AndresTanasijczuk commented on #4757
I seem we agree that even if the task is in FAILED status, we should try to show the status of the jobs. I will work on that then. But not sure if it is as easy as to remove the if in https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/HTCondorDataWorkflow.py#L264

[2015-04-13 18:22] belforte commented on #4757
It all depends on what "task in FAILED" status exactly means.
If RESUBMIT failed because e.g. there is not job in such a status to be resubmitted,
the task should not be in FAILED status.
Hopefully task=FAILED is defined in a non-moving place and code can
e.g. refer to this in the comments. We should make sure nobody needs to go through this discussion again two years from now.

I would not remove

[2015-04-14 00:49] mmascher commented on #4742
Going to be fixed in https://github.com/dmwm/CRABServer/pull/4758

[2015-04-14 00:49] #4742 closed

[2015-04-14 06:53] juztas commented on #4752
@bbockelm @belforte @mmascher do we all agree to increase caching to 2 days ?

[2015-04-14 06:55] mmascher commented on #4752
Fine with me

[2015-04-14 07:04] belforte commented on #4752
what is it now ?
Would we cache mapping, or authz as well ?
Currently we rely on Argus for quick banning of DN's in case
of security incidents. Taking 2 days to notice this is a bit too much.

On 04/14/2015 08:53 AM, Justas Balčas wrote:

[2015-04-14 07:37] juztas commented on #4752
https://cms-logbook.cern.ch/elog/GlideInWMS/1832
https://ggus.eu/index.php?mode=ticket_info&ticket_id=112942

This started to happen again and it is increasing (Mostly for Dmytro). First, no one has an alarm on this and only operator notice if he checks it.

What it would cache, see https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=4138

[2015-04-14 09:13] juztas opened #4762 "TW logging problems"
Lets say we need to update TW configuration and we nicely kill TW, update configuration, start TW again.

If you make these steps, twlog.txt.<date> and twlog.txt got corrupted and messing logs.
proc.master is not flushed and it starts from scratch.

[2015-04-14 09:22] mmascher commented on #4762
Hi, this should fix it
https://github.com/dmwm/CRABServer/commit/4911b9c6176ba3645086b7b60ea5e719684b8376

Or at least let's reconsider this after the patch is deployed

On Tue, Apr 14, 2015 at 6:13 PM, Justas Balčas <notifications@github.com>
wrote:

[2015-04-14 09:38] juztas opened #4763 "Failed to upload error message and task stayed queued"
2015-04-13 11:32:56,033:WARNING:Worker:Cannot upload failure message to the REST for workflow 150413_090600:piedra_crab_WWTo2L2Nu_PU20bx25_Spring14.
Reason:
2015-04-13 11:32:56,034:DEBUG:Worker:Process-8: ...work on 150413_090600:piedra_crab_WWTo2L2Nu_PU20bx25_Spring14 completed in 1591 seconds: Task = 150413_090600:piedra_crab_WWTo2L2Nu_PU20bx25_Spring14

I think it is due to too long line
[code]

[2015-04-14 12:39] belforte commented on #4752
After reading that, I would stick with 2h caching. Could certainly put 4h, but I doubt it makes a difference, only we notice a bit later the onset of the problem. Purpose here is to relieve load due to making multiple access for the same user while e.g. processing multiple jobs in same task. Not really to provide backup for operations.   Argus dies, we stop, it is a critical service for CERN.
A co

[2015-04-15 10:01] juztas opened #4765 "HG1505 Validation"
Hey guys,

   * 21 April : pre-prod release candidate deployment
No new features after that date and I want to give validation results and green light until 30 of April (I will be on vacation till 6 of May).

@jmarra13 * 5 May : production deployment and will require TW/Client/ASO deployment.

[2015-04-15 10:13] jmarra13 commented on #4765
@juztas just added to my calendar.

[2015-04-15 17:54] AndresTanasijczuk opened #4766 "Be aware: WMCore RESTError cuts messages longer than 200 characters."
For reference: https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/REST/Error.py

For example this message https://github.com/dmwm/CRABServer/blob/master/src/python/CRABInterface/RESTUserWorkflow.py#L67-71 is cut and the user will not be able to read it all. See for example https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/344.html

[2015-04-15 20:59] belforte commented on #4766
goes in the direction of doing "nice checks" in the client,
i.e. checks that educate and guide users to solution as well.

While server will assume things are correct and in case spit
terse error in best cmsweb tradition.

On 04/15/2015 07:54 PM, Andres Tanasijczuk wrote:

[2015-04-16 21:12] mmascher commented on #4757
"FAILED" means that the task worker failed to process the task, whatever operation that mean (submit, resubmit, kill). Maybe we just need to introduce RESUBMITFAILED. But still, I would review the logig of the if, in cases like that  https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/8077.html we should show the jobs.

[2015-04-16 21:42] belforte commented on #4757
HA !! So task=FAILED has nothing to do with the jobs having succeeded or not !
Imagine all is fine, and done, by misktake I type crab kill, the task becomes FAILED.
Is that really so ?
how terribly confusing !

On 04/16/2015 11:12 PM, Marco Mascheroni wrote:

[2015-04-16 21:47] mmascher commented on #4757
No, the task status is the status of the task for the task worker, which does not know anything about jobs.

I believe we introduced KILLFAILED but not RESUBMIT failed at some point (have to check the code). But yes, that's the case for the resubmit, and that's what happened to the user.

[2015-04-16 22:10] belforte commented on #4757
good luck in teaching this to users :-(

On 04/16/2015 11:47 PM, Marco Mascheroni wrote:

[2015-04-16 22:50] mmascher commented on #4757
That's one of the reasons why I always put frontend/backend in the error
messages BTW

Anyway, I think we had this conversation before and might have written down
on some tickets how to improve things but never really found the time to do
it :(

On Fri, Apr 17, 2015 at 7:10 AM, Stefano Belforte <notifications@github.com>
wrote:

[2015-04-17 07:00] belforte commented on #4757
On 04/17/2015 12:50 AM, Marco Mascheroni wrote:

My problem with that is that you write in the message information
that only make sense/is useful to you, while having it look like
something user should be interested in. In addition to the fact
that CRAB frontend runs as CMSWEB backend, which is confusing for "us" as well.
Which a layer or services like we have, front ad back are too generic.
I enc

[2015-04-20 01:53] mmascher commented on #4529
This should be done and tested in ITB, waiting for the new condor version.

[2015-04-20 01:53] #4529 closed

[2015-04-20 02:05] #4679 closed

[2015-04-20 02:06] #4463 closed

[2015-04-20 02:12] #4213 closed

[2015-04-20 02:16] mmascher commented on #701
Adding label question and moving to October. That's because after talking with Dima/Stefano and others it was concluded that probably improving `scriptExe` and documenting how to use `scriptExe` for this use case is enough.

[2015-04-20 02:16] #4702 closed

[2015-04-20 02:18] mmascher commented on #4687
Closing, there are recent commits which should have fixed this. We'll open a new issue if necessary.

[2015-04-20 02:18] #4687 closed

[2015-04-20 02:48] #4264 closed

[2015-04-20 02:53] #4591 closed

[2015-04-21 09:50] AndresTanasijczuk opened #4772 "Optimize loading/dumping JSON files in postjob."
Loading JSON files is a time consuming action that we might not want to do more than once (per file) in the post-job. So optimize the post-job code to not load the FJR more than once.

[2015-04-21 10:50] annawoodard commented on #4681
+1 for the simple and brutal solution.

[2015-04-21 13:53] bbockelm commented on #4743
@belforte I think this would be a "hidden HC option", no?  I see no reason why we would acknowledge its existence to users.

(In fact, I would be OK with an implementation that *only* allows this to be used in conjunction with Role=production.)

[2015-04-21 13:58] belforte commented on #4743
Fully agree including the part in ().  There's a tension between "hidden option" and "option documented enough to be usable by the intended audience and maintainable by today+4year developers".

[2015-04-23 10:28] mmascher opened #4774 "Fix documentation on how to run (and debug) the Pre(Post)Jobs"
This recipe is broken with the recent changes: https://twiki.cern.ch/twiki/bin/view/CMSPublic/Crab3OperatorDebugging#To_run_a_pre_job_on_the_schedd

I had to change the permission of the prejob log directory [1], and the resubmit_info dir. Besides, the .job.ad is not there [2] and I had to recreate a new .job.ad file with `sudo condor_history -l 2248902.0 > /tmp/.job.ad`. If there is no other way

[2015-04-23 10:34] mmascher commented on #4774
Point is I don't want to run anything as root, and changing the permission.. well, so boring.. I still do not understand why everything was owned by my username a couple of months ago and changed. I'll talk to Farrukh. For security reasons it is better that files are not owned by root.

The other problem about the `.job.ad` not being available: maybe in the PreJob we can copy the `.job.ad` file of

[2015-04-23 10:47] juztas commented on #4774
From 8.3.2 version job.ad is written by schedd and yes, it is owned by root. If it would be not owned by root, IIRC it will allow to do condor_ssh_to_job for anyone and we don't want that.

[2015-04-24 12:29] juztas commented on #4765
https://github.com/dmwm/CRABServer/commit/4911b9c6176ba3645086b7b60ea5e719684b8376 @mmascher why this file movement is needed? Seems that this does not allow to start TW.
[code]
after wget this file, TW started. Worth to check: https://github.com/dmwm/CRABServer/blob/master/setup.py

[2015-04-24 12:45] juztas commented on #4765
@mmascher is looking into this
[code]

[2015-04-24 12:50] mmascher commented on #4765
Hi @juztas , I moved `MultiProcessingLog` because we will need it in the client as well eventually. Getlog/getoutput have logs problem.

[2015-04-24 12:51] juztas commented on #4765
Ok, I agree, but still it should not be required to move or wget it by hand :)

[2015-04-24 12:58] mmascher commented on #4765
I have already updated the `setup.py`, sorry ahout that. Can you try and see if the other error is gone? I think I hit the wrong buttin in SQLDeveloper and executed just one SQL statement instead the whole list..

[2015-04-24 13:09] juztas commented on #4765
:+1:

[2015-04-24 13:18] mmascher commented on #4765
List of changes/validation tasks:

CLIENT
* Use the new `JobType.disableAutomaticOutputCollection` and try to break it. Meaning, use it with different psets (producing various combination of tfiles,edm and additional outputs), and see if the output can be retrieved/is transferd. Should have not broken anything with the default behavior, don't check.
* `crab status` shows more errors now. New modif

[2015-04-24 14:53] mmascher commented on #4658
Hi @jmarra13 , can we add DAG_NodesReady to the monitor? The idle jobs do not give us the whole picture, there are jobs who are not idle but waiting to get in the condor queue, sort of in a limbo

[2015-04-27 07:16] juztas commented on #4765
Client still not showing removed due to memory [1] or waltime [2]
[1]
[code]
[2]
[code]

[2015-04-27 07:20] jmarra13 commented on #4658
Hi @mmascher is this a classAd from schedd or maybe from the collector? Because it try to fetch from schedd and it is undefined, same when I try the collector.

from all schedds.

jmsilva@vocms045 ~/kibana/src> condor_status -pool vocms097 -schedd -const 'CMSGWMS_Type=?="crabschedd"' -af:h Name DAG_NodesReadyName                             DAG_NodesReady
crab3test-1@submit-5.t2.ucsd.edu undefined

[2015-04-27 07:28] juztas commented on #4658
This classad is in all "ROOT" job ads. Be aware of Held tasks as this value should not be taken of Held task:
`condor_q -g -const 'CRAB_ReqName isnt null && TaskType=?="ROOT" && JobStatus=?=2' -af DAG_NodesReady`

[2015-04-27 07:38] jmarra13 commented on #4658
better to use this one I think, because it is returning several lines with zeros.

condor_q -const 'CRAB_ReqName isnt null && TaskType=?="ROOT" && JobStatus=?=2 && DAG_NodesReady > 0' -af Owner DAG_NodesReady

What do you think @juztas

[2015-04-27 08:24] mmascher commented on #4765
Interesting, the report is there for some jobs but not for other. I wonder if there is a pattern (maybe all the jobs that run at a site reports `Not retrying job due to wall clock limit`, and other does not)

[2015-04-27 08:31] belforte commented on #4765
@mmascher I do not see any job_out.*.*.txt with more then zero bytes for either task. What does it mean "the report is there" ?
Are we running 8.3.5 on all schedd's ? Is the same version needed for glideins as well ?

[2015-04-27 08:56] juztas commented on #4765
a) Not reporting correct exit message, because RetryJob did not got it. We (me and Andres) are checking right now one thing. Will let you know soon.
     1) Because it is not FatalError, job was retried and it should not.
b) Logs are not returned because we don`t have 8.3.5

[2015-04-27 09:00] belforte commented on #4765
but you pasted crab client snippets which says
37 jobs failed with exit code 50660:
    Not retrying job due to excessive memory use (job automatically killed on the worker node)

1 jobs failed with exit code 50664:
    Not retrying job due to wall clock limit (job automatically killed on the worker node)

Isn't this what we expect ?

Are you saying that all jobs in the tasks were supposed to end

[2015-04-27 09:04] juztas commented on #4765
Yes, they should end similarly and they did what I see from condor_history or job_log

[2015-04-27 09:08] juztas commented on #4765
Here you go:
[code]

[2015-04-27 09:44] juztas commented on #4765
So I think we have a latency here: https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Actions/RetryJob.py#L71 as it tries to read RemoveReason from user_log and if condor have not updated it yet, we don't have RemoveReason.

Would be useful for us if we print read classads in Postjob and to get correct RemoveReason either PostJob could sleep or... suggestions ?

[2015-04-27 10:00] belforte commented on #4765
Can you expand a bit ?
Seems you are saying that DAGMAN starts postJob before user_log has been updated.
What do we find in user_log at that time ? Is the job status correct at least ?
Do I understand correctly your suggestion as "get class-ad via condor_q from schedd rather then condor_q -userlog job_log " ?

I do not like very much to introduce a simple sleep for X seconds here, we need some way

[2015-04-27 10:21] belforte commented on #4765
could we possibly have a "shoot in my foot" effect where one postJob reading job_log prevents schedd from updating it for another job ? It seems that condor_history -userlog opens the log in write :-( Same with condor_q
(i.e. I can read the file, but condor_history refuses to process it [*])
@bbockelm I thought I hit this long ago in "Igor's times" and he had asked HTC developers to user read-only

[2015-04-27 11:20] AndresTanasijczuk commented on #4683
Coming back to this issue as I think we would like to include it in next release.

@ericvaandering I agree with your statement that the "logical" thing to do in case the user does `crab resubmit --force` is to resubmit all finished (and held/killed) jobs. As per if that makes sense or not, I have no strong opinion, so I will do what you suggested, i.e. not allow `crab resubmit --force`.

[2015-04-27 11:50] belforte commented on #4765
HTCondor does not rellay try to open the userlog in Write. But puts a lock
https://github.com/htcondor/htcondor/blob/5508514ed3ec1092d42c049cd122b40efb775909/src/condor_utils/read_user_log.cpp
Effect may be the same. I suspect one postJob reading prevents schedd from updating, with multiple postJobs running at same time a race condition seems possible, depending on the schedd logic, i.e. wether it

[2015-04-27 11:53] mmascher commented on #4765
Hi Stefano, we are using `condor_q -debug -l -userlog job_log` , does it also open the file in writeonly mode?

We might need to revert https://github.com/dmwm/CRABServer/commit/128a95151ff52afd8c3949659ae6549fae8a8ae1#diff-c509c79b3519772846fb1e0f6c5a220dL71 (see https://github.com/dmwm/CRABServer/issues/4264)

Anyway, I agree that once the postjob starts, all the events related to it's correspon

[2015-04-27 11:53] belforte commented on #4683
+1
@AndresTanasijczuk can you comment on the resubmission of Held jobs ?

[2015-04-27 12:01] belforte commented on #4765
I was following up the condor_q code. So as I wrote it does not open in write, but puts a lock. So that when opening as non-owner I got:
belforte@vocms0114/cluster2276614.proc0.subproc0> condor_q  -debug -userlog job_log
04/27/15 13:42:25 I am: hostname: vocms0114, fully qualified doman name: vocms0114.cern.ch, IP: 128.142.142.28, IPv4: 128.142.142.28, IPv6:
04/27/15 13:42:25 I am: hostname: vocms

[2015-04-27 13:37] juztas commented on #4765
Here seems to be not correct. From this task only
http://glidemon.web.cern.ch/glidemon/show.php?log=http://vocms0114.cern.ch/mon/cms1761/150427_080034:jbalcas_crab_HG1505b-1-MinBias_PrivateMC_EventBased_ExtraParams-L-T_O-T_P-T-voGroupescms/postjob.69.0.txt

https://github.com/dmwm/CRABServer/blob/6dda4f16c16c2200e147a1b4a16d7563a67a0c0e/src/python/TaskWorker/Actions/RetryJob.py#L187-L189

[2015-04-27 13:57] AndresTanasijczuk commented on #4683
Answers to @belforte
Q: "why do we have held jobs?"
A:
Actually, I have never checked (neither by submitting jobs nor from looking at the code) if we can have held jobs or not. The condition that a job has to be in status `failed` or `held` to be able to be resubmitted was there since long time and I didn't question it much. Actually, there was another allowed state for resubmission, which was `co

[2015-04-27 14:31] juztas commented on #4765
http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1074095 this task was with reverted patch

[2015-04-27 14:34] belforte commented on #4683
Good so we converged on: only resubmit FAILED jobs.

Do we have any Periodic Release expression ? You make it sound like we do not, but would be know for
sure. In particular this must go in some CRAB3 DESIGN document which we keep uptodate and trust as
The Bible, less someone decides to introduce a Periodic Release at some time and screw up everything.

About the last thing, I fear if you kill the

[2015-04-27 14:38] belforte commented on #4765
each jobs was resubmitted O(14-17) times in there. It does not seem to agree with my understanding
from the meeting.

On 04/27/2015 04:32 PM, Justas Balčas wrote:

[2015-04-27 14:44] juztas commented on #4765
I am not changing TW code. I change directly on schedd RetryJob.py and tested out there for that task.

[2015-04-27 15:42] AndresTanasijczuk commented on #4683
@mmascher Should I remove `held` as an allowed job state for resubmission and only keep `failed`?

[2015-04-27 15:45] AndresTanasijczuk commented on #4765
@juztas But said that the crab status error summary is still not correct? If that's the case, can you paste here what is the error summary from crab status?

[2015-04-27 16:05] juztas commented on #4765
All last postjobs are reporting correctly, but seems error_summary was not updated or not last retry was taken.
[code]

If I test new task with my fix, seems everything is correct:
[code]

So my though here if we have a lot of different errors, error_summary is not updated with latest one and it is showing older errors

[2015-04-27 17:18] bbockelm commented on #4765
@belforte FYI - locking is disabled on =condor_q= by the following line:

https://github.com/dmwm/CRABServer/blob/6bcc8484f24bbb559f124ec462f0ea12660def53/src/python/TaskWorker/Actions/RetryJob.py#L19

(I did give a recipe - which I think is still useful and valid - in January to avoid touching job_log completely there.  Would also save a lot of CPU time in parsing.)

[2015-04-27 17:21] AndresTanasijczuk commented on #4765
@juztas crab status error summary reads the message from the last job retry. So, do you think we have a problem or not?

[2015-04-27 20:41] belforte commented on #4765
OK, so I was off track. Yet something not good was going on.
We could avoid reading job_log, but it was not expected to be an unreliable source
of information :-(

[2015-04-27 21:06] juztas commented on #4765
@AndresTanasijczuk I think yes. So here is what I founded out:
Seems that during same time several PostJobs are running as we have a limit of 20 as you know. Each PostJob is reading "all job_fjr.%s.%s.json" and tries to update error_summary in each postJob variable. [1]
If PostJob is not able to determine exitCode or exitMsg it raise exception and msg becomes [2] and write this into error_summary

[2015-04-27 22:06] AndresTanasijczuk commented on #4765
Right @juztas , the problem is then that since the job_fjr files are created at the beginning when a PostJob runs, while the exitMsg and exitCode are obviously added near the end of the PostJob execution, the exitMsg and exitCode are not propagated to the error_summary if another PostJob has already written that jobid and retry to the error summary. We can:
- Change the prepareErrorSummary to not

[2015-04-28 06:05] AndresTanasijczuk commented on #4765
I prepared a patch in https://github.com/dmwm/CRABServer/pull/4778 @juztas can you try it in the task where you have still 93 jobs failed with exit code -1 ? I mean change the PostJob.py in the spool dir for that task and resubmit. The patch doesn't write the the error summary the msg 'Invalid FJR' is the jobid and retry are not the ones for which this post-job corresponds. I think this is the bes

[2015-04-28 06:20] juztas commented on #4765
I will test later today.
Next question, is it needed system_periodic_remove on scheduler for DiskUsage? We have this check in crab, but if system_periodic_remove is raised, we are not able to determine RemoveReason
[code]

[2015-04-28 06:29] juztas commented on #4765
[code]
Can we improve this error message? I used 'config.JobType.disableAutomaticOutputCollection = True' and have not specified any outputFiles

[2015-04-28 06:38] juztas commented on #4765
I would guess it should be sorted:
[code]

[2015-04-28 07:35] jmarra13 commented on #4658
Guys, as we have now some metrics to monitor and most of them are condor classAds(DAG_NodesReady, ShadowsRunning, RequestMemory, MaxWallTimeMins, TotalSchedulerJobsRunning)  I think that the best thing to do is have a generic lemon sensor to read a config file or an hiera variable(puppet way) and push this values to elastic search. So next time we need to include a new metric we only will need to

[2015-04-28 08:04] belforte commented on #4765
about https://github.com/dmwm/CRABServer/issues/4765#issuecomment-96835448
(do you really want to have all of those different topics in this same git issue with such a generic subject ?)

The first thing is to be more clear about the flow. You make it sound like various parts of postJob take actions in changing the exit code and/or reporting status to client, and are trying to orchestrate them in

[2015-04-28 14:16] AndresTanasijczuk opened #4780 "Review design on how we produce error summary"
Introduction and description of the current problem in CRAB 3.3.16

1) Each job has an exit code and exit message written in the FJR.
2) Until CRAB release 3.3.15, errors detected or happening in the post-processing stage were not added to the FJR file.
3) In the post-job we have a function prepareErrorSummary that creates/edits an error_summary.json file in the schedd containing the exit code and

[2015-04-28 14:22] AndresTanasijczuk commented on #4765
@belforte I wrote a detailed description of the problem and the solution I propose in https://github.com/dmwm/CRABServer/issues/4780 We can follow up there.

[2015-04-28 14:27] belforte commented on #4765
really nice. THanks.

On 04/28/2015 04:22 PM, Andres Tanasijczuk wrote:

[2015-04-28 15:29] belforte commented on #4780
I almost fully like the change you propose. But it has too many "if", I'd like something more clear cut. I sort of have an idea, but have to leave (again, I know..). FWIW I will try to come back to this after dinner.

[2015-04-28 17:40] #4757 closed

[2015-04-28 17:54] AndresTanasijczuk commented on #4759
Pull dmwm/CRABClient#4443 was merged. @belforte Can we close this issue?

[2015-04-28 18:12] mmascher commented on #4683
I discussed with Andres, yes, let's only keep failed.

[2015-04-28 18:18] AndresTanasijczuk opened #4782 "Don't resubmit held jobs."
As discussed in https://github.com/dmwm/CRABServer/issues/4683 we can remove `held` as an allowed job status when resubmitting jobs and only allow resubmission of `failed` jobs.

[2015-04-28 21:57] belforte commented on #4759
yes, we can close. I am closing.

[2015-04-28 21:57] #4759 closed

[2015-04-28 23:33] belforte commented on #4780
mostly the problem is that you try to guess for a given jobs whether postJob has run, will run, is running... we should bknow for sure from some clear source.
One should not "guess" if postJob may still resubmit or not.

Then things will be more clear.
- postJob all done: simple
- postJob runnning/pending : status is only intermediate, show job as
  - running if do not know any better
  - if know

[2015-04-29 06:48] juztas opened #4783 "Database unavailable is back"
[code]
Need to check server logs. It was around 8:46 CEST

[2015-04-29 06:56] mmascher commented on #4783
Do you have the hashid of the error? Should be in the crab.log

[2015-04-29 06:59] AndresTanasijczuk commented on #4780
Actually, I forgot a very important point in my description (I'm sorry, I don't know how I could miss that important point) and is that:

* In the crab status Error Summary there only appear errors from jobs that are in status `failed`, which means post-job has finished. If post-job would be running/pending the status of the job would be `transferring`. So this is already as @belforte suggested in

[2015-04-29 07:02] juztas commented on #4783
[code]

[2015-04-29 07:06] juztas opened #4784 "crab resubmit is not working"
[code]

[2015-04-29 07:08] juztas commented on #4784
And it might be related due to fact, that we moved to 8.3.5 htcondor version

[2015-04-29 07:12] belforte commented on #4780
But how do you tell that a job is in |failed| vs. |transferring| ?
And how do you tell if it going to be retried due to some non-fatal
exit code ? I hope we do not label as |transferring| jobs waiting to
be resubmitted.

there is value in showing the exit code of jobs whose postJob has not run yet.
And if we simply have no exit code to show because job was evicted by
PeriodicRemove, so be it.

THe

[2015-04-29 08:06] juztas commented on #4784
tested current prod version and resubmit works. So it is due to our changes to switch dagman to recovery mode.

[2015-04-29 10:30] #4784 closed

[2015-04-29 21:31] juztas opened #4786 "Non-ASCII problem and ValueError of new ClassAd"
so 3.3.16.rc1 was kind of ok with several bugs, but from 3.3.16.rc2 today I am not able to test anything:/
First issue:
[code]
If I fix this, I am stuck here:
[code]
It is already too late for me to look right now where the problem is, and this function is not returning anything which ClassAd is not correct.

[2015-04-29 21:32] mmascher commented on #4786
The first error should go away if you delete and rewrite the line

[2015-04-29 21:33] juztas commented on #4786
this is what I did and ended up with second error

[2015-04-29 21:35] mmascher commented on #4786
Don't know about the second, looks like a classad has a wrong value, but the python bindings are not telling which one. We need to look at the .job.ad file

[2015-04-29 22:58] mmascher commented on #4780
Continuing the discussion from https://github.com/dmwm/CRABServer/pull/4778 (so we don't have some discussion on the ticket and some on the pull)

Discussin with Andres and Justas it turned out the proposed approach has a pitfall: before each postojob was reading the information about everybody, so concurrent updates of the error summary did not cause a problem. Now we are in a situation where wha

[2015-04-30 07:57] juztas opened #4788 "resubmit parameters are not passed to jobs"
Commands which I executed
[code]

And on schedd I see:
[code]
In job.ad which was used:
[code]
I suspect it will be the same with walltime, but can not test it right now as cmsweb-testbed on scheduled intervention.

[2015-04-30 08:45] belforte commented on #4780
good point. worth trying.
One comment:
problem is that we have all those DAG nodes which try to do "global" operations, like write a summary for the whole task. The need for this will decrease with new postJobs which can be restarted by HTC 3.8.5, as Marco explained me yesterday, but may not go away completely even for other use cases.

So I am wondering if we shouldn't think more seriously at add

[2015-04-30 09:27] juztas commented on #4786
@mmascher I removed this line and created pull request to start and finish validation.

[2015-04-30 09:42] #4786 closed

[2015-04-30 09:44] #4788 closed

[2015-04-30 09:57] mmascher commented on #4780
I think we can add NOOP node for these kind of things (I hope I remember correctly the name, it means no operations). We were using it at some point but we removed because there was something not working in dagman that possibly is fixed now.

Then we can have two of such nodes:
1) One that "run in parallel" with the postjobs for reports
2) One that depends on all the jobs and only run when all the

[2015-04-30 10:40] juztas opened #4790 "Document why jobs are removed"
We should document removeReasons and what users should do/check:
Memory Remove
WallTime Remove
DiskUsage Remove

[2015-04-30 12:55] belforte commented on #4780
NOOP is used to create a DAG node w/o HTCondor job, i.e. a pure preJob (or postJob) thing. so:
1) is a NOOP node
2) is a DAG FINAL node, which again could be NOOP. This is executed also if whole DAG fails or is killed.

The tricky point is to make 1) end when all other nodes are done. This is not part of DAG since in DAG nodes are fully independent of each other. One can created an external depend

[2015-05-01 10:12] mmascher commented on #4780
That's my proposal using file locks: https://github.com/mmascher/CRABServer/commit/ecfc8f4ce63563e94071b3d15becc9d68ab2f430

@AndresTanasijczuk does it look ok? I made some tests but it would be better if also @juztas did some. I know he's on holiday, but still, maybe I'll wait him before merging.

[2015-05-01 11:28] AndresTanasijczuk commented on #4780
Looks ok to me. I can test it in my private VM submitting a similar task as Justas was submitting for the validation, that is, a task with 100 jobs where he set maxMemoryMB to some small value (Justas was using 20) so that all jobs are killed in WN because of excessive memory use. Then check that the error summary shows the 100 jobs have failed with that error.

[2015-05-01 19:43] juztas commented on #4780
@mmascher @AndresTanasijczuk give me few minutes to test it ;)

[2015-05-02 13:50] juztas commented on #4780
@mmascher output says everything:
[code]

[2015-05-02 15:59] AndresTanasijczuk commented on #4780
Looking at the task Justas submitted for this test (http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1081606&showResubmits=1) I can see the same as happened to me: it is the RetryJob who is not catching that the jobs were removed due to memory use. Only in job 14 the reason was catch. And status is reporting that correctly:

$ crab status -d crab_lock-check-813582 --verboseErrors
CRAB project

[2015-05-02 18:20] juztas commented on #4780
It was because @belforte explained better about locking job_log file and in that case we returned copy of job_log file (see https://github.com/dmwm/CRABServer/blob/6bcc8484f24bbb559f124ec462f0ea12660def53/src/python/TaskWorker/Actions/RetryJob.py#L19 which should not lock). I would need to take a look what Brian proposed and reimplement. But seems we are still missing this: https://github.com/dmwm

[2015-05-02 19:22] AndresTanasijczuk commented on #4780
Ok. I don't understand about "locking job_log" nor about "what Brian proposed". But will not ask now.

But from what you said I understand that: you expect that once #4776 is included (because it is merged in master, but not included yet in current TW in testbed) the RetryJob will already be able to identify the correct remove reason. Is that correct?

[2015-05-02 20:16] juztas commented on #4780
Yes, tested on same task:
[code]

[2015-05-03 18:20] belforte commented on #4780
So now we copy job log before using in condor_q , and it works, in spite of file locking being a red herring :-(

On May 2, 2015 10:16 PM, Justas Balčas <notifications@github.com> wrote:Yes, tested on same task:

[jbalcas@lxplus0015 ~]$ crab status --verboseErrors
CRAB project directory:     /afs/cern.ch/user/j/jbalcas/Validation/Roles_GOOD/becms-role/CMSSW_7_0_6/src/twtest/crab_lock-check-813582

[2015-05-04 08:06] belforte commented on #4780
maybe you want to close the original issue, but keep this open. We would still like to understand better the condor_q destructive interference and/or find the way to do w/o condor_q (aka: "we implement what Brian proposed" as Justas wrote). In a way we have two solutions:
1. condor_q on common log file, which fails, and we do not why
2. condor_q on copies of common log_file which at least works be

[2015-05-04 08:13] mmascher commented on #4780
Hi Stefano, yes, let's keep this one open. It closed automatically because the commit had "Fixes ..."

[2015-05-04 09:15] AndresTanasijczuk commented on #4743
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/576/1/1/1.html
Can we have an option to disable the automatic resubmissions ?

[2015-05-04 09:24] belforte commented on #4743
Or maybe the use case in https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/576/1/1/1.html could be better addressed by allowing user's ScritpExe to set exit codes indicating "rebubmit me" or  not.
For exit codes that we set and know, we hopefully only resubmit when there are good reasons to believe that the failure was transient and unrelated to anything in user control.

[2015-05-04 09:55] AndresTanasijczuk opened #4793 "Allow scriptExe to set the exit code"
There was already one user asking how he could set an exit code when running scriptExe.
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/526/1/1/1.html
I suggested to edit the FJR xml file as the very last step in this script and documented it in the tutorial https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookCRAB3Tutorial#Define_your_own_exit_code_and_ex (I should move this to anot

[2015-05-04 10:19] belforte commented on #4793
this is connected to  https://github.com/dmwm/CRABServer/issues/4743#issuecomment-98649080

I think we should define two new exit codes for user executable, like:
- 50901 User Executable ended with recoverable error (CRAB will resubmit)
- 50902 User Executable ended with fatal error (CRAB will NOT resubmit)

and in due even put in the default directory a script which does the proper FJR manipulati

[2015-05-05 15:16] AndresTanasijczuk commented on #4580
I think this issue can be closed. In 3.3.16 release, errors happening in cmscp wrapper are be written in the framework job report json file.

[2015-05-05 15:17] AndresTanasijczuk commented on #4564
I think this issue can be closed. In 3.3.16 release, failures happening in PostJob are written in the framework job report json file.

[2015-05-06 07:15] juztas opened #4794 "Improve error message when user makes mistake in input dataset"
[code]

[2015-05-06 07:29] #4794 closed

[2015-05-06 07:34] mmascher commented on #4794
I already had a fix for this, but there was some duplicated code added by git during a merge.

[2015-05-06 08:39] #4580 closed

[2015-05-06 08:46] #4564 closed

[2015-05-06 08:56] belforte commented on #4794
do we really want to have a pointer to JIRA here ?
https://github.com/dmwm/CRABServer/blob/2a11da0eefbc3ed9bf660691e75994cadc91a899/src/python/TaskWorker/Actions/DBSDataDiscovery.py#L29

Should always and only say 'check with support' or 'read the workbook' or 'see CRAB FAQ'
but have only in those places pointers to specific things like where to open a ticket,
which we keep changing !

[2015-05-06 09:03] AndresTanasijczuk commented on #4709
RetryJob is already writing the correct exit code in the fjr. @juztas implemented the fix that at some point. Can we close this issue?

[2015-05-06 09:06] mmascher commented on #4794
It was a request from Dima https://github.com/dmwm/CRABServer/issues/4739

But maybe you are right, we should put the JIRA pointer into one of our twikies, and point to them. can you open a github issue about that?

[2015-05-06 09:17] juztas commented on #4709
I think it is done, no?

[2015-05-06 09:32] AndresTanasijczuk commented on #4709
Yes, it is done.

[2015-05-06 09:33] #4709 closed

[2015-05-06 11:10] AndresTanasijczuk opened #4795 "Should we show json fjr file in dashboard or not?"
We are asking dashboard to show job log, postjob log and json fjr for each job. The last one is maybe not needed (we will already ask to show all files in the web directory via a separate link as glidemon does).
Example: http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=Atanasi&refresh=0&table=Jobs&p=1&records=25&activemenu=2&status=&site=&tid=150506_094811%3Aatanasi_crab_tutori

[2015-05-06 19:44] belforte opened #4797 "do not hardcode reference to CompOps JIRA project in the code"
see
https://github.com/dmwm/CRABServer/issues/4794#issuecomment-99390376

[2015-05-06 21:02] belforte commented on #4795
yes, can skip json if it makes dashboard page more neat looking

[2015-05-07 09:15] juztas opened #4799 "Moving to python27"
https://twiki.cern.ch/twiki/bin/view/CMS/DMWMTutModernPython

[2015-05-07 14:06] jmarra13 commented on #4658
kibana dashboard is updated with glexec errors per site.
https://meter.cern.ch/public/_plugin/kibana/#/dashboard/temp/crab3mon::crab3mon

[2015-05-07 14:12] juztas commented on #4658
Great, Can you group it by domain ? `ihep.ac.cn`
Would be nicer to see by site name :)

[2015-05-07 14:16] belforte commented on #4658
plot [1] still says "per 5 min" but IIUC those are numbers for every 2hours (updated every 5min, but still showing rate as numbef-of-tasks/2h.
What is the vertical scale in the new glexec error plot ? errors since when ?
seeing by site is better, but eventually site needs node names.
What are the "notifications" ?
Is the ring plot Average # of Tasks by Status now correct ?
thanks

[2015-05-07 14:52] jmarra13 commented on #4658
plot[1] fixed, title and the interval

    total count of errors per remote host, I can change it to these functions count, total_count, min, max, total, mean
  The number of errors depends on which time frame do you select on top. Since this glexec_metric is pushed today to schedds, you only will see errors starting from today.

    will be the number of active alarms, now all number here are com

[2015-05-07 15:02] jmarra13 commented on #4658
@juztas I can group it by domain, but by site name I dont know how to map host name to a site name, this info is not on the Shadow log where I'm fetching this info.

[2015-05-07 16:09] juztas commented on #4713
@belforte @mmascher are we all are on same page and agree that this information should come from siteDB?

[2015-05-07 18:57] belforte commented on #4713
yes. Now that we have Processing Location Name in SiteDB (if I remember correctly), these are properties of those Processing Locations. In practice we'll want that everybody provides the required minimum (2.3GB, 48h, 20GB) and use SiteDB to track those who allow more so that factory can be properly configured and CRAB can warn users as needed.

[2015-05-08 11:14] hernand commented on #4658
Hi, I also have a couple of comments concerning the plots:
- plot [1]: Is there any reason to plot the change in the number of tasks in a given state instead of simply plotting the number of tasks in a given state? The latter would also contain the information of the former. From the slopes one can figure the rate of change of the various states.
- In the ring plot, which is the time interval to c

[2015-05-08 13:26] belforte commented on #4658
Hi Jose. here's some answers:
1.Marco explained to me that by plotting rate we can see also rate into the final (successful) state. Which otherwide it is a very large number which makes everything look flat. Similarly for other states, plotting derivative gives a better idea of what happens right now (or right then). I think we already asked for a plot of the current "level" of the non terminal st

[2015-05-08 13:35] hernand commented on #4658
what about using a log scale in the y axis to avoid the problem you mention for 1. and 3.?

[2015-05-08 13:40] belforte commented on #4658
I really like 3. the way it is now. When Jadir adds a plot with #tasks in a given
status, rather then rate of change, we can try linear and log scale and see how
it looks.

[2015-05-08 13:54] belforte commented on #4658
@jmarra13
I see that plot[1] now show correct label "number / 2h" but there is only one entry every two hours which makes it look not as nice. 5min was probably too fine, but one entry every 10 or 30 min should be better. Can this be done ?

[2015-05-08 15:25] belforte commented on #4658
@hernand you can experiment yourself with different views. E.g. for the bottom plot can change from overalpping to stacked lines, which is another way to see the total. To do this:
- click on the small cogwheel next to [2] Number of Shadows per Schedd
- go to Style tab
- check the "Stack" box
- click on Save

[2015-05-08 15:27] belforte commented on #4658
@jmarra13 I think in the end we will want some documentation to go with this dashboard, to explain what is plotted, how to change, what to look for etc. The best I can suggest is to create a twiki page and then a short URL link to it (maybe a CERN one ?) then put the short URL as part of the title. It will not be clickable, but one can still select with mouse and then open it.

[2015-05-09 03:14] AndresTanasijczuk opened #4800 "totalUnits does not work with EventAwareLumiBased splitting"
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/592/1.html

[2015-05-09 03:16] AndresTanasijczuk opened #4801 "Implement correction for split lumis in EventAwareLumiBased splitting"

[2015-05-13 11:31] juztas opened #4803 "Save previous state of the task"
It would be useful to save 1 previous state of the task for several things:
* crab status can know what was previous state and do not need to guess what was the status by trying to get node_state or querying schedd
* monitoring page and filtering possibility.

[2015-05-13 13:25] mmascher commented on #4803
Not sure about that. The HOLDING intermediate state is making everything more complicated and things migh not work as expected.

[2015-05-18 09:09] AndresTanasijczuk opened #4806 "show single jobs states even if status failed"
Currently, when task status is FAILED in the task database, crab status doesn't return the status of single jobs.

[2015-05-18 14:58] AndresTanasijczuk opened #4808 "Integrated time is exaggeratedly high (evidently not well calculated)"
See job 6 in http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=1095052&showResubmits=1
In particular retry count 3. PostJob log: http://glidemon.web.cern.ch/glidemon/show.php?log=http://vocms0114.cern.ch/mon/cms1361/150515_085504:venturi_crab_OOTmultiplicity_minbias_run2012D_v4/postjob.6.3.txt
It is saying "Not retrying a job because the integrated time (across all retries) is 987 hours."

[2015-05-18 16:12] juztas commented on #4808
it is fixed in new release, which Jadir installed today on production. This was solved in same pull request for job_log file copy.

[2015-05-18 16:43] AndresTanasijczuk commented on #4808
Ok. Closing then.

[2015-05-18 16:43] #4808 closed